---
- name: Configure system drives cleanup
  tags: extra-cleanup-trim
  block:
    - name: Run fstrim on all fstab entries
      become: true
      ansible.builtin.command:
        argv:
          - fstrim
          - --fstab
          - --quiet-unsupported
      register: _zb_fstrim_invocation
      changed_when: _zb_fstrim_invocation.rc == 0
      failed_when: false

- name: Configure package manager cleanup
  tags: extra-cleanup-packaging
  block:
    - name: Clean paru and pacman cache
      become: true
      ansible.builtin.command:
        argv:
          - paru
          - --sync
          - --clean
          - --clean
      register: _zb_paru_clean_invocation
      changed_when: _zb_paru_clean_invocation.rc == 0

    - name: Wipe paru cache explicitly
      become: true
      ansible.builtin.file:
        path: "{{ fa_dir_cache }}/paru"
        state: absent

- name: Configure cache directories cleanup
  tags: extra-cleanup-cache
  block:
    - name: Wipe system and user cache directories
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        create: true
      vars:
        targets:
          - dir: /var/cache
            perms: 755:root:root

          - dir: "{{ fa_dir_cache }}"
            perms: "700:{{ ca_name }}:{{ ca_name }}"

- name: Configure trash cleanup
  tags: extra-cleanup-trash
  block:
    - name: Wipe trash
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - dir: "{{ fa_dir_share }}/Trash"
            perms: "700:{{ ca_name }}:{{ ca_name }}"
            create: true

- name: Configure user home cleanup
  tags: extra-cleanup-home
  block:
    - name: Wipe intermediate home leftovers
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ fa_dir_home }}"
      vars:
        targets: "{{ zb_home }}"

- name: Configure gecko applications cleanup
  tags: extra-cleanup-gecko
  when: aa_wipe == 'always'
  vars:
    _za_gecko_paths: >-
      {%- set _acc = [] -%}
      {%- for _gecko in ia_browsers | selectattr('type', 'eq', 'gecko') -%}
        {%- set _ = _acc.append(lookup('foundation.user.layout', fa_layout, _gecko.home)) -%}
        {%- set _ = _acc.append(lookup('foundation.user.layout', fa_layout, _gecko.cache)) -%}
      {%- endfor -%}
      {{ _acc }}
  block:
    - name: Stop running Gecko instances
      foundation.system.stop:
        headless: "{{ ba_headless }}"
      vars:
        processes: "{{ ia_browsers | selectattr('type', 'eq', 'gecko') | map(attribute='package') }}"

    - name: Find Gecko entries to clean by patterns
      ansible.builtin.find:
        paths: "{{ _za_gecko_paths }}"
        patterns: "{{ zb_gecko }}"
        file_type: any
        depth: 2
        recurse: true
      register: _za_gecko_entries

    - name: Wipe Gecko entries
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop: "{{ _za_gecko_entries.files | map(attribute='path') }}"

    - name: Find sqlite Gecko databases to clean
      ansible.builtin.find:
        paths: "{{ _za_gecko_paths }}"
        patterns: "*.sqlite"
        file_type: file
        depth: 2
        recurse: true
      register: _za_gecko_databases

    - name: Vacuum Gecko sqlite databases
      ansible.builtin.command:
        argv:
          - sqlite3
          - "{{ item }}"
          - VACUUM
      register: _za_gecko_vacuum_invocation
      changed_when: _za_gecko_vacuum_invocation.rc == 0
      failed_when: false
      loop: "{{ _za_gecko_databases.files | map(attribute='path') }}"

- name: Cleanup chromium-based apps
  tags: extra-cleanup-chromium
  when: aa_wipe == 'always'
  vars:
    _za_chromium: >-
      {%- set _acc = [] -%}
      {%- for _chr in ia_browsers | selectattr('type', 'eq', 'chromium') -%}
        {%- set _ = _acc.append(dict(name=_chr.package, path=lookup('foundation.user.layout', fa_layout, _chr.home))) -%}
        {%- set _ = _acc.append(dict(name=_chr.package, path=lookup('foundation.user.layout', fa_layout, _chr.cache))) -%}
      {%- endfor -%}
      {%- set _ = _acc.append(dict(name='code', path=lookup('foundation.user.layout', fa_layout, ia_vscode_user_layout))) -%}
      {{ _acc }}
  block:
    - name: Stop running Chromium instance
      foundation.system.stop:
        headless: "{{ ba_headless }}"
      vars:
        processes: "{{ _za_chromium | map(attribute='name') | flatten() }}"

    - name: Wipe Public Key Infrastructure storage
      ansible.builtin.file:
        path: "{{ fa_dir_home }}/.pki"
        state: absent

    - name: Find chromium entries to clean by patterns
      ansible.builtin.find:
        paths: "{{ _za_chromium | map(attribute='path') }}"
        patterns: "{{ za_chromium }}"
        file_type: any
        depth: 2
        recurse: true
      register: _za_chromium_entries

    - name: Wipe chromium entries
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop: "{{ _za_chromium_entries.files | map(attribute='path') }}"

- name: Cleaup spotify-launcher
  tags: extra-cleanup-spotify
  block:
    - name: Wipe spotify-launcher
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - dir: "{{ lookup('foundation.user.layout', fa_layout, ia_spotify_launcher_user_layout) }}"
