{{ dev.templates.gitignore }}

#
# CMake.
#
CMakeUserPresets.json
CMakeLists.txt.user
compile_commands.json

#
# Object files.
#
*.o
*.ko
*.slo
*.lo
*.obj
*.elf

#
# Precompiled Headers.
#
*.gch
*.pch

#
# Debug symbols.
#
*.dSYM/
*.su
*.idb
*.pdb
