---
argument_specs:
  main:
    short_description: Common tasks role
    options:
      _common_packages:
        type: dict
        required: false
        description:
          - Packaging tasks.
        options:
          remove:
            type: list
            elements: str
            required: false
            description:
              - List of the packages to remove.
          force:
            type: bool
            required: false
            description:
              - Whenever to forcefully install package even if it already installed.
              - Might be useful to trigger installation hooks.
          sync:
            type: bool
            required: false
            description:
              - Whenever to sync package manager database.
          upgrade:
            type: bool
            required: false
            description:
              - Whenever to upgrade packages to their last version.
          install:
            type: list
            elements: str
            required: false
            description:
              - List of the packages to install. It also supports AURs.

      _common_install:
        type: dict
        required: false
        description:
          - Installation tasks (wiping, creating required directories, rendering files, etc).
        options:
          defaults: &common-install-opts
            type: dict
            description:
              - Sets default flags for all targets that did not specify it explicitly.
            options:
              become:
                type: bool
                required: false
                default: false
                description:
                  - Whenever to use the ansible 'become' mechanism.
              wipe:
                type: bool
                required: false
                default: false
                description:
                  - Whenever to wipe the directory the target belongs to.
              filemode:
                type: str
                required: false
                default: '0644'
                description:
                  - Permissions of the target file.
              dirmode:
                type: str
                required: false
                default: '0755'
                description:
                  - Permissions of the directory the target file belongs to.
                  - It may also create some intermediate directories.
              base:
                type: str
                required: false
                default: "{{ users.user.config }}"
                description:
                  - The base path for all targets that are not absolute.
          wipes:
            type: list
            elements: str
            required: false
            description:
              - An additional list of filesystem entries to wipe.
          targets:
            type: dict
            description:
              - A mapping of the target to its options.
              - >-
                Each key must either be relative or absolute path with at least two parts (so that dirname exists),
                consisting any of the following items: `become`, `wipe`, `filemode`, `dirmode`, and `base`,
                which have the same meaning as `defaults`, along with `content`, `template`, and `file`
                for specifying the source for the target, respectively.

      _common_services:
        type: dict
        required: false
        description:
          - Service manager.
        options:
          defaults:
            type: list
            elements: str
            required: false
            description:
              - Sets default flags for all targets that did not specify it explicitly.
              - >-
                'user' or 'system' switches between user and system manager instances.
              - >-
                'reload' requests the service manager to reload its configuration.
                Apparently useful it case of service configuration change.
              - >-
                'start' or 'stop' sets whether service must be restarted or stopped.
              - >-
                'mask' or 'unmask' sets whether it must be impossible to load the service
                even if it is a hard dependency of other services.
                There are the following possible scenarios according to the passed value:
                 - 'mask' => implies 'start'
                 - 'unmask' => implies 'stop'
                 - nothing => defaults to 'unmask', but without implying neither 'mask' nor 'stop'.
              - >-
                'enable' or 'disable' sets whether service must be enabled or disabled at startup automatically.
                Specifying 'enable' also implies 'start', and 'disable' implies 'stop'.
            choices:
              - user
              - system
              - reload
              - mask
              - unmask
              - enable
              - disable
              - stop
              - start
          targets:
            type: dict
            description:
              - A mapping of the target to its options.

      _common_gpg:
        type: str
        required: false
        description:
          - Retrieves previously generated GnuPG key metadata.
          - If string is passed, that specific entry is retrieved.
          - If none is passed instead, the entire key metadata dictionary is returned instead.
          - The result is stored in the `_common_gpg_invocation` variable.

      _common_pull:
        type: dict
        required: false
        description:
          - Pull artifacts of different types from manage node to control node to the persist directory.
          - Persist files are located on control node in the `persist.base` directory.
          - >-
            Pulling artifacts to the persist storage always respects `persist.filemode` and `persist.dirmode`,
            as well as the owner of the `persist.base`. This way, even when ansible is running as root, it still
            creates accessible files.
        options:
          defaults:
            type: dict
            required: false
            description:
              - Sets default options for all targets that did not specify it explicitly.
            options:
              become:
                type: bool
                required: false
                default: false
                description:
                  - Whenever to use the ansible 'become' mechanism.
              base:
                type: str
                required: false
                default: "{{ users.user.config }}"
                description:
                  - The base path for all targets that are not absolute.
          targets:
            type: dict
            description:
              - A mapping of the target to its options.
              - >-
                Each key must be a relative path to the persist item, typically <class>/<item> such as
                myapp/settings, consisting any of the following items:
                 `base64` - base64 encoded string to pull.
                 `shell` - shell command that runs on manage node, whose stdout is pulled.
                 `stdin` - stdin to pass to the `shell`.
                 `file` - manage node path to the file to pull.
                 `archive` - manage node path to create archive and pull from.
                 `include` - list of patterns to include to `archive`.
                 `exclude` - list of patterns to exclude from `archive`.
                 `become`, `base` - individual overrides with the same meaning as in the `defaults`.

      _common_push:
        type: dict
        required: false
        description:
          - Push artifacts of different types from control node to manage node from the persist directory.
        options:
          defaults: *common-install-opts
          targets:
            type: dict
            description:
              - A mapping of the target to its options.
              - >-
                Each key must be a relative path to the persist item, typically <class>/<item> such as
                myapp/settings, consisting any of the following items:
                 `shell` - shell command that runs on manage node and receives content of the persist item from the stdin.
                 `file` - manage node path to the file to push the persist item to.
                 `archive` - manage node path to unpack archive to.
                 `become`, `base`, `filemode`, `dirmode`, `wipe` - individual overrides with the same meaning as in the `defaults`.

      _common_persist:
        type: str
        required: false
        description:
          - Try to query the persist item in the base64 encoding.
          - Sets variable `_common_persist_invocation`, which would have `content` element if the query was successful.

      _common_cmdline:
        type: dict
        required: false
        description:
          - Updates the kernel command-line parameters for the next boot.
          - Must be mapping, where each key denotes name of the parameter, and key its value.
          - >-
            Value may take several forms:
             - null (i.e. YAML `~` or empty) => rendered as `key`, previous keys are overwritten.
             - string => rendered as `key=value`, previous values are overwritten.
             - array => rendered as `key=value1,value2`, previous values are merged.

      _common_groups:
        type: list
        elements: str
        required: false
        description:
          - Adds the user to the specified list of groups.

      _common_environment:
        type: list
        required: false
        description:
          - Modifies global system-wide /etc/environment file with the provided key-value pairs.
        elements: dict
        options:
          key:
            type: str
            required: true
            description:
              - Key of the environmental variable.
          value:
            type: str
            required: true
            description:
              - Value of the environmental variable.

      _common_urlunpack:
        type: dict
        required: false
        description:
          - Downloads and unpacks specified archive without creating temporary files.
          - Backed up by the bsdtar (libarchive).
          - Capable of handling not only .tar archives, but also .zip, .7z, .jar, and more.
        options:
          become:
            type: bool
            required: false
            default: false
            description:
              - Whenever to use the ansible 'become' mechanism.
              - Also modifies owner and group of all unpacked files to root if `true` and `users.user.name` otherwise.
          creates:
            type: str
            required: false
            description:
              - Same as Ansible's `creates` - a path, the existence of which indicates that the operation must not be performed.
          dest:
            type: str
            required: true
            description:
              - The destination directory that is created if needed.
          exclude:
            type: list
            required: false
            elements: str
            description:
              - List of the file pattern to exclude.
          url:
            type: str
            required: true
            description:
              - The link to download archive from.
          strip:
            type: int
            required: false
            description:
              - Number specifying the number of removed leading path elements from archive.
