---
- name: Install prelude partition dependencies
  tags:
    - prelude-partition-deps
    - prelude-dependencies
    - prelude-deps
  ansible.builtin.package:
    name:
      - coreutils
      - util-linux
      - gdisk
      - btrfs-progs
      - e2fsprogs
      - exfatprogs
      - xfsprogs
      - ntfs-3g
      - dosfstools
    state: present
  become: true

- name: Check disk availability
  tags:
    - prelude-partition-check
  block:
    - name: Get disk stat
      ansible.builtin.stat:
        path: "{{ __disk_path }}"
        follow: true
        get_checksum: false
      register: __disk_stat

    - name: Ensure disk exists and it is a block device
      ansible.builtin.fail:
        msg: Requested 'machine.disk_identifier' cannot be found at the {{ __disk_path }}
      when: not (__disk_stat.stat.isblk is defined and __disk_stat.stat.isblk is true)

    - name: Get list of partitions of the disk
      ansible.builtin.find:
        paths: /dev/disk/by-id
        file_type: link
        patterns: "{{ machine.disk_identifier }}-part*"
        hidden: true
      register: __disk_partitions

    - name: Ensure none of the disk partitions are currently mounted
      ansible.builtin.command:
        argv:
          - findmnt
          - "{{ item.path }}"
      register: __findmnt_invocation
      failed_when: __findmnt_invocation.rc == 0
      changed_when: false
      loop: "{{ __disk_partitions.files }}"

    - name: Ensure nothing is mounted at the 'machine.mount'
      ansible.builtin.command:
        argv:
          - findmnt
          - "{{ machine.mount }}"
      register: __findmnt_invocation
      failed_when: __findmnt_invocation.rc == 0
      changed_when: false

- name: Perform disk partitioning using apart
  block:
    - name: Render keys metadata into the file
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          targets:
            /tmp/apart/apart.abs:
              file: apart/apart.abs
              filemode: "0444"
              dirmode: "0777"

    - name: Download ABS programming language to the temporary location
      ansible.builtin.uri:
        url: https://github.com/abs-lang/abs/releases/latest/download/abs-linux-amd64
        follow_redirects: all
        dest: /tmp/apart/abs
        mode: "0555"

    - name: Partition disk and mount filesystems with apart
      ansible.builtin.command:
        argv: >-
          {{
            [
              '/tmp/apart/abs', '/tmp/apart/apart.abs',
              '--disk={}'.format(__disk_path),
              '--mount={}'.format(machine.mount),
            ] + machine.partitions
          }}
      environment:
        NO_COLOR: "1"
      register: __apart_invocation
      changed_when: __apart_invocation.rc == 0
      become: true

    - name: Print apart output
      ansible.builtin.debug:
        var: __apart_invocation.stdout_lines

    - name: Remove downloaded abs and apart from the temporary directory
      ansible.builtin.file:
        path: /tmp/apart
        state: absent
