[settings]
experimental = true
log_level = "warn"

env_file = ".env"
not_found_auto_install = false

gpg_verify = false
trusted_config_paths = ["{{ fa_dir_home }}"]

idiomatic_version_file_enable_tools = ["node", "python", "rust", "go", "java"]

[settings.status]
missing_tools = "always"
show_tools = true
show_env = true

[settings.python]
precompiled_os = "unknown-linux-gnu"
precompiled_arch = "{{ ba_arch }}"
