[settings]
experimental = true
log_level = "warn"

env_file = ".env"
plugin_autoupdate_last_check_duration = "0"

trusted_config_paths = ["{{ fa_dir_home }}"]

[settings.status]
missing_tools = "always"
show_tools = true
show_env = true

[settings.python]
precompiled_os = "unknown-linux-gnu"
precompiled_arch = "{{ ba_arch }}"

[settings.pipx]
uvx = true
