---
- name: Configure wezterm terminal
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - wezterm

    _common_install:
      targets:
        wezterm/wezterm.lua:
          wipe: true
          template: wezterm/wezterm.lua.j2

- name: Configure starship prompt
  ansible.builtin.import_role:
    name: common
  tags:
    - shell-starship
    - shell-prompt
  vars:
    _common_packages:
      install:
        - starship

    _common_install:
      targets:
        starship.toml:
          template: starship/starship.toml.j2

- name: Configure fastfetch information tool
  ansible.builtin.import_role:
    name: common
  tags:
    - shell-fastfetch
    - shell-fetch
  vars:
    _common_packages:
      install:
        - fastfetch

    _common_install:
      targets:
        fastfetch/config.jsonc:
          wipe: true
          template: fastfetch/config.jsonc.j2

- name: Configure atuin history manager
  ansible.builtin.import_role:
    name: common
  tags:
    - shell-atuin
    - shell-history
  vars:
    _common_packages:
      install:
        - atuin

    _common_install:
      wipes:
        - "{{ users.user.share }}/atuin"
      targets:
        atuin/config.toml:
          wipe: true
          file: atuin/config.toml

- name: Configure mise version manager
  ansible.builtin.import_role:
    name: common
  tags:
    - shell-mise
    - shell-version-manager
  vars:
    _common_packages:
      install:
        - mise-bin

    _common_install:
      wipes:
        - "{{ users.user.share }}/mise"
        - "{{ users.user.config }}/mise"
      targets:
        mise/config.toml:
          wipe: true
          file: mise/config.toml
        carapace/specs/mise.yaml:
          file: mise/mise.yaml

- name: Configure nushell
  tags:
    - shell-nushell
  block:
    - name: Retrieve default nushell config
      ansible.builtin.uri:
        url:
          "https://raw.githubusercontent.com/nushell/nushell/refs/heads/main/\
          crates/nu-utils/src/sample_config/default_config.nu"
        method: GET
        return_content: true
      register: __default_config

    - name: Configure nushell
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install:
            - nushell

        _common_install:
          defaults:
            wipe: true
          targets:
            nushell/env.nu:
              template: nushell/env.nu.j2
            nushell/config.nu:
              template: nushell/config.nu.j2
