---
- name: Configure wezterm terminal
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - wezterm

    _common_install:
      targets:
        wezterm/wezterm.lua:
          wipe: true
          template: wezterm/wezterm.lua.j2

- name: Configure starship prompt
  tags:
    - shell-starship
    - shell-prompt
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - starship

    _common_install:
      targets:
        starship.toml:
          template: starship/starship.toml.j2

- name: Configure fastfetch information tool
  tags:
    - shell-fastfetch
    - shell-fetch
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - fastfetch

    _common_install:
      targets:
        fastfetch/config.jsonc:
          wipe: true
          template: fastfetch/config.jsonc.j2

- name: Configure helix editor
  tags:
    - shell-helix
    - shell-editor
  block:
    - name: Retrieve default helix config
      ansible.builtin.uri:
        url:
          "https://raw.githubusercontent.com/helix-editor/helix/refs/heads/master/\
          helix-term/src/keymap/default.rs"
        method: GET
        return_content: true
      register: __default_config

    - name: Configure helix editor
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install:
            - helix

        _common_install:
          targets:
            helix/config.toml:
              wipe: true
              template: helix/config.toml.j2

- name: Configure atuin history manager
  tags:
    - shell-atuin
    - shell-history
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - atuin

    _common_install:
      wipes:
        - "{{ users.user.share }}/atuin"
      targets:
        atuin/config.toml:
          wipe: true
          file: atuin/config.toml

- name: Configure carapace autocompletition
  tags:
    - shell-carapace
    - shell-completion
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - carapace-bin
        - zsh

    _common_install:
      wipes:
        - "{{ users.user.cache }}/carapace"

- name: Configure zoxide directory navigator
  tags:
    - shell-zoxide
    - shell-navigation
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - zoxide

    _common_install:
      wipes:
        - "{{ users.user.share }}/zoxide"

- name: Configure mise version manager
  tags:
    - shell-mise
    - shell-version-manager
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - mise-bin

    _common_install:
      wipes:
        - "{{ users.user.share }}/mise"
        - "{{ users.user.config }}/mise"
      targets:
        mise/config.toml:
          wipe: true
          file: mise/config.toml
        carapace/specs/mise.yaml:
          file: mise/mise.yaml

- name: Configure additional tools for theming, paging, and fuzzy-finding
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - vivid
        - bat
        - fzf

- name: Render system-wide shell profile with tools variables
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      targets:
        /etc/profile.d/shell-env.sh:
          become: true
          template: profile/shell-tools.sh.j2

- name: Configure nushell
  tags:
    - shell-nushell
  block:
    - name: Retrieve default nushell config
      ansible.builtin.uri:
        url:
          "https://raw.githubusercontent.com/nushell/nushell/refs/heads/main/\
          crates/nu-utils/src/sample_config/default_config.nu"
        method: GET
        return_content: true
      register: __default_config

    - name: Configure nushell
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install:
            - nushell

        _common_install:
          defaults:
            wipe: true
          targets:
            nushell/env.nu:
              template: nushell/env.nu.j2
            nushell/config.nu:
              template: nushell/config.nu.j2
