#!/hint/bash

#
# Download agents.
#
DLAGENTS=(
	'ftp::/usr/bin/aria2c -UWget -s4 -x4 %u -o %o --follow-metalink=mem'
	'http::/usr/bin/aria2c -UWget -s4 -x4 %u -o %o --follow-metalink=mem'
	'https::/usr/bin/aria2c -UWget -s4 -x4 %u -o %o --follow-metalink=mem'
	'rsync::/usr/bin/rsync --no-motd -z %u %o'
	'scp::/usr/bin/scp -C %u %o'
)

#
# VCS tools.
#
VCSCLIENTS=(
	'bzr::breezy'
	'fossil::fossil'
	'git::git'
	'hg::mercurial'
	'svn::subversion'
)

#
# Target arch.
#
CARCH="x86_64"
CHOST="x86_64-pc-linux-gnu"

#
# C/C++ optimizations.
#
CFLAGS="-march=native -mtune=native -Ofast -pipe -Wall -Wextra -Wpedantic -Wformat=2 -Werror=format-security \
-Wp,-D_FORTIFY_SOURCE=3 -fno-plt -fexceptions"
CXXFLAGS="$CFLAGS -Wp,-D_GLIBCXX_ASSERTIONS"

#
# Rust optimizations.
#
RUSTFLAGS="-C opt-level=3 -C target-cpu=native"

#
# Linker optimizations.
#
LDFLAGS="-Wl,-O1 -Wl,--sort-common -Wl,--as-needed -Wl,-z,relro -Wl,-z,now \
-Wl,-z,pack-relative-relocs"
LTOFLAGS="-flto=auto"

#
# Make flags.
#
MAKEFLAGS="-j{{ db_build_jobs }}"

#
# Build options.
#
BUILDENV=(!distcc color !ccache check !sign)

#
# Packaging options.
#
OPTIONS=(!strip docs !libtool !staticlibs emptydirs zipman purge !debug lto !autodeps)

#
# Integrity configuration.
#
INTEGRITY_CHECK=()

#
# Packaging compression.
#
PKGEXT='.pkg.tar'
SRCEXT='.src.tar'
