---
- name: Configure X11 server
  tags: apex-desktop-x11-server
  block:
    - name: Install Xorg packages
      foundation.system.packages:
      vars:
        install:
          - xorg-server
          - xorg-xinit
          - xf86-input-libinput
          - xorg-xrdb
          - xorg-xsetroot
          - xorg-xeyes
          - numlockx
          - hsetroot
          - xclip
          - xsel
          - shotgun
          - hacksaw

    - name: Render Xorg configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/X11/xorg.conf.d
        perms: 755:644:root:root
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./10-keyboard.conf
            template: xorg/10-keyboard.conf.j2

          - file: ./10-mouse.conf
            template: xorg/10-mouse.conf.j2

          # - file: ./30-server.conf
          #   template: xorg/30-server.conf.j2

          - dir: "{{ fa_dir_share }}/xorg"

    - name: Render graphics-specific Xorg configuration
      become: true
      foundation.files.install:
        wipe: never
        base: /etc/X11/xorg.conf.d
        perms: 755:644:root:root
      vars:
        #
        # Respect priority and only render the most important configuration.
        # In case no template is required, omit no-op error by specifying directory creation.
        #
        targets: >-
          {%- set _acc = [dict(dir='./', create=true)] -%}
          {##}
          {%- set _assoc = {
            'intel': '20-intel.conf',
            'nvidia': '20-nvidia.conf',
          } -%}
          {%- set _conf = _assoc.get(ga_stack[0].type) if (ga_stack | default([]) | length > 0) else none -%}
          {%- if _conf is not none -%}
            {%- set _ = _acc.append(dict(file='./{}'.format(_conf), template='./xorg/{}.j2'.format(_conf))) -%}
          {%- endif -%}
          {{ _acc }}

- name: Configure XDG Desktop Portal
  tags: apex-desktop-x11-portal
  block:
    - name: Render XDG Desktop Portal configuration for herbstluftwm
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: "{{ fa_dir_config }}/xdg-desktop-portal/herbstluftwm-portals.conf"
            perms: "640:{{ ca_name }}:{{ ca_name }}"
            content: |
              [preferred]
              default=gtk

- name: Configure bar
  tags: apex-desktop-x11-bar
  block:
    - name: Install polybar packages
      foundation.system.packages:
      vars:
        install:
          - polybar

    - name: Render polybar configuration
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ fa_dir_config }}/polybar"
        perms: "755:644:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./config.ini
            template: polybar/config.ini.j2

- name: Configure notification daemon
  tags: apex-desktop-x11-notify
  block:
    - name: Install dunst packages
      foundation.system.packages:
      vars:
        install:
          - dunst

    - name: Render dunst configuration
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ fa_dir_config }}/dunst"
        perms: "755:644:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./dunstrc
            template: dunst/dunstrc.j2

    - name: Disable dunst user service
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - dunst.service
        state:
          disable: true

- name: Configure compositor
  tags: apex-desktop-x11-compositor
  block:
    - name: Install picom packages
      foundation.system.packages:
      vars:
        install:
          - picom

    - name: Render picom configuration
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ fa_dir_config }}/picom"
        perms: "755:644:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./picom.conf
            copy: picom/picom.conf

- name: Configure window manager
  tags: apex-desktop-x11-wm
  block:
    - name: Install herbstluftwm packages
      foundation.system.packages:
      vars:
        #
        # Only git version introduces --binary-pipe. It is also cool to have it compiled with all makepkg optimizations.
        #
        remove:
          - herbstluftwm

        install:
          - herbstluftwm-git
          - luajit
          - awk
          - sed
          - jq
          - playerctl

    - name: Render herbstluftwm configuration
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ fa_dir_config }}/herbstluftwm"
        perms: "755:755:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./autostart
            template: herbstluftwm/autostart.j2
