---
- name: Perform initial preparation of the system
  hosts: prelude
  roles:
    - { role: prelude, tags: prelude }

- name: Perform early preparation of the system
  hosts: catalyst
  roles:
    - { role: catalyst, tags: catalyst }

- name: Perform main provisioning of the system
  hosts: apex
  roles:
    - { role: packaging, tags: packaging }
    - { role: bootloader, tags: bootloader }
    - { role: system, tags: system }
    - { role: user, tags: user }
    - { role: graphics, tags: graphics }
    - { role: shell, tags: shell }
    - { role: apps, tags: apps }
    - { role: dev, tags: dev }
    - { role: cleanup, tags: cleanup }
    - { role: pull, tags: pull }
