---
- name: Perform initial preparation of the system
  hosts: main_prelude
  gather_facts: false
  roles:
    - { role: aa-global/aa-shared }
    - { role: ba-prelude/ba-shared }

    - { role: ba-prelude/bb-partition, tags: prelude-partition }
    - { role: ba-prelude/bc-bootstrap, tags: prelude-bootstrap }

- name: Perform early preparation of the system
  hosts: main_catalyst
  gather_facts: false
  roles:
    - { role: aa-global/aa-shared }
    - { role: ba-prelude/ba-shared }
    - { role: ca-catalyst/ca-shared }

    - { role: ca-catalyst/cb-network, tags: catalyst-network }
    - { role: ca-catalyst/cc-user, tags: catalyst-user }

- name: Perform main provisioning of the system
  hosts: apex
  gather_facts: no
  roles:
    - { role: packaging, tags: packaging }
    - { role: bootloader, tags: bootloader }
    - { role: system, tags: system }
    - { role: user, tags: user }
    - { role: shell, tags: shell }
    - { role: graphics, tags: graphics }
    - { role: media, tags: media }
    - { role: apps, tags: apps }
    - { role: dev, tags: dev }
    # - { role: cleanup, tags: cleanup }
    # - { role: pull, tags: pull }
