---
- name: Perform initial preparation of the system
  hosts: main_prelude
  gather_facts: false
  roles:
    - { role: aa-global/aa-shared }
    - { role: ba-prelude/ba-shared }

    - { role: ba-prelude/bb-partition, tags: prelude-partition }
    - { role: ba-prelude/bc-bootstrap, tags: prelude-bootstrap }

- name: Perform early preparation of the system
  hosts: main_catalyst
  gather_facts: false
  roles:
    - { role: aa-global/aa-shared }
    - { role: ba-prelude/ba-shared }
    - { role: ca-catalyst/ca-shared }

    - { role: ca-catalyst/cb-network, tags: catalyst-network }
    - { role: ca-catalyst/cc-user, tags: catalyst-user }

- name: Perform main provisioning of the system
  hosts: main_apex
  gather_facts: false
  roles:
    - { role: aa-global/aa-shared }
    - { role: ba-prelude/ba-shared }
    - { role: ca-catalyst/ca-shared }
    - { role: da-apex-prep/da-shared }
    - { role: ea-apex-system/ea-shared }
    - { role: fa-apex-user/fa-shared }
    - { role: ga-apex-desktop/ga-shared }
    - { role: ha-apex-env/ha-shared }
    - { role: ia-apex-apps/ia-shared }
    - { role: ja-apex-dev/ja-shared }

    - { role: da-apex-prep/db-packaging, tags: apex-prep-packaging }
    - { role: da-apex-prep/dc-bootloader, tags: apex-prep-bootloader }

    - { role: ea-apex-system/eb-init, tags: apex-system-init }
    - { role: ea-apex-system/ec-core, tags: apex-system-core }
    - { role: ea-apex-system/ed-devices, tags: apex-system-devices }
    - { role: ea-apex-system/ee-stubs, tags: apex-system-stubs }

    - { role: fa-apex-user/fb-skel, tags: apex-user-skel }
    - { role: fa-apex-user/fc-xdg, tags: apex-user-xdg }

    - { role: ga-apex-desktop/gb-login, tags: apex-desktop-login }
    - { role: ga-apex-desktop/gc-graphics, tags: apex-desktop-graphics }
    - { role: ga-apex-desktop/gd-media, tags: apex-desktop-media }
    - { role: ga-apex-desktop/ge-portal, tags: apex-desktop-portal }
    - { role: ga-apex-desktop/gf-look, tags: apex-desktop-look }
    - { role: ga-apex-desktop/gg-launcher, tags: apex-desktop-launcher }
    - { role: ga-apex-desktop/gh-x11, tags: apex-desktop-x11 }
    - { role: ga-apex-desktop/gi-wayland, tags: apex-desktop-wayland }

    - { role: ha-apex-env/hb-gpg, tags: apex-env-gpg }
    - { role: ha-apex-env/hc-ssh, tags: apex-env-ssh }
    - { role: ha-apex-env/hd-vermen, tags: apex-env-vermen }
    - { role: ha-apex-env/he-shell, tags: apex-env-shell }
    - { role: ha-apex-env/hg-hub, tags: apex-env-hub }
    - { role: ha-apex-env/hi-vault, tags: apex-env-vault }

    - { role: ia-apex-apps/ib-editors, tags: apex-apps-editors }
    - { role: ia-apex-apps/ic-jetbrains, tags: apex-apps-jetbrains }
    - { role: ia-apex-apps/id-browsers, tags: apex-apps-browsers }
    - { role: ia-apex-apps/ie-vpn, tags: apex-apps-vpn }
    - { role: ia-apex-apps/if-files, tags: apex-apps-files }
    - { role: ia-apex-apps/ig-code, tags: apex-apps-code }
    - { role: ia-apex-apps/ih-misc, tags: apex-apps-misc }

    - { role: ja-apex-dev/jb-containers, tags: apex-dev-containers }
    - { role: ja-apex-dev/jc-cpp, tags: apex-dev-cpp }

    - { role: packaging, tags: packaging }
    - { role: bootloader, tags: bootloader }
    - { role: system, tags: system }
    - { role: user, tags: user }
    - { role: shell, tags: shell }
    - { role: graphics, tags: graphics }
    - { role: media, tags: media }
    - { role: apps, tags: apps }
    - { role: dev, tags: dev }
    # - { role: cleanup, tags: cleanup }
    # - { role: pull, tags: pull }
