---
- name: Configure network
  tags: catalyst-network-main
  block:
    - name: Render systemd-networkd configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/systemd/network
        perms: 755:644:root:root
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./20-ethernet.network
            copy: network/20-ethernet.network

          - file: ./20-dns-over-tls.conf
            template: network/20-dns-over-tls.conf.j2

    - name: Enable systemd-networkd service
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - systemd-networkd.service
        state:
          enable: true

- name: Configure DNS resolver and cache
  tags: catalyst-network-dns
  block:
    - name: Render systemd-resolved configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 755:644:root:root
      vars:
        targets:
          - file: /etc/resolv.conf
            link: /run/systemd/resolve/stub-resolv.conf

    - name: Enable systemd-resolved service
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - systemd-resolved.service
        state:
          enable: true

- name: Configure wireless daemon
  when: ba_wireless is true
  tags: catalyst-network-wireless
  block:
    - name: Render iwd configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/iwd
        perms: 755:644:root:root
      vars:
        targets:
          - dir: ./
            create: true
          - file: ./main.conf
            copy: iwd/main.conf

    - name: Wipe iwd state
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - dir: /var/lib/iwd

    - name: Enable iwd service
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - iwd.service
        state:
          enable: true
