---
- name: Configure GNUPG
  block:
    - name: Mask GNUPG services
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        scope: user
        masked: true
      loop:
        - keyboxd.socket
        - keyboxd.service
        - gpg-agent-browser.socket
        - gpg-agent-extra.socket

    - name: Ensure SSH and GNUPG directories are empty
      ansible.builtin.file:
        path: "/home/{{ env_user }}/{{ item }}"
        state: absent
      loop:
        - .gnupg
        - .ssh

    - name: Copy config files
      ansible.builtin.copy:
        src: "{{ item.name }}"
        dest: "/home/{{ env_user }}/{{ item.dir }}/"
        directory_mode: "0700"
        mode: "0644"
      loop:
        - name: gpg/common.conf
          dir: .gnupg
        - name: gpg/dirmngr.conf
          dir: .gnupg
        - name: gpg/gpg.conf
          dir: .gnupg
        - name: gpg/gpg-agent.conf
          dir: .gnupg
        - name: ssh/config
          dir: .ssh

- name: Retrieve whether keyring backup is available
  delegate_to: localhost
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/persist/gpg/keyring.tar"
  register: user_gpg_keyring_stat

- name: Generate keyring
  when: not user_gpg_keyring_stat.stat.exists
  block:
    - name: Generate private GPG key
      ansible.builtin.include_tasks:
        file: gpg_gen.yaml
      vars:
        user_gpg_gen_name: "{{ env_user }}"
        user_gpg_gen_comment: "private usage only"
        user_gpg_gen_email: "{{ env_user }}@invalid."
        user_gpg_gen_cert:
          ecdsa: nistp256
        user_gpg_gen_encr:
          - nistp256/ecdh
          - nistp256/ecdh
        user_gpg_gen_ssh:
          100: nistp256/ecdsa
        user_gpg_gen_password: "{{ env_gpg_priv_password }}"

    - name: Generate compat GPG key
      ansible.builtin.include_tasks:
        file: gpg_gen.yaml
      vars:
        user_gpg_gen_name: "{{ env_user_full_name }}"
        user_gpg_gen_comment: "{{ env_user_alt_name }}; compat algorithms"
        user_gpg_gen_email: "{{ env_user_email }}"
        user_gpg_gen_cert:
          rsa: 3072
        user_gpg_gen_sign:
          - dsa2048
          - rsa3072
        user_gpg_gen_encr:
          - rsa3072
        user_gpg_gen_ssh:
          500: rsa3072
        user_gpg_gen_password: "{{ env_gpg_compat_password }}"

    - name: Generate primary GPG key
      ansible.builtin.include_tasks:
        file: gpg_gen.yaml
      vars:
        user_gpg_gen_name: "{{ env_user_full_name }}"
        user_gpg_gen_comment: "{{ env_user_alt_name }}"
        user_gpg_gen_email: "{{ env_user_email }}"
        user_gpg_gen_cert:
          ecdsa: nistp256
        user_gpg_gen_sign:
          - nistp256/ecdsa
        user_gpg_gen_encr:
          - nistp256/ecdh
        user_gpg_gen_ssh:
          -100: nistp256/ecdsa
          -500: ed25519
        user_gpg_gen_password: "{{ env_gpg_main_password }}"

- name: Import keyring backup
  when: user_gpg_keyring_stat.stat.exists
  block:
    - name: Create temporary directory to copy backup
      ansible.builtin.tempfile:
        state: directory
        path: /var/tmp
      register: user_gpg_import

    - name: Unpack keyring archive
      ansible.builtin.unarchive:
        src: keyring/keyring.tar
        dest: "{{ user_gpg_import.path }}"

    - name: Import keyring
      ansible.builtin.command:
        argv:
          - gpg
          - --batch
          - --import-options
          - restore
          - --import
          - "{{ user_gpg_import.path }}/keyring.gpg"
      register: user_gpg_import_keyring
      changed_when: user_gpg_import_keyring.rc == 0

    - name: Import ownertrust
      ansible.builtin.command:
        argv:
          - gpg
          - --import-ownertrust
          - "{{ user_gpg_import.path }}/ownertrust.lst"
      register: user_gpg_import_ownertrust
      changed_when: user_gpg_import_ownertrust.rc == 0

    - name: Import private keys explicitly
      ansible.builtin.copy:
        remote_src: true
        force: true
        src: "{{ user_gpg_import.path }}/private-keys-v1.d/"
        dest: "/home/{{ env_user }}/.gnupg/private-keys-v1.d/"
        mode: "0600"
        # makes no effect
        directory_mode: "0700"

    - name: Fix private keys directory permission
      ansible.builtin.file:
        path: "/home/{{ env_user }}/.gnupg/private-keys-v1.d"
        mode: "0700"
  always:
    - name: Ensure copied backup files are deleted
      when: user_gpg_import.path is defined
      ansible.builtin.file:
        path: "{{ user_gpg_import.path }}"
        state: absent
