---
- name: Generate master key
  block:
    - name: Perform generation of a master key
      ansible.builtin.command:
        cmd: >-
          gpg
          --batch
          --status-fd 1
          --generate-key
        stdin: "{{ lookup('ansible.builtin.template', 'key.j2') }}"
      environment:
        GNUPGHOME: "{{ user_gpg_home.path }}"
      register: user_gpg_gen_master_output
      changed_when: user_gpg_gen_master_output.rc == 0

    - name: Extract fingerprint of the master key
      vars:
        user_gpg_fingerprint_source: "{{ user_gpg_gen_master_output.stdout }}"
      ansible.builtin.set_fact:
        user_gpg_gen_master_fpr: "{{ lookup('ansible.builtin.template', 'fingerprint.j2') }}"

- name: Generate subkeys
  when: user_gpg_gen_sign is defined or user_gpg_gen_encr is defined or user_gpg_gen_sign is defined
  ansible.builtin.command:
    cmd: "{{ lookup('ansible.builtin.template', 'subkey.j2') }}"
    stdin: "{{ user_gpg_gen_password }}"
  environment:
    GNUPGHOME: "{{ user_gpg_home.path }}"
  loop: >-
    {{
      (
        (user_gpg_gen_sign | default([]) | community.general.json_query('[].{"sign": null, "algo": @}')) +
        (user_gpg_gen_encr | default([]) | community.general.json_query('[].{"encr": null, "algo": @}')) +
        (user_gpg_gen_ssh  | default([]) | dict2items(key_name='auth', value_name='algo'))
      ) | flatten
    }}
  register: user_gpg_gen_subkeys
  changed_when: user_gpg_gen_subkeys.rc == 0

- name: Get keyring information
  when: user_gpg_gen_ssh is defined
  ansible.builtin.command:
    argv:
      - gpg
      - --with-colons
      - --with-keygrip
      - --list-keys
  environment:
    GNUPGHOME: "{{ user_gpg_home.path }}"
  register: user_gpg_gen_keyring_output
  changed_when: user_gpg_gen_keyring_output.rc == 0

- name: Apply ssh priority attribute to subkeys
  when: user_gpg_gen_ssh is defined
  ansible.builtin.command:
    cmd: "{{ lookup('ansible.builtin.template', 'keyattr.j2') }}"
  environment:
    GNUPGHOME: "{{ user_gpg_home.path }}"
  loop: "{{ user_gpg_gen_subkeys.results | selectattr('item.auth', 'defined') }}"
  no_log: true
  register: user_gpg_gen_keyattr_output
  changed_when: user_gpg_gen_keyattr_output.rc == 0
