---

- name: Configure pam and faillock to use no delay
  when: security.pam.nodelay is true
  tags:
    - user-pam
  block:
    - name: Render faillock configuration
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          targets:
            /etc/security/faillock.conf:
              become: true
              file: files/faillock/faillock.conf

    - name: Add nodelay to pam_unix in system-auth
      ansible.builtin.lineinfile:
        path: /etc/pam.d/system-auth
        regexp: ^(?P<prep>auth\s+.*\s+pam_unix\.so\s+)(?P<flags>[\w ]+)(?<!nodelay)$
        line: \g<prep>\g<flags> nodelay
        backrefs: true
        mode: "0644"
        owner: 0
        group: 0
      become: true

- name: Configure XDG Base Dirs
  tags:
    - user-xdg-base-dirs
    - user-xdg
  block:
    - name: Configure XDG Base Dirs with pam_env
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          targets:
            /etc/security/pam_env.conf:
              become: true
              template: pam/pam_env.conf.j2

    - name: Create XDG base directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - "{{ users.user.home }}"
        - "{{ users.user.config }}"
        - "{{ users.user.cache }}"
        - "{{ users.user.share }}"
        - "{{ users.user.state }}"
        - "{{ users.user.bin }}"

- name: Configure system-wide XDG quirks
  tags:
    - user-xdg-quirks
    - user-xdg
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      targets:
        /etc/profile.d/xdg-quirks.sh:
          become: true
          template: system-profile/xdg-quirks.sh.j2

- name: Configure XDG User Dirs
  tags:
    - user-xdg-user-dirs
    - user-xdg
  block:
    - name: Install xdg-user-dirs
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install:
            - xdg-user-dirs

        _common_services:
          xdg-user-dirs-update:
            user: true
            disable: true

    - name: Create XDG user directories
      ansible.builtin.file:
        path: "{{ users.user.home }}/{{ item }}"
        state: directory
        mode: "0755"
      loop: "{{ users.user.xdg.values() }}"

    - name: Remove previous XDG user directories configuration file
      when: policy.destructive is true
      ansible.builtin.file:
        path: "{{ users.user.config }}/user-dirs.dirs"
        state: absent

    - name: Set XDG user directories via xdg-user-dirs
      ansible.builtin.command:
        argv:
          - xdg-user-dirs-update
          - --set
          - "{{ item.key | replace('downloads', 'download') | upper }}"
          - "{{ users.user.home }}/{{ item.value }}"
      register: __xdg_user_dirs_update_invocation
      changed_when: __xdg_user_dirs_update_invocation.rc == 0
      loop: "{{ users.user.xdg | dict2items }}"

    - name: Run finalizing xdg-user-dirs-update
      ansible.builtin.command:
        argv:
          - xdg-user-dirs-update
      register: __xdg_user_dirs_update_invocation
      changed_when: __xdg_user_dirs_update_invocation.rc == 0
- name: Configure GnuPG
  tags:
    - user-gpg
  block:
    - name: Configure GnuPG
      ansible.builtin.import_role:
        name: common
      vars:
        _common_services:
          keyboxd.socket:
            user: true
            mask: true
          keyboxd.service:
            user: true
            mask: true
          gpg-agent-browser.socket:
            user: true
            mask: true
          gpg-agent-extra.socket:
            user: true
            mask: true

          dirmngr:
            user: true
            stop: true
          gpg-agent:
            user: true
            stop: true
          dirmngr.socket:
            user: true
            stop: true
          gpg-agent.socket:
            user: true
            stop: true

        _common_install:
          defaults:
            wipe: true
            base: "{{ users.user.home }}"
            dirmode: "0700"
            filemode: "0600"
          targets:
            .gnupg/common.conf:
              content: |
                #
                # common.conf - common defaults for all components.
                #
            .gnupg/dirmngr.conf:
              template: gpg/dirmngr.conf.j2
            .gnupg/gpg.conf:
              template: gpg/gpg.conf.j2
            .gnupg/gpg-agent.conf:
              template: gpg/gpg-agent.conf.j2

    - name: Retrieve whether keyring is available in persist
      delegate_to: localhost
      ansible.builtin.stat:
        path: "{{ persist  }}/gpg/keyring.tar"
      register: __gpg_keyring_stat

    - name: Push keyring from persist
      when: __gpg_keyring_stat.stat.exists is true
      ansible.builtin.import_tasks:
        file: gpg/push.yml
      tags:
        - user-gpg-push

    - name: Enable GnuPG services
      ansible.builtin.import_role:
        name: common
      vars:
        _common_services:
          dirmngr.socket:
            user: true
            start: true
          gpg-agent.socket:
            user: true
            start: true
          dirmngr:
            user: true
            start: true
          gpg-agent:
            user: true
            start: true

    - name: Generate new keyring
      when: >-
        __gpg_keyring_stat.stat.exists is false
        or not ['user-gpg-push'] | is_tagged(ansible_run_tags, ansible_skip_tags)
      ansible.builtin.include_tasks:
        file: gpg/generate.yml
