---

- name: Configure GnuPG
  tags:
    - user-gpg
  block:
    - name: Configure GnuPG
      ansible.builtin.import_role:
        name: common
      vars:
        _common_services:
          keyboxd.socket:
            user: true
            mask: true
          keyboxd.service:
            user: true
            mask: true
          gpg-agent-browser.socket:
            user: true
            mask: true
          gpg-agent-extra.socket:
            user: true
            mask: true

          dirmngr:
            user: true
            stop: true
          gpg-agent:
            user: true
            stop: true
          dirmngr.socket:
            user: true
            stop: true
          gpg-agent.socket:
            user: true
            stop: true

        _common_install:
          defaults:
            wipe: true
            base: "{{ users.user.home }}"
            dirmode: "0700"
            filemode: "0600"
          targets:
            .gnupg/common.conf:
              content: |
                #
                # common.conf - common defaults for all components.
                #
            .gnupg/dirmngr.conf:
              template: gpg/dirmngr.conf.j2
            .gnupg/gpg.conf:
              template: gpg/gpg.conf.j2
            .gnupg/gpg-agent.conf:
              template: gpg/gpg-agent.conf.j2

    - name: Retrieve whether keyring is available in persist
      delegate_to: localhost
      ansible.builtin.stat:
        path: "{{ persist  }}/gpg/keyring.tar"
      register: __gpg_keyring_stat

    - name: Push keyring from persist
      when: __gpg_keyring_stat.stat.exists is true
      ansible.builtin.import_tasks:
        file: gpg/push.yml
      tags:
        - user-gpg-push

    - name: Enable GnuPG services
      ansible.builtin.import_role:
        name: common
      vars:
        _common_services:
          dirmngr.socket:
            user: true
            start: true
          gpg-agent.socket:
            user: true
            start: true
          dirmngr:
            user: true
            start: true
          gpg-agent:
            user: true
            start: true

    - name: Generate new keyring
      when: >-
        __gpg_keyring_stat.stat.exists is false
        or not ['user-gpg-push'] | is_tagged(ansible_run_tags, ansible_skip_tags)
      ansible.builtin.include_tasks:
        file: gpg/generate.yml
