---
- name: Configure OpenSSH
  tags:
    - user-ssh
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - openssh

    _common_services:
      defaults:
        - disable
      targets:
        sshdgenkeys.service:
        sshd.service:

    _common_install:
      defaults:
        wipe: true
        base: "{{ users.user.home }}"
        dirmode: "0700"
        filemode: "0600"
      targets:
        .ssh/config:
          template: ssh/config.j2

- name: Include GnuPG tasks
  tags:
    - user-gpg
  ansible.builtin.import_tasks:
    file: gpg.yml
