---
- name: Install xdg-user-dirs
  community.general.pacman:
    name: xdg-user-dirs
    state: present
  become: true

- name: Disable xdg-user-dirs startup
  ansible.builtin.systemd_service:
    name: "xdg-user-dirs-update.service"
    scope: user
    enabled: false

- name: Create XDG base directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /home/{{ env_user }}/.config
    - /home/{{ env_user }}/.cache
    - /home/{{ env_user }}/.local
    - /home/{{ env_user }}/.local/share
    - /home/{{ env_user }}/.local/state

- name: Configure xdg-user-dirs configuration
  ansible.builtin.shell:
    cmd: >-
      mkdir -p {{ item.value }} &&
      xdg-user-dirs-update --set {{ item.name }} {{ item.value }}
  loop:
    - name: DOWNLOAD
      value: ~/dls
    - name: DOCUMENTS
      value: ~/env
    - name: PICTURES
      value: ~/media/pics
    - name: VIDEOS
      value: ~/media/vids
    - name: MUSIC
      value: ~/media/music
    - name: TEMPLATES
      value: ~/misc/templates
    - name: PUBLICSHARE
      value: ~/misc/public
    - name: DESKTOP
      value: ~/misc/desktop
  register: xdg_user_dirs_update
  changed_when: xdg_user_dirs_update.rc == 0

- name: Run xdg-user-dirs-update
  ansible.builtin.command:
    argv:
      - xdg-user-dirs-update
  register: user_xdg_update
  changed_when: user_xdg_update.rc == 0
