---
bootloader_cmdline:
  #
  # kernel
  #
  iommu: "off"
  amd_iommu: "off"
  gbpages:
  mce: "off"
  align_va_addr: "on"
  ipv6.disable: "1"
  apparmor: "0"
  audit: "0"
  cgroup_disable: memory
  clocksource: tsc
  console_msg_format: syslog
  cpufreq.default_governor: performance
  cpuidle.governor: teo
  cryptomgr.notests:
  debugfs: "off"
  dis_ucode_ldr:
  driver_async_probe: "*"
  enable_mtrr_cleanup:
  hibernate: "no"
  hostname: "{{ env_hostname }}"
  hpet_mmap: "1"
  ia32_emulation: "false"
  ima_appraise: "off"
  ima_policy: critical_data
  init_on_alloc: "0"
  init_on_free: "0"
  iomem: relaxed
  io_delay: none
  kmemleak: "off"
  kunit.enable: "0"
  logo.nologo:
  lp: "0"
  memory_corruption_check: "0"
  mitigations: "off"
  nohibernate:
  nosoftlockup:
  nowatchdog:
  panic: "0"
  parport: "0"
  nopti:
  ras: cec_disable
  rootdelay: "0"
  selinux: "0"
  sysrq_always_enabled:
  transparent_hugepage: always
  lsm: capability,yama,bpf
  split_lock_detect: "off"
  no_timer_check:
  pci: pcie_bus_perf
  #
  # systemd related
  #
  systemd.restore_state: "0"
  quotacheck.mode: skip
  net.ifnames: "0"
  plymouth.enable: "0"
  systemd.verity: "no"
  systemd.gpt_auto: "0"
  systemd.firstboot: "off"
  #
  # video
  #
  module_blacklist: "snd_hda_codec_hdmi,asus_wmi"
  video: efifb:mode=0
  nvidia.NVreg_InitializeSystemMemoryAllocations: "0"
  nvidia.NVreg_UsePageAttributeTable: "1"
  nvidia_drm.modeset: "1"
  #
  #
  # sysctl
  #
  sysctl.kernel.stack_erasing: "0"
  sysctl.fs.dmesg_restrict: "0"
  sysctl.net.busy_read: "50"
  sysctl.net.busy_poll: "50"
  sysctl.vm.swappiness: "30"
  sysctl.net.ipv4.tcp_fastopen: "3"
  #
  # initrd
  #
  rootfstype: xfs
  rootflags: "{{ env_mount_root }}"
  rw:
  booster.log: error
  #
  # frequently used
  #
  quiet:
  loglevel: "4"
