---
- name: Set up pacman
  block:
    - name: Copy pacman.conf
      ansible.builtin.copy:
        src: pacman.conf
        dest: /etc/pacman.conf
        mode: "0644"
        owner: 0
        group: 0
      become: true

    - name: Install reflector
      community.general.pacman:
        name: https://archlinux.org/packages/extra/any/reflector/download
        state: present
      become: true

    - name: Populate mirrorlist with reflector
      ansible.builtin.command:
        argv:
          - reflector
          - --connection-timeout=2
          - --download-timeout=2
          - --save=/etc/pacman.d/mirrorlist
          - --sort=rate
          - --score=10
      register: reflector_output
      changed_when: reflector_output.rc == 0
      become: true

    - name: Sync pacman database
      community.general.pacman:
        update_cache: true
      become: true

- name: Refuse to use GnuPG
  block:
    - name: Mask GnuPG pacman services
      ansible.builtin.systemd_service:
        name: "{{ item }}@etc-pacman.d-gnupg.socket"
        state: stopped
        masked: true
      loop:
        - dirmngr
        - gpg-agent-browser
        - gpg-agent-extra
        - gpg-agent-ssh
        - gpg-agent
        - keyboxd
      become: true
      #
      # For containers, stopped state causes an error (system is not booted)
      #
      register: systemctl_status
      failed_when: systemctl_status.msg is defined and "unknown state" not in systemctl_status.msg

    - name: Reset pacman keyring
      ansible.builtin.file:
        state: absent
        path: /etc/pacman.d/gnupg/
      become: true

- name: Add chaotic-aur repository
  block:
    - name: Install chaotic-aur
      community.general.pacman:
        name: https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst
        state: present
      become: true

    - name: Add repository to pacman.conf
      community.general.ini_file:
        path: /etc/pacman.conf
        section: chaotic-aur
        option: Include
        value: /etc/pacman.d/chaotic-mirrorlist
        mode: "0644"
        owner: 0
        group: 0
      become: true

    - name: Sync pacman database
      community.general.pacman:
        update_cache: true
      become: true

- name: Add makepkg enchancements
  block:
    - name: Install base makepkg tools and aria2
      community.general.pacman:
        name:
          - base-devel
          - aria2
        state: present
      become: true

    - name: Copy makepkg.conf.d drop-in
      ansible.builtin.copy:
        src: makepkg.conf
        dest: /etc/makepkg.conf.d/makepkg.conf
        mode: "0644"
        owner: 0
        group: 0
      become: true

- name: Add paru AUR helper
  block:
    - name: Install paru
      community.general.pacman:
        name: paru
        state: present
      become: true

    - name: Copy paru.conf
      ansible.builtin.copy:
        src: paru.conf
        dest: /etc/paru.conf
        mode: "0644"
        owner: 0
        group: 0
      become: true
