{% set fpr = lookup(
    'ansible.builtin.template',
    'fingerprint.j2', 
    template_vars={'user_gpg_fingerprint_source': item.stdout}
) -%}
{% set grp = user_gpg_gen_keyring_output.stdout | 
    regex_search('fpr:+{}:+\\sgrp:+(\\w+)'.format(fpr), '\\1') | 
    first 
-%}

gpg-connect-agent --unbuffered --no-autostart "KEYATTR {{ grp }} Use-for-ssh: {{ item.item.auth }}" /bye