{%- set _spacing_thin = "{}px".format([ga_space_thin | ga_scale(ga_scaling), 1] | max) -%}
{%- set _spacing_small = "{}px".format(ga_space_small | ga_scale(ga_scaling)) -%}
{%- set _spacing_medium = "{}px".format(ga_space_medium | ga_scale(ga_scaling)) -%}
{%- set _spacing_big = "{}px".format(ga_space_big | ga_scale(ga_scaling)) -%}

{%- set _spacing_text = ga_space_small | ga_scale(ga_scaling) -%}
{%- set _spacing_icon = (ga_space_small * 2) | ga_scale(ga_scaling) -%}

{%- set _font_sans_serif_size = "{}px".format(ga_fonts_sans_sz_medium | ga_scale(ga_scaling)) -%}
{%- set _font_icon_size = "{}px".format(ga_fonts_icon_sz_medium | ga_scale(ga_scaling)) -%}

window#waybar {
    font: 600 {{ _font_sans_serif_size }} sans-serif;

    color: {{ ga_preset.foreground }};
    background-color: {{ ga_preset.inactive }};
}

window#waybar > box {
    margin-top: {{ _spacing_medium }};
    margin-bottom: {{ _spacing_medium }};

    margin-left: {{ _spacing_big }};
    margin-right: {{ _spacing_big }};
}

.module, #workspaces {
    border: 1px solid {{ ga_preset.active }};
}

.module.warn, .module.muted {
    border: 1px solid {{ ga_preset.important }};
}

#tray {
    border: 0;
    padding-right: {{ _spacing_medium }};
}

button {
    color: {{ ga_preset.foreground }};

    border: 0;
    margin: 0;

    padding: 0;
    padding-left: {{ _spacing_medium }};
    padding-right: {{ _spacing_medium }};

    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;

    min-height: 0;
    min-width: 0;
}

button.active {
    color: {{ ga_preset.accent }};
}

button.urgent {
    color: {{ ga_preset.important }};
}

tooltip {
    border-radius: 0;
    border: {{ _spacing_thin }} solid {{ ga_preset.active }};
}

tooltip * {
    box-shadow: none;
    text-shadow: none;
}

tooltip.background {
    background: {{ ga_preset.inactive }};
}