---
- name: Export GPG
  block:
    - name: Retrieve keys metadata
      ansible.builtin.import_role:
        name: common
      vars:
        _common_gpg: ~

    - name: Pull the GnuPG
      ansible.builtin.import_role:
        name: common
      vars:
        __masters: "{{ _common_gpg_invocation | dict2items | selectattr('key', 'in', gpg) | items2dict }}"
        __stdin: >-
          {%- set _acc = [] -%}
          {%- for _key_name, _key in __masters.items() -%}
            {%- set _ = _acc.append(gpg[_key_name].master.password) -%}
          {%- endfor -%}
          {{ _acc | join('\n') }}

        _common_pull:
          defaults:
            base: "{{ users.user.home }}"
          targets:
            gpg/keyring:
              shell: >-
                gpg
                --batch
                --passphrase-fd 0 --pinentry-mode loopback
                --export-secret-keys --export-options backup
                --output -
                {{ __masters | dict2items | map(attribute="value.fingerprint") | join(" ") }}
              stdin: "{{ __stdin | replace('\\n', '\n') }}"
            gpg/private-keys:
              archive: .gnupg/private-keys-v1.d
              include:
                - "*.key"
            gpg/unattended-keys:
              file: ".gnupg/{{ security.gpg.metadata }}"
