Host *
    AddressFamily inet
    IdentityFile none
    Ciphers {{ hc_ciphers | join(",") }}
    ForwardX11Timeout 0
    HashKnownHosts yes

    HostKeyAlgorithms {{ hc_public_keys | join(",") }}
    PubkeyAcceptedAlgorithms {{ hc_public_keys | join(",") }}
    KexAlgorithms {{ hc_key_exchangers | join(",") }}
    MACs {{ hc_message_auths | join(",") }}

    ObscureKeystrokeTiming no
    NoHostAuthenticationForLocalhost yes
    KbdInteractiveDevices pam
    RequestTTY yes

    StrictHostKeyChecking accept-new
    SyslogFacility AUTH

{% if hc_gpg_agent is true %}
    IdentityAgent ${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh
    Match host * exec "gpg-connect-agent UPDATESTARTUPTTY /bye"
{% endif %}
