Section "InputClass"
    Identifier "mouse"
    Driver "libinput"

    MatchIsPointer "on"

    Option "ScrollMethod" "button"
    Option "ScrollButton" "2"
    Option "ScrollButtonLock" "true"
    Option "AccelProfile" "{{ inputs.mouse.accel }}"
    Option "AccelSpeed" "{{ inputs.mouse.speed }}"
EndSection
