---
- name: Configure login manager
  tags: apex-desktop-login-main
  block:
    - name: Install ly
      foundation.system.packages:
      vars:
        install:
          - ly

    - name: Render ly configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/ly
      vars:
        targets:
          - file: ./setup.sh
            perms: 755:root:root
            copy: ly/setup.sh

          - file: ./config.ini
            perms: 644:root:root
            template: ly/config.ini.j2

    - name: Enable ly service
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - "ly@tty{{ gb_tty }}.service"
        state:
          enable: true
