<?xml version="1.0" encoding="UTF-8"?>
<project
  xmlns="http://maven.apache.org/POM/4.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd"
>
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.example</groupId>
  <artifactId>java-maven-template</artifactId>
  <version>1.0-SNAPSHOT</version>
  <name>java-maven-template</name>
  <url>http://maven.apache.org</url>
  <description>An example maven project</description>
  <licenses>
    <license>
      <name>GNU LGPLv3</name>
      <url>https://www.gnu.org/licenses/lgpl-3.0.txt</url>
      <distribution>repo</distribution>
      <comments>GNU Lesser General Public License v3.0</comments>
    </license>
  </licenses>
  <developers>
    <developer>
      <id>{{ ca_name }}</id>
      <name>{{ ca_info_full }}</name>
      <email>{{ ca_info_mail }}</email>
    </developer>
  </developers>
  <scm>
    <connection>scm:git:git://github.com/apache/maven.git</connection>
    <tag>HEAD</tag>
    <url>https://github.com/apache/maven</url>
  </scm>
  <packaging>jar</packaging>
  <properties>
    <maven.compiler.release>21</maven.compiler.release>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
    <tools.failOnError>false</tools.failOnError>
    <libs.compiler>3.12.1</libs.compiler>
    <libs.exec>3.5.0</libs.exec>
    <libs.junit.engine>5.11.0</libs.junit.engine>
    <libs.junit.plugin>3.5.2</libs.junit.plugin>
    <libs.versions>2.18.0</libs.versions>
    <libs.checkstyle.plugin>3.6.0</libs.checkstyle.plugin>
    <libs.checkstyle.tool>10.21.2</libs.checkstyle.tool>
    <libs.pmd.plugin>3.26.0</libs.pmd.plugin>
    <libs.pmd.tool>7.10.0</libs.pmd.tool>
    <libs.spotbugs.plugin>4.8.6.6</libs.spotbugs.plugin>
    <libs.spotbugs.tool>4.9.0</libs.spotbugs.tool>
    <libs.spotbugs.findsecbugs>1.12.0</libs.spotbugs.findsecbugs>
  </properties>
  <dependencies>
    <dependency>
      <groupId>org.junit.jupiter</groupId>
      <artifactId>junit-jupiter</artifactId>
      <version>${libs.junit.engine}</version>
      <scope>test</scope>
    </dependency>
  </dependencies>
  <build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-surefire-plugin</artifactId>
        <version>${libs.junit.plugin}</version>
        <configuration>
          <excludes></excludes>
          <properties>
            <configurationParameters>
              junit.jupiter.execution.parallel.enabled = true
            </configurationParameters>
          </properties>
        </configuration>
      </plugin>
      <plugin>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>${libs.compiler}</version>
      </plugin>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>exec-maven-plugin</artifactId>
        <version>${libs.exec}</version>
        <configuration>
          <mainClass>com.example.Main</mainClass>
        </configuration>
      </plugin>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>versions-maven-plugin</artifactId>
        <version>${libs.versions}</version>
      </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-checkstyle-plugin</artifactId>
        <version>${libs.checkstyle.plugin}</version>
        <dependencies>
          <dependency>
            <groupId>com.puppycrawl.tools</groupId>
            <artifactId>checkstyle</artifactId>
            <version>${libs.checkstyle.tool}</version>
          </dependency>
        </dependencies>
        <configuration>
          <configLocation>config/checkstyle/checkstyle.xml</configLocation>
          <consoleOutput>true</consoleOutput>
          <includeTestSourceDirectory>true</includeTestSourceDirectory>
          <failsOnError>${tools.failOnError}</failsOnError>
        </configuration>
        <executions>
          <execution>
            <id>validate</id>
            <phase>validate</phase>
            <goals>
              <goal>check</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-pmd-plugin</artifactId>
        <version>${libs.pmd.plugin}</version>
        <dependencies>
          <dependency>
            <groupId>net.sourceforge.pmd</groupId>
            <artifactId>pmd-core</artifactId>
            <version>${libs.pmd.tool}</version>
          </dependency>
          <dependency>
            <groupId>net.sourceforge.pmd</groupId>
            <artifactId>pmd-java</artifactId>
            <version>${libs.pmd.tool}</version>
          </dependency>
          <dependency>
            <groupId>net.sourceforge.pmd</groupId>
            <artifactId>pmd-javascript</artifactId>
            <version>${libs.pmd.tool}</version>
          </dependency>
          <dependency>
            <groupId>net.sourceforge.pmd</groupId>
            <artifactId>pmd-jsp</artifactId>
            <version>${libs.pmd.tool}</version>
          </dependency>
        </dependencies>
        <configuration>
          <includeTests>true</includeTests>
          <linkXRef>false</linkXRef>
          <failOnViolation>${tools.failOnError}</failOnViolation>
        </configuration>
        <executions>
          <execution>
            <id>validate</id>
            <phase>validate</phase>
            <goals>
              <goal>check</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
      <plugin>
        <groupId>com.github.spotbugs</groupId>
        <artifactId>spotbugs-maven-plugin</artifactId>
        <version>${libs.spotbugs.plugin}</version>
        <dependencies>
          <dependency>
            <groupId>com.github.spotbugs</groupId>
            <artifactId>spotbugs</artifactId>
            <version>${libs.spotbugs.tool}</version>
          </dependency>
        </dependencies>
        <configuration>
          <failOnError>${tools.failOnError}</failOnError>
          <effort>Max</effort>
          <plugins>
            <plugin>
              <groupId>com.h3xstream.findsecbugs</groupId>
              <artifactId>findsecbugs-plugin</artifactId>
              <version>${libs.spotbugs.findsecbugs}</version>
            </plugin>
          </plugins>
        </configuration>
        <executions>
          <execution>
            <id>validate</id>
            <phase>validate</phase>
            <goals>
              <goal>check</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    </plugins>
  </build>
</project>
