---
- name: Push GnuPG keyring from persist
  block:
    - name: Create temporary directory to copy persist keyring
      ansible.builtin.tempfile:
        state: directory
        path: /var/tmp
      register: __gpg_push_dir

    - name: Unpack persist keyring archive to the temporary directory
      ansible.builtin.unarchive:
        src: "{{ persist }}/gnupg/keyring.tar"
        dest: "{{ __gpg_push_dir.path }}"
        extra_args:
          - --no-same-owner
          - --preserve-permissions

    - name: Import keyring to GnuPG
      ansible.builtin.command:
        argv:
          - gpg
          - --batch
          - --import-options
          - restore
          - --import
          - "{{ __gpg_push_dir.path }}/keyring.gpg"
      register: __gpg_import_keyring_invocation
      changed_when: __gpg_import_keyring_invocation.rc == 0

    - name: Import ownertrust to GnuPG
      ansible.builtin.command:
        argv:
          - gpg
          - --import-ownertrust
          - "{{ __gpg_push_dir.path }}/ownertrust.lst"
      register: __gpg_import_ownertrust_invocation
      changed_when: __gpg_import_ownertrust_invocation.rc == 0

    - name: Set up private keys directory
      ansible.builtin.file:
        path: "{{ users.user.home }}/.gnupg/private-keys-v1.d"
        mode: "0700"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Import private keys explicitly
      ansible.builtin.copy:
        src: "{{ __gpg_push_dir.path }}/private-keys-v1.d/"
        dest: "{{ users.user.home }}/.gnupg/private-keys-v1.d"
        remote_src: true
        mode: "0600"
  always:
    - name: Ensure temporary directory is removed
      when: __gpg_push_dir.path is defined
      ansible.builtin.file:
        path: "{{ __gpg_push_dir.path }}"
        state: absent
