---
- name: Configure media utilities
  tags: apex-apps-misc-media
  block:
    - name: Install media packages
      foundation.system.packages:
      vars:
        install:
          - spotify-launcher
          #
          # Video.
          #
          - obs-studio
          - mpv
          - ffmpeg
          # - handbrake
          # - vidcutter
          #
          # Images.
          #
          - imv
          - imagemagick
          # - gimp
          #
          # Documents.
          #
          - evince
          # - libreoffice-still
          #
          # Metadata.
          #
          # - perl-image-exiftool
          # - mat2

    - name: Resolve spotify-launcher user layout
      foundation.user.layout:
        wipe: "{{ aa_wipe }}"
        layout: "{{ fa_layout }}"
      vars:
        installs: "{{ ia_spotify_launcher_user_layout }}"

    - name: Set media packages MIME assoc
      ansible.builtin.command:
        argv:
          - xdg-mime
          - default
          - "{{ item.app }}"
          - "{{ item.mime }}"
      loop:
        - app: mpv.desktop
          mime: video/*
        - app: mpv.desktop
          mime: audio/*
        - app: imv.desktop
          mime: image/*
        - app: org.gnome.Evince.desktop
          mime: application/pdf
      register: _ih_xdg_mime_invocation
      changed_when: _ih_xdg_mime_invocation.rc == 0

    - name: Disable useless system services
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - avahi-daemon.socket
          - avahi-daemon.service
          - udisks2.service
        state:
          disable: true

    - name: Disable useless user services
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          # - gvfs-udisks2-volume-monitor.service
          # - gvfs-metadata.service
          - gvfs-daemon.service
        state:
          mask: true

- name: Configure system benchmark and info utilities
  tags: apex-apps-misc-system
  block:
    - name: Install system packages
      foundation.system.packages:
      vars:
        install:
          #
          # Hardware probing.
          #
          - sysstat
          - lshw
          - pciutils
          - usbutils
          #
          # Top.
          #
          - nvtop
          - s-tui
          - btop
          - htop
          #
          # Proc fs.
          #
          - procs
          #
          # Partitions, filesystems.
          #
          - gptfdisk
          - btrfs-progs
          - e2fsprogs
          - exfatprogs
          - xfsprogs
          - ntfs-3g
          - dosfstools
          #
          # Archlinux.
          #
          # - pacquery
          # - pacman-contrib
          # - topgrade

    - name: Render btop configuration file
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ fa_dir_config }}/btop"
        perms: "755:644:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets:
          - dir: ./
            create: true
          - file: ./btop.conf
            copy: btop/btop.conf

- name: Configure data utilities
  tags: apex-apps-misc-data
  block:
    - name: Install data packages
      foundation.system.packages:
      vars:
        install:
          #
          # Manual pages.
          #
          - tealdeer
          #
          # Colors.
          #
          - pastel
          #
          # Streams manipulation.
          #
          - most
          - progress
          - yank
          #
          # Data processing.
          #
          - jq
          - yq
          - fx
          - choose
          - gron
          #
          # Data manipulation.
          #
          # - bitwise
          # - sttr-bin

- name: Configure network utilities
  tags: apex-apps-misc-network
  block:
    - name: Install network packages
      foundation.system.packages:
      vars:
        install:
          #
          # Download.
          #
          - aria2
          - wget
          - monolith
          #
          # DNS.
          #
          - dog
          #
          # Scanner.
          #
          - netscanner
          - rustscan
          #
          # Ping, traceroute and speedtest.
          #
          - bandwhich
          - gping
          - mtr
          # - speedtest-go

- name: Configure mail utilities
  tags: apex-apps-misc-mail
  block:
    # - name: Install mail packages
    #   foundation.system.packages:
    #   vars:
    #     install:
    #       #
    #       # - epyrus-bin
    #       # - dbus-glibc
    #       #

    - name: Fetch latest tutanota releases
      ansible.builtin.uri:
        url: https://api.github.com/repos/tutao/tutanota/releases
        return_content: true
      register: _ih_tuta_releases

    - name: Ensure installation directory for tutanota exist
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - dir: /opt/tutanota
            perms: 755:root:root
            create: true

    - name: Download latest tutanota release
      become: true
      foundation.files.net_archive:
        url: >-
          {%- set _ns = namespace(url=none) -%}
          {%- for _rel in _ih_tuta_releases.json -%}
            {%- for _asset in _rel['assets'] -%}
              {%- if _ns.url is none and _asset['name'].endswith("unpacked-linux.tar.gz") -%}
                {%- set _ns.url = _asset['browser_download_url'] -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          {{ _ns.url }}
        strip: 2
        dest: /opt/tutanota
        perms: root:root
        creates:
          - ./tutanota-desktop

    - name: Render tutanota desktop entry
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /usr/local/share/applications/tutanota.desktop
            perms: 644:root:root
            copy: tutanota/tutanota.desktop

    - name: Update XDG desktop database
      become: true
      ansible.builtin.command:
        argv:
          - update-desktop-database
      register: _ih_database_invocation
      changed_when: _ih_database_invocation.rc == 0

    - name: Resolve tutanota user layout
      foundation.user.layout:
        wipe: "{{ aa_wipe }}"
        layout: "{{ fa_layout }}"
      vars:
        profile: "{{ ia_tutanota_user_layout }}"

- name: Configure fun utilities
  tags: apex-apps-misc-fun
  block:
    - name: Install fun packages
      foundation.system.packages:
      vars:
        install:
          - cmatrix
          - television
          - genact
          - fortune-mod
          - linuxwave
