{#
    Common variables.
#}
{%- set color_main = "blue" -%}
{%- set color_secondary = "default" -%}

{# 
    This is the default size for any small logo.
#}
{%- set logo_size = 7 -%}
{#
    Probably because of the prompt, it feels more aesthetically pleasing when right > left.

    This is very subjective and highly depends on the used logo.
#}
{%- set logo_left_padding = 7 -%}
{%- set logo_right_padding = 10 -%}
{%- set logo = {
    "type": "small",
    "source": "arch",
    "padding": {
        "left": logo_left_padding,
        "right": logo_right_padding,
    },
    "color": {
      "1": color_main,
    },
} -%}

{%- set display = {
    "showErrors": true,
    "disableLinewrap": true,
    "separator": "",
    "color": {
        "keys": color_main,
        "output": color_secondary,
        "title": color_secondary
    },
    "key": {},
} -%}

{%- set general = {
    "multithreading": true
} -%}

{# 
    Modules.

    There is no straightforward way to return a dictionary from a macro.
    Either use `{{ {} | tojson }}`, or render json directly `{}`.
#}
{%- macro modules_blank() -%}
    {
        "type": "break"
    }
{%- endmacro -%}

{%- macro modules_separator(name) -%}
    {
        "type": "custom",
        "format": "{{- 
            name.center(name | length + 2).center(modules_section_width, modules_section_char) 
        -}}",
        "outputColor": "{{ color_main }}"
    }
{%- endmacro -%}

{%- set modules_colors_width = 6 -%}
{%- set modules_colors_range = [0, 15] -%}
{%- macro modules_colors() -%}
    {
        "type": "colors",
        "block": {
            "width": {{ modules_colors_width }},
            "range": {{ modules_colors_range }}
        }
    }
{%- endmacro -%}

{%- set modules_section_width = 
    modules_colors_width * (modules_colors_range[1] - modules_colors_range[0] + 1) // 2 
-%}
{%- set modules_section_char = "-" -%}
{# 
    Sets a pattern for value that is used to calculate common key width.

    It is just a string that is expected to be the longest towards all values,
    fastfetch does not have a max width parameter for values.
#}
{%- set modules_value_reserve = "Linux-x86_64-6.0.0-arch1-1" | length -%}
{#
    Key and icon are separated with the following spacing.
#}
{%- set modules_key_icon_spacing = "  " -%}
{#
    Set number of characters an icon occupies.
#}
{%- set modules_key_icon_len = 1 -%}
{%- macro module(type, icon, name=None) %}
    {%- set literal = "\\U" + icon.rjust(8, "0") -%}
    {%- set character = literal.encode().decode("unicode-escape") -%}

    {%- set kvs = {
        "type": type,
        "key": "{}{}{}".format(
            (character | tojson)[1:-1],
            modules_key_icon_spacing, 
            name or (type | capitalize)
        )
    } -%}
    {% set _ = kvs.update(kwargs) %}

    {{- (kvs | tojson).replace("\\\\u", "\\u") -}}
{%- endmacro -%}

{# 
    Modules declaration.
#}
{%- set modules = [
    modules_separator("System"),
    module(type="title", icon="f0379", name="Host", format="{2}"),
    module(type="os", icon="f303", name="Operating System"),
    module(type="kernel", icon="e712", format="{1}-{4}-{2}"),
    module(type="localip", icon="f0a5f", name="Network", format="{1} ({4})"),
    module(type="command", icon="f0484", name="Namespace", text="cat /proc/self/ns/net || echo Default"),
    modules_blank(),

    modules_separator("Environment"),
    module(type="title", icon="f007", name="User", format="{1}"),
    module(type="terminal", icon="e795", format="{5} ({8})"),
    module(type="shell", icon="e691", format="{6}"),
    module(type="wm", icon="f2d2", name="Window Manager"),
    module(type="processes", icon="eba2"),
    modules_blank()
] -%}

{#
    List of the top and bottom extra modules.
    
    Extra modules are those that are not used in the process of
    calculating the centering of the logo.
#}
{%- set modules_extra_upper = [
    modules_blank()
] -%}
{%- set modules_extra_bottom = [
    modules_colors(),
    modules_blank()
] -%}


{#
    Rendering.
#}
{%- set _ = display.key.__setitem__("width", modules_section_width - modules_value_reserve + 1) -%}

{%- set modules_len = ("[" + modules | join(",") + "]") | ansible.builtin.from_json | length -%}
{%- set _ = logo.padding.__setitem__(
    "top", 
    (modules_len - logo_size) // 2 + modules_extra_upper | length
) -%}

{% macro render() %}
    {
        "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
        "logo": {{ logo | tojson }},
        "general": {{ general | tojson }},
        "display": {{ display | tojson }},
        "modules": [
            {{ modules_extra_upper | join(",") }},
            {{ modules | join(",") }},
            {{ modules_extra_bottom | join(",") }}
        ]
    }
{% endmacro %}

{{- render() | ansible.builtin.from_json | tojson(2) -}}
