{%- set _spacing_medium = ga_space_medium | ga_scale(ga_scaling) -%}
{%- set _spacing_big = ga_space_big | ga_scale(ga_scaling) -%}
{%- set _gap = (ga_space_big * 2) | ga_scale(ga_scaling) -%}

{%- set _preset_accent = "rgb({})".format(ga_preset.accent[1:]) -%}
{%- set _preset_background = "rgb({})".format(ga_preset.background[1:]) -%}
{%- set _preset_foreground = "rgb({})".format(ga_preset.foreground[1:]) -%}
{%- set _preset_active = "rgb({})".format(ga_preset.active[1:]) -%}
{%- set _preset_inactive = "rgb({})".format(ga_preset.inactive[1:]) -%}

{%- set _dpi = ga_scaling_ethalon | ga_scale(ga_scaling) -%}
{%- set _monitor = ga_monitors.values() | first -%}

{%- set _font_pango = "{} SemiBold".format(ga_fonts_sans) -%}
{%- set _font_size_px = (ga_fonts_sans_sz_medium - ga_fonts_sans_off_medium) | ga_scale(ga_scaling) -%}
{%- set _font_size_pt = (_font_size_px / (ga_scaling_ethalon / 72)) | round | int -%}
{%- set _groupbar_size = _font_size_px + _spacing_medium * 2 -%}

{%- set _ws_map = {"index": 0} %}
{%- set _ws_cycle_map = {} -%}
{%- for _mon_name, _mon in ga_monitors.items() -%}
    {% set _prefix = _mon_name | ga_workspace_prefix(loop.first) %}
    {% for _ in range(_mon.workspaces) %}
        {% set _ws_name = "{}{}".format(_prefix, loop.index) %}
        {% set _ = _ws_map.update({
            _ws_map.index: {
                "name": "name:{}".format(_ws_name),
                "wayland": _mon.wayland,
            },
            "index": _ws_map.index + 1,
        }) %}
        {##}
        {% set _min = 1 %}
        {% set _max = _mon.workspaces %}
        {% set _next = "name:{}{}".format(_prefix, (loop.index - _min + 1) % (_max - _min + 1) + _min) %}
        {% set _prev = "name:{}{}".format(_prefix, (loop.index - _min - 1) % (_max - _min + 1) + _min) %}
        {% set _ = _ws_cycle_map.update({_ws_name: {"next": _next, "prev": _prev}}) %}
    {% endfor %}
{%- endfor -%}

{%- macro _monitors_render() -%}
    {% set _orient =  "auto-right" if ga_monitors_stack == "horizontal" else "down" %}
    {% for _mon in ga_monitors.values() %}
        monitor = {{ _mon.wayland }}, {{ _mon.width }}x{{ _mon.height }}@{{ _mon.refresh }}, {{ _orient }}, 1
    {% endfor %}
{%- endmacro -%}

{%- macro _workspaces_render() -%}
    {% for _ws in _ws_map.values() %}
        {% if _ws is mapping %}
            workspace = {{ _ws.name }}, monitor:{{ _ws.wayland }}, default:true
        {% endif %}
    {% endfor %}
{%- endmacro -%}

{%- set _parse_kwargs = dict(
    modifiers_map={
        "shift": "SHIFT",
        "super": "SUPER",
    },
    keys_map={
        "MouseLeft": "mouse:272",
        "MouseRight": "mouse:273",
        "MouseNext": "mouse:275",
        "MousePrev": "mouse:276",
        "Backspace": "BackSpace",
        "CapsLock": "Caps_Lock",
        "Tilde": "Grave",
    },
    sep=("_", ", "),
    merge_shift=false,
) -%}

{%- macro _workspaces_keybinds_render() -%}
    {% for _bind in (
        keys
            | ga_parse_binds(actions_map=[("workspaces", None)], **_parse_kwargs)
            | selectattr("mode_name", "eq", "wm")
    )[:_ws_map.index]
    %}
        bind = {{ _bind.line }}, workspace, {{ _ws_map[loop.index0].name }}
    {% endfor %}

    {% for _bind in (
        keys
            | ga_parse_binds(actions_map=[("workspaces_move", None)], **_parse_kwargs)
            | selectattr("mode_name", "eq", "wm")
    )[:_ws_map.index]
    %}
        bind = {{ _bind.line }}, movetoworkspacesilent, {{ _ws_map[loop.index0].name }}
    {% endfor %}

    {% for _bind in keys
        | ga_parse_binds(actions_map=[("tabs", None)], **_parse_kwargs)
        | selectattr("mode_name", "eq", "wm")
    %}
        bind = {{ _bind.line }}, changegroupactive, {{ loop.index }}
    {% endfor %}
{%- endmacro -%}

{%- macro _workspace_cycle_keybind(_direction) -%}
    {% set _current_ws = "$(hyprctl activeworkspace -j | jq -r .name)" %}
    {% set _selector = ".{0}{1}{0}.{2}".format("\\\"", _current_ws, _direction) %}
    {% set _process = "jq -r {} <<< '{}'".format(_selector, _ws_cycle_map | tojson) %}
    {##}
    {% set _exec_line = "hyprctl dispatch workspace $({})".format(_process) %}
    {##}
    exec, {{ _exec_line }}
{%- endmacro -%}

{%- set _keybinds = [
    ("quit", "exit"),
    ("close", "closewindow, activewindow"),
    ("kill", "killactive"),

    ("left", "movefocus, l"),
    ("up", "movefocus, u"),
    ("right", "movefocus, r"),
    ("down", "movefocus, d"),

    ("left", {"subs": "movewindoworgroup, l", "select": true}),
    ("up", {"subs": "movewindoworgroup, u", "select": true}),
    ("right", {"subs": "movewindoworgroup, r", "select": true}),
    ("down", {"subs": "movewindoworgroup, d", "select": true}),

    ("terminal", "execr, wezterm"),
    ("terminal_topmost", ["moveoutofgroup", "execr, wezterm"]),

    ("screenshot_clipboard", "execr, grim -g \"$(slurp -d)\" - | wl-copy"),
    (
        "screenshot_file",
        "execr, grim -g \"$(slurp -d)\" \"{}/{}/shot-$(date +%s).png\"".format(
            fa_dir_xdg.pictures
        ),
    ),

    ("fullscreen", "fullscreen, 1"),
    ("layout", "layoutmsg, orientationnext"),
    ("layout_alt", "layoutmsg, rollnext"),
    ("floating", "togglefloating"),
    ("group", "togglegroup"),
    ("layout_group", "moveoutofgroup"),
    ("scratch", "togglespecialworkspace, {}".format(wms.scratch)),
    ("layout_master", "layoutmsg, swapwithmaster"),
    ("layout_v", "layoutmsg, swapnext"),
    ("layout_h", "layoutmsg, swapprev"),

    ("focus_urgent", "focusurgentorlast"),

    ("output_next", "focusmonitor, +1"),
    ("output_prev", "focusmonitor, -1"),
    ("workspace_next", _workspace_cycle_keybind("next") | ga_relindent()),
    ("workspace_prev", _workspace_cycle_keybind("prev") | ga_relindent()),
    ("group_next", "cyclenext, next tiled"),
    ("group_prev", "cyclenext, prev tiled"),
    ("tab_next", "changegroupactive, f"),
    ("tab_prev", "changegroupactive, b"),
] + gi_compositor_launcher is true | ternary(
    [("run", "execr, rofi -show drun"), ("windows", "execr, rofi -show window")], [],
) + gi_compositor_notify is true | ternary(
    [("notifications", "execr, makoctl restore")], [],
) -%}

{%- macro _keybinds_render() -%}
    {% for _bind in keys
        | ga_parse_binds(actions_map=_keybinds, **_parse_kwargs)
        | selectattr("mode_name", "eq", "wm")
    %}
        {% set _action = _bind.action.subs %}
        {% for _line in (_action is string | ternary([_action], _action)) %}
            bind = {{ _bind.line }}, {{ _line }}
        {% endfor %}
    {% endfor %}
{%- endmacro -%}

{%- set _special_keybindings = [
    ("move", "bindm = {}, movewindow"),
    ("resize", "bindm = {}, resizewindow"),
    ("audio_play", "bind = , {}, execr, playerctl play-pause"),
    ("audio_stop", "bind = , {}, execr, playerctl stop"),
    ("audio_next", "bind = , {}, execr, playerctl next"),
    ("audio_prev", "bind = , {}, execr, playerctl previous"),
] -%}

{%- macro _special_keybinds_render() -%}
    {% for _bind in keys
        | ga_parse_binds(actions_map=_special_keybindings, **_parse_kwargs)
        | selectattr("mode_name", "in", ["wm", "bare"])
    %}
        {{ _bind.action.subs.format(_bind.line) }}
    {% endfor %}
{%- endmacro -%}


#
# Monitors configuration.
#
monitor = Unknown-1, disabled

{{ _monitors_render() | ga_relindent() }}

#
# Workspaces configuration.
#
{{ _workspaces_render() | ga_relindent() }}

#
# Enviromental variables.
#
env = XDG_SESSION_TYPE, wayland
env = GBM_BACKEND, nvidia-drm
env = GDK_BACKEND, wayland
env = SDL_VIDEODRIVER, wayland
env = QT_QPA_PLATFORM, wayland
env = MOZ_ENABLE_WAYLAND, 1
env = KITTY_ENABLE_WAYLAND, 1
env = ELECTRON_OZONE_PLATFORM_HINT, wayland
env = _JAVA_AWT_WM_NONREPARENTING, 1


#
# Autostart before scaling is set.
#
{% if gi_compositor_bar is true %}
exec-once = waybar --log-level off
{% endif %}
{% if gi_compositor_notify is true %}
exec-once = mako
{% endif %}


#
# Scaling
#

#
# QT_SCALE_FACTOR with fractions such as 0.9, 1.5 results in blurry icons
#
env = QT_FONT_DPI, {{ _dpi }}
env = GDK_DPI_SCALE, {{ ga_scaling }}
env = ELM_SCALE, {{ ga_scaling }}


#
# General settings
#
general {
    border_size = {{ _spacing_medium }}
    gaps_in = {{ _spacing_big }}
    gaps_out = {{ _gap }}
    # gaps_workspaces =

    col.active_border = {{ _preset_active }}
    col.nogroup_border_active = {{ _preset_active }}
    col.inactive_border = {{ _preset_inactive }}
    col.nogroup_border = {{ _preset_inactive }}

    layout = master

    resize_on_border = false
    # extend_border_grab_area =
    # hover_icon_on_border =

    no_focus_fallback = true
    no_border_on_floating = false
    allow_tearing = true
    resize_corner = 0

    # sensitivity = 1.0
    apply_sens_to_raw = false
}


#
# Look configuration.
#
decoration {
    rounding = 0
    active_opacity = 1.0
    inactive_opacity = 1.0
    fullscreen_opacity = 1.0

    drop_shadow = false
    # shadow_range =
    # shadow_render_power =
    # shadow_ignore_window =
    # col.shadow =
    # col.shadow_inactive =
    # shadow_offset
    # shadow_scale =

    dim_inactive = false
    # dim_strength = 0.5
    # dim_special = 0.9
    # dim_around = 0.5

    # screen_shader =

    blur {
        enabled = false
        # size =
        # passes =
        # ignore_opacity =
        # new_optimizations =
        # xray =
        # noise =
        # contrast =
        # brightness =
        # vibrancy =
        # vibrancy_darkness =
        # special =
        # popups =
        # popups_ignorealpha =
    }
}

animations {
    enabled = false
    first_launch_animation = false
}


#
# Input configuration.
#
input {
    kb_model = {{ ga_keyboard_model }}
    kb_layout = {{ ga_keyboard_layout }}
    kb_options = {{ ga_keyboard_options }}
    # kb_variant =
    # kb_rules =
    # kb_file =

    numlock_by_default = true
    resolve_binds_by_sym = false
    repeat_rate = 25
    repeat_delay = 600

    accel_profile = {{ ga_mouse_accel }}
    sensitivity = {{ ga_mouse_speed }}
    force_no_accel = false
    left_handed = false

    scroll_factor = 1.0
    natural_scroll = false
    scroll_method = "on_button_down"
    scroll_button = 2
    scroll_button_lock = true
    # scroll_points =
    # off_window_axis_events =
    # emulate_discrete_scroll =

    follow_mouse = 1
    mouse_refocus = true

    float_switch_override_focus = 2
    special_fallthrough = false 
}

#
# Groups configuration.
#
group {
    insert_after_current = true
    focus_removed_window = true

    col.border_active = {{ _preset_active }}
    col.border_locked_active = {{ _preset_active}}
    col.border_inactive = {{ _preset_inactive }}
    col.border_locked_inactive = {{ _preset_inactive }}

    groupbar {
        enabled = true

        gradients = true
        height = {{ _groupbar_size }}

        font_family = {{ _font_pango }}
        font_size = {{ _font_size_pt }}

        text_color = {{ _preset_foreground }}
        col.active = {{ _preset_active }}
        col.locked_active = {{ _preset_active }}
        col.inactive = {{ _preset_inactive }}
        col.locked_inactive = {{ _preset_inactive }}

        render_titles = true
        stacked = false
        priority = 3
        scrolling = true
    }
}

#
# Misc configuration.
#
misc {
    disable_hyprland_logo = true
    disable_splash_rendering = true
    # col.splash =
    # splash_font_family =
    # force_default_wallpaper =

    font_family = {{ _font_pango }}
    background_color = {{ _preset_background }}
    animate_manual_resizes = false
    animate_mouse_windowdragging = false

    vfr = true
    vrr = 0
    mouse_move_enables_dpms = true
    key_press_enables_dpms = true

    always_follow_on_dnd = true
    layers_hog_keyboard_focus = true
    close_special_on_empty = false
    new_window_takes_over_fullscreen = 2
    # exit_window_retains_fullscreen =
    initial_workspace_tracking = 1
    middle_click_paste = true

    enable_swallow = false
    #? swallow_regex = .*
    # swallow_exception_regex

    disable_autoreload = true
    focus_on_activate = false
    mouse_move_focuses_monitor = true

    render_ahead_of_time = false
    # render_ahead_safezone =
}

binds {
    pass_mouse_when_bound = false
    disable_keybind_grabbing = false

    # scroll_event_delay =

    workspace_back_and_forth = false 
    workspace_center_on = 0
    allow_workspace_cycles = true
    focus_preferred_method = 1
    window_direction_monitor_fallback = false

    ignore_group_lock = false
    movefocus_cycles_fullscreen = false
}

xwayland {
    use_nearest_neighbor = true
    force_zero_scaling = true
}

opengl {
    nvidia_anti_flicker = false
    force_introspection = 2
}

cursor {
    default_monitor = {{ _monitor.wayland }}

    no_hardware_cursors = false
    enable_hyprcursor = false
    # no_break_fs_vrr =
    # min_refresh_rate =
    # allow_dumb_copy
    # sync_gsettings_theme =

    hotspot_padding = 0
    inactive_timeout = 0
    hide_on_key_press = false
    hide_on_touch = false
    zoom_factor = 1.0
    zoom_rigid = false

    no_warps = false
    persistent_warps = false
    warp_on_change_workspace = false
}

debug {
    overlay = false
    disable_logs = true
    disable_time = true
    enable_stdout_logs = false
    colored_stdout_logs = true

    manual_crash = 0
    watchdog_timeout = 0
    suppress_errors = false

    disable_scale_checks = false
    error_position = 1
    # damage_tracking
}

master {
    allow_small_split = false
    special_scale_factor = 0.5
    mfact = 0.7
    new_status = slave
    new_on_top = true
    new_on_active = none
    no_gaps_when_only = 0
    orientation = center

    inherit_fullscreen = false
    always_center_master = false
    smart_resizing = true
    drop_at_cursor = true
}


#
# Keybinds.
#
{{ _workspaces_keybinds_render() | aa_relindent() }}

{{ _keybinds_render() | aa_relindent() }}

{{ _special_keybinds_render() | aa_relindent() }}


#
# Rules.
#
windowrulev2 = suppressevent maximize, class:.*

windowrulev2 = float, title:^.*([Ii]nsert)|([Cc]opy)|([Ss]elect)|([Cc]onfirm)|([Pp]rogress)|([Aa]dd).*$
windowrulev2 = center, title:^.*([Ii]nsert)|([Cc]opy)|([Ss]elect)|([Cc]onfirm)|([Pp]rogress)|([Aa]dd).*$

windowrulev2 = float, initialClass:hyprland-share-picker
windowrulev2 = center, initialClass:hyprland-share-picker

windowrulev2 = immediate, fullscreen:1
