[tools]
java = "oracle-graalvm"
"aqua:apache/maven" = "latest"

[env]
MAVEN_OPTS = "{% raw %}{{get_env(name='MAVEN_OPTS', default='')}}{% endraw %} {{ apps.java.opts }}"

[tasks.init]
description = "Initialize template to a working state."
run = [
    "mvn versions:display-property-updates",
    "mvn wrapper:wrapper",
]

[tasks.info]
run = """
{{
    [
        {
            "deps": "[./]mvn[w] dependency:resolve",
            "update": "([./]mvn[w] versions:display-property-updates) or ([./]mvn[w] versions:update-properties)",
        },
        {
            "format": "[./]mvn[w] checkstyle:checkstyle",
            "source code analysis": "[./]mvn[w] pmd:pmd",
            "bytecode analysis": "([./]mvn[w] compile spotbugs:spotbugs) or ([./]mvn[w] compile spotbugs:gui)",
            "all-in-one": "[./]mvn[w] verify",
            "test": "[./]mvn[w] test",
        },
        {
            "run": "[./]mvn[w] compile exec:java",
            "build": "[./]mvn[w] package",
            "clean": "[./]mvn[w] clean",
        },
        {
            "maven surefire parameters": "https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html",
            "rerun failed tests": "https://maven.apache.org/surefire/maven-surefire-plugin/examples/rerun-failing-tests.html",
            "maven wrapper": "https://maven.apache.org/wrapper/",
            "maven workspace": "https://www.baeldung.com/maven-multi-module",
            "pmd plugin": "https://maven.apache.org/plugins/maven-pmd-plugin/pmd-mojo.html",
            "checkstyle plugin": "https://maven.apache.org/plugins/maven-checkstyle-plugin/checkstyle-mojo.html",
            "checkstyle": "https://checkstyle.sourceforge.io/",
            "checkstyle sun checks": "https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/sun_checks.xml",
            "spotbugs plugin": "https://spotbugs.github.io/spotbugs-maven-plugin/spotbugs-mojo.html",
            "findsecbugs": "https://find-sec-bugs.github.io/",
            "errorprone": "https://errorprone.info/docs/installation",
        },
    ] | shellmsg("Maven developement suite")
}}
"""