---
policy:
  #
  # An unsafe flag that will ensure clearness of installation targets.
  #
  # This means it would entirely clean configuration directories (XDG_CONFIG_HOME/<package>)
  # for most of the packages, as well as other state directories (~/.local/share/<package>).
  #
  # It also removes unnecessary files for bootloader, user profile, and similar.
  #
  destructive: true
  #
  # Headless installation flag is important for tasks
  #  that need to know whether machine is actually booted,
  #  i.e. in the consitent and defined state.
  #
  # This flag is used in:
  #  service management (is service running and needs to be stopped),
  #  temporary files creation (/tmp is mounted or use /var/tmp),
  #  and others.
  #
  headless: "{{ ansible_connection == 'nspawn' }}"

  persist: "{{ playbook_dir }}/persist"

base64:
  shell_decode: "base64 --decode -"
  shell_encode: "base64 --wrap=0"

execs:
  uptime: uptime -p | sed -E 's/up //; s/ days?,?/d/; s/ hours?,?/h/; s/ minutes?,?/m/'
  netns: (ip netns list | grep -q .) && (ip netns list | tr '\\n' ' ')

