---
machine:
  disk_identifier: ata-SSD_256GB
  mount: /mnt

  cores: 8
  halfcores: 4
  threads: 16

  locale: en_US.UTF-8
  keymap: us
  timezone: Europe/Berlin
  hostname: &machine-workspace hostname
  dns:
    ip: "1.1.1.1"
    sni: cloudflare-dns.com

  #
  # Refer to the roles/prelude/apart/README.md
  # for more info.
  #
  partitions:
    - name=TEST-EFI,type=efi,size=1G
    - name=TEST-ROOT,type=root,fs=xfs,size=85%
    - name=TEST-SWAP,type=swap,size=8G
    - name=TEST-VOLT,type=linux,fs=ext4

  mountopts:
    root: &machine-mountopts-root "\
      async,noatime,auto,dev,exec,noiversion,suid,rw,nouser,\
      dax=always,nodiscard,noquota\
      "
    efi: "\
      sync,noatime,auto,dev,exec,noiversion,suid,rw,nouser,\
      fmask=0023,dmask=0022,check=s,discard,errors=remount-ro,iocharset=utf8,tz=UTC,flush,utf8\
      "

  cmdline:
    #
    # Kernel.
    #
    iommu: "off"
    amd_iommu: "off"
    gbpages: ~
    mce: "off"
    align_va_addr: "on"
    ipv6.disable: "1"
    apparmor: "0"
    audit: "0"
    cgroup_disable: "memory"
    clocksource: "tsc"
    console_msg_format: "syslog"
    cpufreq.default_governor: "performance"
    cpuidle.governor: "teo"
    cryptomgr.notests: ~
    debugfs: "off"
    dis_ucode_ldr: ~
    driver_async_probe: "*"
    enable_mtrr_cleanup: ~
    hibernate: "no"
    hostname: *machine-workspace
    hpet_mmap: "1"
    ia32_emulation: "false"
    ima_appraise: "off"
    ima_policy: "critical_data"
    init_on_alloc: "0"
    init_on_free: "0"
    iomem: "relaxed"
    io_delay: "none"
    kmemleak: "off"
    kunit.enable: "0"
    logo.nologo: ~
    lp: "0"
    memory_corruption_check: "0"
    mitigations: "off"
    nohibernate: ~
    nosoftlockup: ~
    nowatchdog: ~
    panic: "0"
    parport: "0"
    nopti: ~
    preempt: "full"
    ras: "cec_disable"
    rootdelay: "0"
    selinux: "0"
    sysrq_always_enabled: ~
    transparent_hugepage: "always"
    lsm: "capability,yama,bpf"
    split_lock_detect: "off"
    no_timer_check: ~
    pci: "pcie_bus_perf"
    #
    # Blacklist.
    #
    module_blacklist: "asus_wmi"
    #
    # sysctl.
    #
    sysctl.kernel.stack_erasing: "0"
    sysctl.fs.dmesg_restrict: "0"
    sysctl.net.busy_read: "50"
    sysctl.net.busy_poll: "50"
    sysctl.vm.swappiness: "30"
    sysctl.net.ipv4.tcp_fastopen: "3"
    #
    # initrd.
    #
    rootfstype: "xfs"
    rootflags: *machine-mountopts-root
    rw: ~
    booster.log: "error"
    #
    # Frequently used.
    #
    quiet: ~
    loglevel: "4"
