---
security:
  pam:
    nodelay: true
  ssh:
    cipher:
      - aes128-gcm@openssh.com
      - aes128-cbc
      - aes128-ctr
      - aes256-gcm@openssh.com
      - aes256-cbc
      - aes256-ctr
      - chacha20-poly1305@openssh.com
    public_key:
      - ecdsa-sha2-nistp256
      - ssh-ed25519
      - ssh-ed25519-cert-v01@openssh.com
      - ecdsa-sha2-nistp256-cert-v01@openssh.com
      - rsa-sha2-512
      - rsa-sha2-512-cert-v01@openssh.com
    key_exchange:
      - ecdh-sha2-nistp256
      - curve25519-sha256
      - curve25519-sha256@libssh.org
      - sntrup761x25519-sha512@openssh.com
      - diffie-hellman-group-exchange-sha256
    message_auth:
      - umac-64-etm@openssh.com
      - umac-128-etm@openssh.com
      - hmac-sha2-512-etm@openssh.com
      - hmac-sha2-256-etm@openssh.com
      - hmac-sha2-512
      - hmac-sha2-256
  gpg:
    keyserver: hkps://keys.openpgp.org
    metadata: unattended-keys.json
    hash:
      - SHA512
      - SHA384
      - SHA256
      - SHA224
    cipher:
      - AES
      - AES-192
      - AES-256
      - CAMELLIA128
      - CAMELLIA192
      - CAMELLIA256
      - CAST5
      - IDEA
    compression:
      - Uncompressed
      - ZIP
      - ZLIB

gpg:
  private:
    master:
      name: "{{ users.user.name }}"
      comment: private usage only
      email: "{{ users.user.name }}@invalid."

      expire: 5y
      password: test

      algo: ecdsa
      hint: nistp256
    subkeys:
      private_encr_main:
        type: encr
        algo: ecdh
        hint: nistp256
      private_encr_passwords:
        type: encr
        algo: ecdh
        hint: nistp256
      private_encr_backups:
        type: encr
        algo: ecdh
        hint: nistp256
      private_ssh:
        type: auth
        priority: 100
        algo: ecdsa
        hint: nistp256
  compat:
    master:
      name: "{{ users.user.full }}"
      comment: "{{ users.user.alt }}; compat algorithms"
      email: "{{ users.user.email }}"

      expire: 5y
      password: test

      algo: rsa
      hint: 3072
    subkeys:
      compat_sign_main:
        type: sign
        algo: dsa
        hint: 2048
      compat_sign_alt:
        type: sign
        algo: rsa
        hint: 3072
      compat_encr:
        type: encr
        algo: rsa
        hint: 3072
      compat_ssh:
        type: auth
        priority: 500
        algo: rsa
        hint: 3072
  primary:
    master:
      name: "{{ users.user.full }}"
      comment: "{{ users.user.alt }}"
      email: "{{ users.user.email }}"

      expire: 5y
      password: test

      algo: ecdsa
      hint: nistp256
    subkeys:
      primary_sign:
        type: sign
        algo: ecdsa
        hint: nistp256
      primary_encr:
        type: encr
        algo: ecdh
        hint: nistp256
      primary_ssh_main:
        type: auth
        priority: -100
        algo: ecdsa
        hint: nistp256
      primary_ssh_alt:
        type: auth
        priority: -500
        algo: ed25519
        hint: ~
