---
apps:
  #
  # Mise version manager.
  #
  mise:
    config:
      default: "{{ users.user.config }}/mise"

    cache:
      default: "{{ users.user.cache }}/mise"

    share:
      default: "{{ users.user.share }}/mise"
      dot: "{{ users.user.home }}/.mise"
      env: MISE_DATA_DIR

    state:
      default: "{{ users.user.state }}/mise"
      dot: "{{ users.user.home }}/.mise"
      env: MISE_STATE_DIR

  #
  # Python installation.
  #
  python:
    history:
      default: "{{ users.user.home }}/.python_history"
      custom: "{{ users.user.home }}/.python/history"
      env: PYTHON_HISTORY

    cache:
      custom: "{{ users.user.cache }}/pycache"
      env: PYTHONPYCACHEPREFIX

    ruff:
      custom: "{{ users.user.cache }}/ruff"
      env: RUFF_CACHE_DIR

    ipython:
      default: "{{ users.user.home }}/.ipython"

    mypy:
      custom: "{{ users.user.cache }}/mypy"
      env: MYPY_CACHE_DIR

    uv_python:
      default: "{{ users.user.share }}/uv/python"
      custom: "{{ users.user.home }}/.uv/python"
      env: UV_PYTHON_INSTALL_DIR

    uv_tools:
      default: "{{ users.user.share }}/uv/tools"
      custom: "{{ users.user.home }}/.uv/tools"
      env: UV_TOOL_DIR

    uv_bin:
      default: "{{ users.user.share }}/uv/bin"
      custom: "{{ users.user.home }}/.uv/bin"
      env: UV_TOOL_BIN_DIR

  cmake:
    packages:
      default: "{{ users.user.home }}/.cmake"

  bazel:
    cache:
      default: "{{ users.user.cache }}/bazel"

    rc:
      default: "{{ users.user.home }}/.bazelrc"

  vcpkg:
    cache:
      default: "{{ users.user.cache }}/bazel"

  conan:
    home:
      default: "{{ users.user.home }}/.conan2"
      xdg: "{{ users.user.share }}/conan"
      env: CONAN_HOME

  #
  # JetBrains IDEs installation.
  #
  jetbrains:
    base: /opt/jetbrains
    jre: /opt/jetbrains/jre
    agent: /opt/jetbrains/agent
    ide: /opt/jetbrains/ide

    properties: /opt/jetbrains/properties/ide.properties
    vmoptions: /opt/jetbrains/vmoptions/ide.vmoptions

    desktop: /usr/local/share/applications

    #
    # Whenever use the agent.
    #
    agentize: true
    #
    # How many years to cover if using agent.
    #
    years: 10
    
    #
    # Whenever generate scripts and desktop application actions
    #  to run ide with WLToolkit.
    #
    wayland: true
    #
    # Whenever enable Code With Me support:
    #  Agentize Code With Me for Host
    #  Generate desktop application action to launch Jetbrains Client,
    #   (a.k.a. Code With Me launcher for guests)
    #
    code_with_me: true
    #
    # JetBrainsRuntime options.
    #
    jvmoptions:
      #
      # Heap tweaks.
      #
      - -Xms5g
      - -Xmx5g
      - -XX:+AlwaysPreTouch
      - -XX:+UseLargePages
      - -XX:+UseTransparentHugePages
      #
      # Metaspace tweaks.
      #
      - -XX:MetaspaceSize=128m
      #
      # JIT tweaks.
      #
      - -XX:CICompilerCount=2
      - -XX:ReservedCodeCacheSize=512m
      #
      # GC tweaks.
      #
      - -XX:+UseG1GC
      - -XX:SoftRefLRUPolicyMSPerMB=50
      - -XX:TieredOldPercentage=100000
      #
      # Misc tweaks.
      #
      - -XX:-OmitStackTraceInFastThrow
      - -XX:+ParallelRefProcEnabled
      - -XX:+PerfDisableSharedMem
      #
      # I/O tweaks.
      #
      - -Dsun.io.useCanonCaches=false
      - -Djdk.nio.maxCachedBufferSize=2097152
      - -Djava.util.zip.use.nio.for.zip.file.access=true
      - -Dsun.tools.attach.tmp.only=true
      - -Dawt.lock.fair=true
      #
      # Editor tweaks.
      #
      - -Deditor.zero.latency.typing=true
      #
      # Network tweaks.
      #
      - -Djava.net.preferIPv4Stack=true
      - -Djdk.http.auth.tunneling.disabledSchemes=""
      #
      # Debug tweaks.
      #
      - -Dide.no.platform.update=true
      - -Djdk.attach.allowAttachSelf=true
      - -Djdk.module.illegalAccess.silent=true
      - -Dkotlinx.coroutines.debug=off
      - -Djbr.catch.SIGABRT=true
    #
    # Supported IDEs.
    #
    # Keys of this mapping must be the codename of IDE. Codename is used
    #  in various places, including environmental variables for properties,
    #  vmoptions, jdk, as well as determing individual paths.
    # Usually, such codename is a short representation of the IDE name. For instance,
    #  `idea` for IntelliJ IDEA, `goland` for GoLand, and the rest.
    #  However, it is `webide` for WebStorm.
    # It seems like there is no other practical way to determine this other than
    #  download the IDE itself and browse .../bin/<ide_name>.sh.
    # Also note that there is a special codename `jetbrains_client`, which is explicitly
    #  enabled, and is used for Code With Me service.
    #
    # Core IDE identification is Product Code. Typically, it is an acronym of the IDE name,
    #  such as `PCC` for PyCharm Community, `AQ` for Aqua, and so on.
    #
    # For different purposes, JetBrains use different product codes:
    #  1) Release Product Code
    #  2) License Product Code
    #
    # While sometimes they may overlap, they are not interchangeable.
    #
    # Release Product Code is used in update channels and artifacts downloading. Such 
    #  release product codes include Professional, Community and other special editions
    #  (e.g. Education).
    # Even more confusion is brought by the use of multiple release product codes that point
    #  to the same IDE. For example, all of the `PY`, `PCP`, and `PC` are acceptable as release
    #  product codes for PyCharm Professional Edition.
    # The particular list of the release product codes may be retrieved using the following:
    #  curl -s https://www.jetbrains.com/updates/updates.xml | grep -oP "<code>([A-Z]*)</code>"
    # To verify release product code, use the command below:
    #  curl -s https://data.services.jetbrains.com/products/releases?code=IU | jq -c keys
    #
    # License product codes are slighty different; only paid IDEs are included. Consequently,
    #  `IIU` is replaced with `II`, `PCP` with `PC`, and so forth.
    #  Refer to the https://plugins.jetbrains.com/docs/marketplace/product-codes.html for more information.
    # License product codes also include plugins, both built-in and from marketplace.
    # There are few well-known plugins:
    #  1) PCWMP => Code With Me Premium
    #  2) AIL/AIP => AI Assistant / AI Pro (obviously have no use with agent)
    #  3) PSI => Shared Index (no longer requires separate license and built-in)
    #  4) PDB => Plugin Database Tools and SQL for WebStorm (no longer requires separate license and built-in)
    #  5) PRR => Rust Plugin (deprecated in favor of RustRover)
    #  6) PWS/PPS/PGO/PPC/PRB/PSW => Unknown built-in plugins, likely integrated in the IDE's main license. 
    #
    # Follow these steps to identify license product code:
    #  1) Open the link in the marketplace, e.g. https://plugins.jetbrains.com/plugin/10080-rainbow-brackets
    # To identify via the string id:
    #  2) Scroll to the `Additional Information` section and extract Plugin ID, e.g. `izhangzhihao.rainbow.brackets`
    #  3) Parse the `<productCode>` tag from https://plugins.jetbrains.com/plugins/list?pluginId=izhangzhihao.rainbow.brackets
    # To identify via the numeric id:
    #  2) Extract a number from the URL slug, e.g. `10080`
    #  3) Parse the `purchaseInfo.productCode` from https://plugins.jetbrains.com/api/plugins/10080 
    products:
      idea:
        name: IntelliJ IDEA Ultimate Edition
        comment: The Leading Java and Kotlin IDE by JetBrains
        release: IIU
        license: II
        plugins:
          - https://plugins.jetbrains.com/plugin/6317-lombok
      clion:
        name: CLion
        comment: A Cross-Platform IDE for C and C++ by JetBrains
        release: CL
        license: CL
      rustrover:
        name: RustRover
        comment: Rust IDE by JetBrains
        release: RR
        license: RR
      goland:
        name: GoLand
        comment: More than just a Go IDE by JetBrains
        release: GO
        license: GO
      pycharm:
        name: PyCharm Professional Edition
        comment: The Python IDE for data science and web development by JetBrains
        release: PCP
        license: PC
        plugins:
          - https://plugins.jetbrains.com/plugin/12861-pydantic
      rider:
        name: Rider
        comment: The Cross-Platform .NET IDE by JetBrains
        #
        # Rider has a very long story of licensing, mainly because of the various .NET tools.
        # Luckily as for now, the licensing model was simplified:
        #  https://resellers.jetbrains.com/hc/en-us/articles/360015807159-What-has-changed-in-NET-tools-licensing
        #
        # There are the following license product codes that have ever existed:
        #  01) RS0 => ReSharper
        #  02) RC  => ReSharper C++
        #  03) RSU => ReSharper Ultimate
        #  04) RRR => ReSharper Ultimate + Rider license 
        #  05) RS  => ReSharper ?
        #  06) RSC => ReSharper ?
        #  07) RSF => ReSharper ?
        #  08) RSV => ReSharper ?
        #  09) DM  => dotMemory
        #  10) DPN => dotTrace
        #  11) DC  => dotCover
        #  12) DUL => dotUltimate (basically AIO)
        #
        release: RD
        license: DUL
      webide:
        name: WebStorm
        comment: The JavaScript and TypeScript IDE by JetBrains
        release: WS
        license: WS
      writerside:
        name: Writerside
        comment: A new technical writing environment by JetBrains
        release: WRS
        license: WRS
      datagrip:
        name: DataGrip
        comment: The Cross-Platform IDE for Databases & SQL by JetBrains
        release: DG
        license: DB
      dataspell:
        name: DataSpell
        comment: A tool for data analysts by JetBrains
        product: DS
        license: DS
      rubymine:
        name: RubyMine
        comment: The Ruby on Rails IDE by JetBrains
        release: RM
        license: RM
      aqua:
        name: Aqua
        comment: The IDE for test automation
        release: QA
        license: QA
    #
    # Common plugins to install for all IDEs.
    #
    plugins:
      - https://plugins.jetbrains.com/plugin/10321-nord
      - https://plugins.jetbrains.com/plugin/10080-rainbow-brackets
      - https://plugins.jetbrains.com/plugin/9792-key-promoter-x
      - https://plugins.jetbrains.com/plugin/11058-extra-icons
      - https://plugins.jetbrains.com/plugin/21904-developer-tools
      - https://plugins.jetbrains.com/plugin/13389-conventional-commit

  templates:
    #
    # Common gitignore for all templates.
    #
    gitignore: |-
      #
      # https://git-scm.com/docs/gitignore
      #

      #
      # Filesystems.
      #
      .DS_Store
      [Dd]esktop.ini
      Thumbs.db
      $RECYCLE.BIN/

      #
      # VCS.
      #
      .snv
      .bzr

      #
      # Editors.
      #
      #  vim
      #
      *.swp
      *.swo
      .vim
      Session.vim
      #
      #  Helix.
      #
      .helix
      #
      #  Emacs.
      #
      .dir-locals.el
      #
      #  Eclipse.
      #
      .cproject
      .project
      #
      #  VSCode.
      #
      .vscode
      *.code-workspace
      #
      #  Sublime Text.
      #
      *.sublime-workspace
      #
      #  JetBrains.
      #
      .idea
      *.iml
      #
      #  Zed.
      #
      .zed
      #
      # Visual Studio.
      #
      .settings
      .vs

      #
      # Tools.
      #
      .valgrindrc
      *.log
      .task
      mise.local.toml

      #
      # Env
      #
      .envrc
      .direnv
      .env
      .env*.local 

      #
      # Build artifacts.
      #
      /[Aa]rtifacts
      /[Rr]elease
      /_[Bb]uild
      /[Oo]ut
      /[Tt]arget
      /[Dd]ebug
      /[Dd]ist
      /[Dd]l
      /[Ii]nst
      /[Oo]bj
      #
      #  Executables, libraries, and packages.
      #
      *.out
      *.app
      *.exe
      *.so
      *.dylib
      *.dll
      *.app
      *.zip
      *.rar
      *.tgz
      *.tar.gz
      *.tar.zst

      #
      # Caches.
      #
      .temp
      .cache

      #
      # Lock files.
      #
      # Runtime data
      *.pid
      *.pid.lock

      #
      # Vendor.
      #
      # vendor

      #
      # FHS-like.
      #
      /var
      /run
      /.local

    editorconfig: |-
      #
      # https://editorconfig.org/
      #

      root = true

      [*]
      end_of_line = lf
      charset = utf-8
      insert_final_newline = true
      trim_trailing_whitespace = true

      [*.{yml,yaml,json}]
      indent_style = space
      indent_size = 2

      [*.{xml}]
      indent_style = space
      indent_size = 2

      [*.toml]
      indent_style = space
      indent_size = 4

      [Makefile]
      indent_style = tab
      indent_size = 4

      [*.{bat,cmd}]
      end_of_line = crlf
      indent_style = tab
      indent_size = 4

      [*.ps1]
      indent_style = spaces
      indent_size = 4

      [*.{sh,bash,zsh}]
      indent_style = spaces
      indent_size = 2

      [*.{nushell,nsh,xonsh,xsh,elvish,esh}]
      indent_style = spaces
      indent_size = 4

