---
ed_blacklist:
  #
  # ACPI power buttons that are treated as input devices.
  #
  - subsystem: acpi
    selectors:
      - DRIVER=="button"

  #
  # 1) Fake keyboard reported by mouse.
  # 2) Additional keyboard system/consumer control device.
  #
  - subsystem: usb
    command: echo 0 > %S%p/authorized
    selectors:
      - ENV{PRODUCT}=="1a2c/2124/110", ENV{INTERFACE}=="3/0/0"
      - ENV{PRODUCT}=="4e53/5407/100", ENV{INTERFACE}=="3/1/1"

  #
  # GPU HDMI Audio.
  #
  - subsystem: pci
    command: echo 1 > $sys%p/remove
    selectors:
      - ENV{PCI_CLASS}=="40300", ENV{PCI_ID}=="10DE:????"

  #
  # NVME Storages.
  #
  - subsystem: nvme
    command: echo 1 > $sys%p/device/remove
    selectors:
      - ATTR{model}=="SMI 2263XT", ATTR{serial}=="AAA99000000000000029"
      - ATTR{model}=="Seagate ZP500CV30002", ATTR{serial}=="70800TFP"

  #
  # SATA storages.
  #
  - subsystem: scsi
    command: echo 1 > $sys%p/delete
    selectors:
      - ATTR{model}=="ST2000DM008-2FR1"
