---
hb_generate:
  private:
    master:
      name: "{{ ca_name }}"
      email: "{{ ca_name }}@invalid."
      comment: private usage only

      expire: 5y
      password: test

      algo: ecdsa
      hint: nistp256
    subkeys:
      private_encr_main:
        type: encr
        algo: ecdh
        hint: nistp256
      private_encr_vault:
        type: encr
        algo: ecdh
        hint: nistp256
      private_encr_backups:
        type: encr
        algo: ecdh
        hint: nistp256
      private_ssh:
        type: auth
        priority: 100
        algo: ecdsa
        hint: nistp256

  compat:
    master:
      name: "{{ ca_info_full }}"
      comment: "{{ ca_info_alt }}; compat algorithms"
      email: "{{ ca_info_mail }}"

      expire: 5y
      password: test

      algo: rsa
      hint: 3072
    subkeys:
      compat_sign_main:
        type: sign
        algo: dsa
        hint: 2048
      compat_sign_alt:
        type: sign
        algo: rsa
        hint: 3072
      compat_encr:
        type: encr
        algo: rsa
        hint: 3072
      compat_ssh:
        type: auth
        priority: 500
        algo: rsa
        hint: 3072
  primary:
    master:
      name: "{{ ca_info_full }}"
      comment: "{{ ca_info_alt }}"
      email: "{{ ca_info_mail }}"

      expire: 5y
      password: test

      algo: ecdsa
      hint: nistp256
    subkeys:
      primary_sign:
        type: sign
        algo: ecdsa
        hint: nistp256
      primary_encr:
        type: encr
        algo: ecdh
        hint: nistp256
      primary_ssh_main:
        type: auth
        priority: -100
        algo: ecdsa
        hint: nistp256
      primary_ssh_alt:
        type: auth
        priority: -500
        algo: ed25519
        hint: ~
