- name: Configure container runtime service
  common_services:
    services:
      - containerd.service
    state:
      disable: true
  become: true

- name: Install container runtime
  common_packages:
    install:
      - containerd
      - crictl
      - runc
      - crun
      - nvidia-container-toolkit

- name: Configure containers
  block:
    - name: Start container runtime service
      when: policy.destructive is true
      common_services:
        services:
          - containerd.service
        state:
          start: true
      become: true

    - name: Configure docker
      tags:
        - dev-containers-docker
      ansible.builtin.import_tasks:
        file: misc/docker.yml

    - name: Configure kubernetes orchestrator
      tags:
        - dev-containers-k8s
      ansible.builtin.import_tasks:
        file: misc/kubernetes.yml

- name: Configure container runtime
  block:
    - name: Configure container runtime service
      common_services:
        services:
          - containerd.service
        state:
          disable: true
      become: true

    - name: Wipe container runtime state
      common_install:
        targets:
          - dir: /var/lib/containerd
            wipe: true
      become: true

    - name: Wipe nft tables
      when: policy.destructive is true
      ansible.builtin.command:
        argv:
          - nft
          - flush
          - ruleset
      register: __nft_invocation
      changed_when: __nft_invocation.rc == 0
      become: true

    - name: Configure crictl and containerd
      common_install:
        targets:
          - file: /etc/crictl.yaml
            src: containers/crictl.yml
          - file: /etc/containerd/config.toml
            src: containers/config.toml
      become: true

    - name: Confgure nvidia container device interface
      ansible.builtin.command:
        argv:
          - nvidia-ctk
          - config
          - --in-place
          - --set
          - nvidia-container-runtime.mode=cdi
      register: __nvidia_ctk_invocation
      changed_when: __nvidia_ctk_invocation.rc == 0
      become: true
