---
- name: Install docker
  common_packages:
    install:
      - docker
      - docker-buildx
      - docker-compose

- name: Add user to the docker group
  ansible.builtin.user:
    name: "{{ users.user.name }}"
    groups: docker
    append: true
  become: true

- name: Wipe docker
  when: policy.destructive is true
  block:
    - name: Start docker service
      common_services:
        services:
          - docker.socket
          - docker.service
        state:
          start: true
      become: true

    - name: Stop all containers and prune docker
      ansible.builtin.shell:
        cmd: "{{ item }}"
      register: __docker_invocation
      changed_when: __docker_invocation.rc == 0
      loop:
        - docker ps -q | xargs -r docker kill
        - docker network prune --force
        - docker system prune --all --force

    - name: Wipe docker state
      common_install:
        targets:
          - dir: /var/lib/docker
            wipe: true
      become: true

- name: Configure docker service
  common_services:
    services:
      - docker.service
      - docker.socket
    state:
      disable: true
  become: true

- name: Configure docker daemon
  common_install:
    targets:
      - file: /etc/docker/daemon.json
        src: containers/daemon.json
  become: true
