---
- name: Configure session manager
  tags: apex-system-core-session
  block:
    - name: Render logind configuration file
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/systemd/logind.conf
            perms: 644:root:root
            copy: logind/logind.conf

    - name: Enable logind service
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - systemd-logind.service
        state:
          enable: true

- name: Configure logging
  tags: apex-system-core-log
  block:
    - name: Render journald configuration file
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/systemd/journald.conf
            perms: 644:root:root
            copy: journald/journald.conf

    - name: Wipe previous journals
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - dir: /var/log/journal

    - name: Disable useless journald services and sockets
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - systemd-journald-audit.socket
          - systemd-journal-gatewayd.service
          - systemd-journal-gatewayd.socket
          - systemd-journal-remote.service
          - systemd-journal-remote.socket
          - systemd-journal-upload.service
        state:
          disable: true

    - name: Modify kernel command line
      become: true
      foundation.system.kernel:
        headless: "{{ ba_headless }}"
      environment:
        systemd.journald.max_level_store: "info"

- name: Configure dump
  tags: apex-system-core-dump
  block:
    - name: Render coredump configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/systemd/coredump.conf
            perms: 644:root:root
            copy: coredump/coredump.conf

    - name: Wipe previous coredumps
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - dir: /var/lib/systemd/coredump

- name: Configure time sync
  tags: apex-system-core-timesync
  block:
    - name: Render timesyncd configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/systemd/timesyncd.conf
            perms: 644:root:root
            copy: timesyncd/timesyncd.conf

    - name: Enable timesyncd service
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - systemd-timesyncd.service
        state:
          enable: true
