---
- name: Configure packaging
  tags: apex-prep-packaging-main
  block:
    - name: Download raw chaotic-aur mirrorlist
      become: true
      foundation.files.net_archive:
        url: https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst
        dest: /etc/pacman.d
        perms: root:root
        strip: 2
        creates:
          - chaotic-mirrorlist

    - name: Render pacman configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/pacman.conf
            perms: 644:root:root
            copy: pacman/pacman.conf

    - name: Disable GnuPG services for pacman
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - dirmngr@etc-pacman.d-gnupg.socket
          - keyboxd@etc-pacman.d-gnupg.socket
          - gpg-agent-browser@etc-pacman.d-gnupg.socket
          - gpg-agent-extra@etc-pacman.d-gnupg.socket
          - gpg-agent-ssh@etc-pacman.d-gnupg.socket
          - gpg-agent@etc-pacman.d-gnupg.socket
          - archlinux-keyring-wkd-sync.timer
        state:
          mask: true

    - name: Reset pacman keyring
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - dir: /etc/pacman.d/gnupg

- name: Configure mirrors
  tags: apex-prep-packaging-mirrors
  block:
    - name: Install chaotic mirrorlist
      become: true
      ansible.builtin.command:
        argv:
          - pacman
          - --noconfirm
          - --upgrade
          - https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst
      register: _db_chaotic_invocation
      changed_when: _db_chaotic_invocation.rc == 0

    - name: Populate mirrorlist with reflector
      become: true
      ansible.builtin.command:
        argv:
          - reflector
          - --connection-timeout=2
          - --download-timeout=2
          - --save=/etc/pacman.d/mirrorlist
          - --sort=rate
          - --score=10
      register: _db_reflector_invocation
      changed_when: _db_reflector_invocation.rc == 0

    - name: Sync pacman database
      become: true
      ansible.builtin.command:
        argv:
          - pacman
          - --sync
          - --refresh
          - --refresh
      register: _db_sync_invocation
      changed_when: _db_sync_invocation.rc == 0

- name: Configure packaging build system
  tags: apex-prep-packaging-build
  block:
    - name: Install developer packages
      become: true
      ansible.builtin.command:
        argv:
          - pacman
          - --sync
          - --needed
          - --noconfirm
          - base-devel
          - aria2
          - libarchive
          - curl
      register: _db_devel_invocation
      changed_when: _db_devel_invocation.rc == 0

    - name: Render makepkg config
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/makepkg.conf
            perms: 644:root:root
            template: makepkg/makepkg.conf.j2

- name: Configure additional repositories
  tags: apex-prep-packaging-addons
  block:
    - name: Install paru
      become: true
      ansible.builtin.command:
        argv:
          - pacman
          - --sync
          - --needed
          - --noconfirm
          - paru
      register: _db_paru_invocation
      changed_when: _db_paru_invocation.rc == 0

    - name: Render paru configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/paru.conf
            perms: 644:root:root
            copy: paru/paru.conf
