{%- set _spacing_thin = "{}px".format(ga_space_thin | ga_scale(ga_scaling)) -%}

{%- set _spacing_small = "{}px".format(ga_space_small | ga_scale(ga_scaling)) -%}
{%- set _spacing_small_left = "0 0 0 {}".format(_spacing_small) -%}

{%- set _spacing_medium = "{}px".format(ga_space_medium | ga_scale(ga_scaling)) -%}
{%- set _spacing_medium_left = "0 0 0 {}".format(_spacing_medium) -%}
{%- set _spacing_medium_top_right_bottom = "{0} {0} {0} 0".format(_spacing_medium) -%}

{%- set _spacing_big = "{}px".format(ga_space_big | ga_scale(ga_scaling)) -%}

{#
    Spacing is basically calculated as:
        left margin of the input bar
        left margin of the textbox-prompt-colon
        ">" character size of the textbox-prompt-colon
        right margin of the textbox-prompt-colon
#}
{%- set _spacing_listview = "{0} {0} {0} {1}px".format(
    _spacing_medium,
    (ga_space_medium + ga_space_medium + (ga_fonts_mono_sz_big / 2) + ga_space_medium) | ga_scale(ga_scaling)
) -%}


configuration {
    modes: [ "window", "drun", "run", "emoji" ];
    plugins: false;

    dpi: {{ ga_scaling_ethalon }};
    scroll-method: 1;

    icon-theme: "{{ ga_icons_launcher }}";
    show-icons: true;
    run,drun {
        fallback-icon: "application-gnunet-directory";
    }

    matching: "prefix";
    // matching-negate-char: '!';
    tokenize: true;

    drun-display-format: "{name} [<small><i>({exec})</i></small>]";
    drun-show-actions: true;

    kb-move-front: "Alt+a";
    kb-move-end: "Alt+e";

    kb-move-word-forward: "Alt+Right";
    kb-move-word-back: "Alt+Left";

    kb-remove-word-back: "Alt+w,Control+BackSpace";
    kb-remove-to-eol: "Alt+k";
    kb-remove-to-sol: "Alt+d";

    kb-secondary-copy: "";
    kb-cancel: "Escape,Control+c,Super+q";

    kb-mode-previous: "Alt+ISO_Left_Tab";
    kb-mode-next: "Alt+Tab";
}

window {
    padding: {{ _spacing_big }};
    background-color: {{ ga_preset.inactive }};
    border-color: {{ ga_preset.active }};
    border: {{ _spacing_medium }};

    font: "monospace {{ ga_fonts_mono_sz_big | ga_scale(ga_scaling) }}px";
}

mainbox {
    children: [ "mode-switcher", "inputbar", "listview" ];
}

mode-switcher {
    padding: {{ _spacing_medium }};
}

button {
    cursor: pointer;
    text-color: {{ ga_preset.accent }};
}

button selected {
    background-color: {{ ga_preset.accent }};
    text-color: {{ ga_preset.inactive }};
}

inputbar {
    padding: {{ _spacing_medium }};
    spacing: 0px ;
    text-color: {{ ga_preset.accent }};
    children: [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    padding: {{ _spacing_medium_top_right_bottom }};
    margin: 0px 0.3000em 0.0000em 0.0000em ;
    expand: false;
    str: "";
    text-transform: bold;
    text-color: {{ ga_preset.accent }};
}

entry {
    cursor: text;

    text-color: {{ ga_preset.accent }};

    padding: {{ _spacing_medium }};
    border-color: {{ ga_preset.accent }};
    border: {{ _spacing_thin }};

    placeholder-color: {{ ga_preset.unimportant }};
    placeholder: "Type to filter";
}

listview {
    fixed-height: false;
    dynamic: false;
    scrollbar: true;
    cycle: true;
    columns: 1;

    border: none;

    margin: {{ _spacing_listview }};
}

scrollbar {
    width: {{ _spacing_big }};
    handle-color: {{ ga_preset.accent }};
    margin: {{ _spacing_medium_left }};
}

element {
    cursor: pointer;
    spacing: {{ _spacing_medium_left }};
    highlight: bold;
}

element-text {
    padding: {{ _spacing_small }};
}

element-icon {
    padding: {{ _spacing_small }};
}

element normal.normal, element alternate.normal {
    background-color: {{ ga_preset.inactive }};
    text-color: {{ ga_preset.accent }};
}

element normal.urgent, element alternate.urgent {
    background-color: {{ ga_preset.inactive }};
    text-color: {{ ga_preset.important }};
}

element normal.active, element alternate.active {
    background-color: {{ ga_preset.inactive }};
    text-color: {{ ga_preset.foreground }};
}

element selected.normal {
    background-color: {{ ga_preset.accent }};
    text-color: {{ ga_preset.inactive }};
}

element selected.urgent {
    background-color: {{ ga_preset.accent }};
    text-color: {{ ga_preset.important }};
}

element selected.active {
    background-color: {{ ga_preset.accent }};
    text-color: {{ ga_preset.foreground }};
}
