{%- set _indent = {"space": 4} -%}

{%- macro _feature_state(_val) -%}
    {{ _val is true | ternary("required", "disabled") }}
{%- endmacro -%}

{%- macro _exclusive_render() -%}
    {% set _cards = gd_cards | dict2items | selectattr("value.exclusive", "true") | items2dict %}
    {% for _card_name, _card in _cards.items() %}
        {
            matches = [
                {
                    device.nick = !null
                    {% for _prop, _value in _card.selectors.device.items() %}
                    {{ _prop }} = "!{{ _value }}"
                    {% endfor %}
                }
            ]
            actions = {
                update-props = {
                    device.disabled = true
                }
            }
        }
    {% endfor %}
{%- endmacro -%}

{%- macro _device_render(_card_name, _card) -%}
    {
        matches = [
            {
            {% for _prop, _value in _card.selectors.device.items() %}
                {{ _prop }} = "{{ _value }}"
            {% endfor %}
            }
        ]
        actions = {
            update-props = {
                device.name = "{{ _card_name }}"
                device.profile-set = "{{ _card_name }}.conf"

                api.alsa.use-acp = true
                api.alsa.use-ucm = false

                api.acp.auto-profile = true
                api.acp.auto-port = true
            }
        }
    }
{%- endmacro -%}

{%- macro _node_render(_type, _card_name, _card) -%}
    {% set _pretty_card = _card_name | replace("-", " ") | replace("_", " ") | title %}
    {% set _pretty_type = _type | title %}
    {
        matches = [
            {
            {% for _prop, _value in _card.selectors[_type].items() %}
                {{ _prop }} = "{{ _value }}"
            {% endfor %}
            }
        ]
        actions = {
            update-props = {
                node.nick = "{{ _pretty_card }} {{ _pretty_type }}"
                node.name = "{{ _card_name }}-{{ _type }}"

                node.rate = "{{ _card.frequency }}"

                audio.format = "{{ _card.format }}"
                audio.rate = "{{ _card.frequency }}"
            }
        }
    }
{%- endmacro -%}

{%- macro _devices_render() -%}
    {% for _card_name, _card in gd_cards.items() %}
        {{ _device_render(_card_name, _card) | aa_relindent(times=2, **_indent) }}

        {{ _node_render("input", _card_name, _card) | aa_relindent(times=2, **_indent) }}

        {{ _node_render("output", _card_name, _card) | aa_relindent(times=2, **_indent) }}
    {% endfor %}
{%- endmacro -%}


wireplumber.profiles = {
    main = {
        node.software-dsp = disabled

        hardware.audio = required
        monitor.alsa = required
        monitor.alsa-midi = {{ _feature_state(gd_midi) }}

        hardware.bluetooth = {{ _feature_state(gd_bluetooth) }}
        monitor.bluez = {{ _feature_state(gd_bluetooth) }}
        monitor.bluez.seat-monitoring = {{ _feature_state(gd_bluetooth) }}
        monitor.bluez-midi = {{ _feature_state(gd_midi) }}

        hardware.video-capture = {{
            _feature_state(gd_video_v4l2 is true or gd_video_libcamera is true)
        }}
        monitor.v4l2 = {{ _feature_state(gd_video_v4l2) }}
        monitor.libcamera = {{ _feature_state(gd_video_libcamera) }}

        support.dbus = required
        support.logind = required
        support.portal-permissionstore = required
        support.reserve-device = optional
        monitor.alsa.reserve-device = optional

        policy.standard = required
        policy.role-priority-system = disabled
    }
}

wireplumber.settings = {
    device.restore-profile = false
    device.restore-routes = false
    device.routes.default-sink-volume = {{ gd_volume_output }}
    device.routes.default-source-volume = {{ gd_volume_input }}

    linking.allow-moving-streams = true
    linking.follow-default-target = true

    node.features.audio.no-dsp = false
    node.features.audio.monitor-ports = false
    node.features.audio.control-port = false

    node.stream.restore-props = {{ gd_save is true | ternary("true", "false") }}
    node.stream.restore-target = true
    node.stream.default-playback-volume = {{ gd_volume_output }}
    node.stream.default-capture-volume = {{ gd_volume_input }}

    node.filter.forward-format = true
    node.restore-default-targets = {{ gd_save is true | ternary("true", "false") }}
}

monitor.alsa.properties = {
    alsa.use-acp = true
    alsa.use-ucm = false
}

access.rules = [

    {
        matches = [
            { pipewire.sec.socket = "pipewire-0-manager" }
        ]
        actions = {
            update-props = {
                default_permissions = "all"
            }
        }
    }

    {
        matches = [
            {
                pipewire.sec.socket = "pipewire-0"
                {% for _app in gd_whitelist %}
                application.process.binary = "!{{ _app }}"
                {% endfor %}
            }
        ]
        actions = {
            update-props = {
                default_permissions = "rx"
            }
        }
    }

]

monitor.alsa.rules = [

    {{ _exclusive_render() | aa_relindent(times=1, **_indent) }}

    {{ _devices_render() | aa_relindent(times=1, **_indent) }}

    {
        matches = [
            {
                node.name = !null
                media.class = !null
            }
        ]
        actions = {
            update-props = {
                {{ _gd_stream | aa_relindent(times=4, **_indent) }}
            }
        }
    }

]