---
- name: Configure GnuPG backup
  tags: extra-backup-gpg
  block:
    - name: Retrieve unattended keys metadata
      foundation.persist.gpg:
        home: "{{ fa_dir_home }}"
        layout: "{{ fa_layout }}"
      vars:
        keys: all
      register: _zc_unattended

    - name: Define GnuPG keys context
      ansible.builtin.set_fact:
        _zc_masters: >-
          {%- set _acc = {} -%}
          {%- for _name, _meta in _zc_unattended.gpg.items() -%}
            {%- for _master, _subdict in hb_generate.items() -%}
              {%- if _master == _name -%}
                {%- set _ = _acc.update({
                  _name: dict(fingerprint=_meta.fingerprint, keygrip=_meta.keygrip, password=_subdict.master.password),
                }) -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          {{ _acc }}

    - name: Transfer GnuPG state to the persist
      foundation.persist.to:
        persist: "{{ aa_persist }}"
        base: "{{ lookup('foundation.user.layout', fa_layout, ha_gpg_user_layout) }}"
      vars:
        shells:
          - key: gpg/keyring
            cmd: >-
              gpg --batch --passphrase-fd 0 --pinentry-mode loopback --export-secret-keys --export-options backup --output -
              {{ _zc_masters.values() | map(attribute='fingerprint') | join(' ') }}
            stdin: "{{ _zc_masters.values() | map(attribute='password') | join('' | aa_newline) }}"
        archives:
          - key: gpg/private-keys
            include: >-
              {%- set _acc = [] -%}
              {%- for _key in _zc_unattended.gpg.values() -%}
                {%- set _ = _acc.append('private-keys-v1.d/{}.key'.format(_key.keygrip)) -%}
              {%- endfor -%}
              {{ _acc }}

          - key: gpg/unattended-keys
            include:
              - unattended-keys.json

- name: Configure hub backup
  tags: extra-backup-hub
  block:
    - name: Transfer hub to the persist
      foundation.persist.to:
        persist: "{{ aa_persist }}"
        base: "{{ fa_dir_xdg.hub }}"
      vars:
        archives:
          - key: hub/store
            include: ["*"]

- name: Configure vault backup
  tags: extra-backup-vault
  block:
    - name: Transfer vault to the persist
      foundation.persist.to:
        persist: "{{ aa_persist }}"
        base: "{{ lookup('foundation.user.layout', fa_layout, ha_vault_user_layout) }}"
      vars:
        archives:
          - key: vault/store
            include: ["*"]
