[Settings]
gtk-font-name = {{ ga_fonts_sans }} {{ ga_fonts_sans_sz_small }}
gtk-icon-theme-name = {{ ga_icons_main }}
gtk-application-prefer-dark-theme = true
gtk-recent-files-enabled = false
gtk-enable-animations = false
gtk-error-bell = false
gtk-theme-name = {{ gf_gtk }}
