---
- name: Configure network
  block:
    - name: Copy network configuration file
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: "0644"
        owner: 0
        group: 0
      loop:
        - src: network/20-ethernet.network
          dest: /etc/systemd/network/
        - src: network/20-cloudfare-dns-over-tls.conf
          dest: /etc/systemd/resolved.conf.d/
      become: true

    - name: Enable network services
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        enabled: true
      loop:
        - systemd-networkd
        - systemd-resolved
      become: true

    - name: Create a resolv.conf stub link
      ansible.builtin.file:
        src: /run/systemd/resolve/stub-resolv.conf
        path: /etc/resolv.conf
        state: link
        follow: false
        force: true
      become: true

- name: Configure sudo
  tags: ssudo
  ansible.builtin.copy:
    src: sudo/70-overrides
    dest: /etc/sudoers.d/
    mode: "0640"
    owner: 0
    group: 0
  become: true

- name: Configure user
  ansible.builtin.user:
    comment: "{{ env_user_name }}"
    expires: -1
    create_home: true
    groups:
      - video
      - kvm
      - input
      - wheel
      - seat
      - systemd-journal
    name: "{{ env_user }}"
    password: "{{ env_user_hash }}"
