# cpp-vcpkg-template

## vcpkg Cheatsheet

### Getting Started

- Initialize: ```cmake [--fresh] --preset <PRESET>```

### Working with Code

- Format: ```python tools.py format```
- Lint: ```python tools.py lint```
- Test:
    - ```ctest --preset <PRESET>```
    - ```(cd build; ctest [-j 2] [-R 'TestName*'])```
    - ```ninja -C build build.ninja test``` and ```./build/cmake-template-test```
- Debug Linkage: ```readelf -d``` and ```ldd```

### Developement Flow

- Clean:
    - ```cmake --build --clean-first --preset <PRESET>```
    - ```cmake --build build --target clean```
    - ```ninja -C build build.ninja clean`
- Package:
    - ```cpack --preset <PRESET>```
    - ```(cd build; cpack --config CPackConfig.cmake -G TGZ)```
    - ```ninja -C build build.ninja package```
- All-in-One: ```cmake --workflow --preset <PRESET>```

### Links

- C++ Package Managers: <https://moderncppdevops.com/pkg-mngr-roundup/>

- vcpkg and CMake: <https://learn.microsoft.com/en-us/vcpkg/users/buildsystems/cmake-integration>
- vcpkg Overview: <https://learn.microsoft.com/en-us/vcpkg/get_started/get-started?pivots=shell-powershell>
- vcpkg Triplets: <https://learn.microsoft.com/en-us/vcpkg/users/triplets>
- vcpkg Chainload: <https://github.com/microsoft/vcpkg/issues/36244>

- CMake Documentation: <https://cmake.org/cmake/help/latest/index.html>
- CMake Variables: <https://cmake.org/cmake/help/latest/manual/cmake-variables.7.html>
- CMake Presets: <https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html>

- CPack Archives Issue: <https://stackoverflow.com/a/55601955>
- CPack Archive Generator: <https://cmake.org/cmake/help/latest/cpack_gen/archive.html>
- `BUILD_SHARED_LIB`: <https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html>
- `INSTALL_RPATH`: <https://cmake.org/cmake/help/latest/prop_tgt/INSTALL_RPATH.html>
- `fPIC`: <https://cmake.org/cmake/help/latest/prop_tgt/POSITION_INDEPENDENT_CODE.html>

- clang Reference: <https://clang.llvm.org/docs/ClangCommandLineReference.html>
- clang-tidy: <https://discourse.cmake.org/t/how-to-prevent-clang-tidy-to-check-sources-added-with-fetchcontents/>
- clang-format: <https://clang.llvm.org/docs/ClangFormatStyleOptions.html>
- clang-tidy: <https://clang.llvm.org/extra/clang-tidy/checks/list.html>
- run-clang-tidy: <https://github.com/llvm/llvm-project/blob/main/clang-tools-extra/clang-tidy/tool/run-clang-tidy.py>
- vfsoverlay: https://github.com/microsoft/clang-1/blob/master/test/VFS/Inputs/vfsoverlay.yaml

- gcc: https://gcc.gnu.org/onlinedocs/gcc-3.2.2/gcc/Invoking-GCC.html
- GoogleTest: <http://google.github.io/googletest>

{{ ja_readme }}
