---
- name: Configure Gecko browsers
  tags: apex-apps-browsers-gecko
  vars:
    _id_gck: "{{ ia_browsers | selectattr('type', 'eq', 'gecko') }}"
  block:
    - name: Install Gecko browser packages
      foundation.system.packages:
      vars:
        install: "{{ _id_gck | map(attribute='package') }}"

    - name: Stop running Gecko instances
      foundation.system.stop:
        headless: "{{ ba_headless }}"
      vars:
        processes: "{{ _id_gck | map(attribute='package') }}"

    - name: Resolve Gecko user layouts
      foundation.user.layout:
        wipe: "{{ aa_wipe }}"
        layout: "{{ fa_layout }}"
      vars:
        home: "{{ item.home }}"
        cache: "{{ item.cache }}"
      register: _id_gck_ulayouts
      loop: "{{ _id_gck }}"

    - name: Stat Gecko profiles.ini
      ansible.builtin.stat:
        path: "{{ item }}/profiles.ini"
      register: _id_gck_profiles_stat
      loop: "{{ _id_gck_ulayouts.results | map(attribute='home') }}"

    - name: Create a new Gecko profile if none exist
      ansible.builtin.shell:
        cmd: >-
          {{ item }} -CreateProfile Default -headless && timeout -f 5 "{{ item }}" -headless -P Default
      register: _id_gck_profiles_invocation
      changed_when: _id_gck_profiles_invocation.rc == 0
      failed_when: false
      loop: >-
        {%- set _acc = [] -%}
        {%- for _pkg, _stat in _id_gck | map(attribute='package') | zip(_id_gck_profiles_stat.results) -%}
          {%- if _stat.stat.exists is false -%}
            {%- set _ = _acc.append(_pkg) -%}
          {%- endif -%}
        {%- endfor -%}
        {{ _acc }}

    - name: Read Gecko profiles.ini content
      ansible.builtin.slurp:
        src: "{{ item }}/profiles.ini"
      register: _id_gck_profiles
      loop: "{{ _id_gck_ulayouts.results | map(attribute='home') }}"

    - name: Render Gecko user preferences to user.js
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: "700:600:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets: >-
          {%- set _content_lines = [] -%}
          {%- for _key, _value in id_gecko_prefs.items() -%}
            {%- set _json = (_value | tojson | tojson) if _value is mapping else (_value | tojson) -%}
            {%- set _ = _content_lines.append('user_pref({}, {});'.format(_key | tojson, _json)) -%}
          {%- endfor -%}
          {%- set _content = _content_lines | join('' | aa_newline) -%}
          {##}
          {%- set _acc = [] -%}
          {%- for _ulayout, _inv in _id_gck_ulayouts.results | zip(_id_gck_profiles.results) -%}
            {%- for _line in (_inv.content | b64decode).splitlines() -%}
              {%- set _matches = _line | regex_search('Path=(.*)', '\\1') -%}
              {%- if _matches is not none -%}
                {%- set _ = _acc.append(dict(
                  file=[_ulayout.home, _matches | first, 'user.js'] | path_join,
                  content=_content
                )) -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          {{ _acc }}

- name: Configure Chromium browser
  tags: apex-apps-browsers-chromium
  vars:
    _id_chr: "{{ ia_browsers | selectattr('type', 'eq', 'chromium') }}"
  block:
    - name: Install Chromium browser packages
      foundation.system.packages:
      vars:
        install: "{{ ['jq'] + (_id_chr | map(attribute='package')) }}"

    - name: Stop running Chromium instances
      foundation.system.stop:
        headless: "{{ ba_headless }}"
      vars:
        processes: "{{ _id_chr | map(attribute='package') }}"

    #
    # There is a CHROME_CONFIG_HOME environment variable, but it represents a prefix such as ~/.config, and not the
    #  directory itself.
    #
    - name: Resolve Chromium user layouts
      foundation.user.layout:
        wipe: "{{ aa_wipe }}"
        layout: "{{ fa_layout }}"
      vars:
        home: "{{ item.home }}"
        cache: "{{ item.cache }}"
      register: _id_chr_ulayouts
      loop: "{{ _id_chr }}"

    - name: Render Chromium flags
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: "755:644:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets: >-
          {%- set _lines = [] -%}
          {%- for _flag in id_chromium_flags -%}
            {%- set _ = _lines.append('--{}'.format(_flag)) -%}
          {%- endfor -%}
          {%- set _ = _lines.append('--enable-features={}'.format(id_chromium_features_enable | join(','))) -%}
          {%- set _ = _lines.append('--disable-features={}'.format(id_chromium_features_disable | join(','))) -%}
          {##}
          {%- set _acc = [] -%}
          {%- for _browser, _ulayout in _id_chr | zip(_id_chr_ulayouts.results) -%}
            {%- set _flags = (
              _lines +
              ['--user-data-dir={}'.format(_ulayout.home)] +
              ['--disk-cache-dir={}'.format(_ulayout.cache)]
            ) -%}
            {%- set _ = _acc.append(dict(file=_browser.flags, content=_flags | join('' | aa_newline))) -%}
          {%- endfor -%}
          {{ _acc }}

    - name: Ensure default Chromium profiles exist
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: "700:600:{{ ca_name }}:{{ ca_name }}"
        create: true
      vars:
        targets: >-
          {%- set _acc = [] -%}
          {%- for _ulayout in _id_chr_ulayouts.results -%}
            {%- set _ = _acc.extend([
              dict(dir=_ulayout.home),
              dict(dir=[_ulayout.home, 'Default'] | path_join),
              dict(file=[_ulayout.home, 'Default', 'Preferences'] | path_join),
            ]) -%}
          {%- endfor -%}
          {{ _acc }}

    - name: Find all Chromium profiles
      ansible.builtin.find:
        paths: "{{ item.home }}"
        patterns: "Preferences"
        recurse: true
      register: _id_chr_profiles
      loop: "{{ _id_chr_ulayouts.results }}"

    - name: Render initial_preferences for Chromium profiles
      ansible.builtin.copy:
        dest: "{{ item }}/initial_preferences"
        content: "{{ id_chromium_prefs | tojson }}"
        mode: "0600"
      loop: "{{ _id_chr_profiles.results | map(attribute='files') | flatten | map(attribute='path') | map('dirname') }}"

    - name: Patch existing preferences for Chromium profiles
      when: aa_wipe == 'always'
      ansible.builtin.shell:
        cmd: >-
          jq -s add "{{ item }}/initial_preferences" "{{ item }}/Preferences" > "{{ item }}/Preferences"
      register: _id_chr_jq_invocation
      changed_when: _id_chr_jq_invocation.rc == 0
      loop: "{{ _id_chr_profiles.results | map(attribute='files') | flatten | map(attribute='path') | map('dirname') }}"

#
# Alternatively, there is a dedicated launcher https://browsers.software/ (browsers-bin AUR)
#
- name: Configure default browser launcher
  tags: apex-apps-browsers-default
  block:
    - name: Install default browser stub packages
      foundation.system.packages:
      vars:
        install:
          - libnotify

    - name: Render default browser stub
      become: true
      foundation.files.install:
        wipe: never
      vars:
        targets:
          - file: /usr/local/bin/default-browser-stub
            perms: 755:root:root
            copy: stub/default-browser-stub.sh

          - file: /usr/local/share/applications/default-browser-stub.desktop
            perms: 644:root:root
            copy: stub/default-browser-stub.desktop

    - name: Update XDG desktop database
      become: true
      ansible.builtin.command:
        argv:
          - update-desktop-database
          - /usr/local/share/applications
      register: _ic_desktop_database_invocation
      changed_when: _ic_desktop_database_invocation.rc == 0

    - name: Make stub browser default
      ansible.builtin.command:
        argv:
          - xdg-settings
          - set
          - default-web-browser
          - default-browser-stub.desktop
      register: _id_xdg_settings_invocation
      changed_when: _id_xdg_settings_invocation.rc == 0
