---
- name: Configure init
  tags: apex-system-init-main
  block:
    - name: Render systemd configuration files
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 755:644:root:root
      vars:
        targets:
          - file: /etc/systemd/system.conf
            copy: systemd/system.conf
          - file: /etc/systemd/sleep.conf
            copy: systemd/sleep.conf

    - name: Modify kernel command line
      become: true
      foundation.system.kernel:
        headless: "{{ ba_headless }}"
      environment: "{{ eb_cmdline }}"

    - name: Mask useless services
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - systemd-rfkill.socket
          - systemd-rfkill.service
          - systemd-binfmt.service
          - systemd-repart.service
          - systemd-confext.service
          - systemd-sysext.service
          - systemd-tpm2-setup-early.service
          - systemd-tpm2-setup.service
          - systemd-update-utmp.service

          - sys-kernel-debug.mount
          - sys-kernel-tracing.mount
        state:
          mask: true

    - name: Disable useless services
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - systemd-oomd.service
          - systemd-homed-firstboot.service
          - systemd-homed.service
        state:
          disable: true

- name: Configure virtual console
  tags: apex-system-init-console
  block:
    - name: Install console fonts
      foundation.system.packages:
      vars:
        install:
          - terminus-font

    - name: Render vconsole configuration file
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/vconsole.conf
            perms: 644:root:root
            content: |
              KEYMAP=us
              FONT=ter-u18n

- name: Configure huge pages
  tags: apex-system-init-hugepage
  block:
    - name: Render tmpfiles entry to always transparent pages for shmem
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/tmpfiles.d/shmem-transparent-hugepage.conf
            perms: 644:root:root
            content:
              w /sys/kernel/mm/transparent_hugepage/shmem_enabled - - - - always
