---
- name: Configure proprietary NVIDIA graphics
  tags: apex-desktop-graphics-nvidia
  block:
    - name: Install NVIDIA packages
      foundation.system.packages:
      vars:
        install:
          - nvidia
          - nvidia-utils
          - nvidia-settings
          - libva-nvidia-driver

    - name: Disable useless NVIDIA services
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - nvidia-hibernate.service
          - nvidia-persistenced.service
          - nvidia-powerd.service
          - nvidia-resume.service
          - nvidia-suspend.service
        state:
          disable: true

    - name: Enable NVIDIA suspend services
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - nvidia-resume.service
          - nvidia-suspend.service
        state:
          enable: true

    - name: Set NVIDIA kernel command line
      become: true
      foundation.system.kernel:
        headless: "{{ ba_headless }}"
      environment: "{{ gc_nvidia_cmdline }}"

    - name: Set NVIDIA system environment variables
      become: true
      foundation.system.env:
      environment:
        LIBVA_DRIVER_NAME: "nvidia"
        NVD_BACKEND: "direct"
        __GL_ALLOW_UNOFFICIAL_PROTOCOL: "1"
