---
- name: Configure proprietary NVIDIA graphics
  tags: apex-desktop-graphics-main
  block:
    - name: Install NVIDIA packages
      foundation.system.packages:
      vars:
        install:
          - nvidia
          - nvidia-utils
          - nvidia-settings
          - libva-nvidia-driver

    - name: Disable useless NVIDIA services
      become: true
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - nvidia-hibernate.service
          - nvidia-persistenced.service
          - nvidia-powerd.service
          - nvidia-resume.service
          - nvidia-suspend.service

    - name: Set NVIDIA kernel command line
      become: true
      foundation.system.kernel:
        headless: "{{ ba_headless }}"
      environment:
        video: "efifb:mode=0"
        nvidia.NVreg_InitializeSystemMemoryAllocations: "0"
        nvidia.NVreg_UsePageAttributeTable: "1"
        nvidia_drm.modeset: "1"

    - name: Set NVIDIA system environment variables
      become: true
      foundation.system.env:
      environment:
        LIBVA_DRIVER_NAME: "nvidia"
        NVD_BACKEND: "direct"
        __GL_ALLOW_UNOFFICIAL_PROTOCOL: "1"
