{{ ja_gitignore }}

#
# Compiled classes and packages.
#
*.class
*.war
*.nar
*.ear

#
# JVM logs, such as -XX:ErrorFile.
#
hs_err_pid*
replay_pid*

#
# IDEs.
#
*.ctxt
.classpath

#
# Maven.
#
target/
pom.xml.*
dependency-reduced-pom.xml

#
# Gradle.
#
.gradle
.gradletasknamecache
build/
gradle-app.setting
