---
- name: Configure systemd
  tags:
    - system-systemd
  block:
    - name: Render systemd configuration files
      common_install:
        targets:
          - file: /etc/systemd/system.conf
            src: systemd/system.conf
          - file: /etc/systemd/sleep.conf
            src: systemd/sleep.conf

    - name: Modify kernel command line
      common_kernel_cmdline:
        #
        # Daemon.
        #
        systemd.log_level: "notice"
        systemd.log_target: "journal"
        systemd.service_watchdogs: "false"
        #
        # Generators.
        #
        luks: "no"
        noresume: true
        systemd.verity: "no"
        systemd.gpt_auto: "0"
        systemd.firstboot: "off"
        systemd.getty_auto: "no"
        systemd.ssh_auto: "disable"
        systemd.restore_state: "false"
        systemd.battery_check: "false"
        systemd.tpm2_wait: "false"
        net.ifnames: "0"
        #
        # Misc.
        #
        plymouth.enable: "0"
        quotacheck.mode: "skip"
        #
        # Modules preload.
        #
        # modules_load: 

    - name: Mask useless services
      common_services:
        services:
          - systemd-rfkill.service
          - systemd-binfmt.service
          - systemd-repart.service
          - systemd-confext.service
          - systemd-sysext.service
          - systemd-tpm2-setup-early.service
          - systemd-tpm2-setup.service
          - systemd-update-utmp.service

          - sys-kernel-debug.mount
          - sys-kernel-tracing.mount
        state:
          mask: true

    - name: Disable useless services
      common_services:
        services:
          - systemd-oomd.service
          - systemd-homed-firstboot.service
          - systemd-homed.service

          - avahi-daemon.socket
          - avahi-daemon.service
        state:
          disable: true

  become: true

- name: Configure logind
  tags:
    - system-logind
  block:
    - name: Render logind configuration file
      common_install:
        targets:
          - file: /etc/systemd/logind.conf
            src: logind/logind.conf

    - name: Enable logind service
      common_services:
        services:
          - systemd-logind.service
        state:
          enable: true

  become: true

- name: Configure journald
  tags:
    - system-journald
  block:
    - name: Render journald configuration file
      common_install:
        targets:
          - file: /etc/systemd/journald.conf
            src: journald/journald.conf

    - name: Wipe previous journals
      common_install:
        targets:
          - dir: /var/log/journal
            wipe: true

    - name: Disable useless journald services and sockets
      common_services:
        services:
          - systemd-journald-audit.socket
          - systemd-journal-gatewayd.service
          - systemd-journal-gatewayd.socket
          - systemd-journal-remote.service
          - systemd-journal-remote.socket
          - systemd-journal-upload
          - systemd-journal-upload.service
        state:
          disable: true

    - name: Modify kernel command line
      common_kernel_cmdline:
        systemd.journald.max_level_store: "info"

  become: true

- name: Configure coredump
  tags:
    - system-coredump
  block:
    - name: Render coredump configuration
      common_install:
        targets:
          - file: /etc/systemd/coredump.conf
            src: coredump/coredump.conf

    - name: Wipe previous coredumps
      common_install:
        targets:
          - dir: /var/lib/systemd/coredump
            wipe: true

  become: true

- name: Configure timesyncd
  tags:
    - system-timesyncd
  block:
    - name: Render timesyncd configuration
      common_install:
        targets:
          - file: /etc/systemd/timesyncd.conf
            src: timesyncd/timesyncd.conf

    - name: Enable timesyncd service
      common_services:
        services:
          - systemd-timesyncd.service
        state:
          enable: true

  become: true

- name: Configure vconsole
  tags:
    - system-vconsole
  block:
    - name: Install console fonts
      common_packages:
        install:
          - terminus-font

    - name: Render vconsole configuration file
      common_install:
        targets:
          - file: /etc/vconsole.conf
            content: >-
              KEYMAP=us
              FONT=ter-u18n

  become: true

- name: Configure transparent hugepage shmem
  tags:
    - system-transparent-hugepage
  block:
    - name: Render tmpfiles entry to always transparent pages for shmem
      common_install:
        targets:
          - file: /etc/tmpfiles.d/shmem-transparent-hugepage.conf
            content:
              w /sys/kernel/mm/transparent_hugepage/shmem_enabled - - - - always

  become: true

- name: Configure udev
  tags:
    - system-udev
  block:
    - name: Render udev blacklist rules
      common_install:
        targets:
          - file: /etc/udev/rules.d/01-blacklist.rules
            template: udev/01-blacklist.rules.j2

  become: true

- name: Configure TRIM
  tags:
    - system-trim
  block:
    - name: Enable fstrim timer
      common_services:
        services:
          - fstrim.timer
        state:
          enable: true

  become: true