---
- name: Wipe existing JetBrains IDEs
  tags:
    - dev-jetbrains-wipe
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        become: true
      wipes: >-
        {%- set _acc = [
          apps.jetbrains.base,
          "{}/{}".format(users.user.config, "JetBrains"),
          "{}/{}".format(users.user.cache, "JetBrains"),
          "{}/{}".format(users.user.share, "JetBrains"),
        ] -%}
        {%- for _codename in apps.jetbrains.products | dict2items | map(attribute="key") -%}
          {%- set _ = _acc.extend([
            "{}/{}.desktop".format(apps.jetbrains.desktop, _codename),
            "{}/{}".format(users.user.config, _codename),
            "{}/{}".format(users.user.cache, _codename),
          ]) -%}
        {%- endfor -%}
        {{ _acc }}

- name: Configure base JetBrains skeleton
  tags:
    - dev-jetbrains-properties
    - dev-jetbrains-vmoptions
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        wipe: true
        become: true
      targets: >-
        {
          "{{ apps.jetbrains.properties }}": {
            "template": "jetbrains/ide.properties.j2"
          },
          "{{ apps.jetbrains.vmoptions }}": {
            "template": "jetbrains/ide.vmoptions.j2"
          },
        }

- name: Configure JetBrains Java Runtime (JBR)
  tags:
    - dev-jetbrains-jbr
    - dev-jetbrains-jre
  block:
    - name: Fetch latest JBR release info
      ansible.builtin.uri:
        url: https://api.github.com/repos/JetBrains/JetBrainsRuntime/releases
        return_content: true
      register: __jbr_releases

    - name: Download and unpack JBR
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          targets: >-
            {
              "{{ apps.jetbrains.jre }}/release": {
                "wipe": true,
                "become": true
              }
            }

        _common_urlunpack:
          url: >-
            {%- set _tag_name = (__jbr_releases.json | first).tag_name -%}
            {%- set _regexp = "jbr-release-(?P<major>\\d+\\.\\d+\\.\\d+)(?P<minor>b\\d+\\.\\d+)" -%}
            {%- set _major = _tag_name | regex_search(_regexp, "\\g<major>") | first -%}
            {%- set _minor = _tag_name | regex_search(_regexp, "\\g<minor>") | first -%}
            https://cache-redirector.jetbrains.com/intellij-jbr/jbr_jcef-{{ _major }}-linux-x64-{{ _minor }}.tar.gz
          dest: "{{ apps.jetbrains.jre }}"
          creates: "{{ apps.jetbrains.jre }}/bin/java"
          strip: 1
          become: true

- name: Configure JetBrains Agent
  tags:
    - dev-jetbrains-agent
  when: apps.jetbrains.agentize is true
  block:
    - name: Prepare agent skeleton
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            become: true
            wipe: true
          targets: >-
            {
              "{{ apps.jetbrains.agent }}/jetbra-agent.jar": {},
              "{{ apps.jetbrains.agent }}/trust-crt/cert.crt": {}
            }

    - name: Download and unpack agent
      ansible.builtin.import_role:
        name: common
      vars:
        _common_urlunpack:
          url: https://github.com/novitechie/jetbra/releases/latest/download/jetbra-all.zip
          dest: "{{ apps.jetbrains.agent }}"
          creates: "{{ apps.jetbrains.agent }}/jetbra-agent.jar"
          strip: 1
          exclude:
            - script
            - vmoptions
            - trust-crt
          become: true

    - name: Generate certificate
      ansible.builtin.command:
        cmd: >-
          openssl req
          -x509 -noenc -subj "/CN={{ users.user.short }}/UID={{ users.user.name }}"
          -not_before {{ now(fmt='%Y') }}0101000000Z
          -not_after {{ now(fmt='%Y') | int + apps.jetbrains.years }}0101000000Z
          -sha256
          -newkey rsa:4096
          -keyform pem -keyout "{{ apps.jetbrains.agent }}/trust-crt/cert.pem"
          -outform pem -out "{{ apps.jetbrains.agent }}/trust-crt/cert.crt"
      register: __cert_invocation
      changed_when: __cert_invocation.rc == 0
      become: true

    - name: Ensure private key is inaccessible by world
      ansible.builtin.file:
        path: "{{ apps.jetbrains.agent }}/trust-crt/cert.pem"
        mode: "0600"
        owner: 0
        group: 0
      become: true
