---
- name: Wipe existing JetBrains IDEs
  tags:
    - dev-jetbrains-wipe
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        become: true
      wipes: >-
        {%- set _acc = [
          jetbrains.base,
          "{}/{}".format(users.user.config, "JetBrains"),
          "{}/{}".format(users.user.cache, "JetBrains"),
        ] -%}
        {%- for _codename in jetbrains.ide | dict2items | map(attribute="key") -%}
          {%- set _ = _acc.extend([
            "/usr/local/share/applications/{}.desktop".format(_codename),
            "{}/{}".format(users.user.config, _codename),
            "{}/{}".format(users.user.cache, _codename),
          ]) -%}
        {%- endfor -%}
        {{ _acc }}

- name: Configure base JetBrains skeleton
  tags:
    - dev-jetbrains-base
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        base: "{{ jetbrains.base }}"
        wipe: true
        become: true
      targets:
        properties/ide.properties:
          template: jetbrains/ide.properties.j2
        vmoptions/ide.vmoptions:
          template: jetbrains/ide.vmoptions.j2

- name: Configure JetBrains Java Runtime (JBR)
  tags:
    - dev-jetbrains-jbr
  block:
    - name: Fetch latest JBR release info
      ansible.builtin.uri:
        url: https://api.github.com/repos/JetBrains/JetBrainsRuntime/releases
        return_content: true
      register: __jbr_releases

    - name: Download and unpack JBR
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            base: "{{ jetbrains.base }}"
          targets:
            jbr/release:
              wipe: true
              become: true

        _common_urlunpack:
          url: >-
            {%- set _tag_name = (__jbr_releases.json | first).tag_name -%}
            {%- set _regexp = "jbr-release-(?P<major>\\d+\\.\\d+\\.\\d+)(?P<minor>b\\d+\\.\\d+)" -%}
            {%- set _major = _tag_name | regex_search(_regexp, "\\g<major>") | first -%}
            {%- set _minor = _tag_name | regex_search(_regexp, "\\g<minor>") | first -%}
            https://cache-redirector.jetbrains.com/intellij-jbr/jbr_jcef-{{ _major }}-linux-x64-{{ _minor }}.tar.gz
          dest: "{{ jetbrains.base }}/jbr"
          creates: "{{ jetbrains.base }}/jbr/bin/java"
          strip: 1
          become: true

- name: Configure JetBrains Agent
  tags:
    - dev-jetbrains-agent
  when: jetbrains.agent is true
  block:
    - name: Prepare agent skeleton
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            base: "{{ jetbrains.base }}"
            become: true
            wipe: true
          targets:
            agent/jetbra-agent.jar: {}
            agent/trust-crt/cert.crt: {}

    - name: Download and unpack agent
      ansible.builtin.import_role:
        name: common
      vars:
        _common_urlunpack:
          url: https://github.com/novitechie/jetbra/releases/latest/download/jetbra-all.zip
          dest: "{{ jetbrains.base }}/agent"
          creates: "{{ jetbrains.base }}/agent/jetbra-agent.jar"
          strip: 1
          exclude:
            - script
            - vmoptions
            - trust-crt
          become: true

    - name: Generate certificate
      ansible.builtin.command:
        cmd: >-
          openssl req
          -x509 -noenc -subj "/CN={{ users.user.short }}/UID={{ users.user.name }}"
          -not_before {{ now(fmt='%Y') }}0101000000Z
          -not_after {{ now(fmt='%Y') | int + jetbrains.years }}0101000000Z
          -sha256
          -newkey rsa:4096
          -keyform pem -keyout "{{ jetbrains.base }}/agent/trust-crt/cert.pem"
          -outform pem -out "{{ jetbrains.base }}/agent/trust-crt/cert.crt"
      register: __cert_invocation
      changed_when: __cert_invocation.rc == 0
      become: true

    - name: Ensure private key is inaccessible
      ansible.builtin.file:
        path: "{{ jetbrains.base }}/agent/trust-crt/cert.pem"
        mode: "0600"
        owner: 0
        group: 0
      become: true
