---
- name: Set common variables for all JetBrains tasks
  ansible.builtin.set_fact:
    __ide: "{{ apps.jetbrains.products[_jetbrains_ide] }}"
    __dir: "{{ apps.jetbrains.ide }}/{{ _jetbrains_ide }}"
    __bin: "{{ apps.jetbrains.ide }}/{{ _jetbrains_ide }}/bin/{{ _jetbrains_ide }}"

- name: Prepare IDE directory
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        wipe: true
      targets: >-
        {
          "{{ users.user.config }}/{{ _jetbrains_ide }}/plugins": {},
          "{{ users.user.config }}/{{ _jetbrains_ide }}/config": {},
          "{{ users.user.config }}/{{ _jetbrains_ide }}/config/dummy.key": {},
        }

- name: Retrieve plugins metadata
  ansible.builtin.uri:
    url: "https://plugins.jetbrains.com/api/plugins/{{ item | regex_search('\\d+') }}"
    method: GET
    return_content: true
  loop: "{{ apps.jetbrains.plugins + (__ide.plugins | default([])) }}"
  register: __plugins_metadata

- name: Download JetBrains IDE
  block:
    - name: List releases for JetBrains IDE
      ansible.builtin.uri:
        url:
          "https://data.services.jetbrains.com/products/releases\
          ?code={{ __ide.release }}\
          &latest=true&type=release"
        method: GET
        return_content: true
      register: __releases

    - name: Set common variables for all JetBrains tasks
      ansible.builtin.set_fact:
        __release: "{{ (__releases.json | dict2items | first).value | first }}"

    - name: Download and unpack JetBrains IDE
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            wipe: true
            become: true
          targets: >-
            {
              "{{ __dir }}/build.txt": {}
            }

        _common_urlunpack:
          url: "{{ __release.downloads.linux.link }}"
          dest: "{{ __dir }}"
          creates: "{{ __bin }}"
          strip: 1
          exclude:
            - jbr
          become: true

- name: Agentize IDE
  when: apps.jetbrains.agentize is true
  block:
    - name: Generate license
      ansible.builtin.set_fact:
        __license: >-
          {%- set _up_to = '{}-01-01'.format(now(fmt="%Y") | int + apps.jetbrains.years) -%}
          {%- set _lic = {
            "licenseId": lookup("community.general.random_string", special=false, lower=false, length=10),
            "licenseeName": users.user.short,
            "licenseeType": "PERSONAL",
            "assigneeName": "",
            "assigneeEmail": "",
            "checkConcurrentUse": false,
            "products": [{
              "code": __ide.license,
              "paidUpTo": _up_to,
            }],
            "metadata": "01{}0101PPAM000005".format(now(fmt="%Y")),
          } -%}
          {%- if apps.jetbrains.code_with_me -%}
            {%- set _ = _lic.products.append({
              "code": "PCWMP",
              "paidUpTo": _up_to,
            }) -%}
          {%- endif -%}
          {%- for _plugin in __plugins_metadata.results -%}
            {%- if _plugin.json.pricingModel != "FREE" -%}
              {%- set _ = _lic.products.append({
                "code":  _plugin.json.purchaseInfo.productCode,
                "paidUpTo": _up_to,
              }) -%}
            {%- endif -%}
          {%- endfor -%}
          {{ _lic }}

    #
    # SHA1withRSA, i.e. RSASSA-PKCS1-v1_5
    #
    - name: Sign license
      ansible.builtin.shell:
        cmd: >-
          set -o pipefail &&
          echo -n '{{ __license | to_json(separators=(',', ':')) }}'
          | openssl dgst -sha1 -sign "{{ apps.jetbrains.agent }}/trust-crt/cert.pem" -keyform pem
          | openssl base64 -A
      register: __sign_invocation
      changed_when: __sign_invocation.rc == 0
      become: true

    - name: Load certificate
      ansible.builtin.slurp:
        src: "{{ apps.jetbrains.agent }}/trust-crt/cert.crt"
      register: __certificate
      become: true

    - name: Render JetBrain IDE key
      ansible.builtin.copy:
        dest: "{{ users.user.config }}/{{ _jetbrains_ide }}/config/{{ _jetbrains_ide }}.key"
        mode: "0755"
        content: >-
          {%- set _id = __license.licenseId -%}
          {%- set _license = __license | to_json(separators=(',', ':')) | b64encode -%}
          {%- set _sign = __sign_invocation.stdout -%}
          {%- set _cert = [] -%}
          {%- for _line in (__certificate.content | b64decode).split("\n") -%}
            {%- if not _line.startswith("-") -%}
              {%- set _ = _cert.append(_line) -%}
            {%- endif -%}
          {%- endfor -%}
          {%- set _key = [_id, _license, _sign, _cert | join("")] | join("-") -%}
          {%- set _prefix = (0xFFFF).to_bytes(2) + "<certificate-key>".encode("utf-16le") + (0xA).to_bytes(2, "little") -%}
          {{ _prefix }}{{ _key.encode("utf-16le") }}

#
# One may use `dex` with any other wrapper (e.g. mise exec --)
#  to launch IDEs within an arbitrary environment.
#
- name: Configure JetBrains IDE desktop entries
  block:
    - name: Render JetBrain IDE desktop entry
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            become: true
          targets: >-
            {
              "{{ apps.jetbrains.desktop }}/{{ _jetbrains_ide }}.desktop": {
                "template": "jetbrains/entry.desktop.j2"
              }
            }

    - name: Update XDG desktop database
      ansible.builtin.command:
        cmd: update-desktop-database {{ apps.jetbrains.desktop }}
      register: __update_database_invocation
      changed_when: __update_database_invocation.rc == 0
      become: true

- name: Configure JetBrains IDE
  block:
    - name: Install plugins
      ansible.builtin.command:
        argv: >-
          {%- set _prefix = _jetbrains_ide | upper -%}
          {{
            [
              "/usr/bin/env",
              "{}_JDK={}".format(_prefix, apps.jetbrains.jre),
              "{}_PROPERTIES={}".format(_prefix, apps.jetbrains.properties),
              __bin,
              "-Dide.codename={}".format(_jetbrains_ide),
              "installPlugins",
            ] + (__plugins_metadata.results | map(attribute="json.xmlId") | list)
          }}
      register: __install_plugins_invocation
      changed_when: __install_plugins_invocation.rc == 0

    - name: Render JetBrains IDE configuration
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            base: "{{ users.user.config }}/{{ _jetbrains_ide }}"
          targets:
            config/disabled_plugins.txt:
              file: jetbrains/noplugins.txt
            config/options/ide.general.xml:
              file: jetbrains/ide.xml
            config/options/updates.xml:
              file: jetbrains/updates.xml
            config/options/security.xml:
              file: jetbrains/brackets.xml
            config/options/editor.xml:
              file: jetbrains/editor.xml
            config/options/editor-font.xml:
              file: jetbrains/font.xml
            config/options/postfixTemplates.xml:
              file: jetbrains/postfix.xml
            config/options/ui.lnf.xml:
              file: jetbrains/ui.xml
            config/options/trusted-paths.xml:
              file: jetbrains/trust.xml
            config/options/project.default.xml:
              file: jetbrains/trust.xml
            config/options/rainbow_brackets.xml:
              file: jetbrains/brackets.xml

    - name: Remove third party plugins warning
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ _jetbrains_ide }}/config/alien_plugins.txt"
        state: absent
