{%- set _indent = {"space": 4} -%}

{%- set _preset = preset | parse_ansi_presets(
    ansi,
    replacements={5: "magenta"},
    sep="_",
) -%}

{%- set _logo_size = spacing.medium + spacing.thin -%}
{#
    Probably because of the prompt, it feels more aesthetically pleasing when right > left.
    This is very subjective and highly depends on the used logo. I'm using arch btw...
#}
{%- set _logo_left_padding = _logo_size -%}
{%- set _logo_right_padding = _logo_size + spacing.small -%}

{# 
    Sets a pattern for value that is used to calculate common key width.
    It is just a string that is expected to be the longest towards all values.
#}
{%- set _max_value_width = "Linux-x86_64-6.10.0-arch1-1" | length -%}
{%- set _spacing = "  " -%}

{%- macro _blank_render() -%}
    {
        "type": "break"
    }
{%- endmacro -%}

{%- set _colors_width = spacing.medium -%}
{%- set _colors_range = [0, 15] -%}
{%- macro _colors_render() -%}
    {
        "type": "colors",
        "block": {
            "width": {{ _colors_width }},
            "range": {{ _colors_range }}
        }
    }
{%- endmacro -%}

{%- set _separator_width = _colors_width * (_colors_range[1] - _colors_range[0] + 1) // 2 -%}
{%- macro _separator_render(_name) -%}
    {
        "type": "custom",
        "format": "{{ _name.center(_name | length + 2).center(_separator_width, "-") }}",
        "outputColor": "{{ _preset.accent.ansi }}"
    }
{%- endmacro -%}

{%- macro _module_render_internal() -%}
    {% for _key, _value in kwargs.items() %}
        {% set _trail = "," if not loop.last else "" %}
        {##}
        "{{ _key.lstrip("_") }}": {{ _value | tojson }}{{ _trail }}
    {% endfor %}
{%- endmacro -%}

{%- macro _module_render(_type, _icon, _name=None) %}
    {% set _char = ("\\U" + _icon.rjust(8, "0")).encode().decode("unicode-escape") %}
    {% set _surrogates = (_char | tojson)[1:-1] %}
    {##}
    {% set _trail = "," if kwargs | length > 0 else "" %}
    {##}
    {
        "type": "{{ _type }}",
        "key": "{{ _surrogates }}{{ _spacing }}{{ _name or (_type | capitalize) }}"{{ _trail }}
        {{ _module_render_internal(**kwargs) | relative_indent(times=2, **_indent) }}
    }
{%- endmacro -%}

{#
    Extra modules are those that are not used in the process of
    calculating the centering of the logo.
#}
{%- set _modules_extra_top = [
    _blank_render(),
] -%}
{%- set _modules_main = [
    _separator_render("System"),
    _module_render(_type="title", _icon="f0379", _name="Host", _format="{2}"),
    _module_render(_type="os", _icon="f303", _name="Operating System"),
    _module_render(_type="kernel", _icon="e712", _format="{1}-{4}-{2}"),
    _module_render(_type="localip", _icon="f0a5f", _name="Network", _format="{1} ({4})"),
    _module_render(_type="command", _icon="f0484", _name="Namespace", _text="cat /proc/self/ns/net || echo Default"),
    _blank_render(),

    _separator_render("Environment"),
    _module_render(_type="title", _icon="f007", _name="User", _format="{1}"),
    _module_render(_type="terminal", _icon="e795", _format="{5} ({8})"),
    _module_render(_type="shell", _icon="e691", _format="{6}"),
    _module_render(_type="wm", _icon="f2d2", _name="Window Manager"),
    _module_render(_type="processes", _icon="eba2"),
    _blank_render(),
] -%}
{%- set _modules_extra_bottom = [
    _colors_render(),
    _blank_render(),
] -%}

{%- set _key_width = _separator_width - _max_value_width + 1 -%}
{%- set _logo_top_padding = (_modules_main | length - _logo_size) // 2 + _modules_extra_top | length -%}
{%- set _modules = (_modules_extra_top + _modules_main + _modules_extra_bottom) | map("relative_indent") -%}


{
    "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
    "logo": {
        "type": "small",
        "source": "arch",
        "padding": {
            "top": {{ _logo_top_padding }},
            "left": {{ _logo_left_padding }},
            "right": {{ _logo_right_padding }}
        },
        "color": {
            "1": "{{ _preset.accent.ansi }}",
            "2": "{{ _preset.alternative.ansi }}"
        }
    },
    "general": {
        "multithreading": true
    },
    "display": {
        "showErrors": true,
        "disableLinewrap": true,
        "separator": "",
        "color": {
            "keys": "{{ _preset.accent.ansi }}",
            "output": "{{ _preset.foreground.ansi }}",
            "title": "default"
        },
        "key": {
            "width": {{ _key_width }},
            "type": "string"
        }
    },
    "modules": [
    {% for _module in _modules %}
        {% set _trail = "," if not loop.last else "" %}
        {{ _module | relative_indent(times=2, **_indent) }}{{ _trail }}
    {% endfor %}
    ]
}
