# javascript-node-template

## Node.js Cheatsheet

### Dependencies

- Install Dependencies: ```yarn install``` or ```pnpm install```
- Update Dependencies: ```yarn upgrade-interactive``` or ```pnpm update```

### Working with Code

- Format: ```yarn run fmt``` or ```pnpm run fmt```
- Lint: ```yarn run lint``` or ```pnpm run lint```
- Typecheck: ```yarn run typecheck[:watch]``` or ```pnpm run typecheck[:watch]```
- Test: ```yarn run test[:watch]``` or ```pnpm run test[:watch]```

### Developement Flow

- Run: ```yarn run [run/watch]``` or ```pnpm run [run/watch]```
- Build: ```yarn run build``` or ```pnpm run build```

### Links

- package.json: <https://docs.npmjs.com/cli/v11/configuring-npm/package-json>
- Workspaces: <https://docs.npmjs.com/cli/v7/using-npm/workspaces>
- npm Config: <https://docs.npmjs.com/cli/v9/using-npm/config>
- `exports` vs `main`: <https://nodejs.org/api/packages.html#determining-package-manager>
- Node.js and Typescript: <https://nodejs.org/en/learn/typescript/run>
- Typescript Performance: <https://typestrong.org/ts-node/docs/performance/>
- Skip Tests: <https://vitest.dev/guide/filtering>

{{ ja_readme }}
