---
- name: Configure Go context
  tags: apex-dev-go-context
  block:
    - name: Resolve Go user layout
      foundation.user.layout:
        wipe: "{{ aa_wipe }}"
        layout: "{{ fa_layout }}"
      vars:
        path:
          default: "{{ fa_dir_home }}/go"
          xdg: "{{ fa_dir_share }}/go"
          dot: "{{ fa_dir_home }}/.go"
        bin:
          default: "{{ fa_dir_home }}/go/bin"
          xdg: "{{ fa_dir_share }}/go/bin"
          dot: "{{ fa_dir_home }}/.go/bin"
        build_cache:
          default: "{{ fa_dir_cache }}/go-build"
        golangci_lint_cache:
          default: "{{ fa_dir_cache }}/golangci-lint"
      register: _jg_ulayout

- name: Configure Go
  tags: apex-dev-go-main
  block:
    - name: Install Go user packages
      foundation.user.packages:
        wipe: "{{ aa_wipe }}"
        home: "{{ fa_dir_home }}"
      vars:
        install:
          - go@latest
          - aqua:golangci/golangci-lint@latest

    - name: Set environment variable for Go user layout
      become: true
      foundation.user.env:
        section: dev
        home: "{{ fa_dir_home }}"
        subs: "{{ fa_dir_subs }}"
      environment:
        GOPATH: "{{ _jg_ulayout.path }}"

- name: Configure Go template
  tags: apex-dev-go-template
  block:
    - name: Render Go template
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ fa_dir_xdg.templates }}/go-template"
        perms: "755:644:{{ ca_name }}:{{ ca_name }}"
        create: true
      vars:
        targets:
          - dir: ./
          - file: ./.gitignore
            template: go/gitignore.j2
          - file: ./.editorconfig
            template: go/editorconfig.j2
          - file: ./README.md
            template: go/README.md.j2

          - file: ./mise.toml
            template: go/mise.toml.j2
          - file: ./mise.local.toml
            content: |
              [env]
              _.path = [
                  "{{ _jg_ulayout.bin }}",
              ]
          - file: ./golangci.yml
            copy: go/golangci.yml

          - dir: ./util
            create: true
          - file: ./util/util.go
            copy: go/util/util.go
          - file: ./util/util_test.go
            copy: go/util/util_test.go
          - file: ./main.go
            copy: go/main.go
