---
- name: Check disk availability
  block:
    - name: Get disk stat
      ansible.builtin.stat:
        path: "{{ partition_disk_path }}"
        follow: true
        get_checksum: false
      register: disk_stat

    - name: Ensure disk exists and it is a block device
      ansible.builtin.fail:
        msg: Cannot find a suitable disk with id={{ partition_disk_identifier }}
      when: (not disk_stat.stat.exists) or (not disk_stat.stat.isblk)

    - name: Get list of partitions of the disk
      ansible.builtin.find:
        paths: /dev/disk/by-id
        file_type: link
        patterns: "{{ partition_disk_identifier }}-part*"
        hidden: true
      register: partitions

    - name: Ensure none of the disk partitions are mounted
      ansible.builtin.command:
        cmd: findmnt {{ item.path }}
      register: findmnt_output
      failed_when: findmnt_output.rc == 0
      changed_when: false
      loop: "{{ partitions.files }}"

- name: Partition disk and mount filesystemd with apart
  block:
    - name: Download ABS programming language
      ansible.builtin.uri:
        url: https://github.com/abs-lang/abs/releases/latest/download/abs-linux-amd64
        follow_redirects: all
        creates: /tmp/abs
        dest: /tmp/abs
        mode: "0555"

    - name: Copy apart
      ansible.builtin.copy:
        src: apart.abs
        dest: /tmp/apart.abs
        mode: "0444"

    - name: Execute apart
      ansible.builtin.command:
        argv:
          - /tmp/abs
          - /tmp/apart.abs
          - --disk={{ partition_disk_path }}
          - --mount={{ env_system_mount }}
          - name=WRK-EFI,type=efi,size=1G
          - name=WRK-ROOT,type=root,fs=xfs,size=85%
          - name=WRK-SWAP,type=swap,size=8G
          - name=WRK-VOLT,type=linux,fs=ext4
      register: apart_output
      changed_when: apart_output.rc == 0
      environment:
        NO_COLOR: "1"
      become: true

    - name: Print apart output
      ansible.builtin.debug:
        var: apart_output.stdout_lines

- name: Mount swap partition
  ansible.builtin.command:
    argv:
      - swapon
      - "{{ partition_disk_path }}-part3"
  register: swapon_output
  changed_when: swapon_output.rc == 0
  become: true
