from conan import ConanFile
from conan.tools.cmake import CMakeToolchain, CMakeDeps, CMake

from conan.tools.build import can_run
from conan.tools.cmake import cmake_layout


class ConanRecipe(ConanFile):
    settings = "os", "compiler", "build_type", "arch"
    package_type = "application"

    name = "{{ _jc_template.name }}"
    version = "1.0.0"
    description = "An example conan template."
    license = "MIT"
    url = "https://github.com/conan-io/conan"
    topics = ("example", "template")
    author = "{{ ca_info_full }} <{{ ca_info_mail }}>"

    exports_sources = (
        "CMakeLists.txt", "CMakePresets.json",
        "src/*", "test/*",
    )

    def layout(self):
        self.folders.source = "."
        self.folders.build = "build"
        self.folders.generators = "build/generators"

        self.cpp.build.bindirs = ["."]
        self.cpp.build.libdirs = ["."]

    def requirements(self):
        self.requires("fmt/[>=11.1]")
        self.test_requires("gtest/[>=1.15]")

    def generate(self):
        CMakeDeps(self).generate()

        toolchain = CMakeToolchain(self, generator="Ninja")
        toolchain.generate()

    def build(self):
        cmake = CMake(self)
        cmake.configure()
        cmake.build()
        if self.settings.get_safe("build_type") != "Release" and can_run(self):
            cmake.test()
