# cpp-conan-template

## Conan Cheatsheet

### Getting Started

- Initialize:
    1) ```conan install . --build=missing --profile=config/profiles/<PROFILE>```
    2) ```cmake [--fresh] --preset <PRESET>``` or ```cmake [--fresh] -B build -DCMAKE_TOOLCHAIN_FILE=config/toolchains/<PRESET>```

- Fix Linking and Related Issues: ```rm -r $CONAN_HOME```

### Working with Code

- Format: ```python tools.py format```
- Lint: ```python tools.py lint```
- Test:
    - ```ctest --preset @PRESET```
    - ```(cd build; ctest [-j 2] [-R 'TestName*'])```
    - ```ninja -C build build.ninja test```
    - ```./build/cmake-template-test```
- Debug Linkage: ```readelf -d``` and ```ldd```

### Developement Flow

- Clean:
    - ```cmake --build --clean-first --preset <PRESET>```
    - ```cmake --build build --target clean```
    - ```ninja -C build build.ninja clean`
- Package:
    - ```cpack --preset <PRESET>```
    - ```(cd build; cpack --config CPackConfig.cmake -G TGZ)```
    - ```ninja -C build build.ninja package```
- All-in-One: ```cmake --workflow --preset <PRESET>```

### Links

- C++ Package Managers: <https://moderncppdevops.com/pkg-mngr-roundup/>

- Conan and CMake: <https://docs.conan.io/2/integrations/cmake.html>
- Conan Profile: <https://docs.conan.io/2/reference/config_files/profiles.html>
- Conan Global Properties: <vhttps://docs.conan.io/2/reference/config_files/global_conf.html>
- conanfile.py: <https://docs.conan.io/2/reference/conanfile.html>

- CMake Documentation: <https://cmake.org/cmake/help/latest/index.html>
- CMake Variables: <https://cmake.org/cmake/help/latest/manual/cmake-variables.7.html>
- CMake Presets: <https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html>

- CPack Archives Issue: <https://stackoverflow.com/a/55601955>
- CPack Archive Generator: <https://cmake.org/cmake/help/latest/cpack_gen/archive.html>
- `BUILD_SHARED_LIB`: <https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html>
- `INSTALL_RPATH`: <https://cmake.org/cmake/help/latest/prop_tgt/INSTALL_RPATH.html>
- `fPIC`: <https://cmake.org/cmake/help/latest/prop_tgt/POSITION_INDEPENDENT_CODE.html>

- clang Reference: <https://clang.llvm.org/docs/ClangCommandLineReference.html>
- clang-tidy: <https://discourse.cmake.org/t/how-to-prevent-clang-tidy-to-check-sources-added-with-fetchcontents/>
- clang-format: <https://clang.llvm.org/docs/ClangFormatStyleOptions.html>
- clang-tidy: <https://clang.llvm.org/extra/clang-tidy/checks/list.html>
- run-clang-tidy: <https://github.com/llvm/llvm-project/blob/main/clang-tools-extra/clang-tidy/tool/run-clang-tidy.py>
- vfsoverlay: https://github.com/microsoft/clang-1/blob/master/test/VFS/Inputs/vfsoverlay.yaml

- gcc: https://gcc.gnu.org/onlinedocs/gcc-3.2.2/gcc/Invoking-GCC.html
- GoogleTest: <http://google.github.io/googletest>

{{ ja_readme }}
