{%- set _indent = {"space": 4} -%}

{%- set _scratch_name = (ga_monitors.values() | selectattr("scratch", "defined") | first).scratch -%}

{%- set _dpi = ga_scaling_ethalon | ga_scale(ga_scaling) -%}

{%- set _spacing_thin = [ga_space_thin | ga_scale(ga_scaling), 1] | max -%}
{%- set _spacing_small = ga_space_small | ga_scale(ga_scaling) -%}
{%- set _spacing_medium = ga_space_medium | ga_scale(ga_scaling) -%}
{%- set _spacing_big = ga_space_big | ga_scale(ga_scaling) -%}
{%- set _spacing_gap = (ga_space_big * 2) | ga_scale(ga_scaling) -%}

{%- set _font_size = ga_fonts_sans_sz_medium | ga_scale(ga_scaling) -%}
{%- set _font_offset = ga_fonts_sans_off_medium | ga_scale(ga_scaling) -%}
{%- set _font_fontconfig = "sans-serif:style=semibold:pixelsize={}".format(_font_size) | aa_dquote() -%}

{%- set _preset_accent = ga_preset.accent | aa_dquote() -%}
{%- set _preset_foreground = ga_preset.foreground | aa_dquote() -%}
{%- set _preset_background = ga_preset.background | aa_dquote() -%}
{%- set _preset_important = ga_preset.important | aa_dquote() -%}
{%- set _preset_active = ga_preset.active | aa_dquote() -%}
{%- set _preset_inactive = ga_preset.inactive | aa_dquote() -%}
{%- set _preset_border = ga_preset.border | aa_dquote() -%}

{%- set _extras = [
    gh_wm_compositor is true | ternary(["picom", "--daemon"], false),
    ["hsetroot", "-solid", ga_preset.background | quote],
    ["xsetroot", "-cursor_name", "left_ptr"],
    gh_wm_bar is true | ternary(["polybar", "--quiet", "&"], false),
    gh_wm_notify is true | ternary(["dunst", "&"], false),
    ["numlockx", "on"],
] -%}
{# ["/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"] #}
{%- macro _extras_render() -%}
    {% for _line in _extras | reject("false") %}
        {{ "{" }}{{ _line | map("aa_dquote") | join(", ") }}{{ "}" }},
    {% endfor %}
{%- endmacro -%}

{%- macro _monitors_render() -%}
    {% set _acc = {"width": 0, "height": 0} -%}
    {% set _dim = "width" if ga_monitors_stack == "horizontal" else "height" -%}
    {##}
    {% for _mon_name, _mon in ga_monitors.items() %}
        {
            name = "{{ _mon_name }}",
            index = {{ loop.index0 }},
            dims = "{{ _mon.width }}x{{ _mon.height }}+{{ _acc.width }}+{{ _acc.height }}",
            first_tag = "{{ _mon_name | ga_workspace_prefix(loop.first) }}1",
        },
        {% set _ = _acc.update({_dim: _acc[_dim] + _mon[_dim]}) %}
    {% endfor %}
{%- endmacro %}

{%- set _tags_map = {"index": 0} %}
{%- macro _tags_render() -%}
    {% for _mon_name, _mon in ga_monitors.items() %}
        {% set _is_first = loop.first %}
        {% set _prefix = _mon_name | ga_workspace_prefix(_is_first) %}
        {% for _ in range(_mon.workspaces) %}
            {% set _name = "{}{}".format(_prefix, loop.index) %}
            {##}
            {% set _ = _tags_map.update({_tags_map.index: dict(name=_name, monitor=_mon_name)}) %}
            {% set _ = _tags_map.update(dict(index=_tags_map.index + 1)) %}
            {##}
            {% set _min = 1 %}
            {% set _max = _mon.workspaces %}
            {% set _next = "{}{}".format(_prefix, (loop.index - _min + 1) % (_max - _min + 1) + _min) %}
            {% set _prev = "{}{}".format(_prefix, (loop.index - _min - 1) % (_max - _min + 1) + _min) %}
            {##}
            {name = {{ _name | aa_dquote() }}, next = {{ _next | aa_dquote() }}, prev = {{ _prev | aa_dquote() }}},
        {% endfor %}
        {##}
        {% if _mon.scratch is defined %}
            {name = "{{ _mon.scratch }}"},
        {% endif %}
    {% endfor %}
{%- endmacro -%}

{%- set _parse_kwargs = dict(
    modifiers_map={
        "shift": "Shift",
        "super": "Mod4",
        "alt": "Mod1",
        "ctrl": "Control",
    },
    keys_map={
        "Backspace": "BackSpace",
        "MouseLeft": "Button1",
        "MouseMiddle": "Button2",
        "MouseRight": "Button3",
        "MouseNext": "Button8",
        "MousePrev": "Button9",
        "Tilde": "grave",
        "CapsLock": "Caps_Lock",
    },
    sep=("-", "-"),
    merge_shift=false,
) -%}

{%- macro _tags_keybinds_render() -%}
    {% set _index_to_mon = [] %}
    {% for _mon_name, _mon in ga_monitors.items() %}
        {% set _ = _index_to_mon.extend([_mon_name] * _mon.workspaces) %}
    {% endfor %}
    {##}
    {% for _bind in (
        ga_keys
        | ga_parse_binds(actions_map=[("workspaces", None)], **_parse_kwargs)
        | selectattr("mode_name", "eq", "wm")
    )[:_tags_map.index]
    %}
        [{{ _bind.line | aa_dquote() }}] = {
            "and",
                "AND", "focus_monitor", "{{ _tags_map[loop.index0].monitor }}",
                "AND", "use", "{{ _tags_map[loop.index0].name }}", 
        },
    {% endfor %}

    {% for _bind in (
        ga_keys
            | ga_parse_binds(actions_map=[("workspaces_move", None)], **_parse_kwargs)
            | selectattr("mode_name", "eq", "wm")
    )[:_tags_map.index]
    %}
        [{{ _bind.line | aa_dquote() }}] = {"move", "{{ _tags_map[loop.index0].name }}"},
    {% endfor %}

    {% for _bind in ga_keys
        | ga_parse_binds(actions_map=[("tabs", None)], **_parse_kwargs)
        | selectattr("mode_name", "eq", "wm")
    %}
        [{{ _bind.line | aa_dquote() }}] = {"focus_nth", "{{ loop.index0 }}"},
    {% endfor %}
{%- endmacro -%}

{%- macro _scratch() -%}
    "or",
        "OR", "and",
            "AND", "compare", "tags.focus.name", "=", "{{ _scratch_name }}",
            "AND", "use_previous",
        "OR", "use", "{{ _scratch_name }}",
{%- endmacro -%}

{%- macro _screenshot_clip() %}
    "spawn", "bash", "-c",
        "shotgun -f png -g $(hacksaw) - | xclip -t 'image/png' -selection clipboard"
{%- endmacro -%}

{%- macro _screenshot_file() -%}
    "spawn", "bash", "-c",
        "shotgun -f png -g $(hacksaw) \"{{ fa_dir_xdg.pictures }}/shot-$(date +%s).png\"",
{%- endmacro -%}

{%- macro _cut() -%}
    "or",
        "OR", "and",
            "AND", "compare", "clients.focus.my_flagged", "=", "true",
            "AND", "set_attr", "clients.focus.my_flagged", "false",
        "OR", "chain",
            "SEP", "new_attr", "bool", "clients.focus.my_flagged",
            "SEP", "set_attr", "clients.focus.my_flagged", "true",
{%- endmacro -%}

{%- macro _paste() -%}
    "foreach", "CLIENT", "clients",
        "sprintf", "ATTR", "%c.my_flagged", "CLIENT", "and",
            "AND", "compare", "ATTR", "=", "true",
            "AND",
                "sprintf", "WINIDATTR", "%c.winid", "CLIENT",
                "substitute", "WNDID", "WINIDATTR",
                "bring", "WNDID",
            "AND",
                "set_attr", "clients.focus.my_flagged", "false",
{%- endmacro -%}

{%- macro _split_v() -%}
    "chain",
        "SEP", "split", "bottom", 0.5,
        "SEP", "focus", "down",
{%- endmacro -%}

{%- macro _split_h() -%}
    "chain",
        "SEP", "split", "right", 0.5,
        "SEP", "focus", "right",
{%- endmacro -%}

{%- macro _notifications() -%}
    "spawn", "bash", "-c",
        "dunstctl history-pop $(" ..
            "dunstctl history |" ..
            "jq --raw-output '.data[][] | [.id.data, .appname.data, .summary.data] | @tsv' |" ..
            "rofi -dmenu -i | " .. 
            "awk '{ print ($1 ? $1 : -1); }'" ..
        ")",
{%- endmacro -%}

{%- set _common_keybinds = [
    ("quit", "quit"),
    ("close", "close_and_remove"),

    ("left", "focus left"),
    ("up", "focus up"),
    ("right", "focus right"),
    ("down", "focus down"),

    ("left", {"subs": "shift left", "select": true}),
    ("up", {"subs": "shift up", "select": true}),
    ("right", {"subs": "shift right", "select": true}),
    ("down", {"subs": "shift down", "select": true}),

    ("terminal", "spawn wezterm"),

    ("screenshot_clipboard", _screenshot_clip),
    ("screenshot_file", _screenshot_file),

    ("fullscreen", "fullscreen toggle"),
    ("layout", "cycle_layout +1"),
    ("layout_alt", "rotate"),
    ("floating", "set_attr clients.focus.floating toggle"),
    ("group", "split explode"),
    ("scratch", _scratch),
    ("tiling", "pseudotile toggle"),
    ("split_v", _split_v),
    ("split_h", _split_h),
    ("layout_v", "mirror vertical"),
    ("layout_h", "mirror horizontal"),

    ("cut", _cut),
    ("paste", _paste),

    ("focus_urgent", "jumpto urgent"),
    ("minimize", "set_attr clients.focus.minimized true"),
    ("focus_minimized", "jumpto last-minimized"),

    ("output_next", "cycle_monitor +1"),
    ("output_prev", "cycle_monitor -1"),
    ("workspace_next", "substitute NAME tags.focus.my_next_tag use NAME"),
    ("workspace_prev", "substitute NAME tags.focus.my_prev_tag use NAME"),
    ("group_next", "cycle_frame +1"),
    ("group_prev", "cycle_frame -1"),
    ("tab_next", "cycle +1"),
    ("tab_prev", "cycle -1"),

    ("move", "move"),
    ("zoom", "zoom"),
    ("resize", "resize"),
] + gh_wm_launcher is true | ternary(
    [("run", "spawn rofi -show drun"), ("windows", "spawn rofi -show window")], [],
) + gh_wm_notify is true | ternary(
    [("notifications", _notifications)], [],
) -%}

{%- set _extra_keybinds = [
    ("audio_play", "spawn playerctl play-pause"),
    ("audio_stop", "spawn playerctl stop"),
    ("audio_next", "spawn playerctl next"),
    ("audio_prev", "spawn playerctl previous"),
] -%}

{%- macro _keybinds_render(_keybinds, _filter) -%}
    {% for _bind in ga_keys
        | ga_parse_binds(actions_map=_keybinds, **_parse_kwargs)
        | selectattr("mode_name", "in", _filter)
    %}
        {% set _action = _bind.action.subs %}
        {% set _line = _bind.line | aa_dquote() %}
        {% if _action is string %}
            [{{ _line }}] = {{ 
                "{}{}{}".format("{", _action | split(" ") | map("aa_dquote") | join(", "), "}")
            }},
        {% else %}
            [{{ _line }}] = {
                {{ _action() | aa_relindent(times=5, **_indent) }}
            },
        {% endif %}
    {% endfor %}
{%- endmacro -%}

#!/usr/bin/env luajit

local config = {
    debug = nil,

    extra = {
        {{ _extras_render() | aa_relindent(times=2, **_indent) }}
    },

    xresources = {
        dpi = {{ _dpi }},
        autohint = 1,
        lcdfilter = "lcddefault",
        antialias = 1,
    },

    env = {
        XDG_CURRENT_DESKTOP = "herbstluftwm",
        XDG_SESSION_TYPE = "x11",
        GDK_BACKEND = "x11",
        QT_QPA_PLATFORM = "xcb",
        SDL_VIDEODRIVER = "x11",
        WINIT_UNIX_BACKEND = "x11",
        ELECTRON_OZONE_PLATFORM_HINT = "x11",
    },

    monitors = {
        {{ _monitors_render() | aa_relindent(times=2, **_indent) }}
    },

    tags = {
        {{ _tags_render() | aa_relindent(times=2, **_indent) }}
    },

    settings = {
        auto_detect_monitors = false,
        auto_detect_panels = true,

        default_direction_external_only = true,
        default_frame_layout = "max",
        focus_crosses_monitor_boundaries = false,
        focus_follows_mouse = true,
        focus_stealing_prevention = true,
        show_frame_decorations = "all",

        frame_bg_transparent = true,
        frame_border_width = {{ _spacing_medium }},
        frame_border_active_color = {{ _preset_active }},
        frame_border_normal_color = {{ _preset_inactive }},

        frame_gap = {{ _spacing_gap }},
        show_frame_decorations = "all",

        swap_monitors_to_get_tag = false,

        snap_distance = 0,
        snap_gap = 0,

        -- pseudotile_center_threshold = 0,
    },

    attrs = {
        {"theme.background_color", {{ _preset_background }}},

        {"theme.outer_color", {{ _preset_border }} },
        {"theme.tab_outer_width", {{ _spacing_thin }}},
        {"theme.tab_outer_color", {{ _preset_border }}},

        --
        -- border_width acts different when outer_width is used:
        -- For top (tabs) total size = outer_width + border_width
        -- For left, right, bottom total size = border_width
        -- 
        -- Therefore, emulating unified look with paddings
        --
        {"theme.border_width", {{ _spacing_medium }}},
        {"theme.outer_width", {{ _spacing_thin }}},
        {"theme.padding_left", {{ _spacing_thin }}},
        {"theme.padding_right", {{ _spacing_thin }}},
        {"theme.padding_bottom", {{ _spacing_thin }}},

        {"theme.title_font", {{ _font_fontconfig }}},
        {"theme.padding_top", {{ _spacing_medium - _spacing_thin }}},
        {"theme.title_height", {{ _font_size }}},
        {"theme.title_depth", {{ _font_offset }}},

        --
        -- When tab is NOT active, the following is drawn from the bottom:
        --   border_width pixels with active color (while title and top are using inactive color instead)
        --   outer_width pixels with with outer_color
        -- instead of:
        --   border_width pixels with inactive color
        --
        -- This means no bottom padding is applied, so emulating a new one via title_depth
        --
        {"theme.tiling.title_depth", {{ _font_offset + _spacing_medium + _spacing_thin }}},

        {"theme.title_color", {{ _preset_accent }}},
        {"theme.tab_title_color", {{ _preset_foreground }}},
        {"theme.title_align", "center"},

        {"theme.color", {{ _preset_inactive }}},
        {"theme.active.color", {{ _preset_active }}},
        {"theme.urgent.title_color", {{ _preset_foreground }}},
        {"theme.urgent.color", {{ _preset_important }}},
    },

    binds = {
        --
        -- Tags bindings
        --
        {{ _tags_keybinds_render() | aa_relindent(times=2, **_indent) }}
        --
        -- Other bindings
        --
        {{ _keybinds_render(_common_keybinds, ["wm"]) | aa_relindent(times=2, **_indent) }}
        --
        -- Extra (bare) bindings
        --
        {{ _keybinds_render(_extra_keybinds, ["bare"]) | aa_relindent(times=2, **_indent) }}
    },

    rules = {
        "floatplacement=center",
        "focus=on",

        ["windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)'"] = "floating=on",
        ["windowtype='_NET_WM_WINDOW_TYPE_DIALOG'"] ="focus=on",
        ["windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)'"] = "manage=off",
        ["fixedsize"] = "floating=on",
    },
}

function exec(...)
    local cmdline = table.concat({...}, " ")

    local exit_code = os.execute(cmdline)
    if exit_code ~= 0 then
        error(string.format(
            "fatal: execution of '%s' returned non-zero exit code (%d).",
            cmdline,
            exit_code
        ))
    end
end

local handle = assert(io.popen("/usr/bin/herbstclient --binary-pipe 2>/dev/null >/dev/null", "w"))
local run_cmd = "RUN" .. string.char(0)
local commit = function (...)
    for _, arg in ipairs({...}) do
        handle:write("ARG" .. string.char(0) .. tostring(arg) .. string.char(0))
    end
    handle:write(run_cmd)
end

function process_debug(debug)
    commit("emit_hook", "reload")
    commit("keyunbind", "--all")
    commit("mouseunbind", "--all")
    commit("unrule", "--all")
    commit("set_attr", "theme.reset", 1)
end

function process_xresources(xresources)
    local line = "";
    for key, value in pairs(xresources) do
        line = line .. "Xft." .. key .. ": " .. tostring(value) .. "\\n"
    end

    exec(
        "xrdb", "-load", "<(",
            "printf", "'", line, "'",
        ")"
    )
end

function process_env(env)
    for key, value in pairs(env) do
        commit("setenv", key, value)
    end

    exec(
        "dbus-update-activation-environment", "--systemd",
        "XDG_CURRENT_DESKTOP=herbstluftwm", "XDG_SESSION_TYPE=x11", "DISPLAY"
    )
    exec(
        "systemctl", "--user", "unset-environment", "WAYLAND_DISPLAY"
    )
end

function process_settings(settings)
    for prop, value in pairs(settings) do
        commit("set", prop, value)
    end
end

function process_attrs(attrs)
    for _, tuple in ipairs(attrs) do
        commit("set_attr", tuple[1], tuple[2])
    end
end

function process_tags(tags)
    for _, tag in ipairs(tags) do
        commit("add", tag.name)

        if tag.prev ~= nil and tag.next ~= nil then
            commit("new_attr", "string", "tags.by-name." .. tag.name .. ".my_next_tag", tag.next)
            commit("new_attr", "string", "tags.by-name." .. tag.name .. ".my_prev_tag", tag.prev)
        else
            commit("floating", tag.name, "on")
        end
    end
end

function process_monitors(monitors)
    local dims = {}
    for _, mon in ipairs(monitors) do
        dims[#dims + 1] = mon.dims
    end
    commit("set_monitors", unpack(dims))

    for i = #monitors, 1, -1 do
        local mon = monitors[i]

        commit("set_attr", "monitors." .. mon.index .. ".name", mon.name)
        commit("focus_monitor", mon.name)
        commit("use", mon.first_tag)
    end
end

function process_binds(binds)
    for bind, command in pairs(binds) do
        commit(
            (string.find(bind, "Button") ~= nil) and "mousebind" or "keybind",
            bind,
            unpack(command)
        )
    end
end

function process_rules(rules)
    for _, global_rule in ipairs(rules) do
        commit("rule", global_rule)
    end
    for selector, rule in pairs(rules) do
        commit("rule", selector, rule)
    end
end

function process_extra(extra)
    --
    -- It is crucial to invoke close() BEFORE spawning external processes
    -- (daemons and detached processes via &) that might last longer than the current process.
    --
    -- Otherwise, a deadlock will occur due to file descriptor inheritance.
    -- It means it would not be possible to close the pipe,
    --   since external processes will hold the inherited file descriptor
    --   that are used by the pipe process too.
    --
    -- Needless to say there must be no commit() calls after the pipe was closed.
    --
    commit("unlock")
    handle:close()

    for _, b in ipairs(extra) do
        exec(unpack(b))
    end
end

(function ()
    --
    -- Lua tables are unordered, using array to
    --  follow the strict sequence
    --
    for sub, tuple in ipairs({
        {"xresources", process_xresources},
        {"debug", process_debug},
        {"env", process_env},
        {"settings", process_settings},
        {"tags", process_tags},
        {"monitors", process_monitors},
        {"attrs", process_attrs},
        {"rules",  process_rules},
        {"binds", process_binds},
        {"extra", process_extra},
    }) do
        local sub, fun = unpack(tuple)
        if config[sub] ~= nil then
            fun(config[sub])
        end
    end
end)()
