---
- name: Perform disk partitioning
  tags: prelude-partition-main
  block:
    - name: Partition disk and mount filesystems
      foundation.storage.partition:
        base: "{{ ba_mount_point }}"
        disk: "/dev/disk/by-id/{{ bb_disk_id }}"
      vars:
        layout: "{{ bb_schema }}"
      register: _bb_partition_invocation

- name: Configure fstab
  tags: prelude-bootstrap-fstab
  when: _bb_partition_invocation is defined
  block:
    - name: Render fstab entries
      foundation.files.install:
        wipe: never
        base: "{{ ba_mount_point }}/etc"
        perms: 755:644:root:root
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./fstab
            content: >-
              {%- set _lines = [] -%}
              {%- for _fstab in _bb_partition_invocation.fstab -%}
                {%- set _fields = [
                  _fstab.fs_spec,
                  _fstab.fs_file,
                  _fstab.fs_vfstype,
                  _fstab.fs_mntops,
                  _fstab.fs_freq,
                  _fstab.fs_passno,
                ] -%}
                {%- set _ = _lines.append(_fields | join(" ")) -%}
              {%- endfor -%}
              {{ _lines | join("" | aa_newline) }}
