---
policy:
  #
  # An unsafe flag that will ensure clearness of installation targets.
  #
  # This means it would entirely clean configuration directories (XDG_CONFIG_HOME/<package>)
  # for most of the packages, as well as other state directories (~/.local/share/<package>).
  #
  # It also removes unnecessary files for bootloader, user profile, and similar.
  #
  destructive: true

persist: "{{ playbook_dir }}/persist"

machine:
  disk_identifier: ata-SSD_256GB
  mount: /mnt

  locale: en_US.UTF-8
  keymap: us
  timezone: Europe/Berlin
  hostname: &machine-workspace hostname
  dns:
    ip: "1.1.1.1"
    sni: cloudflare-dns.com

  #
  # Refer to the roles/prelude/apart/README.md
  # for more info.
  #
  partitions:
    - name=TEST-EFI,type=efi,size=1G
    - name=TEST-ROOT,type=root,fs=xfs,size=85%
    - name=TEST-SWAP,type=swap,size=8G
    - name=TEST-VOLT,type=linux,fs=ext4

  mountopts:
    root: &machine-mountopts-root "\
      async,noatime,auto,dev,exec,noiversion,suid,rw,nouser,\
      dax=always,nodiscard,noquota\
      "
    efi: "\
      sync,noatime,auto,dev,exec,noiversion,suid,rw,nouser,\
      fmask=0023,dmask=0022,check=s,discard,errors=remount-ro,iocharset=utf8,tz=UTC,flush,utf8\
      "

  cmdline:
    #
    # kernel
    #
    iommu: "off"
    amd_iommu: "off"
    gbpages:
    mce: "off"
    align_va_addr: "on"
    ipv6.disable: "1"
    apparmor: "0"
    audit: "0"
    cgroup_disable: memory
    clocksource: tsc
    console_msg_format: syslog
    cpufreq.default_governor: performance
    cpuidle.governor: teo
    cryptomgr.notests:
    debugfs: "off"
    dis_ucode_ldr:
    driver_async_probe: "*"
    enable_mtrr_cleanup:
    hibernate: "no"
    hostname: *machine-workspace
    hpet_mmap: "1"
    ia32_emulation: "false"
    ima_appraise: "off"
    ima_policy: critical_data
    init_on_alloc: "0"
    init_on_free: "0"
    iomem: relaxed
    io_delay: none
    kmemleak: "off"
    kunit.enable: "0"
    logo.nologo:
    lp: "0"
    memory_corruption_check: "0"
    mitigations: "off"
    nohibernate:
    nosoftlockup:
    nowatchdog:
    panic: "0"
    parport: "0"
    nopti:
    ras: cec_disable
    rootdelay: "0"
    selinux: "0"
    sysrq_always_enabled:
    transparent_hugepage: always
    lsm: capability,yama,bpf
    split_lock_detect: "off"
    no_timer_check:
    pci: pcie_bus_perf
    #
    # systemd related
    #
    systemd.restore_state: "0"
    quotacheck.mode: skip
    net.ifnames: "0"
    plymouth.enable: "0"
    systemd.verity: "no"
    systemd.gpt_auto: "0"
    systemd.firstboot: "off"
    #
    # video
    #
    module_blacklist: "snd_hda_codec_hdmi,asus_wmi"
    video: efifb:mode=0
    nvidia.NVreg_InitializeSystemMemoryAllocations: "0"
    nvidia.NVreg_UsePageAttributeTable: "1"
    nvidia_drm.modeset: "1"
    #
    #
    # sysctl
    #
    sysctl.kernel.stack_erasing: "0"
    sysctl.fs.dmesg_restrict: "0"
    sysctl.net.busy_read: "50"
    sysctl.net.busy_poll: "50"
    sysctl.vm.swappiness: "30"
    sysctl.net.ipv4.tcp_fastopen: "3"
    #
    # initrd
    #
    rootfstype: xfs
    rootflags: *machine-mountopts-root
    rw:
    booster.log: error
    #
    # frequently used
    #
    quiet: ~
    loglevel: "4"

users:
  root:
    password: test

  user:
    name: test
    password: test

    short: Example
    full: Example User
    alt: Exemple d'Utilisateur
    email: example@.local

    groups:
      - adm
      - wheel
      - audio
      - video
      - input
      - systemd-journal
      - log
      - kvm

    home: /home/test
    config: /home/test/.config
    cache: /home/test/.cache
    share: /home/test/.local/share
    state: /home/test/.local/state
    bin: /home/test/.local/bin

    xdg_quirks:
      PYTHONPYCACHEPREFIX: $XDG_CACHE_HOME/python/pycache
      PYTHON_HISTORY: $XDG_CACHE_HOME/python/history

    xdg:
      downloads: dls
      documents: env
      pictures: media/pics
      videos: media/vids
      music: media/music
      templates: misc/templates
      publicshare: misc/public
      desktop: misc/desktop

security:
  pam:
    nodelay: true
  ssh:
    cipher:
      - aes128-gcm@openssh.com
      - aes128-cbc
      - aes128-ctr
      - aes256-gcm@openssh.com
      - aes256-cbc
      - aes256-ctr
      - chacha20-poly1305@openssh.com
    public_key:
      - ecdsa-sha2-nistp256
      - ssh-ed25519
      - ssh-ed25519-cert-v01@openssh.com
      - ecdsa-sha2-nistp256-cert-v01@openssh.com
      - rsa-sha2-512
      - rsa-sha2-512-cert-v01@openssh.com
    key_exchange:
      - ecdh-sha2-nistp256
      - curve25519-sha256
      - curve25519-sha256@libssh.org
      - sntrup761x25519-sha512@openssh.com
      - diffie-hellman-group-exchange-sha256
    message_auth:
      - umac-64-etm@openssh.com
      - umac-128-etm@openssh.com
      - hmac-sha2-512-etm@openssh.com
      - hmac-sha2-256-etm@openssh.com
      - hmac-sha2-512
      - hmac-sha2-256
  gpg:
    keyserver: hkps://keys.openpgp.org
    metadata: unattended-keys.json
    hash:
      - SHA512
      - SHA384
      - SHA256
      - SHA224
    cipher:
      - AES
      - AES-192
      - AES-256
      - CAMELLIA128
      - CAMELLIA192
      - CAMELLIA256
      - CAST5
      - IDEA
    compression:
      - Uncompressed
      - ZIP
      - ZLIB

gpg:
  private:
    master:
      name: "{{ users.user.name }}"
      comment: private usage only
      email: "{{ users.user.name }}@invalid."

      expire: 5y
      password: test

      algo: ecdsa
      hint: nistp256
    subkeys:
      private_encr_main:
        type: encr
        algo: ecdh
        hint: nistp256
      private_encr_passwords:
        type: encr
        algo: ecdh
        hint: nistp256
      private_encr_backups:
        type: encr
        algo: ecdh
        hint: nistp256
      private_ssh:
        type: auth
        priority: 100
        algo: ecdsa
        hint: nistp256
  compat:
    master:
      name: "{{ users.user.full }}"
      comment: "{{ users.user.alt }}; compat algorithms"
      email: "{{ users.user.email }}"

      expire: 5y
      password: test

      algo: rsa
      hint: 3072
    subkeys:
      compat_sign_main:
        type: sign
        algo: dsa
        hint: 2048
      compat_sign_alt:
        type: sign
        algo: rsa
        hint: 3072
      compat_encr:
        type: encr
        algo: rsa
        hint: 3072
      compat_ssh:
        type: auth
        priority: 500
        algo: rsa
        hint: 3072
  primary:
    master:
      name: "{{ users.user.full }}"
      comment: "{{ users.user.alt }}"
      email: "{{ users.user.email }}"

      expire: 5y
      password: test

      algo: ecdsa
      hint: nistp256
    subkeys:
      primary_sign:
        type: sign
        algo: ecdsa
        hint: nistp256
      primary_encr:
        type: encr
        algo: ecdh
        hint: nistp256
      primary_ssh_main:
        type: auth
        priority: -100
        algo: ecdsa
        hint: nistp256
      primary_ssh_alt:
        type: auth
        priority: -500
        algo: ed25519
        hint: ~

icons:
  main:
    name: Zorin
    package: zorin-icon-themes

  launcher:
    name: Nordzy
    package: nordzy-icon-theme

fonts:
  sizes: &fonts-sizes
    small: 11
    medium: 13
    big: 16
  offsets: &fonts-offsets
    small: 1
    medium: 2
    big: 3

  monospace:
    name: Source Code Pro
    package: adobe-source-code-pro-fonts
    sizes: *fonts-sizes
    offsets: *fonts-offsets
  serif:
    name: Inter
    package: inter-font
    sizes: *fonts-sizes
    offsets: *fonts-offsets
  sans_serif:
    name: Inter
    package: inter-font
    sizes: *fonts-sizes
    offsets: *fonts-offsets
  emoji:
    name: JoyPixels
    package: ttf-joypixels
    sizes: *fonts-sizes
    offsets: *fonts-offsets
  icon:
    name: Symbols Nerd Font Mono
    package: ttf-nerd-fonts-symbols-mono
    sizes:
      small: 13
      medium: 15
      big: 18
    offsets:
      small: 2
      medium: 2
      big: 3

inputs:
  mask:
    keyboard-subdevice: "SEM USB Keyboard Consumer Control"
    power-button: "Power Button"
    fake-keyboard: "USB OPTICAL MOUSE  Keyboard"

  mouse:
    accel: flat
    speed: -0.5

  keyboard:
    model: pc104
    layout: us,ru,ua
    options: grp:menu_toggle,compose:rctrl,terminate:ctrl_alt_bksp

gui:
  gtk:
    name: Arc-Dark-solid
    package: arc-solid-gtk-theme

  kvantum:
    name: ArcDark
    package: kvantum-theme-arc

monitors:
  stack: horizontal
  outputs:
    primary:
      workspaces: 8
      width: 1920
      height: 1080
      refresh: 60
      x11: DFP-1
      wayland: HDMI-A-1

    secondary:
      workspaces: 4
      width: 1280
      height: 1024
      refresh: 75
      x11: DFP-5
      wayland: HDMI-A-3

scaling:
  #
  # Assuming that virtual perfect monitor has the following DPI.
  # All spacings are based on this value.
  #
  ethalon: 96
  #
  # Real monitor is different.
  #
  # Dpi is a very tricky metric, because it is up to the application
  # how to implement scaling. For example:
  #   herbstluftwm
  #     scales font,
  #     does not scale paddings, offsets, etc.
  #   polybar
  #     scales spaces, points, both :size and :pixelsize,
  #     does not scale pixels and font offsets.
  #   dunst
  #     scales sizes, spacings, and font when dpi is greater than 96,
  #     but only (down)scales font when dpi is smaller than 96
  #   and so on.
  #
  #   While it is okay for the regular user applications to be scaled arbitrary,
  #   it is not the case for the WM & related programs.
  #
  #   For instance, when herbstluftwm draws a 5 pixels border around window,
  #   it is quite noticable when rofi draws about 7 pixels.
  #   Another example is that changing dpi for polybar will not affect other
  #   programs, as well as will break polybar itself, because font offset
  #   is not affected by the DPI.
  #
  #   Practically it means that it is impossible to create a dpi-aware stack
  #   of the window manager environment. Therefore, using its own dpi-like mechanism,
  #   where elements are being scaled at the template rendering stage.
  #
  real: 0.9

spacing:
  thin: 1
  small: 2
  medium: 6
  big: 11

notifications:
  monitor: secondary
  height: 0.3
  width: 0.6
  icon: 0.1

execs:
  uptime: uptime -p | sed -E 's/up //; s/ days?,?/d/; s/ hours?,?/h/; s/ minutes?,?/m/'
  netns: (ip netns list | grep -q .) && (ip netns list | tr '\\n' ' ')

wms:
  scratch: Scratch

theme:
  dark1: &dark1 "#2e3440"
  dark2: &dark2 "#3b4252"
  dark3: &dark3 "#434c5e"
  dark4: &dark4 "#4c566a"

  snow1: &snow1 "#d8dee9"
  snow2: &snow2 "#e5e9f0"
  snow3: &snow3 "#eceff4"

  cyan1: &cyan1 "#8fbcbb"
  cyan2: &cyan2 "#88c0d0"

  blue1: &blue1 "#81a1c1"
  blue2: &blue2 "#5e81ac"

  red: &red "#bf616a"
  orange: &orange "#d08770"

  yellow: &yellow "#ebcb8b"
  green: &green "#a3be8c"

  purple: &purple "#b48ead"

ansi:
  normal:
    # black red green yellow blue magenta cyan white
    - *dark2
    - *red
    - *green
    - *orange
    - *blue2
    - *purple
    - *cyan1
    - *snow1
  bright:
    # black red green yellow blue magenta cyan white
    - *dark4
    - *red
    - *green
    - *yellow
    - *blue1
    - *purple
    - *cyan2
    - *snow3

preset:
  accent: *blue1
  alternative: *cyan1

  emphasis: *blue2
  complement: *cyan2

  sharp: *snow3
  foreground: *snow1
  background: *dark3

  important: *purple
  unimportant: *dark4

  active: *dark4
  inactive: *dark2

  border: *dark1

  positive: *green
  neutral: *yellow
  negative: *red
