---
- name: Configure systemd-networkd
  block:
    - name: Copy network configuration file
      ansible.builtin.copy:
        src: 20-ethernet.network
        dest: /etc/systemd/network/
        mode: "0644"
        owner: 0
        group: 0
      become: true

    - name: Enable systemd-networkd service
      ansible.builtin.systemd_service:
        name: systemd-networkd
        enabled: true
      become: true

- name: Configure systemd-resolved
  block:
    - name: Copy resolved configuration file
      ansible.builtin.copy:
        src: 20-cloudfare-dns-over-tls.conf
        dest: /etc/systemd/resolved.conf.d/
        mode: "0644"
        owner: 0
        group: 0
      become: true

    - name: Enable systemd-resolved service
      ansible.builtin.systemd_service:
        name: systemd-resolved
        enabled: true
      become: true
