{%- set _codename = _jetbrains_ide -%}
{%- set _dir = __dir -%}
{%- set _icon = "{}.svg".format(__bin) -%}
{%- set _version = "{}.{}".format(__release.version, __release.build) -%}
{%- set _name = __ide.name -%}
{%- set _comment = __ide.comment -%}

{%- set _wl_arg = "-Dawt.toolkit.name=WLToolkit" -%}

{%- macro _build_exec(_env_codename, _exec, _additional) -%}
    {% set _env = [
        "{}_JDK='{}/{}'".format(_env_codename, jetbrains.base, "jbr"),
        "{}_VM_OPTIONS='{}/{}'".format(_env_codename, jetbrains.base, "vmoptions/ide.vmoptions"),
        "{}_PROPERTIES='{}/{}'".format(_env_codename, jetbrains.base, "properties/ide.properties"),
    ] %}
    {% set _bin = "{}/bin/{}".format(_dir, _exec) | squote %}
    {% set _prop = "-Dide.codename={}".format(_codename) %}
    {% set _extra = _additional | join(" ") %}
    {##}
    /usr/bin/bash -c "{{ _env | join(" ") }} {{ _bin }} {{ _prop }} {{ _extra }} >/dev/null 2>&1"
{%- endmacro -%}

{%- macro _actions_render() -%}
    {% set _actions = [
        "Wayland" if jetbrains.wayland else none,
        "CodeWithMe" if jetbrains.code_with_me else none,
        "CodeWithMeWayland" if jetbrains.code_with_me and jetbrains.wayland else none,
    ] %}
    {{ _actions | select() | join(";") }}
{%- endmacro -%}

{%- macro _code_with_me_render() -%}
    [Desktop Action CodeWithMe]
    Name=Code With Me Guest Launcher
    Exec={{ _build_exec("JETBRAINS_CLIENT", "jetbrains_client.sh", []) | relative_indent }}

    {% if jetbrains.wayland %}
    [Desktop Action CodeWithMeWayland]
    Name=Code With Me Guest Launcher, with Wayland Support
    Exec={{ _build_exec("JETBRAINS_CLIENT", "jetbrains_client.sh", [_wl_arg]) | relative_indent }}

    {% endif %}
{%- endmacro -%}

{%- macro _wayland_render() -%}
[Desktop Action Wayland]
Name=Wayland display server support
Exec={{ _build_exec(_codename | upper, _codename, [_wl_arg]) | relative_indent }}
{%- endmacro -%}


[Desktop Entry]
Type=Application
Version={{ _version }}
Name={{ _name }}
Comment={{ _comment }}
Icon={{ _icon }}
Exec={{ _build_exec(_codename | upper, _codename, []) | relative_indent }}
Categories=Development;IDE;Java;
Terminal=false
StartupWMClass=jetbrains-{{ _codename }}
StartupNotify=true
Actions={{ _actions_render() | relative_indent }};
{##}
{% if jetbrains.code_with_me %}

{{ _code_with_me_render() | relative_indent }}
{% endif %}
{% if jetbrains.wayland %}

{{ _wayland_render() | relative_indent }}
{% endif %}
