{%- set _indent = {"space": 4} -%}

{%- set _spacing_medium = spacing.medium | scale(scaling.real) -%}
{%- set _spacing_big = spacing.big | scale(scaling.real) -%}
{%- set _spacing_text = " " * (spacing.thin | scale(scaling.real)) -%}
{%- set _spacing_icon = " " * (spacing.small | scale(scaling.real)) -%}

{%- set _icon_size = fonts.icon.sizes.medium | scale(scaling.real) -%}
{%- set _icon_pango = "{} {}px".format(fonts.icon.name, _icon_size) -%}
{%- set _icon_lheight = "1.{}".format(fonts.icon.offsets.medium) -%}

{%- macro _icon_encode(_icon) -%}
    {{ ("\\U{:>08}".format(_icon).encode().decode("unicode-escape") | tojson)[1:-1] }}
{%- endmacro -%}

{%- set _icon_warn = _icon_encode("f071") -%}
{%- set _icon_sep = _icon_encode("2012") -%}

{%- set _output_name = monitors.outputs.values() | map(attribute="wayland") | first -%}
{%- set _modules_left = ["cpu", "memory#ram", "memory#swap", "disk", "custom/uptime"] -%}
{%- set _modules_center = ["clock"] -%}
{%- set _modules_right = ["mpris", "wireplumber", "hyprland/language"]
    + ["env-netns", "env-vopono"] | is_tagged(ansible_run_tags, ansible_skip_tags) | ternary(["custom/netns"], [])
    + ["tray"]
-%}

{%- macro _modules_render() -%}
    "modules-left": {{ _modules_left | tojson }},
    {##}
    {% set _ws = _modules_center %}
    {% for _mon_name in monitors.outputs %}
        {% set _ws_name = "group/workspaces-{}".format(_mon_name) %}
        {% if loop.first %}
            {% set _ = _ws.insert(0, _ws_name) %}
        {% else %}
            {% set _ = _ws.append(_ws_name) %}
        {% endif %}
    {% endfor %}
    "modules-center": {{ _ws | tojson }},
    {##}
    "modules-right": {{ _modules_right | tojson }},
{%- endmacro -%}

{%- macro _section_span(_string, _bg) -%}
    <span font=\"{{ _icon_pango }}\" line_height=\"{{ _icon_lheight }}\" background=\"{{ _bg }}\">{{ _string }}</span>
{%- endmacro -%}

{%- macro _section_render(_icon, _content="", _ns="", _important=false, _warn=false, _mini=false) -%}
    {% set _parts = namespace(
        prefix=_section_span(
            "{0}{1}{0}".format(_spacing_icon, _icon_encode(_icon)),
            preset.important if _warn or _important else preset.active,
        ),
        middle="",
        suffix="",
    ) %}
    {% set _format = ["format", _ns] | select("ne", "") | join("-") %}
    {##}
    {% if not _mini %}
        {% if _content %}
            {% set _parts.middle = "{0}{1}{0}".format(_spacing_text, _content) %}
        {% endif %}
        {##}
        {% if _warn %}
            {% set _parts.suffix = _section_span("{0}{1}{0}".format(_spacing_icon, _icon_warn), preset.important) %}
        {% endif %}
    {% endif %}
    {##}
    "{{ _format }}": "{{ _parts.prefix }}{{ _parts.middle }}{{ _parts.suffix }}",
{%- endmacro -%}

{%- macro _workspaces_persistent(_mon, _ws_prefix) %}
    {% for _ in range(_mon.workspaces) %}
        "{{ _ws_prefix }}{{ loop.index }}": [],
    {% endfor %}
{%- endmacro -%}

{%- macro _workspaces_ignore(_ignored_mon_name, _is_first) %}
    {% for _mon_name, _mon in monitors.outputs.items() %}
        {% if _mon_name != _ignored_mon_name %}
            "^{{ _mon_name | workspace_prefix(loop.first) }}[0-9]+$",
        {% endif %}
        {% if not _is_first %}
            "^{{ wms.scratch }}$",
        {% endif %}
    {% endfor %}
{%- endmacro -%}

{%- macro _workspaces_render() -%}
    {% for _mon_name, _mon in monitors.outputs.items() %}
        {% set _mon_icon = "f1104" if loop.first else "f0ddc" %}
        {% set _ws_prefix = _mon_name | workspace_prefix(loop.first) %}
        {##}
        "group/workspaces-{{ _mon_name }}": {
            "orientation": "horizontal",
            "modules": [
                "custom/workspaces-{{ _mon_name }}-icon",
                "hyprland/workspaces#{{ _mon_name }}"
            ]
        },
        {##}
        "custom/workspaces-{{ _mon_name }}-icon": {
            {{ _section_render(_icon=_mon_icon) | relative_indent(times=3, **_indent) }}
        },
        {##}
        "hyprland/workspaces#{{ _mon_name }}": {
            "active-only": true,
            "all-outputs": true,
            "persistent-workspaces": {
                {{ _workspaces_persistent(_mon, _ws_prefix) | relative_indent(times=4, **_indent) }}
            },
            "ignore-workspaces": [
                {{ _workspaces_ignore(_mon_name, loop.first) | relative_indent(times=4, **_indent) }}
            ],
            "show-special": true,
            "sort-by": "name",
            "format": "{name}",
        },
    {% endfor %}
{%- endmacro -%}

{
    // "include": [""],

    "layer": "bottom",
    "position": "top",
    "output": "{{ _output_name }}",
    "mode": "dock",
    "exclusive": true,
    "passthrough": false,
    "ipc": false,
    // "id": "",
    "start_hidden": false,

    "reload_style_on_change": false,

    {{ _modules_render() | relative_indent(times=1, **_indent) }}

    // margin: "",
    // margin-<top|left|bottom|right>: 0,
    "spacing": {{ _spacing_big }},
    "fixed-center": false,

    "cpu": {
        "interval": 10,
        "states": {
            "warn": 90,
        },

        {{ _section_render(_icon="f4bc", _mini=true) | relative_indent }}
        {{ _section_render(_icon="f4bc", _mini=true, _ns="warn", _warn=true) | relative_indent }}
    },

    "memory#ram": {
        "interval": 10,
        "tooltip": false,
        "states": {
            "warn": 90,
        },

        {{ _section_render(_icon="efc5", _content="{used} GiB") | relative_indent }}
        {{ _section_render(_icon="efc5", _content="{used} GiB", _ns="warn", _warn=true) | relative_indent }}
    },

    "memory#swap": {
        "interval": 20,
        "tooltip": false,
        "states": {
            "warn": 90,
        },

        {{ _section_render(_icon="f0fb7", _content="{swapUsed} GiB") | relative_indent }}
        {{ _section_render(_icon="f0fb7", _content="{swapUsed} GiB", _ns="warn", _warn=true) | relative_indent }}
    },

    {{ _workspaces_render() | relative_indent(times=1, **_indent) }}

    "clock": {
        "interval": 1,

        {{ _section_render(_icon="e383", _content="{:%a %b %d %r}") | relative_indent }}
        {{ _section_render(_icon="e383", _content="{:%F %r %Z}", _ns="alt") | relative_indent }}

        "tooltip-format": "<tt><small>{calendar}</small></tt>",
        "calendar": {
            "mode": "month",
            "weeks-pos": "",
            "on-scroll": 1,
            "format": {
                "months": "<span color=\"{{ preset.accent }}\"><b>{}</b></span>",
                "days": "<span color=\"{{ preset.foreground }}\"><b>{}</b></span>",
                "weekdays": "<span color=\"{{ preset.alternative }}\"><b>{}</b></span>",
                "today": "<span color=\"{{ preset.important }}\"><b><u>{}</u></b></span>"
            },
        },
        "actions": {
            "on-scroll-up": "shift_up",
            "on-scroll-down": "shift_down",
        },
    },

    "disk": {
        "interval": 60,
        "unit": "GB",
        "tooltip": false,
        "path": "/",
        "states": {
            "warn": 90,
        },

        {{ 
            _section_render(_icon="f413", _content="{specific_used:0.0f} / {specific_total:0.0f} GB")
                | relative_indent 
        }}
        {{ 
            _section_render(
                _icon="f413", _content="{specific_used:0.0f} / {specific_total:0.0f} GB", _ns="warn", _warn=true
            )
                | relative_indent
        }}
    },

    "custom/uptime": {
        "tooltip": false,
        "interval": 60,
        "exec": "{{ execs.uptime }}",

        {{ _section_render(_icon="f1ae1", _content="{}") | relative_indent }}
    },

    "mpris": {
        "interval": 1,
        "dynamic-order": [
            "artist",
            "title"
        ],
        "format-len": 20,
        "dynamic-separator": "{{ "{0}{1}{0}".format(_spacing_text, _icon_sep) }}",

        "tooltip": true,
        "tooltip-format": "{dynamic}",

        "on-click": "playerctl next",
        "on-click-right": "playerctl previous",
        "on-click-middle": "playerctl play-pause",

        {{ _section_render(_icon="ec1b", _content="{dynamic}") | relative_indent }}
    },

    "wireplumber": {
        "scroll-step": 2.0,
        "tooltip": false,
        "on-click": "wpctl set-mute @DEFAULT_SINK@ toggle",

        {{ _section_render(_icon="f0580", _content="{volume}%") | relative_indent }}
        {{ 
            _section_render(_icon="f0581", _content="Muted", _ns="muted", _important=true)
                | relative_indent
        }}
    },

    "hyprland/language": {
        "format-en": "English (US)",

        {{ _section_render(_icon="f11c", _content="{}") | relative_indent }}
    },

    {% if ["env-netns", "env-vopono"] | is_tagged(ansible_run_tags, ansible_skip_tags) %}
    "custom/netns": {
        "interval": 5,
        "tooltip": false,
        "exec": "{{ execs.netns }} || (echo default)",

        {{ _section_render(_icon="f0484", _content="{}") | relative_indent }}
    },

    {% endif %}
    {##}
    "tray": {
        "icon-size": {{ _icon_size }},
        "show-passive-items": true,
        "spacing": {{ _spacing_big }},
    }
}