Section "InputClass"
    Identifier "keyboard"

    MatchIsKeyboard "true"

    Option "XkbModel" "{{ ga_keyboard_model }}"
    Option "XkbLayout" "{{ ga_keyboard_layout }}"
    Option "XKbOptions" "{{ ga_keyboard_options }}"
EndSection
