{%- set _monitors = ga_monitors.values() | map(attribute="x11") | join(", ") -%}
{%- set _dpi = ga_scaling_ethalon | ga_scale(ga_scaling) -%}

{%- macro _metamodes_render() %}
    {%- set _is_hor = ga_monitors_stack == "horizontal" -%}
    {%- set _panning_dim = "height" if _is_hor else "width" -%}
    {%- set _panning_val = ga_monitors.values() | map(attribute=_panning_dim) | max -%}

    {%- for _mon in ga_monitors.values() -%}
        {{ _mon.x11 }}: {{ _mon.width }}x{{ _mon.height }}_{{ _mon.refresh }}
        {%- if _mon[_panning_dim] < _panning_val -%}
            {{ " " }}@{{ _mon.width if _is_hor else _panning_val }}x{{ _panning_val if _is_hor else _mon.height }}
        {%- endif -%}
        {% if not loop.last %}, {% endif %}
    {%- endfor -%}
{%- endmacro -%}

{%- macro _metamode_orientation_render() -%}
   {%- for _mon in ga_monitors.values() -%}
        {{ _mon.x11 }}
        {%- if not loop.last -%}
            {{ " LeftOf " if ga_monitors_stack == "horizontal" else " Bottom " }}
        {%- endif %}
    {%- endfor -%}
{%- endmacro -%}


Section "Device"
    Identifier "nvidia"

    Driver "nvidia"

    Option "UseEDID" "true"
    Option "UseEdidFreqs" "true"
    Option "UseEDIDDpi" "false"
    Option "ModeValidation" "NoInterlacedModes, NoXServerModes, NoPredefinedModes, NoVesaModes"

    #
    # Use options below if EDID probing is enabled, but manual modeset is to be used instead.
    # If EDID probing is not enabled, these options make no effect.
    #
    # Note that 'No*Check' options are not required if manual modeset was imported from EDID via external tools
    #  (edid-decode, read-edid).
    #
    # Option "ModeValidation" "NoEdidMaxPClkCheck, NoMaxPClkCheck, NoHorizSyncCheck, NoVertRefreshCheck, NoEdidModes"
    # Option "ExactModeTimingsDVI" "true"
    # Option "ModeDebug" "true"

    # Option "HorizSync" "DFP-1: 67.500; DFP-5: 79.976"
    # Option "VertRefresh" "DFP-1: 60; DFP-5: 75.024675"

    Option "ConnectedMonitor" "{{ _monitors }}"
    Option "nvidiaXineramaInfoOrder" "{{ _monitors }}"
    Option "MetaModes" "{{ _metamodes_render() }}"
    Option "MetaModeOrientation" "{{ _metamode_orientation_render() }}"
    Option "PanAllDisplays" "false"

    Option "DPI" "{{ _dpi }} x {{ _dpi }}"

    Option "IncludeImplicitMetaModes" "false"

    Option "GLShaderDiskCache" "true"
    Option "SoftwareRenderCacheSize" "0x1000000"
    Option "AllowUnofficialGLXProtocol" "true"
    Option "Interactive" "false"
    Option "SidebandSocketPath" "/tmp"
    Option "ConnectToAcpid" "0"

    # Option "TripleBuffer" "true"

    # Option "ForceCompositionPipeline" ""
    # Option "ForceFullCompositionPipeline" ""
EndSection

Section "Monitor"
    Identifier "monitor"

    VendorName "NVIDIA"
    ModelName "The NVIDIA Linux Driver Meta Monitor"

    # HorizSync 30.0 - 83.0
    # VertRefresh 56.0 - 75.0
    # ModeLine "mode-primary" 148.500 1920 2008 2052 2200 1080 1084 1089 1125 +HSync +VSync
    # Modeline "mode-secondary" 135.000  1280 1296 1440 1688  1024 1025 1028 1066 +HSync +VSync

    Option "DPMS"
EndSection

Section "Screen"
    Identifier "screen"
    Device "nvidia"
    Monitor "monitor"

    DefaultDepth 24
    DefaultFbBpp 32

    SubSection "Display"
        Depth 24
        FbBpp 32
    EndSubSection
EndSection
