import os.path

from conan import ConanFile
from conan.tools.meson import MesonToolchain, Meson
from conan.tools.gnu import PkgConfigDeps

from conan.tools.build import can_run


class ConanRecipe(ConanFile):
    settings = "os", "compiler", "build_type", "arch"
    package_type = "application"

    name = "{{ _jc_template.name }}"
    version = "1.0.0"
    description = "An example conan template."
    license = "MIT"
    url = "https://github.com/conan-io/conan"
    topics = ("example", "template")
    author = "{{ ca_info_full }} <{{ ca_info_mail }}>"

    exports_sources = (
        "meson.build",
        "src/*", "test/*",
    )

    def layout(self):
        self.folders.source = "."
        self.folders.build = os.path.abspath("build")
        self.folders.generators = os.path.join(self.folders.build, "generators")

        self.cpp.build.bindirs = ["."]
        self.cpp.build.libdirs = ["."]

    def requirements(self):
        self.requires("fmt/[>=11.1]")
        self.test_requires("gtest/[>=1.15]")

    def generate(self):
        toolchain = MesonToolchain(self)
        toolchain.pkg_config_path = self.folders.build
        toolchain.generate()

    def build(self):
        PkgConfigDeps(self).generate()

        meson = Meson(self)
        meson.configure()
        meson.build()
        if self.settings.get_safe("build_type") != "Release" and can_run(self):
            meson.test()
