---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
dryRun: false
nodeRegistration:
  criSocket: unix:///var/run/containerd/containerd.sock
  imagePullPolicy: IfNotPresent
  imagePullSerial: false
localAPIEndpoint:
  bindPort: 20000
timeouts:
  controlPlaneComponentHealthCheck: 1m0s
  discovery: 1m0s
  etcdAPICall: 1m0s
  kubeletHealthCheck: 1m0s
  kubernetesAPICall: 1m0s
  tlsBootstrap: 1m0s
  upgradeManifests: 1m0s
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ResetConfiguration
cleanupTmpDir: true
criSocket: unix:///var/run/containerd/containerd.sock
force: true
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: cluster
etcd:
  local:
    dataDir: /var/lib/etcd
networking:
  serviceSubnet: 10.10.20.0/22
  podSubnet: 10.10.24.0/22
  dnsDomain: k8s
encryptionAlgorithm: ECDSA-P256
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
clusterDomain: k8s
cgroupDriver: "systemd"
containerRuntimeEndpoint: "unix:///var/run/containerd/containerd.sock"
serverTLSBootstrap: true
