---
# TODO: cli file-manager, lazydocker, strings, etc...

# TODO: xdg-mime default chromium.desktop image/avif
# TODO: /usr/share/applications/mimeinfo.cache
- name: Reset XDG Mime Applications
  when: policy.destructive is true
  ansible.builtin.file:
    path: "{{ users.user.config }}/mimeapps.list"
    state: absent
  become: true

- name: Configure browser launcher
  tags:
    - apps-browser-launcher
  block:
    - name: Install browser launcher
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install:
            - browsers-bin

        _common_install:
          wipes:
            - "{{ users.user.cache }}/software.Browsers"
            - "{{ users.user.state }}/software.Browsers"
          targets:
            software.Browsers/config.json:
              wipe: true
              content: >-
                {
                  "hidden_apps": [],
                  "hidden_profiles": [],
                  "profile_order": [],
                  "default_profile": null,
                  "rules": [],
                  "ui": {
                    "show_hotkeys": true,
                    "quit_on_lost_focus": false,
                    "theme": "Auto"
                  },
                  "behavior": {
                    "unwrap_urls": false
                  }
                }

    - name: Set browser launcher as default browser
      ansible.builtin.command:
        argv:
          - xdg-settings
          - set
          - default-web-browser
          - software.Browsers.desktop
      register: __xdg_settings_invocation
      changed_when: __xdg_settings_invocation.rc == 0

- name: Configure git
  tags:
    - apps-git
  vars:
    __git_opts:
      user.name: "{{ users.user.full }}"
      user.email: "{{ users.user. }}"

      commit.gpgSign: "true"
      push.gpgSign: "if-asked"
      tag.gpgSign: "true"

      apply.whitespace: fix
      core.whitespace: tabwidth=4

      checkout.workers: -1
      #
      # split index feature seems to be incompatible
      # with feature.manyFiles
      #
      # core.splitIndex: "true"
      core.bigFileThreshold: 256m
      fetch.parallel: 0
      feature.experimental: "true"
      feature.manyFiles: "true"
      http.maxRequests: 10
      pack.threads: 0

      grep.lineNumber: "true"
      grep.column: "true"
      grep.fallbackToNoIndex: "true"
      core.notesRef: "true"
      log.mailmap: "false"
      init.defaultBranch: main
  block:
    - name: Install and configure git
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install:
            - git

        _common_install:
          wipes:
            - "{{ users.user.home }}/.gitconfig"
          targets:
            git/config:
              touch: true

    - name: Get GnuPG primary signing key
      ansible.builtin.import_role:
        name: common
      vars:
        _common_gpg: primary_sign

    - name: Configure git options
      ansible.builtin.command:
        argv:
          - git
          - config
          - --global
          - "{{ item.key }}"
          - "{{ item.value }}"
      loop: >-
        {{
          __git_opts | dict2items + [{
            'key': 'user.signingkey', 'value': _common_gpg_invocation.fingerprint
          }]
        }}
      register: __git_invocation
      changed_when: __git_invocation.rc == 0

- name: Configure vopono network namespace launcher
  tags:
    - apps-nets
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - vopono-bin
        - nftables
        - wireguard-tools
        - openvpn

    _common_install:
      targets:
        /etc/sudoers.d/10-vopono:
          become: true
          content: |
            %wheel ALL=(ALL:ALL) NOPASSWD:SETENV: /usr/bin/vopono
          filemode: "0640"
          dirmode: "0750"
        vopono/config.toml:
          wipe: true
          content: |
            firewall = "NfTables"
            provider = "Custom"
            protocol = "openvpn"
            config = "{{ users.user.config }}/vopono/custom-config"
