{{ ja_gitignore }}

#
# Byte-compiled.
#
__pycache__
*.py[cod]

#
# Virtual environments and package managers.
#
#  Pip.
#
pip-log.txt
pip-delete-this-directory.txt
.pypirc
#
#  PDM.
#
.pdm.toml
.pdm-python
.pdm-build
__pypackages__
#
#  Virtual Environments.
#
.env
.venv
/venv

#
# Packaging.
#
.Python
develop-eggs
.eggs
*.egg-info
*.egg
/eggs
/wheels
MANIFEST

#
# Coverage / testing.
#
.tox
.nox
.hypothesis
.coverage
.coverage.*
*.cover
nosetests.xml
coverage.xml
/htmlcov
/cover

#
# Tools.
#
.cache
.ruff_cache
.pytest_cache
.scrapy
.spyproject
.spyderproject
.ropeproject
.pybuilder
.ipynb_checkpoints

#
# Type checkers.
#
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
