[package]
name = "rust-template"
version = "1.0.0"
description = "An example rust project"
keywords = ["template", "example"]

license = "MIT"
authors = ["{{ ca_info_full }} <{{ ca_info_mail }}>"]
homepage = "https://www.rust-lang.org/"
repository = "https://github.com/rust-lang/rust"
readme = "README.md"

edition = "2021"
publish = false
include = ["/src"]

[dependencies]

[profile.release]
lto = "thin"
