# rust-template

## Rust Cheatsheet

### Dependencies

- Install Dependencies: ```cargo fetch```
- Update Dependencies: ```cargo update```

### Working with Code

- Format: ```cargo fmt```
- Lint: ```cargo fix``` or ```cargo clippy```
- Test: ```cargo test```

### Developement Flow

- Run: ```cargo run```
- Build: ```cargo build [--release]``` or ```cargo check```
- Clean: ```cargo clean```

### Directories

- Cargo Global Cache: ```$CARGO_HOME```
- Rust Installations: ```$RUSTUP_HOME```

### Links

- Performance Tips: <https://nnethercote.github.io/perf-book/introduction.html>

- Cargo Workspaces: <https://doc.rust-lang.org/book/ch14-03-cargo-workspaces.html>
- Cargo Commands: <https://doc.rust-lang.org/cargo/commands/index.html>
- Cargo Profiles: <https://doc.rust-lang.org/cargo/reference/profiles.html>
- Cargo Toolchain: <https://rust-lang.github.io/rustup/overrides.html>
- Cargo Variables: <https://doc.rust-lang.org/cargo/reference/environment-variables.html>
- Cargo Manifest: <https://doc.rust-lang.org/cargo/reference/manifest.html>

- rustc Flags: <https://doc.rust-lang.org/rustc/codegen-options/index.html>
- rustc Unstable Flags: <https://doc.rust-lang.org/unstable-book/the-unstable-book.html>

{{ ja_readme }}
