{% set _cmdline = [] %}
{% for _key, _value in machine.cmdline.items() %}
    {% if _value is not none %}
        {% set _ = _cmdline.append("{}={}".format(_key, _value)) %}
    {% else %}
        {% set _ = _cmdline.append(_key) %}
    {% endif %}
{% endfor %}
{##}
{{ _cmdline | join(" ") }}
