Host *
    AddressFamily inet
    IdentityFile none
    Ciphers {{ security.ssh.cipher | join(",") }}
    ForwardX11Timeout 0
    HashKnownHosts yes

    HostKeyAlgorithms {{ security.ssh.public_key | join(",") }}
    PubkeyAcceptedAlgorithms {{ security.ssh.public_key | join(",") }}
    KexAlgorithms {{ security.ssh.key_exchange | join(",") }}
    MACs {{ security.ssh.message_auth | join(",") }}

    ObscureKeystrokeTiming no
    NoHostAuthenticationForLocalhost yes
    KbdInteractiveDevices pam
    RequestTTY yes

    StrictHostKeyChecking accept-new
    SyslogFacility AUTH

{% if ["user-gpg"] | is_tagged(ansible_run_tags, ansible_skip_tags) %}
    IdentityAgent ${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh
    Match host * exec "gpg-connect-agent UPDATESTARTUPTTY /bye"
{% endif %}
