grab
allow-loopback-pinentry
no-allow-external-cache
default-cache-ttl 1200
disable-scdaemon
disable-check-own-socket
extra-socket none
enable-ssh-support
ssh-fingerprint-digest {{ hb_digests | first }}
