{%- set _font_family = "monospace" -%}
{%- set _font_size = ga_fonts_mono_sz_big | ga_scale(ga_scaling) -%}

{%- set _monitor = (
    ga_monitors.values()
        | selectattr("notifications", "defined")
        | selectattr("notifications", "true")
        | first
) -%}

{%- set _width = (_monitor.width * ga_popup_width) | ga_scale(ga_scaling) -%}
{%- set _height = (_monitor.height * ga_popup_height) | ga_scale(ga_scaling)-%}
{%- set _limit = (_monitor.height / _height) | round | int -%}
{%- set _icon_size = (_monitor.width * ga_popup_icon) | ga_scale(ga_scaling) -%}

{%- set _gap = (ga_space_big * 2) | ga_scale(ga_scaling) -%}
{%- set _bar_fonts_sizes = [ga_fonts_sans_sz_medium, ga_fonts_icon_sz_medium] -%}
{%- set _bar_size =
    [
        ga_space_medium,
        ga_space_medium / 2,
        _bar_fonts_sizes | max,
        ga_space_medium / 2,
        ga_space_medium,
    ] | sum | ga_scale(ga_scaling)
-%}

{%- set _spacing_small = ga_space_small | ga_scale(ga_scaling) -%}
{%- set _spacing_medium = ga_space_medium | ga_scale(ga_scaling) -%}
{%- set _spacing_big = ga_space_big | ga_scale(ga_scaling) -%}

{%- macro _format_render(color) -%}
<span weight='bold' color='{{ color }}'>%a</span>\n<b>%s</b>\n%b
{%- endmacro -%}

{%- macro _monitor_index() -%}
    {%- for _mon in ga_monitors.values() -%}
        {%- if _mon.get('notifications') is true -%}
            {{ loop.index0 }}
        {%- endif -%} 
    {%- endfor -%}
{%- endmacro -%}


[global]
monitor = {{ _monitor_index() }}
scale = 1
follow = none
transparency = 0
layer = overlay
force_xwayland = false

enable_posix_regex = false
enable_recursive_icon_lookup = true

origin = top-right
width = ({{ _width }}, {{ _width }})
height = (0, {{ _height }})
offset = ({{ _gap }},{{ _bar_size + _gap }})

progress_bar = true
progress_bar_horizontal_alignment = center
progress_bar_height = {{ _spacing_big + _spacing_small }}
progress_bar_frame_width = {{ _spacing_small }}
progress_bar_min_width = {{ _width - _gap }}
progress_bar_max_width = {{ _width - _gap }}
progress_bar_corner_radius = 0

icon_corner_radius = 0
icon_position = left
min_icon_size = {{ _icon_size }}
max_icon_size = {{ _icon_size }}
enable_recursive_icon_lookup = true
icon_theme = {{ ga_icons_launcher }}
default_icon = /usr/share/icons/{{ ga_icons_launcher }}/categories/32/applications-other.svg
# icon_path

padding = {{ _spacing_big }}
horizontal_padding = {{ _spacing_big }}
frame_width = {{ _spacing_medium }}
gap_size = {{ _spacing_big }}

corner_radius = 0
font = "{{ _font_family }} {{ _font_size }}px"
line_height = {{ _spacing_medium }}
format = "{{ _format_render(ga_preset.foreground) }}"
vertical_alignment = center

mouse_left_click = "do_action"
mouse_middle_click = "context"
mouse_right_click = "close_current"

sort = urgency_ascending
word_wrap = true
alignment = center
markup = full

notification_limit = {{ _limit }}
indicate_hidden = true

idle_threshold = 0
# timeout = 24h
override_dbus_timeout = 24h
ignore_dbusclose = true

show_age_threshold = 0
hide_duplicate_count = false
show_indicators = true
ignore_newline = false
stack_duplicates = true
sticky_history = true
history_length = 40
dmenu = "/usr/bin/rofi -dmenu"


[global]
background = "{{ ga_preset.inactive }}"
foreground = "{{ ga_preset.foreground }}"
frame_color = "{{ ga_preset.active }}"
highlight = "{{ ga_preset.active }}"


[urgency_normal]
frame_color = "{{ ga_preset.accent }}"
highlight = "{{ ga_preset.accent }}"
format = "{{ _format_render(ga_preset.accent) }}"


[urgency_critical]
frame_color = "{{ ga_preset.important }}"
highlight = "{{ ga_preset.important }}"
format = "{{ _format_render(ga_preset.important) }}"
