---
- name: Configure ly login manager
  block:
    - name: Ensure ly package is installed
      community.general.pacman:
        name: ly
        state: present
      become: true

    - name: Configure ly
      ansible.builtin.copy:
        src: ly/config.ini
        dest: /etc/ly/config.ini
        mode: "0644"
        owner: 0
        group: 0
      become: true

    - name: Configure ly xsetup and wsetup
      ansible.builtin.copy:
        content: |
          #!/bin/sh
          [ -f /etc/profile ] && . /etc/profile
          exec "$@" >/dev/null
        dest: "/etc/ly/{{ item }}"
        mode: "0755"
        owner: 0
        group: 0
      become: true
      loop:
        - xsetup.sh
        - wsetup.sh

    #
    # While override.conf is a possible option, it is easier to simply replace
    # the entire file. It is not going to be updated on each update, so no problem with
    # .pacnew is expected.
    #
    - name: Configure ly systemd service to use tty1
      ansible.builtin.copy:
        content: |
          [Unit]
          Description=TUI display manager
          After=systemd-user-sessions.service plymouth-quit-wait.service
          After=getty@tty1.service
          Conflicts=getty@tty1.service

          [Service]
          Type=idle
          ExecStart=/usr/bin/ly-dm
          StandardInput=tty
          TTYPath=/dev/tty1
          TTYReset=yes
          TTYVHangup=yes

          [Install]
          Alias=display-manager.service
        dest: "/usr/lib/systemd/system/ly.service"
        mode: "0644"
        owner: 0
        group: 0
      become: true

    - name: Autostart ly
      ansible.builtin.systemd_service:
        name: ly
        enabled: true
      become: true

- name: Configure wezterm terminal
  block:
    - name: Ensure wezterm package is installed
      community.general.pacman:
        name: wezterm
        state: present
      become: true

    - name: Clean wezterm configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/wezterm"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render wezterm configuration
      ansible.builtin.template:
        src: wezterm/wezterm.lua.j2
        dest: "{{ users.user.config }}/wezterm/wezterm.lua"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true

- name: Configure rofi app launcher
  block:
    - name: Ensure rofi package is installed
      community.general.pacman:
        name: rofi-wayland
        state: present
      become: true

    - name: Install rofi-emoji-git package via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: rofi-emoji-git

    - name: Clean rofi configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/rofi"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render rofi configuration
      ansible.builtin.template:
        src: rofi/config.rasi.j2
        dest: "{{ users.user.config }}/rofi/config.rasi"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true

- name: Configure vopono network namespace launcher
  block:
    - name: Install vopono via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: vopono-bin

    - name: Install additional vopono dependencies
      community.general.pacman:
        name:
          - nftables
          - wireguard-tools
          - openvpn
        state: present
      become: true

    - name: Configure sudo to allow running vopono
      tags: ssudo
      ansible.builtin.copy:
        content: |
          %wheel,%sudo ALL=(ALL:ALL) NOPASSWD:SETENV: /usr/bin/vopono
        dest: /etc/sudoers.d/10-vopono
        mode: "0640"
        owner: 0
        group: 0
      become: true

    - name: Configure vopono
      ansible.builtin.copy:
        content: |
          firewall = "NfTables"
          provider = "Custom"
          protocol = "openvpn"
          config = "{{ users.user.config }}/vopono/custom-config"
        dest: "{{ users.user.config }}/vopono/config.toml"
        mode: "0644"

- name: Configure XDG desktop portals
  block:
    - name: Install XDG desktop portals packages
      community.general.pacman:
        name:
          - xdg-desktop-portal
          - xdg-desktop-portal-gtk
        state: present
      become: true

    - name: Clean XDG portals configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/xdg-desktop-portal"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render XDG portals configuration
      ansible.builtin.copy:
        content: |
          [preferred]
          default=gtk
        dest: "{{ users.user.config }}/xdg-desktop-portal/portals.conf"
        mode: "0644"
