---
- name: Configure rofi app launcher
  block:
    - name: Ensure rofi package is installed
      community.general.pacman:
        name: rofi-wayland
        state: present
      become: true

    - name: Install rofi-emoji-git package via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: rofi-emoji-git

    - name: Clean rofi configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/rofi"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render rofi configuration
      ansible.builtin.template:
        src: rofi/config.rasi.j2
        dest: "{{ users.user.config }}/rofi/config.rasi"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true

- name: Configure vopono network namespace launcher
  block:
    - name: Install vopono via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: vopono-bin

    - name: Install additional vopono dependencies
      community.general.pacman:
        name:
          - nftables
          - wireguard-tools
          - openvpn
        state: present
      become: true

    - name: Configure sudo to allow running vopono
      tags: ssudo
      ansible.builtin.copy:
        content: |
          %wheel,%sudo ALL=(ALL:ALL) NOPASSWD:SETENV: /usr/bin/vopono
        dest: /etc/sudoers.d/10-vopono
        mode: "0640"
        owner: 0
        group: 0
      become: true

    - name: Configure vopono
      ansible.builtin.copy:
        content: |
          firewall = "NfTables"
          provider = "Custom"
          protocol = "openvpn"
          config = "{{ users.user.config }}/vopono/custom-config"
        dest: "{{ users.user.config }}/vopono/config.toml"
        mode: "0644"
