---
- name: Configure fonts
  block:
    - name: Install rendering libraries
      community.general.pacman:
        name:
          - freetype2
          - fontconfig
        state: present
      become: true

    - name: Install fonts
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ fonts | dict2items | map(attribute='value.package') }}"

    - name: Clean fontconfig configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/fontconfig"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render fontconfig configuration
      ansible.builtin.template:
        src: fontconfig/fonts.conf.j2
        dest: "{{ users.user.config }}/fontconfig/fonts.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true

- name: Configure icons
  block:
    - name: Install default fallback icon theme
      community.general.pacman:
        name: hicolor-icon-theme
        state: present
      become: true

    - name: Install icons via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ item.value.package }}"
      loop: "{{ icons | dict2items }}"

- name: Configure Qt application
  block:
    - name: Install Qt packages
      community.general.pacman:
        name:
          - qt6ct
          - kvantum
          - qt5ct
          - kvantum-qt5
          - qt5-wayland
          - qt6-wayland
        state: present
      become: true

    - name: Install Qt theme
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ gui.kvantum.package }}"

    - name: Clean kvantum configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/Kvantum"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Create kvantum configuration
      ansible.builtin.copy:
        content: |
          theme={{ gui.kvantum.name }}
        dest: "{{ users.user.config }}/Kvantum/kvantum.kvconfig"
        mode: "0644"

    - name: Clean qtct configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ item }}"
        state: absent
      loop:
        - qt6ct
        - qt5ct

    - name: Create qtct configuration directory
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - qt6ct
        - qt5ct

    - name: Create qtct configuration
      ansible.builtin.copy:
        content: |
          [Appearance]
          custom_palette=false
          icon_theme={{ icons.main.name }}
          standard_dialogs=gtk3
          style=kvantum-dark

          [Fonts]
          fixed="{{ fonts.monospace.name }},{{ fonts.monospace.sizes.small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
          general="{{ fonts.sans_serif.name }},{{ fonts.sans_serif.sizes.small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
        dest: "{{ users.user.config }}/{{ item }}"
        mode: "0644"
      loop:
        - qt6ct/qt6ct.conf
        - qt5ct/qt5ct.conf

    - name: Configure Qt environmental variables
      ansible.builtin.include_role:
        name: common
      vars:
        _common_env:
          #
          # Disabling auto dpi detection, which should play with
          #  x11: xft.dpi
          #  wayland: QT_SCALE_FACTOR (blurry, not recommended) and QT_FONT_DPI
          #
          - key: QT_AUTO_SCREEN_SCALE_FACTOR
            value: 0
          - key: QT_ENABLE_HIGHDPI_SCALING
            value: 0
          #
          # qt5ct is read by both qt5ct and qt6ct 
          #
          - key: QT_QPA_PLATFORMTHEME
            value: qt5ct

