---
- name: Configure fonts
  block:
    - name: Install rendering libraries
      community.general.pacman:
        name:
          - freetype2
          - fontconfig
        state: present
      become: true

    - name: Install fonts
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ fonts | dict2items | map(attribute='value.package') }}"

    - name: Clean fontconfig configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/fontconfig"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render fontconfig configuration
      ansible.builtin.template:
        src: fontconfig/fonts.conf.j2
        dest: "{{ users.user.config }}/fontconfig/fonts.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true

- name: Configure icons
  block:
    - name: Install default fallback icon theme
      community.general.pacman:
        name: hicolor-icon-theme
        state: present
      become: true

    - name: Install icons via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ item.value.package }}"
      loop: "{{ icons | dict2items }}"

- name: Configure Qt application
  block:
    - name: Install Qt packages
      community.general.pacman:
        name:
          - qt6ct
          - kvantum
          - qt5ct
          - kvantum-qt5
          - qt5-wayland
          - qt6-wayland
        state: present
      become: true

    - name: Install Qt theme
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ gui.kvantum.package }}"

    - name: Clean kvantum configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/Kvantum"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Create kvantum configuration
      ansible.builtin.copy:
        content: |
          theme={{ gui.kvantum.name }}
        dest: "{{ users.user.config }}/Kvantum/kvantum.kvconfig"
        mode: "0644"

    - name: Clean qtct configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ item }}"
        state: absent
      loop:
        - qt6ct
        - qt5ct

    - name: Create qtct configuration directory
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - qt6ct
        - qt5ct

    - name: Create qtct configuration
      ansible.builtin.copy:
        content: |
          [Appearance]
          custom_palette=false
          icon_theme={{ icons.main.name }}
          standard_dialogs=gtk3
          style=kvantum-dark

          [Fonts]
          fixed="{{ fonts.monospace.name }},{{ fonts.monospace.sizes.small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
          general="{{ fonts.sans_serif.name }},{{ fonts.sans_serif.sizes.small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
        dest: "{{ users.user.config }}/{{ item }}"
        mode: "0644"
      loop:
        - qt6ct/qt6ct.conf
        - qt5ct/qt5ct.conf

    - name: Configure Qt environmental variables
      ansible.builtin.include_role:
        name: common
      vars:
        _common_env:
          #
          # Disabling auto dpi detection, which should play with
          #  x11: xft.dpi
          #  wayland: QT_SCALE_FACTOR (blurry, not recommended) and QT_FONT_DPI
          #
          - key: QT_AUTO_SCREEN_SCALE_FACTOR
            value: 0
          - key: QT_ENABLE_HIGHDPI_SCALING
            value: 0
          #
          # qt5ct is read by both qt5ct and qt6ct 
          #
          - key: QT_QPA_PLATFORMTHEME
            value: qt5ct

- name: Configure GTK applications
  block:
    - name: Install GTK packages
      community.general.pacman:
        name:
          - gtk3
          - gtk4
        state: present
      become: true

    - name: Install GTK theme
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ gui.gtk.package }}"

    - name: Clean GTK configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ item }}"
        state: absent
      loop:
        - gtk3.0
        - gtk4.0
        - glib-2.0
        - dconf

    - name: Create GTK configuration directories
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - gtk3.0
        - gtk4.0
        - glib-2.0
        - glib-2.0/settings

    #
    # GTK settings priority (also refer to the gtk/gtk/gtksettings.c):
    # x11:
    #  1) XSettings (xsettingsd)
    #  2) settings.ini
    # wayland:
    #  1) portals (unless GIO_USE_PORTALS=0 and GTK_USE_PORTAL=0)
    #  2) gsettings
    #  3) settings.ini
    #
    - name: Configure gsettings backend to keyfile instead of dconf
      ansible.builtin.include_role:
        name: common
      vars:
        common_env:
          - key: GSETTINGS_BACKEND
            value: keyfile

    - name: Render settings.ini for GTK3 and GTK4
      ansible.builtin.copy:
        content: |
          [Settings]
          gtk-font-name = {{ fonts.sans_serif.name }} {{ fonts.sans_serif.sizes.small }}
          gtk-icon-theme-name = {{ icons.main.name }}
          gtk-application-prefer-dark-theme = true
          gtk-recent-files-enabled = false
          gtk-enable-animations = false
          gtk-error-bell = false
          gtk-theme-name = {{ gui.gtk.name }}
        dest: "{{ users.user.config }}/{{ item }}/settings.ini"
        mode: "0644"
      loop:
        - gtk3.0
        - gtk4.0

    - name: Render gsettings keyfile
      ansible.builtin.copy:
        content: |
          [org/gnome/desktop/interface]
          icon-theme={{ icons.main.name }}
          enable-animations=false
          gtk-theme={{ gui.gtk.name }}
          font-name={{ fonts.sans_serif.name }} {{ fonts.sans_serif.sizes.small }}
          document-font-name={{ fonts.serif.name }} {{ fonts.serif.sizes.small }}
          monospace-font-name={{ fonts.monospace.name }} {{ fonts.monospace.sizes.small }}
          clock-format=12h
          clock-show-seconds=true
          color-scheme=prefer-dark
        dest: "{{ users.user.config }}/glib-2.0/settings/keyfile"
        mode: "0644"
