---
- name: Configure fonts
  tags:
    - graphics-look-fonts
  block:
    - name: Configure fonts
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install: >-
            {{
              ['fontconfig', 'freetype2']
              + [fonts.monospace, fonts.serif, fonts.sans_serif, fonts.emoji, fonts.icon]
                  | map(attribute='package')
                  | flatten
            }}
        _common_install:
          targets:
            fontconfig/fonts.conf:
              wipe: true
              template: fontconfig/fonts.conf.j2

- name: Configure icons
  tags:
    - graphics-look-icons
  block:
    - name: Configure icons
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          install: >-
            {{
              ['hicolor-icon-theme']
              + icons | dict2items | map(attribute='value.package')
            }}

- name: Configure Qt applications
  tags:
    - graphics-look-qt
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - qt6-wayland
        - qt5-wayland
        - kvantum
        - kvantum-qt5
        - qt6ct
        - qt5ct
        - "{{ gui.kvantum.package }}"

    _common_environment:
      #
      # qt5ct is read by both qt5ct and qt6ct
      #
      - key: QT_QPA_PLATFORMTHEME
        value: qt5ct
      #
      # Disabling auto dpi detection, which should play with
      #  x11: xft.dpi
      #  wayland: QT_SCALE_FACTOR (blurry, not recommended) and QT_FONT_DPI
      #
      - key: QT_AUTO_SCREEN_SCALE_FACTOR
        value: 0
      - key: QT_ENABLE_HIGHDPI_SCALING
        value: 0

    _common_install:
      defaults:
        wipe: true
      targets:
        Kvantum/kvantum.kvconfig:
          content: |
            theme={{ gui.kvantum.name }}
        #
        # https://doc.qt.io/qt-6/qfont.html#toString
        #
        qt5ct/qt5ct.conf:
          content: &qtctconf |
            [Appearance]
            custom_palette=false
            icon_theme={{ icons.main.name }}
            standard_dialogs=gtk3
            style=kvantum-dark

            [Fonts]
            fixed="{{ fonts.monospace.name }},{{ fonts.monospace.sizes.small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
            general="{{ fonts.sans_serif.name }},{{ fonts.sans_serif.sizes.small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
        qt6ct/qt6ct.conf":
          content: *qtctconf

- name: Configure GTK applications
  tags:
    - graphics-look-gtk
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - gtk3
        - gtk4
        - "{{ gui.gtk.package }}"

    #
    # GTK settings priority (also refer to the gtk/gtk/gtksettings.c):
    # x11:
    #  1) XSettings (xsettingsd)
    #  2) settings.ini
    # wayland:
    #  1) portals (unless GIO_USE_PORTALS=0 and GTK_USE_PORTAL=0)
    #  2) gsettings
    #  3) settings.ini
    #
    _common_environment:
      - key: GSETTINGS_BACKEND
        value: keyfile

    _common_install:
      defaults:
        wipe: true
      wipes:
        - dconf
        - glib-2.0
      targets:
        glib-2.0/settings/keyfile: |
          [org/gnome/desktop/interface]
          icon-theme={{ icons.main.name }}
          enable-animations=false
          gtk-theme={{ gui.gtk.name }}
          font-name={{ fonts.sans_serif.name }} {{ fonts.sans_serif.sizes.small }}
          document-font-name={{ fonts.serif.name }} {{ fonts.serif.sizes.small }}
          monospace-font-name={{ fonts.monospace.name }} {{ fonts.monospace.sizes.small }}
          clock-format=12h
          clock-show-seconds=true
          color-scheme=prefer-dark
        gtk3.0/settings.ini:
          content: &settingsini |
            [Settings]
            gtk-font-name = {{ fonts.sans_serif.name }} {{ fonts.sans_serif.sizes.small }}
            gtk-icon-theme-name = {{ icons.main.name }}
            gtk-application-prefer-dark-theme = true
            gtk-recent-files-enabled = false
            gtk-enable-animations = false
            gtk-error-bell = false
            gtk-theme-name = {{ gui.gtk.name }}
        gtk4.0/settings.ini:
          content: *settingsini
