---
- name: Configure fonts
  block:
    - name: Install rendering libraries
      community.general.pacman:
        name:
          - freetype2
          - fontconfig
        state: present
      become: true

    - name: Install fonts
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ fonts | dict2items | map(attribute='value.package') }}"

    - name: Clean fontconfig configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/fontconfig"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render fontconfig configuration
      ansible.builtin.template:
        src: fontconfig/fonts.conf.j2
        dest: "{{ users.user.config }}/fontconfig/fonts.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true

- name: Configure icons
  block:
    - name: Install default fallback icon theme
      community.general.pacman:
        name: hicolor-icon-theme
        state: present
      become: true

    - name: Install icons via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: "{{ item.value.package }}"
      loop: "{{ icons | dict2items }}"
      ansible.builtin.include_role:
        name: common
      vars:
        common_aur: nordzy-icon-theme

    - name: Install zorin icons via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        common_aur: zorin-icon-themes

