---
- name: Install proprietary nvidia graphics drivers
  tags:
    - graphics-driver
    - graphics-nvidia
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - nvidia
        - nvidia-utils
        - nvidia-settings
        - libva-nvidia-driver

    _common_services:
      defaults:
        - disable
      targets:
        nvidia-hibernate.service:
        nvidia-persistenced.service:
        nvidia-powerd.service:
        nvidia-resume.service:
        nvidia-suspend.service:

    #
    # VA-API <-> NvDEC bridge
    #
    _common_environment:
      - key: LIBVA_DRIVER_NAME
        value: nvidia
      - key: NVD_BACKEND
        value: direct
      - key: __GL_ALLOW_UNOFFICIAL_PROTOCOL
        value: 1

    _common_cmdline:
      video: "efifb:mode=0"
      nvidia.NVreg_InitializeSystemMemoryAllocations: "0"
      nvidia.NVreg_UsePageAttributeTable: "1"
      nvidia_drm.modeset: "1"

- name: Configure ly login manager
  tags:
    - graphics-ly
    - graphics-login-manager
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - ly

    _common_install:
      defaults:
        become: true
        base: /etc
      targets:
        ly/config.ini:
          file: ly/config.ini
        ly/xsetup.sh:
          content: &minwm |
            #!/bin/sh
            [ -f /etc/profile ] && . /etc/profile
            exec "$@" >/dev/null
        ly/wsetup.sh:
          content: *minwm

    _common_services:
      targets:
        ly.service:
          - reload
          - enable

