---
- name: Configure hyprland compositor
  block:
    - name: Ensure hyprland suite is installed
      community.general.pacman:
        name:
          - hyprland
          - wl-clipboard
          - grim
          - slurp
          - xdg-desktop-portal-hyprland
          - awk
          - jq
          - playerctl
        state: present
      become: true

    - name: Configure seatd backend
      ansible.builtin.include_role:
        name: common
      vars:
        common_env:
          - key: LIBSEAT_BACKEND
            value: logind
          - key: NVD_BACKEND
            value: direct
          - key: __GL_ALLOW_UNOFFICIAL_PROTOCOL
            value: 1

    - name: Autostart seatd
      ansible.builtin.systemd_service:
        name: seatd
        enabled: true
      become: true

    - name: Render Hyprland XDG portals configuration
      ansible.builtin.copy:
        content: |
          [preferred]
          default=gtk
          org.freedesktop.impl.portal.Screenshot=hyprland
          org.freedesktop.impl.portal.ScreenCast=hyprland
          org.freedesktop.impl.portal.GlobalShortcuts=hyprland
        dest: "{{ users.user.config }}/xdg-desktop-portal/hyprland-portals.conf"
        mode: "0644"

    - name: Clean hyprland configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/hypr"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render hyprland configuration
      ansible.builtin.template:
        src: hyprland/hyprland.conf.j2
        dest: "{{ users.user.config }}/hypr/hyprland.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true

    - name: Ensure stubs directory exists in /usr/local
      ansible.builtin.file:
        path: /usr/local/stubs
        mode: "0755"
        state: directory
        owner: 0
        group: 0
      become: true

    - name: Render Xwayland stub
      ansible.builtin.copy:
        content: |
          #!/bin/sh
          exit 1
        dest: /usr/local/stubs/Xwayland
        mode: "0755"
        owner: 0
        group: 0
      become: true

    - name: Render hyprland desktop entry with Xwayland stub
      ansible.builtin.copy:
        content: |
          [Desktop Entry]
          Name=Hyprland (no X)
          Comment=An intelligent dynamic tiling Wayland compositor
          Exec=/bin/sh -c "PATH=/usr/local/stubs:$PATH Hyprland"
          Type=Application
        dest: /usr/share/wayland-sessions/hyprland-nox.desktop
        mode: "0644"
        owner: 0
        group: 0
      become: true

- name: Configure waybar bar
  block:
    - name: Ensure waybar package is installed
      community.general.pacman:
        name: waybar
        state: present
      become: true

    - name: Clean waybar configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/waybar"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render waybar configuration
      ansible.builtin.template:
        src: "waybar/{{ item.template }}"
        dest: "{{ users.user.config }}/waybar/{{ item.file }}"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true
      loop:
        - template: config.jsonc.j2
          file: config.jsonc
        - template: style.css.j2
          file: style.css

- name: Configure mako notification daemon
  block:
    - name: Ensure mako package is installed
      community.general.pacman:
        name: mako
        state: present
      become: true

    - name: Clean mako configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/mako"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render mako configuration
      ansible.builtin.template:
        src: "mako/config.j2"
        dest: "{{ users.user.config }}/mako/config"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true
