---
# TODO: unset DISPLAY
- name: Configure hyprland compositor
  tags:
    - graphics-wayland-hyprland
    - graphics-wm
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - hyprland
        - xdg-desktop-portal-hyprland
        - wl-clipboard
        - grim
        - slurp
        - awk
        - sed
        - jq
        - playerctl

    _common_install:
      targets:
        hypr/hyprland.conf:
          wipe: true
          template: hyprland/hyprland.conf.j2
        xdg-desktop-portal/hyprland-portals.conf:
          content: |
            [preferred]
            default=gtk
            org.freedesktop.impl.portal.Screenshot=hyprland
            org.freedesktop.impl.portal.ScreenCast=hyprland
            org.freedesktop.impl.portal.GlobalShortcuts=hyprland

    _common_services:
      targets:
        seatd:
          - enable
        xdg-desktop-portal-hyprland:
          - user
          - unmask

    _common_groups:
      - seat

    _common_environment:
      - key: LIBSEAT_BACKEND
        value: logind

- name: Configure hyprland no-X launch
  tags:
    - graphics-wayland-hyprland-nox
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        become: true
      targets:
        /usr/local/stubs/Xwayland:
          content: |
            #!/bin/sh
            exit 1
        /usr/share/wayland-sessions/hyprland-nox.desktop:
          content: |
            [Desktop Entry]
            Name=Hyprland (no X)
            Comment=An intelligent dynamic tiling Wayland compositor
            Exec=/bin/sh -c "PATH=/usr/local/stubs:$PATH Hyprland"
            Type=Application

- name: Configure waybar bar
  tags:
    - graphics-wayland-waybar
    - graphics-bar
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - waybar

    _common_services:
      targets:
        waybar.service:
          - user
          - disable

    _common_install:
      defaults:
        wipe: true
      targets:
        waybar/config.jsonc:
          template: waybar/config.jsonc.j2
        waybar/style.css:
          template: waybar/style.css.j2

- name: Configure mako notification daemon
  tags:
    - graphics-wayland-mako
    - graphics-notifications
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - mako

    _common_services:
      targets:
        mako.service:
          - user
          - disable

    _common_install:
      targets:
        mako/config:
          template: mako/config.j2
