- name: Configure Xorg server
  block:
    - name: Ensure Xorg suite is installed
      community.general.pacman:
        name:
          - xorg-server
          - xf86-input-libinput
          - xorg-xrdb
          - xorg-xsetroot
          - xorg-xeyes
          - numlockx
          - hsetroot
          - xclip
          - shotgut
          - hacksaw
        state: present
      become: true

    - name: Clean xorg.conf.d configuration files
      ansible.builtin.file:
        path: /etc/X11/xorg.conf.d
        mode: "0755"
        owner: 0
        group: 0
        state: "{{ item }}"
      loop:
        - absent
        - directory
      become: true

    - name: Copy xorg.conf.d configuration files
      ansible.builtin.copy:
        src: xorg/
        dest: /etc/X11/xorg.conf.d/
        mode: "0644"
        owner: 0
        group: 0
      become: true

    - name: Render Xorg nvidia configuration template
      ansible.builtin.template:
        src: xorg/20-nvidia.conf.j2
        dest: /etc/X11/xorg.conf.d/20-nvidia.conf
        mode: "0644"
        owner: 0
        group: 0
      become: true

- name: Configure polybar bar
  block:
    - name: Ensure polybar package is installed
      community.general.pacman:
        name: polybar
        state: present
      become: true

    - name: Clean polybar configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/polybar"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render polybar configuration
      ansible.builtin.template:
        src: polybar/config.ini.j2
        dest: "{{ users.user.config }}/polybar/config.ini"
        mode: "0644"

- name: Configure dunst notification daemon
  block:
    - name: Ensure dunst package is installed
      community.general.pacman:
        name: dunst
        state: present
      become: true

    - name: Clean dunst configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/dunst"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render dunst configuration
      ansible.builtin.template:
        src: dunst/dunstrc.j2
        dest: "/home/{{ env_user }}/.config/dunst/dunstrc"
        mode: "0644"

- name: Configure rofi app launcher
  block:
    - name: Ensure rofi package is installed
      community.general.pacman:
        name: rofi
        state: present
      become: true

    - name: Clean rofi configuration
      ansible.builtin.file:
        path: "/home/{{ env_user }}/.config/rofi"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render rofi configuration
      ansible.builtin.template:
        src: rofi/config.rasi.j2
        dest: "/home/{{ env_user }}/.config/rofi/config.rasi"
        mode: "0644"

- name: Configure picom compositor
  block:
    - name: Ensure picom package is installed
      community.general.pacman:
        name: rofi
        state: present
      become: true

    - name: Clean rofi configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/{{ item }}"
        state: absent
      loop:
        - picom.conf
        - picom

    - name: Copy rofi configuration
      ansible.builtin.copy:
        src: picom/picom.conf
        dest: "{{ users.user.config }}/picom/picom.conf"
        mode: "0644"
        directory_mode: "0755"

- name: Configure herbstluftwm window manager
  block:
    #
    # Only git version introduces --binary-pipe
    #
    - name: Ensure herbstluftwm package is not installed to omit conflict
      community.general.pacman:
        name: herbstluftwm
        state: absent
      become: true

    - name: Install git version of the herbstluftwm via AUR
      ansible.builtin.include_role:
        name: common
      vars:
        _common_aur: herbstluftwm-git

    - name: Ensure miscellaneous packages are installed for herbstluftwm configuration
      community.general.pacman:
        name:
          - luajit
          - awk
          - jq
          - playerctl
        state: present
      become: true

    - name: Clean herbstluftwm configuration
      ansible.builtin.file:
        path: "{{ users.user.config }}/herbstluftwm"
        mode: "0755"
        state: "{{ item }}"
      loop:
        - absent
        - directory

    - name: Render herbstluftwm configuration
      ansible.builtin.template:
        src: herbstluftwm/autostart.j2
        dest: "{{ users.user.config }}/herbstluftwm/autostart"
        mode: "0755"
