---
- name: Install common C++ tools
  common_packages:
    install:
      - base-devel
      - llvm
      - clang
      - lldb
      - lld
      - libc++
      - ninja
      - valgrind

- name: Configure CMake
  tags:
    - dev-cplusplus-cmake
  vars:
    __cplusplus:
      name: cplusplus-cmake
      fetch: true
      builds: "{{ lookup('ansible.builtin.template', 'local_templates/cmake_builds.j2') }}"
  block:
    - name: Install cmake
      common_packages:
        install:
          - cmake

    - name: Wipe CMake cache
      common_install:
        targets:
          - dir: "{{ lookup('user_layout', dev.cmake.packages) }}"
            wipe: true
            create: false

    - name: Render CMake template
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
          wipe: true
        targets: "{{ lookup('common_install_targets', 'cplusplus', 'cplusplus-cmake') }}"

    - name: Render CMake toolchains
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
        targets: "{{ lookup('ansible.builtin.template', 'local_templates/cmake_targets.j2') }}"

- name: Configure vcpkg
  tags:
    - dev-cplusplus-vcpkg
  vars:
    __cplusplus:
      name: cplusplus-vcpkg
      builds: "{{ lookup('ansible.builtin.template', 'local_templates/vcpkg_builds.j2') }}"
  block:
    - name: Wipe vcpkg home
      common_install:
        targets:
          - dir: "{{ lookup('user_layout', dev.vcpkg.home) }}"
            wipe: true

    - name: Install cmake
      common_packages:
        install:
          - vcpkg
    
    - name: Bootstrap vcpkg
      ansible.builtin.git:
        repo: git@github.com:microsoft/vcpkg.git
        dest: "{{ lookup('user_layout', dev.vcpkg.home) }}"
        single_branch: yes
        version: master

    - name: Render vcpkg template
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
          wipe: true
        targets: "{{ lookup('common_install_targets', 'cplusplus', 'cplusplus-cmake', 'cplusplus-vcpkg') }}"

    - name: Render vcpkg toolchains
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
        targets: "{{ lookup('ansible.builtin.template', 'local_templates/vcpkg_targets.j2') }}"

- name: Configure conan
  tags:
    - dev-cplusplus-conan
  vars:
    __cplusplus:
      name: cplusplus-conan
      builds: "{{ lookup('ansible.builtin.template', 'local_templates/conan_builds.j2') }}"
  block:
    - name: Install conan
      common_packages:
        install:
          - conan

    - name: Wipe conan home
      common_install:
        targets:
          - dir: "{{ lookup('user_layout', dev.conan.home) }}"
            wipe: true
            create: false

    - name: Render conan template
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
          wipe: true
        targets: "{{ lookup('common_install_targets', 'cplusplus', 'cplusplus-cmake', 'cplusplus-conan') }}"

    - name: Render conan profiles
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
        targets: "{{ lookup('ansible.builtin.template', 'local_templates/conan_targets.j2') }}"

- name: Configure meson
  tags:
    - dev-cplusplus-meson
  vars:
    __cplusplus:
      name: cplusplus-meson
      builds: "{{ lookup('ansible.builtin.template', 'local_templates/meson_builds.j2') }}"
  block:
    - name: Install meson
      common_packages:
        install:
          - meson

    - name: Render meson template
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
          wipe: true
        targets: "{{ lookup('common_install_targets', 'cplusplus', 'cplusplus-meson') }}"

    - name: Render meson profiles
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
        targets: "{{ lookup('ansible.builtin.template', 'local_templates/meson_targets.j2') }}"

- name: Configure bazel
  tags:
    - dev-cplusplus-bazel
  vars:
    __cplusplus:
      name: cplusplus-bazel
  block:
    - name: Install bazelisk version manager
      common_packages:
        install:
          - bazelisk-bin
        remove:
          - bazel

    - name: Wipe bazel
      when: policy.destructive is true
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ lookup('user_layout', dev.bazel.rc) }}"
        - "{{ lookup('user_layout', dev.bazel.cache) }}"

    - name: Render bazel template
      common_install:
        defaults:
          base: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}"
          wipe: true
        targets: "{{ lookup('common_install_targets', 'cplusplus', 'cplusplus-bazel') }}"

    - name: Render bazel configurations
      common_install:
        targets:
          - file: "{{ users.user.home }}/{{ users.user.xdg.templates }}/{{ __cplusplus.name }}/.bazelrc"
            content: "{{ lookup('ansible.builtin.template', 'local_templates/bazel_targets.j2') }}"

    - name: Fetch bazel-compile-commands releases
      ansible.builtin.uri:
        url: https://api.github.com/repos/kiron1/bazel-compile-commands/releases
        return_content: true
      register: __bazel_compile_commands

    - name: Download and unpack latest bazel-compile-commands release
      ansible.builtin.shell:
        chdir: "{{ users.user.bin }}"
        cmd: "{{ lookup('ansible.builtin.template', 'local_templates/bazel_download_tools.j2') }}"

