---
- name: Wipe Go
  tags:
    - dev-go-wipe
  ansible.builtin.import_role:
    name: common
  vars:
    _common_vm:
      wipe:
        - go

    _common_install:
      wipes:
        #
        # Default locations.
        #
        - "{{ users.user.home }}/go"
        - "{{ users.user.cache }}/go-build"
        #
        # Custom locations.
        #
        - "{{ apps.go.packages }}"
        - "{{ apps.go.bin }}"

- name: Configure Go
  ansible.builtin.import_role:
    name: common
  vars:
    _common_vm:
      install:
        - go@latest
        - aqua:golangci/golangci-lint@latest

- name: Render go template
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        base: "{{ users.user.home }}/{{ users.user.xdg.templates }}"
        wipe: true
      targets:
        go/.gitignore:
          template: go/gitignore.j2
        go/.editorconfig:
          template: go/editorconfig.j2
        go/README.md:
          file: README.md

        go/mise.toml:
          content: |
            [tools]
            go = "latest"
            "aqua:golangci/golangci-lint" = "latest"
        go/mise.local.toml:
          content: |
            [env]
            _.path = [
                "{{ apps.go.bin }}",
            ]

            [tasks.init]
            description = "Initialize template to a working state."
            run = [
                "go mod init example.com/golang-template",
                "go get github.com/stretchr/testify github.com/stretchr/testify/assert",
                "go mod download",
            ]

            [tasks.info]
            run = """
            {{
              [
                {
                  "deps": "go mod download",
                  "update": "(go get -u) and (go mod tidy)",
                },
                {
                  "format": "go fmt",
                  "check": "go vet",
                  "lint": "(golangci-lint run [--fix]) or (revive -config revive.toml -formatter friendly './cmd/...' './internal/...')",
                  "test": "go test './...'",
                },
                {
                  "run": "go run .",
                  "build": "CGO_ENABLED=0 GOARCH=amd64 GOOS=linux go build [-trimpath] [-o dist/golang-template]",
                },
                {
                  "os and arch": "https://gist.github.com/asukakenji/f15ba7e588ac42795f421b48b8aede63",
                  "golangci-lint": "https://golangci-lint.run/usage/linters/",
                  "revive": "https://github.com/mgechev/revive/blob/master/RULES_DESCRIPTIONS.md",
                  "awesome": "https://github.com/avelino/awesome-go",
                  "go testing": "https://go.dev/doc/tutorial/add-a-test",
                  "testify": "https://github.com/stretchr/testify",
                  "go by example": "https://gobyexample.com/",
                  "go workspaces": "https://go.dev/doc/tutorial/workspaces",
                },
              ] | shellmsg("Go developement suite")
            }}
            """

        go/.golangci.yml:
          file: go/golangci.yml
        go/main.go:
          file: go/main.go
        go/util/util.go:
          file: go/util/util.go
        go/util/util_test.go:
          file: go/util/util_test.go

- name: Configure GoLand IDE
  ansible.builtin.import_tasks:
    file: jetbrains/ide.yml
  vars:
    _jetbrains_ide: goland
