---
- name: Wipe JavaScript
  tags:
    - dev-javascript-wipe
  ansible.builtin.import_role:
    name: common
  vars:
    _common_vm:
      wipe:
        - deno
        - bun
        - node

    _common_install:
      wipes:
        #
        # Default locations.
        #
        - "{{ users.user.home }}/.deno"
        - "{{ users.user.home }}/.bun"
        - "{{ users.user.home }}/.npm"
        - "{{ users.user.home }}/.npmrc"
        - "{{ users.user.cache }}/node"
        - "{{ users.user.cache }}/pnpm"
        - "{{ users.user.share }}/pnpm"
        - "{{ users.user.state }}/pnpm"
        - "{{ users.user.cache }}/yarn"
        - "{{ users.user.share }}/yarn"
        - "{{ users.user.home }}/.yarn"
        - "{{ users.user.home }}/.yarnrc"
        - "{{ users.user.home }}/.yarnrc.yml"
        #
        # Custom locations.
        #
        - "{{ apps.deno.home }}"
        - "{{ apps.bun.cache }}"
        - "{{ apps.bun.install }}"
        - "{{ apps.bun.bin }}"
        - "{{ apps.node.history }}"
        - "{{ apps.npm.cache }}"
        - "{{ apps.pnpm.home }}"

- name: Configure JavaScript
  ansible.builtin.import_role:
    name: common
  vars:
    _common_vm:
      install:
        - deno@latest
        - bun@latest
        - node@latest

    _common_install:
      targets:
        .bunfig.toml:
          content: >-
            [install]
            globalDir = "{{ apps.bun.install }}"
            globalBinDir = "{{ apps.bun.bin }}"
            cache.dir = "{{ apps.bun.cache }}"

- name: Render JavaScript template
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        base: "{{ users.user.home }}/{{ users.user.xdg.templates }}"
        wipe: true
      targets:
        deno/.gitignore:
          template: javascript/gitignore.j2
        deno/.editorconfig:
          template: javascript/editorconfig.j2
        deno/README.md:
          file: README.md
        deno/mise.toml:
          content: |
            [tools]
            deno = "latest"
        deno/mise.local.toml:
          content: |
            [env]
            _.path = [
                "{{ apps.deno.home }}/bin",
            ]

            [tasks.info]
            run = """
            {{
              [
                {
                  "deps": "(deno install) or (deno cache ./src/main.ts)",
                  "update": "deno outdated # deno.json/package.json only",
                },
                {
                  "format": "deno task fmt",
                  "lint": "deno task lint[:watch]",
                  "typecheck": "deno task typecheck",
                  "test": "deno task test[:watch]",
                },
                {
                  "run": "deno task run[:watch]",
                  "build": (
                    "deno compile --target x86_64-unknown-linux-gnu " + 
                    "--output dist/deno-template src/main.ts"
                  ),
                },
                {
                  "cache": "$DENO_DIR",
                  "cli manual": "https://docs.deno.com/runtime/reference/cli/",
                  "testing": "https://docs.deno.com/runtime/fundamentals/testing/",
                  "workspaces": "https://docs.deno.com/runtime/fundamentals/workspaces/",
                },
              ] | shellmsg("Deno developement suite")
            }}
            """
        deno/deno.json:
          template: deno/deno.json.j2
        deno/src/main.ts:
          file: javascript/src/main.ts
        deno/src/util/join.ts:
          file: javascript/src/util/join.ts
        deno/src/util/join.test.ts:
          file: deno/src/util/join.test.ts

        bun/.gitignore:
          template: javascript/gitignore.j2
        bun/.editorconfig:
          template: javascript/editorconfig.j2
        bun/README.md:
          file: README.md
        bun/mise.toml:
          content: |
            [tools]
            bun = "latest"
        bun/mise.local.toml:
          content: |
            [env]
            _.path = [
                "{{ apps.bun.install }}",
            ]

            [tasks.init]
            description = "Initialize template to a working state."
            run = "bun update"

            [tasks.info]
            run = """
            {{
              [
                {
                  "deps": "bun install",
                  "update": "bun update",
                },
                {
                  "format": "bun run fmt",
                  "lint": "deno run lint",
                  "format+lint": "deno run check",
                  "typecheck": "bun run typecheck",
                  "test": "bun test [--watch] src",
                },
                {
                  "run": "bun task run[:watch]",
                  "build": (
                    "bun build --compile --target=bun-linux-x64 " + 
                    "--minify --sourcemap --bytecode ./src/main.ts --outfile dist/bun-template"
                  ),
                },
                {
                  "bun API": "https://bun.sh/docs/runtime/bun-apis",
                  "bunfig": "https://bun.sh/docs/runtime/bunfig",
                  "workspaces": "https://bun.sh/docs/install/workspaces",
                  "single-file executable": "https://bun.sh/docs/bundler/executables",
                  "skip tests": "https://bun.sh/guides/test/skip-tests",
                },
              ] | shellmsg("Bun developement suite")
            }}
            """
        bun/package.json:
          template: bun/package.json.j2
        bun/tsconfig.json:
          file: bun/tsconfig.json
        bun/biome.json:
          file: bun/biome.json
        bun/src/main.ts:
          file: javascript/src/main.ts
        bun/src/util/join.ts:
          file: javascript/src/util/join.ts
        bun/src/util/join.test.ts:
          file: bun/src/util/join.test.ts

        node/.gitignore:
          template: javascript/gitignore.j2
        node/.editorconfig:
          template: javascript/editorconfig.j2
        node/README.md:
          file: README.md
        node/mise.toml:
          content: |
            [tools]
            node = "latest"
        node/mise.local.toml:
          content: |
            [env]
            _.path = [
                "{{ apps.yarn.bin }}",
                "{{ apps.pnpm.home }}",
            ]

            [tasks.yarn]
            description = "Initialize template to a working state with yarn package manager."
            run = [
                "corepack use yarn@*",
                "corepack enable",
                "yarn up $(jq -r '.devDependencies | keys | .[]' package.json)",
            ]

            [tasks.pnpm]
            description = "Initialize template to a working state with pnpm package manager."
            run = [
                "corepack use pnpm@*",
                "corepack enable",
                "pnpm update",
            ]

            [tasks.info]
            run = """
            {{
              [
                {
                  "deps": "(yarn install) or (pnpm install)",
                  "update": "(yarn upgrade-interactive) or (pnpm update)",
                },
                  "format": "(yarn run fmt) or (pnpm run fmt)",
                  "lint": "(yarn run lint) or (pnpm run lint)",
                  "typecheck": "(yarn run typecheck[:watch]) or (pnpm run typecheck[:watch])",
                  "test": "(yarn run test[:watch]) or (pnpm run test[:watch])",
                },
                {
                  "run": "(yarn run [run/watch]) or (pnpm run [run/watch])",
                  "build": "(yarn run build) or (pnpm run build)",
                },
                {
                  "package.json": "https://docs.npmjs.com/cli/v11/configuring-npm/package-json",
                  "workspaces": "https://docs.npmjs.com/cli/v7/using-npm/workspaces",
                  "npm config": "https://docs.npmjs.com/cli/v9/using-npm/config",
                  "Exports VS Main": "https://nodejs.org/api/packages.html#determining-package-manager",
                  "node and typescript": "https://nodejs.org/en/learn/typescript/run",
                  "typescript performance": "https://typestrong.org/ts-node/docs/performance/",
                  "skip tests": "https://vitest.dev/guide/filtering",
                },
              ] | shellmsg("Node developement suite")
            }}
            """
        node/package.json:
          template: node/package.json.j2
        node/tsconfig.json:
          file: node/tsconfig.json
        node/eslint.config.mjs:
          file: node/eslint.config.mjs
        node/vitest.config.mts:
          file: node/vitest.config.mts
        node/src/main.ts:
          file: node/src/main.ts
        node/src/util/join.ts:
          file: javascript/src/util/join.ts
        node/src/util/join.test.ts:
          file: node/src/util/join.test.ts

- name: Configure WebStorm IDE
  ansible.builtin.import_tasks:
    file: jetbrains/ide.yml
  vars:
    _jetbrains_ide: webide
