---
- name: Wipe Java
  tags:
    - dev-java-wipe
  ansible.builtin.import_role:
    name: common
  vars:
    _common_vm:
      wipe:
        - java
        - gradle
        - aqua:apache/maven
    _common_install:
      wipes:
        #
        # Default locations.
        #
        - "{{ users.user.home }}/.m2"
        - "{{ users.user.home }}/.gradle"
        #
        # Custom locations.
        #
        - "{{ apps.maven.home }}"
        - "{{ apps.gradle.home }}"

- name: Configure Java
  ansible.builtin.import_role:
    name: common
  vars:
    _common_vm:
      wipe:
        - aqua:apache/maven@latest
      install:
        - java@latest
        - java@oracle-graalvm
        - gradle@latest
        - aqua:apache/maven@latest
    _common_install:
      targets: >
        {
          "{{ apps.gradle.home }}/gradle.properties": {
            "content": "{{ "\n".join([
              "org.gradle.parallel=true",
              "org.gradle.caching=true",
              "org.gradle.daemon.idletimeout=1200000",
              "org.gradle.configuration-cache=true",
              "org.gradle.test.worker={{ machine.halfcores }}",
              "org.gradle.java.installations.auto-download=false",
            ]) }}"
          }
        }

- name: Render Java template
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        base: "{{ users.user.home }}/{{ users.user.xdg.templates }}"
        wipe: true
      targets:
        maven/.gitignore:
          template: java/gitignore.j2
        maven/.editorconfig:
          template: java/editorconfig.j2
        maven/README.md:
          file: README.md
        maven/mise.local.toml:
          template: maven/mise.toml.j2
        maven/pom.xml:
          template: maven/pom.xml.j2
        maven/config/checkstyle/checkstyle.xml:
          file: java/config/checkstyle/checkstyle.xml
        maven/src/main/java/com/example/Main.java:
          file: java/src/main/java/com/example/Main.java
        maven/src/main/java/com/example/util/Util.java:
          file: java/src/main/java/com/example/util/Util.java
        maven/src/test/java/com/example/util/UtilTests.java:
          file: java/src/test/java/com/example/util/UtilTests.java

        gradle/.gitignore:
          template: java/gitignore.j2
        gradle/.editorconfig:
          template: java/editorconfig.j2
        gradle/README.md:
          file: README.md
        gradle/mise.local.toml:
          template: gradle/mise.toml.j2
        gradle/gradle.properties:
          file: gradle/gradle.properties
        gradle/settings.gradle:
          file: gradle/settings.gradle
        gradle/gradle/libs.versions.toml:
          file: gradle/gradle/libs.versions.toml
        gradle/app/build.gradle:
          template: gradle/app/build.gradle.j2
        gradle/config/checkstyle/checkstyle.xml:
          file: java/config/checkstyle/checkstyle.xml
        gradle/app/src/main/java/com/example/Main.java:
          file: java/src/main/java/com/example/Main.java
        gradle/app/src/main/java/com/example/util/Util.java:
          file: java/src/main/java/com/example/util/Util.java
        gradle/app/src/test/java/com/example/util/UtilTests.java:
          file: java/src/test/java/com/example/util/UtilTests.java

- name: Configure IntelliJ IDEA 
  ansible.builtin.import_tasks:
    file: jetbrains/ide.yml
  vars:
    _jetbrains_ide: idea
