---
- name: Wipe Python
  tags:
    - dev-python-wipe
  ansible.builtin.import_role:
    name: common
  vars:
    _common_vm:
      wipe:
        - python

    _common_install:
      wipes: >-
        {%- set _acc = [] -%}
        {%- for _tool in ["python", "pip", "pypoetry", "pdm", "black", "ruff", "mypy"] -%} 
          {%- set _ = _acc.extend([
            "{}/{}".format(users.user.cache, _tool),
            "{}/{}".format(users.user.share, _tool),
            "{}/{}".format(users.user.state, _tool),
          ]) -%}
        {%- endfor -%}
        {{ _acc }}

- name: Configure Python
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install:
        - uv

    _common_vm:
      install:
        - python@latest

    _common_install:
      targets:
        pdm/config.toml:
          content: |
            use_uv = true

- name: Render python template
  ansible.builtin.import_role:
    name: common
  vars:
    _common_install:
      defaults:
        base: "{{ users.user.home }}/{{ users.user.xdg.templates }}"
        wipe: true
      targets:
        python/mise.toml:
          content: |
            [tools]
            python = "latest"

        python/mise.local.toml:
          content: |
            [env]
            UV_PYTHON_DOWNLOADS = "never"
            _.path = [
              "{{ apps.python.uv_bin }}",
            ]

            [tasks.info]
            run = """
            {{
              [
                {
                  "deps": "uv sync",
                  "update": "uv sync -U # does not modify pyproject.toml",
                },
                {
                  "format": "uv run ruff format",
                  "lint": "uv run ruff check",
                  "typecheck": "uv run ruff mypy src",
                  "test": "uv run pytest",
                },
                {
                  "run": "uv run ./src/main.py",
                  "build": "uv build",
                },
                {
                  "uv workspaces": "https://docs.astral.sh/uv/concepts/projects/workspaces/#workspace-sources",
                  "pytest fixtures": "https://docs.pytest.org/en/stable/reference/fixtures.html",
                  "skip tests": "https://docs.pytest.org/en/stable/how-to/skipping.html",
                  "ruff": "https://docs.astral.sh/ruff/configuration/",
                  "PDM": "https://pdm-project.org/en/latest/usage/uv/#use-uv-experimental",
                },
              ] | shellmsg("Python developement suite")
            }}
            """

        python/.gitignore:
          template: python/gitignore.j2
        python/.editorconfig:
          template: python/editorconfig.j2
        python/README.md:
          file: README.md

        python/pyproject.toml:
          template: python/pyproject.toml.j2

        python/src/util/__init__.py:
          file: python/src/util/__init__.py
        python/src/util/join.py:
          file: python/src/util/join.py
        python/src/main.py:
          file: python/src/main.py

        python/tests/util/conftest.py:
          file: python/tests/util/conftest.py
        python/tests/util/test_util.py:
          file: python/tests/util/test_util.py

