# javascript-bun-template

## Bun Cheatsheet

### Dependencies

- Install Dependencies: ```bun install```
- Update Dependencies: ```bun update```

### Working with Code

- Format: ```bun run fmt```
- Lint: ```deno run lint```
- Format and Lint: ```deno run check```
- Typecheck: ```bun run typecheck```
- Test: ```bun test [--watch] src```

### Developement Flow

- Run: ```bun task run[:watch]```
- Build: ```bun build --compile --target=bun-linux-x64 --minify --sourcemap --bytecode ./src/main.ts --outfile dist/javascript-bun-template```

### Links

- Bun API: <https://bun.sh/docs/runtime/bun-apis>
- bunfig: <https://bun.sh/docs/runtime/bunfig>
- Workspaces: <https://bun.sh/docs/install/workspaces>
- Single-File Executable: <https://bun.sh/docs/bundler/executables>
- Skip Tests: <https://bun.sh/guides/test/skip-tests>

{{ ja_readme }}
