---
- name: Configure user authentication
  tags: apex-user-skel-auth
  block:
    - name: Render pam_faillock configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/security/faillock.conf
            perms: 644:root:root
            copy: files/faillock/faillock.conf

    - name: Add nodelay to pam_unix in system-auth
      become: true
      ansible.builtin.lineinfile:
        path: /etc/pam.d/system-auth
        regexp: ^(?P<prep>auth\s+.*\s+pam_unix\.so\s+)(?P<flags>[\w ]+)(?<!nodelay)$
        line: \g<prep>\g<flags> nodelay
        backrefs: true
        mode: "0644"
        owner: root
        group: root

- name: Configure user environment
  tags: apex-user-skel-env
  block:
    - name: Render default pam_env
      when: aa_wipe == 'always'
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: /etc/security/pam_env.conf
            perms: 644:root:root
            content: |
              #
              # This is the configuration file for pam_env, a PAM module to load in
              # a configurable list of environment variables.
              #
              # This module does not support shell features (subshells) other than
              # variable substitution.
              #
              # It is supposed to be managed by the 'foundation.user.env' ansible action plugin.
              #

    - name: Commit env change
      become: true
      foundation.user.env:
        section: "!important"
        home: "{{ fa_dir_home }}"
        subs: "{{ fa_dir_subs }}"
      environment:
        PATH: "{{ fa_dir_bin }}:/usr/local/sbin:/usr/local/bin:/usr/bin"

- name: Configure user profile
  tags: apex-user-skel-profile
  block:
    - name: Wipe shell user profile files
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
      vars:
        targets:
          - file: "{{ fa_dir_home }}/.profile"
            perms: "644:{{ ca_name }}:{{ ca_name }}"
            content: >-
              unset HISTFILE
