---
- name: Configure GnuPG services
  tags: apex-env-gpg-services
  block:
    - name: Mask unnecessary GnuPG services
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - keyboxd.socket
          - keyboxd.service
          - gpg-agent-browser.socket
          - gpg-agent-extra.socket

- name: Configure GnuPG layout
  tags: apex-env-gpg-layout
  block:
    - name: Resolve GnuPG user layout
      foundation.user.layout:
        wipe: "{{ aa_wipe }}"
        layout: "{{ fa_layout }}"
      vars:
        home: "{{ ha_gpg_user_layout }}"
      register: _hb_ulayout

    - name: Apply GnuPG XDG layout
      when: fa_layout == 'xdg'
      become: true
      foundation.user.env:
        section: env
        home: "{{ fa_dir_home }}"
        subs: "{{ fa_dir_subs }}"
      environment:
        GNUPGHOME: "{{ _hb_ulayout.home }}"

- name: Configure GnuPG
  tags: apex-env-gpg-main
  block:
    - name: Install GnuPG packages
      foundation.system.packages:
      vars:
        install:
          - gnupg
          - viu

    - name: Stop running GnuPG instance
      foundation.system.stop:
        headless: "{{ ba_headless }}"
      vars:
        processes:
          - gpg
        services:
          - gpg-agent.service
          - gpg-agent.socket
          - dirmngr.service
          - dirmngr.socket

    - name: Render GnuPG configuration
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: "{{ _hb_ulayout.home }}"
        perms: "700:600:{{ ca_name }}:{{ ca_name }}"
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./common.conf
            content: |
              #
              # common.conf - common defaults for all components.
              #
          - file: ./dirmngr.conf
            template: gpg/dirmngr.conf.j2
          - file: ./gpg.conf
            template: gpg/gpg.conf.j2
          - file: ./gpg-agent.conf
            template: gpg/gpg-agent.conf.j2

    - name: Enable GnuPG services
      foundation.system.services:
        headless: "{{ ba_headless }}"
      vars:
        units:
          - gpg-agent.service
          - gpg-agent.socket
          - dirmngr.service
          - dirmngr.socket
        state:
          enable: true

- name: Configure GnuPG keyring restoration
  tags: apex-env-gpg-restore
  block:
    - name: Restore keyring from persist
      foundation.persist.from:
        persist: "{{ aa_persist }}"
        base: "{{ _hb_ulayout.home }}"
      vars:
        shells:
          - key: gpg/keyring
            cmd: env 'GNUPGHOME={{ _hb_ulayout.home }}' gpg --batch --import-options restore --import -
        archives:
          - key: gpg/unattended-keys
            perms: "{{ ca_name }}:{{ ca_name }}"

          - key: gpg/private-keys
            perms: "{{ ca_name }}:{{ ca_name }}"
      register: _gb_restore_persist

    - name: Retrieve unattended keys information
      when: not (_gb_restore_persist is skipped)
      foundation.persist.gpg:
        home: "{{ fa_dir_home }}"
        layout: "{{ fa_layout }}"
      vars:
        keys: all
      register: _gb_restore_unattended

    - name: Import ownertrust to GnuPG
      when: not (_gb_restore_persist is skipped)
      ansible.builtin.command:
        argv:
          - gpg
          - --import-ownertrust
        stdin: >-
          {%- set _acc = [] -%}
          {%- for _key in _gb_restore_unattended.gpg.values() -%}
            {%- do _acc.append("{}:6:".format(_key.fingerprint)) -%}
          {%- endfor -%}
          {{ _acc | join("\n") }}
      environment:
        GNUPGHOME: "{{ _hb_ulayout.home }}"
      register: _hb_restore_ownertrust_invocation
      changed_when: _hb_restore_ownertrust_invocation.rc == 0

- name: Configure GnuPG keyring generation
  tags: apex-env-gpg-generate
  when: not (_gb_persist_restore is skipped)
  vars:
    _hb_re_fpr: .*KEY_CREATED.*([0-9-A-Z]{40})
    _hb_re_kgr: fpr:+{}:+\sgrp:+(\w+)

    _hb_masters: >-
      {%- set _acc = {} -%}
      {%- for _name, _subdict in hb_generate.items() -%}
        {%- do _acc.__setitem__(_name, _subdict.master | combine(dict(fpr=none, kgr=none))) -%}
      {%- endfor -%}
    _hb_subkeys: >-
      {%- set _acc = {} -%}
      {%- for _master, _subdict in hb_generate.items() -%}
        {%- for _name, _subkey in _subdict.subkeys.items() -%}
          {%- do _acc.__setitem__(_name, _subkey | combine(dict(fpr=none, kgp=none, master=_master))) -%}
        {%- endfor -%}
      {%- endfor -%}
  environment:
    GNUPGHOME: "{{ _hb_ulayout.home }}"
  block:
    - name: Generate master keys
      ansible.builtin.command:
        argv:
          - gpg
          - --batch
          - --status-fd 1
          - --generate-key
        stdin: |-
          Key-Type: {{ item.algo }}
          Key-{{ 'Curve' if item.algo.startswith(('ec', 'ed')) else 'Length' }}: {{ item.hint }}
          Key-Usage: cert
          Name-Real: {{ item.name }}
          Name-Comment: {{ item.comment }}
          Name-Email: {{ item.email }}
          Expire-Date: {{ item.expire }}
          Creation-Date: {{ now(utc=true, fmt='%Y') }}-01-01
          Passphrase: {{ item.password }}
          Keyserver: {{ hb_keyserver }}
          Preferences: {{ (['OCB'] + hb_digests + hb_ciphers + hb_compressions) | join(' ') }}
      register: _hb_gen_master_invocation
      changed_when: _hb_gen_master_invocation.rc == 0
      loop: "{{ _hb_masters.values() }}"

    - name: Extract fingerprints of the master keys
      ansible.builtin.set_fact:
        _hb_masters: >-
          {%- for _name, _inv in _hb_masters.keys() | zip(_hb_gen_master_invocation.results) -%}
            {%- do _hb_masters.__setitem__(_name, dict(fpr=_inv.stdout | regex_search(_hb_re_fpr, '\\1') | first)) -%}
          {%- endfor -%}
          {{ _hb_masters }}

    - name: Generate subkeys
      ansible.builtin.command:
        cmd: >-
          gpg --batch --status-fd 1 --pinentry-mode loopback --passphrase-fd 0
          --faked-system-time {{ '{}0101T000000Z!'.format(now(utc=true, fmt='%Y')) }}
          --quick-add-key {{ _hb_masters[item.master].fpr }}
          {{
            [item.hint, item.algo] | reject('none') | join('/')
            if item.algo.startswith(('ec', 'ed')) else
            '{}{}'.format(item.algo, item.hint)
          }}
          {{ item.type }}
          {{ _hb_masters[item.master].expire }}
        stdin: "{{ _hb_masters[item.master].password }}"
      register: _hb_gen_subkeys_invocation
      changed_when: _hb_gen_subkeys_invocation.rc == 0
      loop: "{{ _hb_subkeys.values() }}"

    - name: Retrieve keyring information
      ansible.builtin.command:
        argv:
          - gpg
          - --batch
          - --with-colons
          - --with-keygrip
          - --list-keys
      register: _hb_gen_keyring_invocation
      changed_when: _hb_gen_keyring_invocation.rc == 0

    - name: Extract keygrip of master keys
      ansible.builtin.set_fact:
        _hb_masters: >-
          {%- for _name, _master in _hb_masters.items() -%}
            {%- do _hb_masters[_master].__setitem__(
              'kgp',
              _hb_gen_keyring_invocation.stdout | regex_search(_hb_re_kgr.format(_master.fpr), '\\1') | first
            ) -%}
          {%- endfor -%}
          {{ _hb_masters }}

    - name: Extract keygrip and fingerprint for subkeys
      ansible.builtin.set_fact:
        _hb_subkeys: >-
          {%- for _name, _inv in _hb_subkeys | zip(_hb_gen_keyring_invocation.results) -%}
            {%- set _fpr = _inv.stdout | regex_search(_hb_re_fpr, '\\1') | first -%}
            {%- set _kgp = _hb_gen_keyring_invocation.stdout | regex_search(_hb_re_kgr.format(_fpr), '\\1') | first -%}
            {%- do _hb_gen.update(dict(fpr=_fpr, kgp=_kgp)) -%}
          {%- endfor -%}
          {{ _hb_gen }}

    - name: Apply ssh priority to subkeys
      ansible.builtin.command:
        argv:
          - gpg-connect-agent
          - --unbuffered
          - "KEYATTR {{ item.kgp }} Use-for-ssh: {{ item.priority }}"
          - /bye
      register: _hb_gen_keyattr_invocation
      changed_when: _hb_gen_keyattr_invocation.rc == 0
      loop: "{{ _hb_subkeys.values() }}"

    - name: Render unattended keys metadata into
      ansible.builtin.shell:
        cmd: >-
          base64 -d > '{{ _hb_ulayout.home }}/unattended-keys.json'
          &&
          chmod 700 '{{ _hb_ulayout.home }}/unattended-keys.json'
        stdin: >-
          {%- set _acc = {} -%}
          {%- for _name, _master in _hb_masters.items() -%}
            {%- do _acc.__setitem__(_name, dict(fingerprint=_master.fpr, keygrip=_master.kgp)) -%}
          {%- endfor -%}
          {%- for _name, _subkey in _hb_subkeys.items() -%}
            {%- do _acc.__setitem__(_name, dict(fingerprint=_subkey.fpr, keygrip=_subkey.kgp)) -%}
          {%- endfor -%}
          {{ _acc | to_nice_json | b64encode }}
      register: _hb_gen_unattended_invocation
      changed_when: _hb_gen_unattended_invocation.rc == 0

- name: Configure GnuPG user profile
  tags: apex-env-gpg-profile
  block:
    - name: Render GnuPG init block in user profile
      ansible.builtin.blockinfile:
        path: "{{ fa_dir_home }}/.profile"
        block: >-
          {%- set _lines = ['export GPG_TTY=$(tty)'] -%}
          {%- if hb_ssh_agent is true -%}
            {%- do _lines.append('export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)') -%}
          {%- endif -%}
          {{ _lines | join('\n') }}
        marker: "# {mark} GnuPG init"
