{%- set _indent = {"space": 4} -%}

{%- macro _channels_render() -%}
    {{ gd_cards | dict2items | map(attribute="value.channels") | map("length") | min() }}
{%- endmacro -%}

{%- macro _position_render() -%}
    {% set _min_pos = [] %}
    {% for _card in gd_cards.values() %}
        {% set _ = _min_pos.append({
            "length": _card.channels | length,
            "position": _card.channels,
        }) %}
    {% endfor %}
    [ {{ (_min_pos | min(attribute="length")).position | join(" ") }} ]
{%- endmacro -%}

#
# PipeWire daemon configuration.
#
context.properties = {
    core.daemon = true
    core.name = pipewire-0

    support.dbus = true

    loop.rt-prio = -1
    context.num-data-loops = 1

    {{ _gd_context | aa_relindent(times=1, **_indent) }}
}

context.spa-libs = {
{% if gd_video_v4l2 is true %}
    api.v4l2.* = v4l2/libspa-v4l2
{% endif %}
{% if gd_video_libcamera is true %}
    api.libcamera.* = libcamera/libspa-libcamera
{% endif %}
{% if gd_bluetooth is true %}
    api.bluez5.* = bluez5/libspa-bluez5
{% endif %}
{% if gd_jack is true %}
    api.jack.* = jack/libspa-jack
{% endif %}
    api.alsa.* = alsa/libspa-alsa
    api.vulkan.* = vulkan/libspa-vulkan

    support.* = support/libspa-support

    audio.convert.* = audioconvert/libspa-audioconvert
    video.convert.* = videoconvert/libspa-videoconvert
}

context.modules = [

    {{ _gd_realtime | aa_relindent(times=1, **_indent) }}

    {
        name = libpipewire-module-protocol-native
        args = {
            sockets = [
                { name = pipewire-0 }
                { name = pipewire-0-manager }
            ]
        }
    }

    { name = libpipewire-module-client-node }
    { name = libpipewire-module-client-device }

    { name = libpipewire-module-adapter }
    { name = libpipewire-module-link-factory }

    { name = libpipewire-module-profiler }
    { name = libpipewire-module-metadata }

    { name = libpipewire-module-session-manager }
    { name = libpipewire-module-portal }

{% if gd_video_v4l2 is true or gd_video_libcamera is true %}
    { name = libpipewire-module-spa-device-factory }
    { name = libpipewire-module-spa-node-factory }

{% endif %}
    {
        name = libpipewire-module-access
        args = {
            access.legacy = false
            access.socket = {
                pipewire-0 = default
                pipewire-0-manager = unrestricted
            }
        }
    }

{% if gd_loopback is true %}
    {
        name = libpipewire-module-loopback
        args = {
            audio.position = {{ _position_render() | aa_relindent }}
            capture.props = {
                node.name = loopback-input
                node.description = "Loopback Input"
                media.class = Audio/Sink
                priority.session = 0
            }
            playback.props = {
                node.name = loopback-output
                node.description = "Loopback Output"
                node.passive = true
            }
        }
        flags = [ ifexists nofail ]
    }

{% endif %}
{% if gd_rnnoise is true %}
    {
        name = libpipewire-module-filter-chain
        args = {
            node.description = "RNNoise"
            filter.graph = {
                nodes = [
                    {
                        type = ladspa
                        name = rnnoise
                        label = noise_suppressor_mono
                        plugin = /usr/lib/ladspa/librnnoise_ladspa.so
                        control = {
                            "VAD Threshold (%)" = {{ gd_rnnoise_threshold }}
                            "VAD Grace Period (ms)" = 300
                            "Retroactive VAD Grace (ms)" = 0
                        }
                    }
                ]
            }
            capture.props = {
                node.name =  "rnnoise-input"
                node.description = "RNNoise Input"
                node.passive = true

                audio.rate = 48000
            }
            playback.props = {
                node.name = "rnnoise-output"
                node.description = "RNNoise Output"
                media.class = Audio/Source

                priority.session = 9999
                audio.rate = 48000
            }
        }
        flags = [ ifexists nofail ]
    }

{% endif %}
{% if gd_jack is true %}
    {
        name = libpipewire-module-jackdbus-detect
        args = {
            jack.client-name = PipeWire
            jack.connect = true
            tunnel.mode = duplex
            source.props = {
                audio.channels = {{ _channels_render() | aa_relindent }}
                audio.position = {{ _position_render() | aa_relindent }}
                midi.ports = {{ gd_midi is true | ternary(1, 0) }}
            }
            sink.props = {
                audio.channels = {{ _channels_render() | aa_relindent }}
                audio.position = {{ _position_render() | aa_relindent }}
                midi.ports = {{ gd_midi is true | ternary(1, 0) }}
            }
        }
        flags = [ ifexists nofail ]
    }

{% endif %}
]
