
{%- set _monitor = monitors.outputs[notifications.monitor] -%}

{%- set _width = (_monitor.width * notifications.width) | scale(scaling.real) -%}
{%- set _height = (_monitor.height * notifications.height) | scale(scaling.real)-%}
{%- set _limit = (_monitor.height / _height) | round | int -%}
{%- set _icon_size = (_monitor.width * notifications.icon) | scale(scaling.real) -%}

{%- set _spacing_small = spacing.small | scale(scaling.real) -%}
{%- set _spacing_medium = spacing.medium | scale(scaling.real) -%}
{%- set _spacing_big = spacing.big | scale(scaling.real) -%}

{%- set _font_name = "monospace" -%}
{%- set _font_size = fonts[_font_name].sizes.big | scale(scaling.real) -%}
{%- set _font_pango = "{} {}px".format(_font_name, _font_size) -%}
{%- set _font_lh = "1.{}".format(fonts[_font_name].offsets.big) -%}

{%- set _gap = (spacing.big * 2) | scale(scaling.real) -%}

{%- macro _format_render(_color) -%}
    <span line_height="{{ _font_lh }}"><span weight="bold" color="{{ _color }}">%a</span> (%g)\n<b>%s</b>\n%b</span>
{%- endmacro -%}


history=1
max-history=40
sort=-time

actions=1

on-button-left=invoke-default-action
on-button-right=dismiss
on-button-middle=exec makoctl menu -n "$id" rofi -show drun -display-drun "Notification action"

font={{ _font_pango }}
background-color={{ preset.inactive }}
text-color={{ preset.foreground }}

width={{ _width }}
height={{ _height }}

#
# since waybar is the top layer, it does not occupy working area of the screen,
# i.e. only gap is required
#
# however:
#  1. hyprland werdly adds some margin to the top of the tap, thus fixing by adding spacing.light
#  2. outer-margin is added to the margin, thus decreasing margin from the top gap
#
outer-margin={{ _gap - _spacing_big + _spacing_small }},{{ _gap }},0,0
margin={{ _spacing_big }},0,{{ _spacing_big }},0
padding={{ _spacing_big }}

border-size={{ _spacing_medium }}
border-color={{ preset.active }}
border-radius=0

progress-color=over {{ preset.active }}

markup=1
text-alignment=center
format={{ _format_render(preset.accent) }}

default-timeout=0
ignore-timeout=1

group-by=body

output={{ _monitor.wayland }}
max-visible={{ _limit }}
layer=top
anchor=top-right

icons=1
icon-location=left
max-icon-size={{ _icon_size }}
icon-path=/usr/share/icons/{{ icons.launcher.name }}:/usr/share/icons/{{ icons.main.name }}


[urgency=low]
border-color={{ preset.active }}
format={{ _format_render(preset.foreground) }}


[urgency=normal]
border-color={{ preset.accent }}
format={{ _format_render(preset.accent) }}


[urgency=critical]
border-color={{ preset.important }}
format={{ _format_render(preset.important) }}
