{%- set _indent = {"space": 4} -%}

{%- set _project_patch_common = {
    "TieredPGO": "true",
    "AnalysisMode": "All",
    "GenerateDocumentationFile": true,
} -%}
{%- set _projects = {
    "main": {
        "dir": "src/Template",
        "csproj": "src/Template/Template.csproj",
        "patch": 
            {
                "PackageId": "DotnetTemplate",
                "Version": "1.0.0",
                "Authors": ca_info_full,
                "PackageLicenseExpression": "MIT",
                "PackageProjectUrl": "https://github.com/dotnet/runtime",
            } | ansible.builtin.combine(_project_patch_common),
    },
    "test": {
        "dir": "src/Template",
        "csproj": "src/Template/Template.csproj",
        "patch": _project_patch_common,
    },
} -%}

{%- macro _project_csprojcli(_project, _command, _args) -%}
    {%- set _args = [
        "{}/csprojcli".format(_jf_ulayout.dotnet_tools),
        _command,
        "-p", _project,
        _args,
        "-output", _project,
        "-allowoverwrite", "true",
    ] -%}
    {{ _args | flatten | join(" ") }}
{%- endmacro -%}

{%- macro _project_properties(_project, _properties) -%}
    {% for _prop, _value in _properties.items() %}
        "{{
            _project_csprojcli(
                _project,
                "node.insert",
                [
                    "-g", "PropertyGroup",
                    "-n", _prop,
                    "-v", _value | quote,
                ]
            )
        }}",
    {% endfor %}
{%- endmacro -%}

{%- macro _project_patch_render(_project) -%}
    {{ _project_properties(_project.csproj, _project.patch) | aa_relindent(times=1, **_indent) }}
    {#--#}
    "dotnet add {{ _project }} package StyleCop.Analyzers",
    "dotnet add {{ _project }} package Roslynator.Analyzers",
    "dotnet add {{ _project }} package Roslynator.CodeAnalysis.Analyzers",
    "dotnet add {{ _project }} package Roslynator.Formatting.Analyzers",
    {#--#}
    "{{ _project_csprojcli(_project.csproj, "group.insert", ["-g", "ItemGroup"]) }}",
    "{{
        _project_csprojcli(
            _project.csproj,
            "attribute.insert",
            [
                "-g", "ItemGroup",
                "-n", "AdditionalFiles",
                "-a", "Include",
                "-v", "../../stylecop.json" | quote,
            ],
        )
    }}"
{%- endmacro -%}

[env]
_.path = [
    "{{ _jf_ulayout.dotnet_root }}",
    "{{ _jf_ulayout.dotnet_tools }}",
]
DOTNET_CLI_HOME = "{{ _jf_ulayout.dotnet_tools }}"

[tasks.init]
description = "Initialize template to a working state."
run = [
    "dotnet tool install -g csprojcli",

    "(cd {{ _projects.main.dir }} && dotnet new console)",
    "(cd {{ _projects.main.dir }} && mv Program.Template.cs Program.cs)",
    {{ _project_patch_render(_projects.main) | aa_relindent(times=1, **_indent) }},

    "(cd {{ _projects.test.dir }} && dotnet new nunit)",
    "(cd {{ _projects.test.dir }} && rm UnitTest1.cs)",
    "(cd {{ _projects.test.dir }} && dotnet add reference ../../{{ _projects.main.dir }})",
    {{ _project_patch_render(_projects.test) | aa_relindent(times=1, **_indent) }},

    "dotnet new sln --name Template",
    "dotnet sln add {{ _projects.main.dir }}",
    "dotnet sln add {{ _projects.test.dir }}",

    "dotnet clean",
    "dotnet tool uninstall -g csprojcli",
]
