{%- set _release = _jc_bazel_compile_commands.json -%}
{%- set _assets = _release.assets -%}
{%- set _ns = namespace(url=none) -%}

{%- for _asset in _assets -%}
    {%- if "focal" in _asset.name -%}
        {%- set _ns.url = _asset.browser_download_url -%}
    {%- endif -%}
{%- endfor -%}
{%- if _ns.url is none -%}
    {%- for _asset in _assets -%}
        {%- if _asset.name.endswith(".deb") -%}
            {%- set _ns.url = _asset.browser_download_url -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- set _download = ["curl", "--location", "--silent", _ns.url] -%}
{%- set _debian_package = ["bsdtar", "--extract", "--to-stdout", "--file", "-", "data.tar"] -%}
{%- set _debian_data = [
    "bsdtar",
    "--extract",
    "--preserve-permissions",
    "--strip-components=2",
    "--file", "-",
    "usr/bin/bazel-compile-commands"
] -%}

{{ "{} | {} | {}".format(_download | join(" "), _debian_package | join(" "), _debian_data | join(" ")) }}
