{%- set _acc = [
    {
        "file": "./conanfile.py",
        "template": "conan/conanfile.py.j2",
    },
    {
        "file": "./README.md",
        "template": "conan/README.md.j2",
    },
] -%}

{{ _acc }}
