{%- set _acc = [
    {
        "file": "./meson.build",
        "template": "meson/meson.build.j2",
    },
    {
        "file": "./README.md.j2",
        "template": "meson/README.md.j2",
    },
    {
        "file": "./conanfile.py",
        "template": "meson/conanfile.py.j2",
    },
    {
        "dir": "./config/natives",
        "create": true,
    },
] -%}
{%- for _name, _tchain in _jc_template.toolchains.items() -%}
    {%- if _tchain.default is true -%}
        {%- continue -%}
    {%- endif -%}

    {%- set _lines = [] -%}
    {%- for _section in {
        "built-in options": _tchain.meson.options,
        "binaries": _tchain.meson.binaries,
    } | dict2items | selectattr("value", "defined") -%}
        {%- do _lines.append("[{}]".format(_section.key)) -%}
        {%- for _prop, _val in _section.value.items() -%}
            {%- do _lines.append(
                "{} = {}".format(
                    _prop, (_val | string | aa_squote) if _val is string else (_val | string | lower),
                ),
            ) -%}
        {%- endfor -%}
        {%- do _lines.append("" | aa_newline) -%}
    {%- endfor -%}

    {%- if _lines | length > 0 -%}
        {%- do _acc.append({
            "file": "./config/natives/{}.ini".format(_name),
            "content": _lines | join("" | aa_newline),
        }) -%}
    {%- endif -%}
{%- endfor -%}

{{ _acc }}
