{%- set _acc = lookup(
    "ansible.builtin.template", "local_templates/conan_toolchains.j2",
) -%}
{%- for _name, _tchain in _acc.items() -%}
    {%- if _tchain.get("default") is not true -%}
        {%- set _linker = _tchain.linker | default({}) -%}
        {%- set _conan = _tchain.conan | default(none) -%}
        {%- if (_conan.conf | default(none)) is mapping -%}
            {%- set _ = _conan.conf.pop("tools.build:sharedlinkflags", none) -%}
            {%- set _exelinkflags = (
                _conan.conf.get("tools.build:exelinkflags", []) | reject("eq", _linker.use | default(""))
            ) -%}
            {%- if _exelinkflags | length > 0 -%}
                {%- set _ = _conan.conf.update({"tools.build:exelinkflags": _exelinkflags}) -%}
            {%- else -%}
                {%- set _ = _conan.conf.pop("tools.build:exelinkflags", none) -%}
            {%- endif -%}
        {%- endif -%}

        {%- set _ = _tchain.update(dict(meson={})) -%}
        {%- set _meson = {
            "options": {
                "prefer_static": (_tchain.get("linkage", "") == "static") | ternary(true, none),
                "b_lto": _tchain.get("release") is true | ternary(true, none),
            } | dict2items | rejectattr("value", "none") | items2dict,
            "binaries": {
                "c_ld": _linker.name | default(none),
                "cpp_ld": _linker.name | default(none),
            } | dict2items | rejectattr("value", "none") | items2dict,
        } -%}
        {%- for _k, _v in _meson.items() -%}
            {%- if _v.keys() | length > 0 -%}
                {%- set _ = _tchain.meson.update({_k: _v}) -%}
            {%- endif -%}
        {%- endfor -%}

        {%- if _tchain.meson.get("binaries") is mapping or _tchain.meson.get("options") is mapping -%}
            {%- set _ = _conan.conf.update({
                "tools.meson.mesontoolchain:extra_machine_files": ["../config/natives/{}.ini".format(_name)],
            }) -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{{ _acc }}
