{%- set _acc = [
    dict(file="./vcpkg.json", template="vcpkg/vcpkg.json.j2"),
    dict(file="./README.md", template="vcpkg/README.md.j2"),

    dict(dir="./config/cmake-toolchains", create=true),
    dict(dir="./config/vcpkg-toolchains", create=true),
    dict(dir="./config/vcpkg-triplets", create=true),
] -%}
{%- for _name, _tchain in _jc_template.toolchains.items() -%}
    {%- if _tchain.default is true -%}
        {%- continue -%}
    {%- endif -%}

    {%- for _prop, _file in {
        "cmake": "./config/cmake-toolchains/{}.cmake".format(_name),
        "triplet": "./config/vcpkg-triplets/{}.cmake".format(_name),
    }.items() -%}
        {%- set _lines = [] -%}
        {%- for _var, _val in _tchain[_prop].items() -%}
            {%- do _lines.append('set({} "{}")'.format(
                _var, _val if _val is string else (_val | join(" ")),
            )) -%}
        {%- endfor -%}
        {%- do _acc.append({"file": _file, "content": _lines | join("" | aa_newline) | aa_newline}) -%}
    {%- endfor -%}

    {%- do _acc.append({
        "file": "./config/vcpkg-toolchains/{}.cmake".format(_name),
        "content": _tchain.toolchain | join("" | aa_newline) | aa_newline,
    }) -%}
{%- endfor -%}

{{ _acc }}
