{%- set _acc = {} -%}
{%- for _name, _tchain in lookup(
    "ansible.builtin.template", "local_templates/cmake_toolchains.j2",
).items() -%}
    {%- if _tchain.default is true -%}
        {%- do _acc.__setitem__(
            _name, _tchain | combine({
                "toolchain": "$env{VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake",
            }),
        ) -%}
        {%- continue -%}
    {%- endif -%}

    {%- set _triplet = {
        "VCPKG_BUILD_TYPE": _tchain.release is true | ternary("release", "debug"),
        "VCPKG_CRT_LINKAGE": "dynamic",
        "VCPKG_LIBRARY_LINKAGE": _tchain.linkage | default(none),
        "VCPKG_FIXUP_ELF_RPATH": (
            "ON" if _tchain.linkage is string and _tchain.linkage == "dynamic" else none
        ),
        "VCPKG_CHAINLOAD_TOOLCHAIN_FILE": (
            "${{CMAKE_CURRENT_LIST_DIR}}/../vcpkg-toolchains/{}.cmake".format(_name)
        ),
    } -%}

    {%- set _toolchain = [
        'include("${{CMAKE_CURRENT_LIST_DIR}}/../cmake-toolchains/{}.cmake")'.format(_name),
        "",
        'string(TOLOWER "${CMAKE_HOST_SYSTEM_NAME}" toolchain)',
        'include("$ENV{VCPKG_ROOT}/scripts/toolchains/${toolchain}.cmake")',
    ] -%}

    {%- do _acc.__setitem__(
        _name, _tchain | combine({
            "triplet": _triplet | dict2items | rejectattr("value", "none") | items2dict,
            "toolchain": _toolchain,
            "cache": {
                "VCPKG_OVERLAY_TRIPLETS": "${sourceDir}/config/vcpkg-triplets",
                "VCPKG_TARGET_TRIPLET": _name,
                "VCPKG_CHAINLOAD_TOOLCHAIN_FILE": (
                    "${{sourceDir}}/config/cmake-toolchains/{}.cmake".format(_name)
                ),
            },
        })
    ) -%}
{%- endfor -%}

{{ _acc }}
