---
- name: Configure privilege escalation
  tags: catalyst-user-privilege
  block:
    - name: Render sudo configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/sudoers.d
        perms: 750:640:root:root
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./70-overrides
            copy: sudo/70-overrides

- name: Configure user skeleton
  tags: catalyst-user-skel
  block:
    - name: Hash user password via the yescrypt KDF
      ansible.builtin.command:
        argv:
          - mkpasswd
          - --method=yescrypt
          - --stdin
        stdin: "{{ ca_password }}"
      register: _cc_mkpasswd_invocation
      changed_when: _cc_mkpasswd_invocation.rc == 0

    - name: Create user skeleton
      become: true
      ansible.builtin.user:
        name: "{{ ca_name }}"
        groups: "{{ ca_groups }}"
        comment: "{{ cc_comment }}"
        expires: -1
        create_home: true
        password: "{{ _cc_mkpasswd_invocation.stdout }}"
