---
- name: Configure locale
  tags: catalyst-user-locale
  block:
    - name: Uncomment locale from locale.gen
      become: true
      ansible.builtin.replace:
        path: /etc/locale.gen
        regexp: "^\\#(?P<locale>{{ ba_locale }})\\s+(?P<encoding>[\\w-]+)(?P<rest>\\s+)$"
        replace: "\\g<locale> \\g<encoding>\\g<rest>"
        mode: "0644"
        owner: 0
        group: 0
      register: _cc_uncomment_locale_invocation
      failed_when: _cc_uncomment_locale_invocation is not changed

    - name: Generate locale
      become: true
      ansible.builtin.command:
        argv:
          - locale-gen
      register: _cc_locale_gen_invocation
      changed_when: _cc_locale_gen_invocation.rc == 0

- name: Configure privilege escalation
  tags: catalyst-user-privilege
  block:
    - name: Render sudo configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/sudoers.d
        perms: 750:640:root:root
      vars:
        targets:
          - dir: ./
            create: true

          - file: ./70-overrides
            copy: sudo/70-overrides

- name: Configure user skeleton
  tags: catalyst-user-skel
  block:
    - name: Hash user password via the yescrypt KDF
      ansible.builtin.command:
        argv:
          - mkpasswd
          - --method=yescrypt
          - --stdin
        stdin: "{{ ca_password }}"
      register: _cc_mkpasswd_invocation
      changed_when: _cc_mkpasswd_invocation.rc == 0

    - name: Create user skeleton
      become: true
      ansible.builtin.user:
        name: "{{ ca_name }}"
        groups: "{{ ca_groups }}"
        comment: "{{ cc_comment }}"
        expires: -1
        create_home: true
        password: "{{ _cc_mkpasswd_invocation.stdout }}"
