---
- name: Install aur package
  when: _common_aur is defined
  ansible.builtin.command:
    cmd: >-
      paru
      --sudoflags "--stdin"
      --noconfirm
      --needed
      --sync
      {{ (_common_aur is string) | ternary([_common_aur], _common_aur) | join(" ") }}
    stdin: "{{ users.user.password }}\n"
  register: __paru_invocation
  changed_when: __paru_invocation.rc == 0

- name: Modify global environmental variables
  when: _common_env is defined
  ansible.builtin.lineinfile:
    dest: /etc/environment
    regexp: "^{{ item.key }}"
    line: "{{ item.key }}={{ item.value }}"
  loop: "{{ _common_env }}"
  become: true