---
- name: Common packaging tasks
  when: _common_packages is defined
  vars:
    __paru_args: /usr/bin/paru --sudoflags "--stdin" --noconfirm
    __assert: &paru-assert
      register: __paru_invocation
      changed_when: __paru_invocation.rc == 0
  block:
    - name: Remove packages
      when: _common_packages.remove is defined
      ansible.builtin.command:
        cmd: "{{ __paru_args }} --remove --recursive {{ _common_packages.remove | join(' ') }}"
        stdin: "{{ users.user.password }}"
      register: __paru_invocation
      failed_when: false
      changed_when: __paru_invocation.rc == 0

    - name: Sync the database, update the system, or do both
      <<: *paru-assert
      when: _common_packages.sync is true or _common_packages.upgrade is true
      ansible.builtin.command:
        cmd: >-
          {{ __paru_args }}
          {{ _common_packages.sync is true | ternary('--refresh', '') }}
          {{ _common_packages.upgrade is true | ternary('--sysupgrade', '') }}
        stdin: "{{ users.user.password }}"

    - name: Install packages
      <<: *paru-assert
      when: _common_packages.install is defined
      ansible.builtin.command:
        cmd: >-
          {{ __paru_args }}
          {{ ['--sync', _common_packages.force is true | ternary(none, '--needed')] | reject('none') | join(' ') }}
          {{ _common_packages.install | join(' ') }}
        stdin: "{{ users.user.password }}"

- name: Common installing tasks (akin install(1))
  when: _common_install is defined
  vars:
    __defaults: >-
      {{
        {
          'become': false,
          'wipe': false,
          'filemode': '0644',
          'dirmode': '0755',
          'base': users.user.config,
        } | ansible.builtin.combine(_common_install.defaults | default({}))
      }}
    __become: "{{ item.value.become | default(__defaults.become) }}"
    __ownership: &install-ownership
      owner: "{{ item.value.become | default(__defaults.become) is true | ternary(0, omit) }}"
      group: "{{ item.value.become | default(__defaults.become) is true | ternary(0, omit) }}"
  block:
    - name: Wipe explicitly marked files and directories
      when: policy.destructive is true and _common_install.wipes is defined
      ansible.builtin.file:
        path: "{{ item is abs | ternary(item, [__defaults.base, item] | path_join) }}"
        state: absent
      loop: "{{ _common_install.wipes }}"
      become: "{{ __become }}"

    - name: Wipe target directories
      when: policy.destructive is true and _common_install.targets is defined
      ansible.builtin.file:
        path: >-
          {{
            item.key is abs | ternary(
              item.key,
              [item.value.base | default(__defaults.base), item.key] | path_join
            )
          }}
        state: absent
      vars:
        __wipe_targets: >-
          {{
            _common_install.targets | dict2items | selectattr('value.wipe', 'true')
            + (_common_install.targets | dict2items | selectattr('value.wipe', 'undefined') if __defaults.wipe else [])
          }}
      loop: >-
        {{
          dict(__wipe_targets | map(attribute='key') | map('dirname') | zip(__wipe_targets | map(attribute='value')))
            | dict2items | selectattr('key', 'ne', '')
        }}
      become: "{{ __become }}"

    - name: Ensure target directories are created
      when: _common_install.targets is defined
      ansible.builtin.file:
        path: >-
          {{
            item.key is abs | ternary(
              item.key,
              [item.value.base | default(__defaults.base), item.key] | path_join
            )
          }}
        state: directory
        mode: "{{ item.value.dirmode | default(__defaults.dirmode) }}"
        <<: *install-ownership
      vars:
        __targets: "{{ _common_install.targets | dict2items }}"
      loop: >-
        {{
          dict(__targets | map(attribute='key') | map('dirname') | zip(__targets | map(attribute='value')))
            | dict2items | selectattr('key', 'ne', '')
        }}
      become: "{{ __become }}"

    - name: Copy files to the target directory
      when: _common_install.targets is defined
      ansible.builtin.copy:
        src: "{{ item.value.file }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        mode: "{{ item.value.filemode | default(__defaults.filemode) }}"
        <<: *install-ownership
      loop: "{{ _common_install.targets | dict2items | selectattr('value.file', 'defined') }}"
      become: "{{ __become }}"

    - name: Render templates to the target directory
      when: _common_install.targets is defined
      ansible.builtin.template:
        src: "{{ item.value.template }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        mode: "{{ item.value.filemode | default(__defaults.filemode) }}"
        lstrip_blocks: true
        trim_blocks: true
        <<: *install-ownership
      loop: "{{ _common_install.targets | dict2items | selectattr('value.template', 'defined') }}"
      become: "{{ __become }}"

    - name: Render files to the target directory
      when: _common_install.targets is defined
      ansible.builtin.copy:
        content: "{{ item.value.content }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        mode: "{{ item.value.filemode | default(__defaults.filemode) }}"
        <<: *install-ownership
      loop: "{{ _common_install.targets | dict2items | selectattr('value.content', 'defined') }}"
      become: "{{ __become }}"

    - name: Create necessary links
      when: _common_install.targets is defined
      ansible.builtin.file:
        src: "{{ item.value.link }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        state: link
        follow: false
        force: true
      loop: "{{ _common_install.targets | dict2items | selectattr('value.link', 'defined') }}"
      become: "{{ __become }}"

    - name: Touch necessary files
      when: _common_install.targets is defined
      ansible.builtin.file:
        path: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        state: touch
        mode: "{{ item.value.filemode | default(__defaults.filemode) }}"
        <<: *install-ownership
      loop: "{{ _common_install.targets | dict2items | selectattr('value.touch', 'defined') }}"
      become: "{{ __become }}"

- name: Common systemd service management
  when: _common_services is defined
  vars:
    __defaults: "{{ _common_services.defaults | default([]) }}"
  ansible.builtin.systemd_service:
    name: "{{ item.key }}"
    daemon_reload: "{{ ('reload' in (__defaults + item.value)) | ternary(true, omit) }}"
    scope: >-
      {{
        [
          ("user" in item.value) | ternary(true, none),
          ("user" in __defaults) | ternary(true, none),
        ]
          | reject("none")
          | first_or_default(none)
          | ternary("user", omit)
      }}
    masked: >-
      {{
        [
          ("mask" in item.value) | ternary(true, none),
          ("unmask" in item.value) | ternary(false, none),

          ("mask" in __defaults) | ternary(true, none),
          ("unmask" in __defaults) | ternary(false, none),
        ]
          | reject("none")
          | first_or_default(none)
          | ternary(true, false, false)
      }}
    enabled: >-
      {{
        [
          ("enable" in item.value) | ternary(true, none),
          ("disable" in item.value) | ternary(true, none),

          ("enable" in __defaults) | ternary(true, none),
          ("disable" in __defaults) | ternary(true, none),
        ]
          | reject("none")
          | first_or_default(none)
          | ternary(true, false, omit)
      }}
    state: >-
      {{
        [
          ("start" in item.value) | ternary(true, none),
          ("stop" in item.value) | ternary(false, none),
          ("unmask" in item.value) | ternary(true, none),
          ("mask" in item.value) | ternary(false, none),
          ("enable" in item.value) | ternary(true, none),
          ("disable" in item.value) | ternary(false, none),

          ("start" in __defaults) | ternary(true, none),
          ("stop" in __defaults) | ternary(false, none),
          ("unmask" in __defaults) | ternary(true, none),
          ("mask" in __defaults) | ternary(false, none),
          ("enable" in __defaults)| ternary(true, none),
          ("disable" in __defaults) | ternary(false, none),
        ]
          | reject("none")
          | first_or_default(none)
          | ternary("restarted", "stopped", omit)
      }}
  environment:
    SYSTEMD_OFFLINE: "{{ '1' if policy.headless else omit }}"
    SYSTEMD_IN_CHROOT: "{{ '1' if policy.headless else omit }}"
  become: >-
    {{
      [
        ("user" in item.value) | ternary(false, none),
        ("system" in item.value) | ternary(true, none),

        ("user" in __defaults) | ternary(false, none),
        ("system" in __defaults) | ternary(true, none),
      ]
        | reject("none")
        | first_or_default(none)
        | ternary(true, omit, true)
    }}
  loop: >-
    {%- set _acc = [] -%}
    {%- for _item in _common_services.targets | dict2items -%}
      {%- set _ = _acc.append({
        "key": _item.key,
        "value": _item.value is none | ternary([], _item.value),
      }) -%}
    {%- endfor -%}
    {{ _acc }}

- name: Get GnuPG key metadata
  when: _common_gpg is defined
  block:
    - name: Read metadata file
      ansible.builtin.slurp:
        src: "{{ users.user.home }}/.gnupg/{{ security.gpg.metadata }}"
      register: __metadata_file

    - name: Process metadata file as JSON
      ansible.builtin.set_fact:
        _common_gpg_invocation: >-
          {%- set _metadata = __metadata_file.content | b64decode | from_json -%}
          {{
            _metadata if _common_gpg is none else _metadata[_common_gpg]
          }}

- name: Common backup pull operation
  when: _common_pull is defined
  vars:
    __base: "{{ _common_pull.defaults.base | default(users.user.config) }}"
    __become: "{{ _common_pull.defaults.become | default(false) }}"
  block:
    - name: Stat persist directory on the control node
      delegate_to: localhost
      ansible.builtin.stat:
        path: "{{ persist.base }}"
      register: __persist_stat

    - name: Ensure persist subdirectory exists
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ persist.base }}/{{ item | dirname }}"
        state: directory
        mode: "{{ persist.dirmode }}"
        owner: "{{ __persist_stat.stat.uid }}"
        group: "{{ __persist_stat.stat.gid }}"
      loop: "{{ _common_pull.targets | dict2items | map(attribute='key') }}"

    - name: Pull a base64 content to the persist
      delegate_to: localhost
      no_log: true
      ansible.builtin.shell:
        cmd: >-
          {{ base64.shell_decode }} > "{{ persist.base }}/{{ item.key }}"
        stdin: "{{ item.value.base64 }}"
      register: __base64_invocation
      changed_when: __base64_invocation.rc == 0
      loop: "{{ _common_pull.targets | dict2items | selectattr('value.base64', 'defined') }}"

    - name: Pull a file to the persist
      ansible.builtin.fetch:
        src: >-
          {{
            item.value.file is abs | ternary(
              item.value.file, [item.value.base | default(__base), item.value.file] | path_join,
            )
          }}
        dest: "{{ persist.base }}/{{ item.key }}"
        flat: true
      become: "{{ item.value.become | default(__become) | ternary(true, omit) }}"
      loop: "{{ _common_pull.targets | dict2items | selectattr('value.file', 'defined') }}"

    - name: Run a shell command
      no_log: true
      ansible.builtin.shell:
        cmd: "set -o pipefail && {{ item.value.shell }} | {{ base64.shell_encode }}"
        stdin: "{{ item.value.stdin | default(omit) }}"
      register: __shell_invocation
      changed_when: __shell_invocation.rc == 0
      become: "{{ item.value.become | default(__become) | ternary(true, omit) }}"
      loop: "{{ _common_pull.targets | dict2items | selectattr('value.shell', 'defined') }}"

    - name: Pull a shell command results to the persist
      delegate_to: localhost
      no_log: true
      ansible.builtin.shell:
        cmd: >-
          {{ base64.shell_decode }} > "{{ persist.base }}/{{ item.item.key }}"
        stdin: "{{ item.stdout }}"
      register: __base64_invocation
      changed_when: __base64_invocation.rc == 0
      loop: "{{ __shell_invocation.results }}"

    - name: Create an archive
      ansible.builtin.shell:
        chdir: >-
          {{
            item.value.archive is abs | ternary(
              item.value.archive, [item.value.base | default(__base), item.value.archive] | path_join,
            )
          }}
        cmd: >-
          {%- set _exclude = [] -%}
          {%- for _pattern in item.value.exclude | default([]) -%}
            {%- set _ = _exclude.append('--exclude={}'.format(_pattern | squote)) -%}
          {%- endfor -%}
          {#--#}
          set -o pipefail &&
          tar
          --wildcards
          --anchored
          --no-wildcards-match-slash
          --numeric-owner
          --group=0
          --owner=0
          --gzip
          --create
          --to-stdout
          {{ item.value.include | join(' ') }}
          {{ _exclude | join(' ') }}
          | {{ base64.shell_encode }}
      register: __tar_invocation
      changed_when: __tar_invocation.rc == 0
      become: "{{ item.value.become | default(__become) | ternary(true, omit) }}"
      loop: "{{ _common_pull.targets | dict2items | selectattr('value.archive', 'defined') }}"

    - name: Pull the archive to the persist
      delegate_to: localhost
      no_log: true
      ansible.builtin.shell:
        cmd: >-
          {{ base64.shell_decode }} > "{{ persist.base }}/{{ item.item.key }}"
        stdin: "{{ item.stdout }}"
      register: __pull_invocation
      changed_when: __pull_invocation.rc == 0
      loop: "{{ __tar_invocation.results }}"

    - name: Ensure pulled items permissions are set
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ persist.base }}/{{ item.key }}"
        mode: "{{ persist.filemode }}"
        owner: "{{ __persist_stat.stat.uid }}"
        group: "{{ __persist_stat.stat.gid }}"
      loop: "{{ _common_pull.targets | dict2items }}"

- name: Common backup push operation
  when: _common_push is defined
  vars:
    __wipe: "{{ _common_push.defaults.wipe | default(false) }}"
    __base: "{{ _common_push.defaults.base | default(users.user.config) }}"
    __become: "{{ _common_push.defaults.become | default(false) }}"
    __filemode: "{{ _common_push.defaults.filemode | default('0644') }}"
    __dirmode: "{{ _common_push.defaults.dirmode | default('0755') }}"
    __dirs: >-
        {%- set _items = [] -%}
        {%- for _target in _common_push.targets.values() -%}
          {%- if 'file' in _target and 'archive' in _target -%}
            {%- set _path = [
              _target.file | default(none),
              _target.archive | default(none),
            ] | reject("none") | first -%}
            {%- set _abs = _path is abs | ternary(_path, [_target.base | default(__base), _path] | path_join) -%}
            {%- set _ = _items.append({
              "path": _target.file is defined | ternary(_abs | dirname, _abs),
              "become": item.value.become | default(__become),
              "filemode": item.value.filemode | default(__filemode),
              "dirmode": item.value.dirmode | default(__dirmode),
            }) -%}
          {%- endif -%}
        {%- endfor -%}
        {{ _items }}
  block:
    - name: Wipe target directory
      when: policy.destructive is true and item.wipe | default(__wipe)
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      become: "{{ item.become | ternary(true, omit) }}"
      loop: "{{ __dirs }}"

    - name: Ensure target directory exists
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "{{ _common_push.dirmode }}"
        owner: "{{ item.value.become | ternary(0, omit) }}"
        group: "{{ item.value.become | ternary(0, omit) }}"
      become: "{{ item.become | ternary(true, omit) }}"
      loop: "{{ __dirs }}"

    - name: Push the file from the persist
      ansible.builtin.copy:
        src: "{{ persist.base }}/{{ item.key }}"
        dest: >-
          {{
            item.value.file is abs | ternary(
              item.value.file, [item.value.base | default(__base), item.value.file] | path_join,
            )
          }}
        mode: "{{ item.value.filemode | default(__filemode) }}"
        owner: "{{ item.value.become | default(__become) | ternary(0, omit) }}"
        group: "{{ item.value.become | default(__become) | ternary(0, omit) }}"
      become: "{{ item.value.become | default(__become) | ternary(true, omit) }}"
      loop: "{{ _common_push.targets | dict2items | selectattr('value.file', 'defined') }}"

    - name: Prepare the persist files to be piped to the shell
      delegate_to: localhost
      ansible.builtin.slurp:
        src: "{{ persist.base }}/{{ item.key }}"
      register: __slurp_invocation
      loop: "{{ _common_push.targets | dict2items | selectattr('value.shell', 'defined') }}"

    - name: Pipe persist file to the shell
      no_log: true
      ansible.builtin.shell:
        cmd: "set -o pipefail && {{ base64.shell_decode }} | {{ item.item.value.shell }}"
        stdin: "{{ item.content }}"
      register: __shell_invocation
      changed_when: __shell_invocation.rc == 0
      become: "{{ item.item.value.become | default(__become) | ternary(true, omit) }}"
      loop: "{{ __slurp_invocation.results }}"

    - name: Push the archive from the persist
      ansible.builtin.unarchive:
        src: "{{ persist.base }}/{{ item.key }}"
        dest: >-
          {{
            item.value.archive is abs | ternary(
              item.value.archive, [item.value.base | default(__base), item.value.archive] | path_join,
            )
          }}
        extra_opts:
          - --no-same-owner
          - --preserve-permissions
      become: "{{ item.value.become | default(__become) | ternary(true, omit) }}"
      loop: "{{ _common_push.targets | dict2items | selectattr('value.archive', 'defined') }}"

      become: "{{ __become }}"


- name: Common kernel cmdline operation
  when: _common_cmdline is defined
  block:
    - name: Read current cmdline file
      ansible.builtin.slurp:
        src: /etc/kernel/cmdline
      register: __cmdline

    - name: Inject new kernel cmdline variables
      ansible.builtin.template:
        src: cmdline/cmdline.j2
        dest: /etc/kernel/cmdline
        mode: "0644"
        owner: 0
        group: 0
        lstrip_blocks: true
        trim_blocks: true
      become: true

    - name: Run kernel-install to after cmdline change
      ansible.builtin.command:
        argv:
          - kernel-install
          - add-all
      register: __kernel_install_invocation
      changed_when: __kernel_install_invocation.rc == 0
      become: true

- name: Common user groups management
  when: _common_groups is defined
  ansible.builtin.user:
    name: "{{ users.user.name }}"
    groups: "{{ _common_groups }}"
    append: true

- name: Common global environmental variables management
  when: _common_environment is defined
  ansible.builtin.lineinfile:
    dest: /etc/environment
    regexp: "^{{ item.key }}"
    line: "{{ item.key }}={{ item.value }}"
  become: true
  loop: "{{ _common_environment }}"
