---
- name: Install aur package
  when: _common_aur is defined
  ansible.builtin.command:
    cmd: >-
      paru
      --sudoflags "--stdin"
      --noconfirm
      --needed
      --sync
      {{ (_common_aur is string) | ternary([_common_aur], _common_aur) | join(" ") }}
    stdin: "{{ env_user_password }}\n"
  register: __paru_invocation
  changed_when: __paru_invocation.rc == 0
