---
- name: Common packaging tasks
  when: _common_packages is defined
  vars:
    __cmdline: /usr/bin/paru --sudoflags "--stdin" --noconfirm
    __assert: &paru-assert
        register: __paru_invocation
        changed_when: __paru_invocation.rc == 0
  block:
    - name: Remove packages
      when: _common_packages.remove is defined
      ansible.builtin.command:
        cmd: "{{ __cmdline }} --remove --recursive {{ _common_packages.remove | join(' ') }}"
        stdin: "{{ users.user.password }}"
      register: __paru_invocation
      failed_when: false
      changed_when: __paru_invocation.rc == 0

    - name: Sync the database, update the system, or do both
      when: _common_packages.sync is true or _common_packages.upgrade is true
      ansible.builtin.command:
        cmd: >-
          {{ __cmdline }}
          {{ _common_packages.sync is true | ternary('--refresh', '') }}
          {{ _common_packages.upgrade is true | ternary('--sysupgrade', '') }}
        stdin: "{{ users.user.password }}"
      <<: *paru-assert

    - name: Install packages
      when: _common_packages.install is defined
      ansible.builtin.command:
        cmd: >-
          {{ __cmdline }}
          {{ ['--sync', _common_packages.force is true | ternary(none, '--needed')] | reject('none') | join(' ') }}
          {{ _common_packages.install | join(' ') }}
        stdin: "{{ users.user.password }}"
      <<: *paru-assert

- name: Common installing tasks (akin install(1))
  when: _common_install is defined
  vars:
    __defaults: >-
      {{
        {
          'become': False,
          'wipe': False,
          'filemode': '0644',
          'dirmode': '0755',
          'base': users.user.config,
        } | ansible.builtin.combine(_common_install.defaults | default({}))
      }}
    __become: &install-become
      become: "{{ item.value.become | default(__defaults.become) }}"
    __ownership: &install-ownership
      owner: "{{ item.value.become | default(__defaults.become) is true | ternary(0, omit) }}"
      group: "{{ item.value.become | default(__defaults.become) is true | ternary(0, omit) }}"
  block:
    - name: Wipe explicitly marked directories
      when: policy.destructive is true and _common_install.wipes is defined
      ansible.builtin.file:
        path: "{{ item is abs | ternary(item, [__defaults.base, item] | path_join) }}"
        state: absent
      loop: "{{ _common_install.wipes }}"
      <<: *install-become

    - name: Wipe target directories
      when: policy.destructive is true and _common_install.targets is defined
      ansible.builtin.file:
        path: >-
          {{
            item.key is abs | ternary(
              item.key,
              [item.value.base | default(__defaults.base), item.key] | path_join
            )
          }}
        state: absent
      vars:
        __wipe_targets: >-
          {{
            _common_install.targets | dict2items | selectattr('value.wipe', 'true')
            + (_common_install.targets | dict2items | selectattr('value.wipe', 'undefined') if __defaults.wipe else [])
          }}
      loop: >-
        {{
          dict(__wipe_targets | map(attribute='key') | map('dirname') | zip(__wipe_targets | map(attribute='value')))
            | dict2items | selectattr('key', 'ne', '')
        }}
      <<: *install-become

    - name: Ensure target directories are created
      when: _common_install.targets is defined
      ansible.builtin.file:
        path: >-
          {{
            item.key is abs | ternary(
              item.key,
              [item.value.base | default(__defaults.base), item.key] | path_join
            )
          }}
        state: directory
        mode: "{{ item.dirmode | default(__defaults.dirmode) }}"
        <<: *install-ownership
      vars:
        __targets: "{{ _common_install.targets | dict2items }}"
      loop: >-
        {{
          dict(__targets | map(attribute='key') | map('dirname') | zip(__targets | map(attribute='value')))
            | dict2items | selectattr('key', 'ne', '')
        }}
      <<: *install-become

    - name: Copy files to the target directory
      when: _common_install.targets is defined
      ansible.builtin.copy:
        src: "{{ item.value.file }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        mode: "{{ item.value.filemode | default(__defaults.filemode) }}"
        <<: *install-ownership
      loop: "{{ _common_install.targets | dict2items | selectattr('value.file', 'defined') }}"
      <<: *install-become

    - name: Render templates to the target directory
      when: _common_install.targets is defined
      ansible.builtin.template:
        src: "{{ item.value.template }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        mode: "{{ item.value.filemode | default(__defaults.filemode) }}"
        lstrip_blocks: true
        trim_blocks: true
        <<: *install-ownership
      loop: "{{ _common_install.targets | dict2items | selectattr('value.template', 'defined') }}"
      <<: *install-become

    - name: Render files to the target directory
      when: _common_install.targets is defined
      ansible.builtin.copy:
        content: "{{ item.value.content }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        mode: "{{ item.value.filemode | default(__defaults.filemode) }}"
        <<: *install-ownership
      loop: "{{ _common_install.targets | dict2items | selectattr('value.content', 'defined') }}"
      <<: *install-become

    - name: Create necessary links
      when: _common_install.targets is defined
      ansible.builtin.file:
        src: "{{ item.value.link }}"
        dest: "{{ item.key is abs | ternary(item.key, [__defaults.base, item.key] | path_join) }}"
        state: link
        follow: false
        force: true
      loop: "{{ _common_install.targets | dict2items | selectattr('value.link', 'defined') }}"
      <<: *install-become

- name: Common systemd service management
  when: _common_services is defined
  ansible.builtin.systemd_service:
    name: "{{ item.key }}"
    scope: "{{ item.value.user is true | ternary('user', omit) }}"
    daemon_reload: "{{ item.value.reload is true | ternary(true, omit) }}"
    masked: "{{ item.value.mask is true | ternary(true, omit) }}"
    enabled: >-
      {{
        (
          item.value.enable is true | ternary(true, None)
          or item.value.disable is true | ternary(false, None)
        ) | ternary(true, false, omit)
      }}
    state: >-
      {{
        (
          item.value.enable is true | ternary(true, None)
          or item.value.start is true | ternary(true, None)
          or item.value.disable is true | ternary(false, None)
          or item.value.mask is true | ternary(false, None)
          or item.value.stop is true | ternary(false, None)
        ) | ternary('restarted', 'stopped', omit)
      }}
  environment:
    SYSTEMD_OFFLINE: "{{ '1' if ansible_connection == 'nspawn' else omit }}"
    SYSTEMD_IN_CHROOT: "{{ '1' if ansible_connection == 'nspawn' else omit }}"
  become: "{{ item.value.user is true | ternary(omit, true) }}"
  loop: "{{ _common_services | dict2items }}"

- name: Add user to groups
  when: _common_groups is defined
  ansible.builtin.user:
    name: "{{ users.user.name }}"
    groups: "{{ _common_groups }}"
    append: true

- name: Modify global environmental variables
  when: _common_environment is defined
  ansible.builtin.lineinfile:
    dest: /etc/environment
    regexp: "^{{ item.key }}"
    line: "{{ item.key }}={{ item.value }}"
  become: true
  loop: "{{ _common_environment }}"
