---
#
# alsa-utils contains alsa-restore.service and alsa-state.service
#  that are not recommended to be used with sound server.
#
- name: Reset Alsa
  when: policy.destructive is true
  block:
    - name: Remove alsa-utils
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          remove:
            - alsa-utils

    - name: Remove persistent alsa configuration
      ansible.builtin.file:
        path: "{{ item }}" 
        state: absent
      become: true
      loop:
        - /var/lib/alsa/asound.state
        - /etc/alsa/state-daemon.conf

- name: Install PipeWire
  tags:
    - audio-install
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install: >-
        {{
          [
            "pipewire",
            "pipewire-pulse",
            "wireplumber",
            "pavucontrol",
            "noise-suppression-for-voice" if media.features.rnnoise is true else none,
            "pipewire-jack" if media.features.jack is true else none,
            "bluez" if media.features.bluetooth is true else none,
            "pipewire-v4l2" if media.features.video_v4l2 is true else none,
            "pipewire-libcamera" if media.features.video_libcamera is true else none,
          ] | reject("none")
        }}

    _common_services:
      defaults:
        - user
        - enable
        - stop
      targets:
        pipewire.service:
        pipewire.socket:
        pipewire-pulse.service:
        pipewire-pulse.socket:
        wireplumber.service:

    _common_groups:
      - rtkit

    _common_cmdline: "{{ media.cmdline }}"

#
# Alsa card profile configuration allows to set up the way PulseAudio/PipeWire talks to the alsa.
#
# The algorithm for ACP is common for both PulseAudio and PipeWire as they share the same codebase,
#  though PipeWire includes a handly spa-acp-tool utility that makes the debugging easier.
#
# For more information about syntax and entities, refer to the:
#  https://cgit.freedesktop.org/pulseaudio/pulseaudio/tree/src/modules/alsa/mixer/profile-sets/default.conf
#  https://cgit.freedesktop.org/pulseaudio/pulseaudio/tree/src/modules/alsa/mixer/paths/analog-output.conf.common
#
# Having a custom profile set is beneficial in the number of ways:
#  - blacklist ports that have never been used in the usual headphones setup, but still visible in the settings;
#  - blacklist the whole screen of different 7.1, 5.1, ... profiles that have no use;
#  - solve various compatibility issues such as crackling sound when plugging headphones because of the line boost;
#  - correct profile and device naming instead of generic Analog Stereo;
#  - complete control over all alsa mixers, including boosts, loopback, and auto-mute;
#  - gain a 0.000001s sound server startup boost! :)
#
# To retrieve the list of jacks:
#  alsactl dump-state
#  or alsa-info.sh --with-alsactl --no-upload
#
# To retrieve the list of enumerations and elements:
#  amixer -c0 scontents
#  or alsa-info.sh --with-amixer --no-upload
#
# The are also the well-known keys for most of the units:
#  Profiles: https://cgit.freedesktop.org/pulseaudio/pulseaudio/tree/src/modules/alsa/alsa-mixer.c#n4735
#  Mappings: https://cgit.freedesktop.org/pulseaudio/pulseaudio/tree/src/modules/alsa/alsa-mixer.c#n4566
#  Options: https://cgit.freedesktop.org/pulseaudio/pulseaudio/tree/src/modules/alsa/alsa-mixer.c#n2706
#  Paths: https://cgit.freedesktop.org/pulseaudio/pulseaudio/tree/src/modules/alsa/alsa-mixer.c#n2794
#
- name: Configure ALSA card profiles
  tags:
    - audio-acp
  block:
    - name: Prepare directory for ALSA card profiles
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            wipe: true
          targets:
            alsa-card-profile/profile-sets/dummy-pattern.conf: ~
            alsa-card-profile/paths/dummy-pattern.conf: ~

    - name: Render profile-sets for ALSA card profiles
      ansible.builtin.template:
        src: acp/profile-set.j2
        dest: "{{ users.user.config }}/alsa-card-profile/profile-sets/{{ item.key }}.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true
      loop: "{{ media.cards | dict2items }}"

    - name: Render alsa card profile paths
      ansible.builtin.template:
        src: "acp/path.j2"
        dest: "{{ users.user.config }}/alsa-card-profile/paths/{{ item.key }}.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true
      loop: >-
        {%- set _items = [] -%}
        {%- for _card_name, _card in media.cards.items() -%}
          {%- for _path in _card.acp | dict2items | selectattr("value.type", "in", ["input-path", "output-path"]) -%}
            {%- set _ = _items.append({
              "key": _path.key,
              "value": _path.value,
              "card": _card,
            }) -%}
          {%- endfor -%}
        {%- endfor -%}
        {{ _items }}

- name: Configure PipeWire
  tags:
    - audio-config
  vars:
    __default_rate: >-
      {%- set _freqs = media.cards | dict2items | map(attribute='value.frequency') | unique -%}
      {{ (_freqs | first) if _freqs | length == 1 else 48000 }}
    __context_properties: |-
      clock.power-of-two-quantum = true
      cpu.zero.denormals = true

      default.clock.rate = {{ __default_rate }}
      default.clock.allowed-rates = []

      default.video.width = 1280
      default.video.height = 720
      default.video.rate.num = 30
      default.video.rate.denom = 1

      default.clock.min-quantum = {{ media.quantum.min }}
      default.clock.quantum-floor = {{ media.quantum.min }}
      default.clock.quantum = {{ media.quantum.default }}
      default.clock.max-quantum = {{ media.quantum.max }}
      default.clock.quantum-limit = {{ media.quantum.max }}

      settings.check-quantum = false
      settings.check-rate = false

      link.max-buffers = 32
      log.level = 0

      mem.allow-mlock = true
      mem.warn-mlock = true
      mem.mlock-all = false
    __realtime_properties: |-
      {
          name = libpipewire-module-rt
          args = {
              nice.level = {{ media.realtime.nice }}
              rt.prio = {{ media.realtime.priority }}
              rlimits.enabled = true
              rtportal.enabled = true
              rtkit.enabled = true
          }
          flags = [ ifexists nofail ]
      }
    __stream_properties: |-
      resample.quality = {{ (14 * media.resampling) | round | int }}

      channelmix.mix-lfe = true
      channelmix.upmix = false
  block:
    - name: Assert that the frequency is supported by rnnoise
      when: media.features.rnnoise is true
      ansible.builtin.assert:
        that: "item == 48000"
        fail_msg: "'media.<card>.frequency' must be set to 48000 if `media.features.rnnoise` is requested"
      loop: "{{ media.cards | dict2items | map(attribute='value.frequency') }}"

    - name: Render PipeWire config
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            wipe: true
          wipes:
            - "{{ users.user.state }}/wipeplumber"
          targets:
            pipewire/pipewire.conf:
              template: pipewire/pipewire.conf.j2
            pipewire/client.conf:
              template: pipewire/client.conf.j2
            pipewire/client-rt.conf:
              template: pipewire/client.conf.j2
            pipewire/pipewire-pulse.conf:
              template: pipewire/pulse.conf.j2
            #
            # Unlike daemon and clients, wireplumber loads tons of lua scripts,
            #  which is hard to replicate, using drop-in instead.
            #
            # It also has some handy switches so most of the unnecessary stuff still can be omited.
            #
            wireplumber/wireplumber.conf.d/10-config.conf:
              template: wireplumber/10-config.conf.j2

- name: Restart media services
  ansible.builtin.import_role:
    name: common
  vars:
    _common_services:
      defaults:
        - user
        - start
      targets:
        pipewire.service:
        pipewire.socket:
        pipewire-pulse.service:
        pipewire-pulse.socket:
        wireplumber.service:
