---
#
# alsa-utils contains alsa-restore.service and alsa-state.service
#  are not recommended to be used with sound server.
#
- name: Reset Alsa
  when: policy.destructive is true
  block:
    - name: Remove alsa-utils
      ansible.builtin.import_role:
        name: common
      vars:
        _common_packages:
          remove:
            - alsa-utils

    - name: Remove persistent alsa configuration
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      become: true
      loop:
        - /var/lib/alsa/asound.state
        - /etc/alsa/state-daemon.conf

- name: Install PipeWire
  tags:
    - audio-install # TODO: add position_fix
  ansible.builtin.import_role:
    name: common
  vars:
    _common_packages:
      install: >-
        {{
          [
            "pipewire",
            "pipewire-pulse",
            "wireplumber",
            "pavucontrol",
            "noise-suppression-for-voice" if media.features.rnnoise is true else none,
            "pipewire-jack" if media.features.jack is true else none,
            "bluez" if media.features.bluetooth is true else none,
            "pipewire-v4l2" if media.features.video_v4l2 is true else none,
            "pipewire-libcamera" if media.features.video_libcamera is true else none,
          ] | reject("none")
        }}

    _common_groups:
      - rtkit

    _common_services:
      pipewire-pulse.service:
        user: true
        stop: true
      wireplumber:
        user: true
        stop: true
      pipewire:
        user: true
        stop: true

- name: Configure ALSA card profiles
  tags:
    - audio-acp
  block:
    - name: Prepare directory for ALSA card profiles
      ansible.builtin.import_role:
        name: common
      vars:
        _common_install:
          defaults:
            wipe: true
          targets:
            alsa-card-profile/profile-sets/dummy-pattern.conf: ~
            alsa-card-profile/paths/dummy-pattern.conf: ~

    - name: Render profile-sets for ALSA card profiles
      ansible.builtin.template:
        src: acp/profile-set.j2
        dest: "{{ users.user.config }}/alsa-card-profile/profile-sets/{{ item.key }}.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true
      loop: "{{ media.cards | dict2items }}"

    - name: Render alsa card profile paths
      ansible.builtin.template:
        src: "acp/path.j2"
        dest: "{{ users.user.config }}/alsa-card-profile/paths/{{ item.key }}.conf"
        mode: "0644"
        lstrip_blocks: true
        trim_blocks: true
      loop: >-
        {%- set _items = [] -%}
        {%- for _card_name, _card in media.cards.items() -%}
          {%- for _path in _card.acp | dict2items | selectattr("value.type", "in", ["input-path", "output-path"]) -%}
            {%- set _ = _items.append({
              "key": _path.key,
              "value": _path.value,
              "card": _card,
            }) -%}
          {%- endfor -%}
        {%- endfor -%}
        {{ _items }}
- name: Start pipewire services
  ansible.builtin.import_role:
    name: common
  vars:
    _common_services:
      pipewire-pulse.service:
        user: true
        start: true
      wireplumber:
        user: true
        start: true
      pipewire:
        user: true
        start: true
