{{ apps.templates.editorconfig }}

[*.{java,kt}]
indent_style = space
indent_size = 4
max_line_length = 80

[{settings,build}.{gradle,gradle.kts}]
indent_style = space
indent_size = 4
max_line_length = 80

[pom.xml]
indent_style = space
indent_size = 2
max_line_length = 80
