{%- set _acc = [] -%}
{%- for _name, _build in lookup("cplusplus_toolchain").items() -%}
    {%- if _build.default is true -%}
        {%- continue -%}
    {%- endif -%}

    {%- set _lines = [
        "--force_pic",
        "--spawn_strategy=local",
        "--symlink_prefix=build/",

        "--action_env=CC={}".format(_build.cxx.name)
            if _build.cxx.name is string else none,

        ["--linkopt {}".format(_build.linker.use)]
            if _build.linker.use is string else none,

        ["--cxxopt {}".format(_build.cxx.use), "--linkopt {}".format(_build.cxx.use)]
            if _build.cxx.use is string else none,

        ["--compilation_mode=opt", "--strip=always", "--copt -O3"]
            if _build.release is true else
            ["--compilation_mode=dbg", "--strip=never"],

        ("--dynamic_mode=off" if _build.linkage == "static" else "--dynamic_mode=fully")
            if _build.linkage is string else none,
    ] -%}

    {%- for _arg, _flags in {
        "--copt": _build.c.flags,
        "--cxxopt": _build.cxx.flags,
        "--linkopt": _build.linker.flags,
    }.items() -%}
        {%- if _flags is defined -%}
            {%- for _flag in _flags -%}
                {%- do _lines.append("{} {}".format(_arg, _flag)) -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}

    {%- for _line in _lines | reject("none") | flatten() -%}
        {%- do _acc.append("build:{} {}".format(_name, _line)) -%}
    {%- endfor -%}

    {%- do _acc.append("") -%}
{%- endfor -%}

{{ _acc | join("" | newline) }}
