{%- set _acc = lookup("cplusplus_toolchain") -%}
{%- for _name, _build in _acc.items() -%}
    {%- if _build.default is true -%}
        {%- continue -%}
    {%- endif -%}

    {%- set _cmake = {
        "CMAKE_BUILD_TYPE": _build.release is true | ternary("Release", "Debug"),
        "BUILD_SHARED_LIBS": (_build.linkage is string and _build.linkage == "dynamic") | ternary("ON", none),
        "CMAKE_LINKER_TYPE": _build.linker.name.upper() if _build.linker.name is string else none,
    } -%}
    {%- if _build.linker.name is string and _build.linker.use is string -%}
        {%- do _cmake.update({
            ("CMAKE_C_USING_LINKER_{}".format(_build.linker.name.upper())): _build.linker.use,
            ("CMAKE_CXX_USING_LINKER_{}".format(_build.linker.name.upper())): _build.linker.use,
        }) -%}
    {%- endif -%}

    {%- for _var, _val in {
        "CMAKE_EXE_LINKER_FLAGS_INIT": _build.linker.flags,
        "CMAKE_MODULE_LINKER_FLAGS_INIT": _build.linker.flags,
        "CMAKE_SHARED_LINKER_FLAGS_INIT": _build.linker.flags,
        "CMAKE_C_COMPILER": _build.c.name,
        "CMAKE_C_FLAGS_INIT": _build.c.flags,
        "CMAKE_CXX_COMPILER": _build.cxx.name,
        "CMAKE_CXX_FLAGS_INIT": _build.cxx.flags,
    }.items() -%}
        {%- if _val is defined -%}
            {%- do _cmake.__setitem__(_var, _val) -%}
        {%- endif -%}
    {%- endfor -%}

    {%- if _build.cxx.use is string -%}
        {%- do _cmake.__setitem__(
            "CMAKE_CXX_FLAGS_INIT", [_build.cxx.use] + _cmake.get("CMAKE_CXX_FLAGS_INIT", []),  
        ) -%}
    {%- endif -%}

    {%- do _build.update({
        "cmake": _cmake | dict2items | rejectattr("value", "none") | items2dict,
        "toolchain": "${{sourceDir}}/config/toolchains/{}.cmake".format(_name),
    }) -%}
{%- endfor -%}

{{ _acc }}
