{%- set _acc = lookup("cplusplus_toolchain") -%}
{%- for _name, _build in _acc.items() -%}
    {%- do _build.update({
        "cache": {
            "CMAKE_BUILD_TYPE": _build.release is true | ternary("Release", "Debug"),
        },
        "conan": {},
    }) -%}
    {%- if _build.default is true -%}
        {%- do _build.__setitem__("file", "${sourceDir}/build/generators/conan_toolchain.cmake") -%}
        {%- do _build.cache.__setitem__("CMAKE_POLICY_DEFAULT_CMP0091", "NEW") -%}
        {%- continue -%}
    {%- endif -%}

    {%- set _linker_flags = (
        [(_build.linker.use | default(none))] + (_build.linker.flags | default([]))
    ) | reject("none") -%}
    {%- for _prop, _section in {
        "settings": {
            "build_type": _build.release is true | ternary("Release", "Debug"),
            "compiler": _build.compiler.family,
            "compiler.version": _build.compiler.version,
            "compiler.cppstd": _build.cxx.std,
            "compiler.cstd": _build.c.std,
            "compiler.libcxx": _build.cxx.stdlib,
        },
        "conf": {
            "tools.build:compiler_executables": (
                {"c": _build.c.name, "cpp": _build.cxx.name}
                    | dict2items | selectattr("value", "defined")
                    | items2dict
            ) or none,
            "tools.build:cflags": _build.c.flags,
            "tools.build:cxxflags": _build.cxx.flags,
            "tools.build:exelinkflags": none if _linker_flags | length == 0 else _linker_flags,
            "tools.build:sharedlinkflags": none if _linker_flags | length == 0 else _linker_flags,
        },
        "options": {
            "*:shared": true if _build.linkage is string and _build.linkage == "dynamic" else none,
        }
    }.items() -%}
        {%- do _build.conan.__setitem__(
            _prop, _section
                | dict2items
                | selectattr("value", "defined")
                | rejectattr("value", "none")
                | items2dict,
        ) -%}
    {%- endfor -%}
{%- endfor -%}

{{ _acc }}
