{%- set _default_settings = {
    "os": "{{ detect_api.detect_os() }}",
    "arch": "{{ detect_api.detect_arch() }}",
    "compiler": "{{ compiler }}",
    "compiler.version": "{{ detect_api.default_compiler_version(compiler, version) }}",
    "compiler.cppstd": "{{ detect_api.default_cppstd(compiler, version) }}",
    "compiler.libcxx": "{{ detect_api.detect_libcxx(compiler, version, compiler_exe) }}",
} -%}

{%- set _acc = [] -%}
{%- for _name, _build in __cplusplus.builds.items() -%}
    {%- if _build.default is true -%}
        {%- continue -%}
    {%- endif -%}

    {%- set _lines = [
        "{% set compiler, version, compiler_exe = detect_api.detect_default_compiler() %}",
    ] -%}
    {%- for _name, _section in {
        "settings": _default_settings | combine(_build.conan.settings),
        "conf": _build.conan.conf,
        "options": _build.conan.options,
    }.items() -%}
        {%- if (_section | length) == 0 -%}
            {%- continue -%}
        {%- endif -%}

        {%- do _lines.append("") -%}
        {%- do _lines.append("[{}]".format(_name)) -%}
        {%- for _var, _val in _section.items() -%}
            {%- do _lines.append("{}={}".format(
                _var, _val if _val is string else (_val | string),
            )) -%}
        {%- endfor -%}
    {%- endfor -%}

    {%- do _acc.append({
        "file": "config/profiles/{}".format(_name),
        "content": _lines | join("\n") | newline,
    }) -%}
{%- endfor -%}

{{ _acc }}
