{%- set _acc = [] -%}
{%- for _name, _build in __cplusplus.builds.items() -%}
    {%- if _build.default is true -%}
        {%- continue -%}
    {%- endif -%}

    {%- for _prop, _file in {
        "cmake": "config/toolchains/{}.cmake".format(_name),
        "triplet": "config/vcpkg/triplets/{}.cmake".format(_name),
    }.items() -%}
        {%- set _lines = [] -%}
        {%- for _var, _val in _build[_prop].items() -%}
            {%- do _lines.append('set({} "{}")'.format(
                _var, _val if _val is string else (_val | join(" ")),
            )) -%}
        {%- endfor -%}
        {%- do _acc.append({"file": _file, "content": _lines | join("\n") | newline}) -%}
    {%- endfor -%}

    {%- do _acc.append({
        "file": "config/vcpkg/toolchains/{}.cmake".format(_name),
        "content": _build.toolchain | join("\n") | newline,
    }) -%}
{%- endfor -%}

{{ _acc }}
