---
#
# Refer to the `./roles/da-apex-prep/dc-bootloader/defaults/main.yml`.
#
dc_cmdline:
  #
  # Features.
  #
  audit: "0"
  ipv6.disable: "1"
  console_msg_format: "syslog"

  hibernate: "no"
  nohibernate: true
  nosoftlockup: true
  nowatchdog: true

  # debugfs: "off"
  kunit.enable: "0"

  cgroup_disable: "memory"
  cgroup_no_v1: "all"
  ia32_emulation: "false"

  sysrq_always_enabled: true
  transparent_hugepage: "always"
  gbpages: true
  preempt: "full"

  #
  # Boot.
  #
  hostname: "{{ ba_hostname }}"
  logo.nologo: true
  panic: "0"

  #
  # Hardware.
  #
  # iommu: "off"
  # amd_iommu: "off"
  # io_delay: "none"
  # no_timer_check: true
  # dis_ucode_ldr: true
  lp: "0"
  parport: "0"
  enable_mtrr_cleanup: true
  hpet_mmap: "1"

  #
  # Mitigations, security, and integrity.
  #
  # mitigations: "off"
  # nopti: true
  # split_lock_detect: "off"
  # cryptomgr.notests: true
  # kmemleak: "off"
  # ras: "cec_disable"
  # memory_corruption_check: "0"
  # mce: "off"
  # ima_appraise: "off"
  # ima_policy: "critical_data"
  # iomem: "relaxed"
  init_on_alloc: "0"
  init_on_free: "0"

  #
  # Performance.
  #
  # driver_async_probe: "*"
  clocksource: "tsc"
  cpuidle.governor: "teo"
  cpufreq.default_governor: "performance"
  pci: "pcie_bus_perf"

  #
  # Linux Secure Module (LSM)
  #
  # lsm: "capability,yama,bpf"
  apparmor: "0"
  selinux: "0"

  #
  # Blacklist.
  #
  # module_blacklist: "asus_wmi"
  # initcall_blacklist: ""

  #
  # sysctl.
  #
  # sysctl.kernel.stack_erasing: "0"
  sysctl.kernel.dmesg_restrict: "0"
  sysctl.net.core.busy_read: "50"
  sysctl.net.core.busy_poll: "50"
  sysctl.vm.swappiness: "30"
  sysctl.net.ipv4.tcp_fastopen: "3"

  #
  # initrd.
  #
  rootdelay: "0"
  rootfstype: "ext4"
  rootflags: "async,noatime,dev,exec,suid,rw"
  rw: true
  booster.log: "error"

  #
  # Verbosity.
  #
  quiet: true
  loglevel: "5"
