---
- name: Configure bootloader suite
  tags: apex-prep-bootloader-suite
  block:
    - name: Prepare kernel-install directories
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/kernel
        perms: 755:644:root:root
      vars:
        targets:
          - dir: ./
            create: true

          - dir: ./install.d
            create: true

- name: Configure initramfs generator
  tags: apex-prep-bootloader-initrd
  block:
    - name: Install booster packages
      foundation.system.packages:
      vars:
        install:
          - booster

    - name: Render booster configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 755:644:root:root
      vars:
        targets:
          - file: /etc/booster.yaml
            copy: booster/booster.yaml

    - name: Remove built-in booster pacman hooks
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /usr/share/libalpm/hooks
      vars:
        targets:
          - file: ./60-booster-remove.hook
            link: /dev/null

          - file: ./90-booster-install.hook
            link: /dev/null

    - name: Render kernel-install booster configuration and plugin
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/kernel
      vars:
        targets:
          - file: ./install.conf
            perms: 644:root:root
            copy: kernel-install/install.conf

          - file: ./install.d/60-booster.install
            perms: 755:root:root
            copy: kernel-install/60-booster.install

- name: Configure CPU microcode
  tags: apex-prep-bootloader-ucode
  when: dc_microcode is defined
  block:
    - name: Install microcode packages
      foundation.system.packages:
      vars:
        install:
          - "{{ dc_microcode }}"

    - name: Render kernel-install microcode plugin
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 755:755:root:root
        base: /etc/kernel
      vars:
        targets:
          - file: ./install.d/50-ucode.install
            copy: kernel-install/50-ucode.install

- name: Configure kernel
  tags: apex-prep-bootloader-kernel
  block:
    - name: Install kernel-install pacman hook
      foundation.system.packages:
      vars:
        install:
          - pacman-hook-kernel-install

    - name: Install kernel package
      foundation.system.packages:
      vars:
        install:
          - "{{ dc_kernel | default('linux') }}"
          - linux-firmware

    - name: Render kernel cmdline and install initrd
      become: true
      foundation.system.kernel:
        headless: "{{ ba_headless }}"
      environment: "{{ dc_cmdline }}"

- name: Configure bootloader
  tags: apex-prep-bootloader-main
  block:
    - name: Invoke systemd-boot
      become: true
      ansible.builtin.command:
        argv:
          - bootctl
          - install
          - --no-variables
      register: _db_bootctl_invocation
      changed_when: _db_bootctl_invocation.rc == 0

    - name: Render systemd-boot configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 750:640:root:root
      vars:
        targets:
          - file: /efi/loader/loader.conf
            copy: systemd-boot/loader.conf

    - name: Remove systemd-boot directories that have no use
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /efi/EFI
      vars:
        targets:
          - dir: ./systemd
          - dir: ./Linux
