---
- name: Configure bootloader suite
  tags: apex-prep-bootloader-suite
  block:
    - name: Prepare kernel-install directories
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/kernel
        perms: 755:644:root:root
      vars:
        targets:
          - dir: ./
            create: true

          - dir: ./install.d
            create: true

- name: Configure initramfs generator
  tags: apex-prep-bootloader-initrd
  block:
    - name: Install booster packages
      foundation.system.packages:
      vars:
        install:
          - booster

    - name: Render booster configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 755:644:root:root
      vars:
        targets:
          - file: /etc/booster.yaml
            copy: booster/booster.yaml

    - name: Remove built-in booster pacman hooks
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /usr/share/libalpm/hooks
      vars:
        targets:
          - file: ./60-booster-remove.hook
            link: /dev/null

          - file: ./90-booster-install.hook
            link: /dev/null

    - name: Render kernel-install booster configuration and plugin
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /etc/kernel
      vars:
        targets:
          - file: ./install.conf
            perms: 644:root:root
            copy: kernel-install/install.conf

          - file: ./install.d/60-booster.install
            perms: 755:root:root
            copy: kernel-install/60-booster.install

- name: Configure CPU microcode
  tags: apex-prep-bootloader-ucode
  when: dc_microcode is defined
  block:
    - name: Install microcode packages
      foundation.system.packages:
      vars:
        install:
          - "{{ dc_microcode }}"

    - name: Render kernel-install microcode plugin
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 755:755:root:root
        base: /etc/kernel
      vars:
        targets:
          - file: ./install.d/50-ucode.install
            copy: kernel-install/50-ucode.install

- name: Configure kernel
  tags: apex-prep-bootloader-kernel
  vars:
    _dc_cmdline_ctx: >-
      {%- set _ctx = {} -%}
      {%- for _prop in ("rootfstype", "rootflags") -%}
        {%- if _prop not in dc_cmdline -%}
          {%- set _ = _ctx.update({_prop: none}) -%}
        {%- endif -%}
      {%- endfor -%}
      {%- set _ = _ctx.update({"skip": _ctx.keys() | length == 0 }) -%}
      {{ _ctx }}
  block:
    - name: Install kernel-install pacman hook
      foundation.system.packages:
      vars:
        install:
          - pacman-hook-kernel-install

    - name: Install kernel package
      foundation.system.packages:
      vars:
        install:
          - "{{ dc_kernel | default('linux') }}"
          - linux-firmware

    - name: Fetch fstab content for root partition details
      when: _dc_cmdline_ctx.skip is false
      ansible.builtin.slurp:
        src: /etc/fstab
      register: _dc_fstab

    - name: Render kernel cmdline and install initrd
      become: true
      foundation.system.kernel:
        headless: "{{ ba_headless }}"
      #
      # If the `_dc_cmdline` does not contain `rootfstype` and `rootflags`, then they will be read from the /etc/fstab.
      # Note that `rootflags` are read by the initrd and may not support some filesystem independent options, such as
      #  `auto`, `noiversion`, and `nouser`.
      #
      environment: >-
        {%- set _acc = dc_cmdline -%}
        {%- if _dc_cmdline_ctx.skip is false -%}
          {%- for _line in (_dc_fstab.content | b64decode).splitlines() -%}
            {%- set _matches = _line | regex_search(
              "\\/\\s+(\\w+)\\s+([\\w=,-]+)\\s+[01]\\s+\\d+\\s*",
              "\\1",
              "\\2",
            ) -%}
            {%- if _matches is not none -%}
              {%- if "rootfstype" in _dc_cmdline_ctx -%}
                {%- set _ = _acc.update(dict(rootfstype=_matches[0])) -%}
              {%- endif -%}
              {%- if "rootflags" in _dc_cmdline_ctx -%}
                {%- set _ = _acc.update({
                  "rootflags": _matches[1] | split(",") | reject("in", ["auto", "noiversion", "nouser"]) | join(",")
                }) -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {{ _acc }}

- name: Configure bootloader
  tags: apex-prep-bootloader-main
  block:
    - name: Invoke systemd-boot
      become: true
      ansible.builtin.command:
        argv:
          - bootctl
          - install
          - --no-variables
      register: _db_bootctl_invocation
      changed_when: _db_bootctl_invocation.rc == 0

    - name: Render systemd-boot configuration
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        perms: 750:640:root:root
      vars:
        targets:
          - file: /efi/loader/loader.conf
            copy: systemd-boot/loader.conf

    - name: Remove systemd-boot directories that have no use
      become: true
      foundation.files.install:
        wipe: "{{ aa_wipe }}"
        base: /efi/EFI
      vars:
        targets:
          - dir: ./systemd
          - dir: ./Linux
