{#
    https://doc.qt.io/qt-6/qfont.html#toString
#}
[Appearance]
custom_palette=false
icon_theme={{ ga_icons_main }}
standard_dialogs=gtk3
style=kvantum-dark

[Fonts]
fixed="{{ ga_fonts_mono }},{{ ga_fonts_mono_sz_small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
general="{{ ga_fonts_sans }},{{ ga_fonts_sans_sz_small }},-1,5,400,0,0,0,0,0,0,0,0,0,0,1"
