{% set nonscaled_font_size = fonts.monospace.sizes.medium %}
{% set scaled_font_size = nonscaled_font_size | scale(scale.real) %}

{% macro copy_mode_bind(mapping, repeat=0) %}
{% for action, binds in mapping.items() %}
    {% for bind in binds %}
        {% set mods = bind.split(" ")[0] %}
        {% set key = bind.split(" ")[1] %}
        {% if repeat == 0 %}
            {key = "{{ key }}", mods = "{{ mods }}", action = wezterm.action.CopyMode("{{ action }}")},
        {% else %}
            {
                key = "{{ key }}", mods = "{{ mods }}", action = wezterm.action.Multiple({
                {% for _ in range(repeat) %}
                    wezterm.action.CopyMode("{{ action }}"),
                {% endfor %}
                }),
            },
        {% endif %}
    {% endfor %}
{% endfor %}
{% endmacro %}


local wezterm = require("wezterm")

function configure_look(config)
    -- config.front_end = "WebGpu"
    config.animation_fps = 20
    config.adjust_window_size_when_changing_font_size = false

    config.enable_tab_bar = false
    config.use_ime = false
    config.hide_mouse_cursor_when_typing = false
    config.default_cursor_style = "SteadyBar"

    config.enable_scroll_bar = true
    config.alternate_buffer_wheel_scroll_speed = 4
    config.bypass_mouse_reporting_modifiers = "ALT"

    config.audible_bell = "Disabled"
    config.visual_bell = {
        fade_in_function = 'Linear',
        fade_in_duration_ms = 50,
        fade_out_function = 'Linear',
        fade_out_duration_ms = 50,
    }

    config.custom_block_glyphs = true
    config.anti_alias_custom_block_glyphs = true

    config.colors = {
        foreground = "{{ theme.snow1 }}",
        background = "{{ theme.dark1 }}",

        cursor_bg = "{{ preset.foreground }}",
        cursor_border = "{{ preset.foreground }}",
        cursor_fg = "{{ preset.accent }}",

        selection_bg = "{{ preset.active }}",
        selection_fg = "{{ preset.accent }}",

        scrollbar_thumb = "{{ preset.inactive }}",
        compose_cursor = "{{ preset.important }}",
        visual_bell = "{{ preset.active }}",

        ansi = {
            "{{ theme.dark2 }}",
            "{{ theme.red }}",
            "{{ theme.green }}",
            "{{ theme.orange }}",
            "{{ theme.blue2 }}",
            "{{ theme.purple }}",
            "{{ theme.cyan1 }}",
            "{{ theme.snow2 }}",
        },
        brights = {
            "{{ theme.dark4 }}",
            "{{ theme.red }}",
            "{{ theme.green }}",
            "{{ theme.yellow }}",
            "{{ theme.blue1 }}",
            "{{ theme.purple }}",
            "{{ theme.cyan2 }}",
            "{{ theme.snow3 }}",
        },
    }

    config.command_palette_bg_color = "{{ preset.background }}"
    config.char_select_bg_color = "{{ preset.background }}"
    config.command_palette_fg_color = "{{ preset.accent }}"
    config.char_select_fg_color = "{{ preset.accent }}"
    config.ui_key_cap_rendering = "UnixLong"

    config.font = wezterm.font_with_fallback({
        {
            family = "{{ fonts.monospace.name }}",
            assume_emoji_presentation = false,
        },
        {
            family = "{{ fonts.icon.name }}",
            assume_emoji_presentation = false,
        },
        {
            family = "{{ fonts.emoji.name }}",
            assume_emoji_presentation = true,
        },
    })

    config.allow_square_glyphs_to_overflow_width = "Always"
    config.freetype_load_flags = "DEFAULT"
    config.freetype_load_target = "HorizontalLcd"
    config.freetype_interpreter_version = 40
    config.harfbuzz_features = {"calt=0", "clig=0", "liga=0"}

    if os.getenv("WAYLAND_DISPLAY") then
        config.dpi = {{ scale.ethalon }}
        config.font_size = {{ scaled_font_size }}
        config.char_select_font_size = {{ scaled_font_size }}
        config.command_palette_font_size = {{ scaled_font_size }}
    else
        config.font_size = {{ nonscaled_font_size }}
        config.char_select_font_size = {{ nonscaled_font_size }}
        config.command_palette_font_size = {{ nonscaled_font_size }}
    end
end

function configure_binds(config)
    --config.disable_default_mouse_bindings = true
    config.disable_default_key_bindings = true
    config.enable_kitty_keyboard = true

    config.keys = {
        {key = "c", mods = "CTRL|SHIFT", action = wezterm.action.SendKey({key = "C", mods = "CTRL"})},
        {
            key = "c", mods = "CTRL", action = wezterm.action.Multiple({
                wezterm.action.CopyTo("Clipboard"),
                wezterm.action.SendKey({key = "c", mods = "ALT"}),
            }),
        },
        {key = "v", mods = "CTRL", action = wezterm.action.PasteFrom("Clipboard")},

        {
            key = "l", mods = "CTRL", action = wezterm.action.Multiple({
                wezterm.action.ResetTerminal,
                wezterm.action.SendKey({key = "l", mods = "CTRL"}),
            })
        },

        {key = "p", mods = "CTRL|SHIFT", action = wezterm.action.ActivateCommandPalette},
        {key = "f", mods = "CTRL", action = wezterm.action.Search("CurrentSelectionOrEmptyString")},
        {key = "f", mods = "CTRL|SHIFT", action = wezterm.action.ActivateCopyMode},
    }

    config.key_tables = {
        copy_mode = {
            {
                key = "Escape", mods = "NONE", action = wezterm.action.Multiple({
                    wezterm.action.CopyMode("Close"),
                    wezterm.action.CopyMode("ClearSelectionMode"),
                }),
            },
            {key = "Backspace", mods = "NONE", action = wezterm.action.CopyMode("ClearSelectionMode")},
            {key = "d", mods = "CTRL", action = wezterm.action.CopyMode("ClearPattern")},
            {key = "f", mods = "CTRL", action = wezterm.action.CopyMode("EditPattern")},

            {key = "o", mods = "NONE", action = wezterm.action.CopyMode("MoveToSelectionOtherEnd")},
            {
                key = "Tab", mods = "NONE", action = (function(closure_index)
                    local modes = {"Cell", "Line", "Block", "SemanticZone"}

                    return wezterm.action_callback(function(win, pane)
                        local copy_action = closure_index == 0
                            and "ClearSelectionMode"
                            or {SetSelectionMode = modes[closure_index]}

                        win:perform_action(wezterm.action.CopyMode(copy_action), pane)

                        closure_index = closure_index == #modes and 0 or (closure_index + 1)
                    end)
                end)(1),
            },

            {{
                copy_mode_bind({
                    "MoveUp": ["NONE UpArrow", "NONE k"],
                    "MoveDown": ["NONE DownArrow", "NONE j"],
                    "MoveLeft": ["NONE LeftArrow", "NONE h"],
                    "MoveRight": ["NONE RightArrow", "NONE l"],
                }) | relative_indent(space=4, times=3)
            }}

            {{
                copy_mode_bind({
                    "MoveUp": ["CTRL UpArrow", "CTRL k"],
                    "MoveDown": ["CTRL DownArrow", "CTRL j"],
                    "MoveLeft": ["CTRL LeftArrow", "CTRL h"],
                    "MoveRight": ["CTRL RightArrow", "CTRL l"],
                }, repeat=5) | relative_indent(space=4, times=3)
            }}

            {key = "u", mods = "NONE", action = wezterm.action.CopyMode({MoveByPage = -0.5})},
            {key = "d", mods = "NONE", action = wezterm.action.CopyMode({MoveByPage = 0.5})},

            {{
                copy_mode_bind({
                    "MoveBackwardWord": ["ALT LeftArrow", "ALT h", "NONE b"],
                    "MoveForwardWord": ["ALT RightArrow", "ALT l", "NONE w"],

                    "MoveBackwardSemanticZone": ["ALT UpArrow", "ALT k"],
                    "MoveForwardSemanticZone": ["ALT DownArrow", "ALT j"],

                    "PageUp": ["SHIFT u", "NONE PageUp"],
                    "PageDown": ["SHIFT d", "NONE PageDown"],

                    "MoveToStartOfLineContent": ["NONE 0", "ALT a"],
                    "MoveToEndOfLineContent": ["SHIFT $", "ALT e"],
                    "MoveToStartOfLine": ["ALT|CTRL a"],

                    "MoveToScrollbackTop": ["NONE g", "ALT ,"],
                    "MoveToScrollbackBottom": ["SHIFT g", "ALT ."],
                }) | relative_indent(space=4, times=3)
            }}
        },

        search_mode = {
            {key = "Escape", mods = "NONE", action = wezterm.action.CopyMode("Close")},
            {key = "d", mods = "CTRL", action = wezterm.action.CopyMode("ClearPattern")},
            {key = "f", mods = "CTRL|SHIFT", action = wezterm.action.CopyMode("AcceptPattern")},

            {key = "Tab", mods = "NONE", action = wezterm.action.CopyMode("CycleMatchType")},

            {key = "F3", mods = "NONE", action = wezterm.action.CopyMode("NextMatch")},
            {key = "F3", mods = "SHIFT", action = wezterm.action.CopyMode("PriorMatch")},
        }
    }
end

function configure_misc(config)
    config.canonicalize_pasted_newlines = "LineFeed"
    config.default_prog = {"/usr/bin/nu", "--login", "--interactive"}

    -- config.default_ssh_auth_sock = /run/user/1000/gnupg/S.gpg-agent.ssh
    -- config.term = "xterm-direct"
    config.set_environment_variables = {COLORTERM = "truecolor"}

    config.log_unknown_escape_sequences = false
    config.warn_about_missing_glyphs = false
    config.check_for_updates = false
    config.automatically_reload_config = false
end

function build_config(...)
    local config = {}
    for _, fn in ipairs({...}) do
        fn(config)
    end
    return config
end

return build_config(configure_look, configure_binds, configure_misc)
