---
- name: Ensure git is installed
  community.general.pacman:
    name: git
    state: present
  become: true

- name: Erase current git configuration
  block:
    - name: Ensure XDG git directory exists
      ansible.builtin.file:
        path: "/home/{{ env_user }}/.config/git"
        state: directory
        mode: "0755"

    - name: Erase configuration
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: "{{ item.state }}"
        mode: "0644"
      loop:
        - path: /home/{{ env_user }}/.config/git/config
          state: absent
        - path: /home/{{ env_user }}/.config/git/config
          state: touch
        - path: /home/{{ env_user }}/.gitconfig
          state: absent

- name: Get gpg fingerprints
  ansible.builtin.command:
    argv:
      - gpg
      - --with-colons
      - --with-keygrip
      - --list-keys
  register: user_git_gpg_output
  changed_when: user_git_gpg_output.rc == 0

- name: Configure git
  ansible.builtin.command:
    argv:
      - git
      - config
      - --global
      - "{{ item.key }}"
      - "{{ item.value }}"
  loop:
    #
    # identity
    #
    - key: user.name
      value: "{{ env_user_full_name }}"
    - key: user.email
      value: "{{ env_user_email }}"
    #
    # signing
    #
    - key: user.signingkey
      value: >-
        {{
          user_git_gpg_output.stdout |
            regex_search('sub:.*:s:+nistp256:+\sfpr:+(\w+)', '\1') |
            first
        }}!
    - key: commit.gpgSign
      value: "true"
    - key: push.gpgSign
      value: "if-asked"
    - key: tag.gpgSign
      value: "true"
    #
    # whitespace
    #
    - key: apply.whitespace
      value: fix
    - key: core.whitespace
      value: tabwidth=4
    #
    # performance
    #
    - key: checkout.workers
      value: -1
    #
    # Split Index feature seems to be incompatible
    # with feature.manyFiles
    #
    # - key: core.splitIndex
    #   value: "true"
    - key: core.bigFileThreshold
      value: 256m
    - key: fetch.parallel
      value: 0
    - key: feature.experimental
      value: "true"
    - key: feature.manyFiles
      value: "true"
    - key: http.maxRequests
      value: 10
    - key: pack.threads
      value: 0
    #
    # misc
    #
    - key: grep.lineNumber
      value: "true"
    - key: grep.column
      value: "true"
    - key: grep.fallbackToNoIndex
      value: "true"
    - key: core.notesRef
      value: "true"
    - key: log.mailmap
      value: "false"
    - key: init.defaultBranch
      value: main

  register: user_git_identity_output
  changed_when: user_git_identity_output.rc == 0
