---
- name: Configure starship prompt
  block:
    - name: Ensure starship package is installed
      community.general.pacman:
        name: starship
        state: present
      become: true

    - name: Clean previous starship configuration
      ansible.builtin.file:
        path: "/home/{{ env_user }}/.config/starship"
        state: absent

    - name: Render starship configuration
      ansible.builtin.template:
        src: starship.j2
        dest: "/home/{{ env_user }}/.config/starship.toml"
        mode: "0644"
        directory_mode: "0755"

- name: Configure fastfetch information tool
  block:
    - name: Ensure fastfetch package is installed
      community.general.pacman:
        name: fastfetch
        state: present
      become: true

    - name: Clean previous fastfetch configuration
      ansible.builtin.file:
        path: "/home/{{ env_user }}/.config/fastfetch"
        state: absent

    - name: Generate fastfetch configuration
      ansible.builtin.template:
        src: fastfetch.j2
        dest: "/home/{{ env_user }}/.config/fastfetch/config.jsonc"
        mode: "0644"
        directory_mode: "0755"

- name: Configure micro editor
  block:
    - name: Ensure micro package is installed
      community.general.pacman:
        name: micro
        state: present
      become: true

    - name: Clean previous micro configuration
      ansible.builtin.file:
        path: "/home/{{ env_user }}/.config/micro"
        state: absent

    - name: Copy micro binding, nord theme, and settings
      ansible.builtin.copy:
        src: "micro/{{ item.src }}"
        dest: "/home/{{ env_user }}/.config/micro/{{ item.dest }}"
        mode: "0644"
        directory_mode: "0755"
      loop:
        - src: bindings.json
          dest: ""
        - src: settings.json
          dest: ""
        - src: nord.micro
          dest: "colorschemes/"

- name: Configure atuin history manager
  block:
    - name: Ensure atuin package is installed
      community.general.pacman:
        name: atuin
        state: present
      become: true

    - name: Clean previous atuin database and config
      ansible.builtin.file:
        path: "/home/{{ env_user }}/{{ item }}"
        state: absent
      loop:
        - .local/share/atuin
        - .config/atuin

    - name: Copy atuin configuration
      ansible.builtin.copy:
        src: atuin/config.toml
        dest: "/home/{{ env_user }}/.config/atuin/"
        mode: "0644"
        directory_mode: "0755"
