with-keygrip
with-subkey-fingerprint

display-charset utf-8
utf8-strings
no-compress
no-auto-key-locate
no-auto-key-import
no-auto-key-retrieve
keyid-format short
expert

weak-digest SHA1
disable-cipher-algo 3DES

personal-cipher-preferences {{ security.gpg.cipher | join(" ") }}
personal-digest-preferences {{ security.gpg.hash | join(" ") }}
personal-compress-preferences {{ security.gpg.compression | join(" ") }}
s2k-digest-algo {{ security.gpg.hash | first }}

default-preference-list {{ (security.gpg.hash + security.gpg.cipher + security.gpg.compression) | join(" ") }}

photo-viewer wezterm imgcat %i
list-options show-photos,show-keyring,show-usage,show-sig-expire
verify-options show-photos
