[org/gnome/desktop/interface]
icon-theme={{ ga_icons_main }}
enable-animations=false
gtk-theme={{ gf_gtk }}
font-name={{ ga_fonts_sans }} {{ ga_fonts_sans_sz_small }}
document-font-name={{ ga_fonts_serif }} {{ ga_fonts_serif_sz_small }}
monospace-font-name={{ ga_fonts_mono }} {{ ga_fonts_mono_sz_small }}
clock-format=12h
clock-show-seconds=true
color-scheme=prefer-dark
