---
gc_nvidia_cmdline:
  nvidia.NVreg_InitializeSystemMemoryAllocations: "0"
  nvidia.NVreg_UsePageAttributeTable: "1"
  nvidia.NVReg_PreserveVideoMemoryAllocations: "1"
  nvidia_drm.modeset: "1"

  #
  # NVidia ships its own framebuffer driver that may stuck in case of multiple monitors with different resolution.
  #
  # Parameter below would fallback on using efifb driver (https://docs.kernel.org/fb/efifb.html), which would simply
  #  pick up the first monitor and keep others black (or would set the highest possible resolution for all monitors).
  #
  nvidia_drm.fbdev: "0"
  #
  # If UEFI does not pass correct mode due to the CMS or bug, it can be set manually from `video=efifb:list`:
  #
  # video: "efifb:mode=0"

  #
  # Alternatively, explicit resolution hint for nvidia_drm may be set:
  #
  # (A trick to set multiple values for `foundation.system.kernel`):
  #
  # video: "HDMI-A-1:1920x1080 video=HDMI-A-2:1920x1080"
  #
  # {%- set _acc = {
  #   "nvidia.NVreg_InitializeSystemMemoryAllocations": "0",
  #   "nvidia.NVreg_UsePageAttributeTable": "1",
  #   "nvidia.NVReg_PreserveVideoMemoryAllocations": "1",
  #   "nvidia_drm.modeset": "1",
  #   "nvidia_drm.fbdev": "1",
  # } -%}
  #
  # {%- set _width = ga_monitors | map(attribute='width') | max() -%}
  # {%- set _height = ga_monitors | map(attribute='height') | max() -%}
  # {%- set _video = [] -%}
  # {%- for _mon in ga_monitors.values() -%}
  #   {%- set _ = video.append("{}:{}x{}@{}".format(_mon.wayland, _width, _height)) -%}
  # {%- endfor -%}
  # {{ _acc | combine({"video": _video | join(" ")}) }}
